Repository directus/directus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @directus/studio, @directus/engine, @directus/dx, @directus/infra

.github/CODEOWNERS:

/packages/constants @directus/studio @directus/engine
/packages/extensions @directus/studio @directus/engine
/packages/tsconfig @directus/studio @directus/engine
/packages/types @directus/studio @directus/engine
/packages/utils @directus/studio @directus/engine

/app/ @directus/studio
/packages/components @directus/studio
/packages/composables @directus/studio
/packages/format-title @directus/studio
/packages/stores @directus/studio
/packages/themes @directus/studio

/api/ @directus/engine
/packages/env @directus/engine
/packages/errors @directus/engine
/packages/extensions-registry @directus/engine
/packages/memory @directus/engine
/packages/pressure @directus/engine
/packages/random @directus/engine
/packages/schema @directus/engine
/packages/storage/ @directus/engine
/packages/storage/storage-driver-azure @directus/engine
/packages/storage/storage-driver-cloudinary @directus/engine
/packages/storage/storage-driver-gcs @directus/engine
/packages/storage/storage-driver-local @directus/engine
/packages/storage/storage-driver-s3 @directus/engine
/packages/storage/storage-driver-supabase @directus/engine
/packages/system-data @directus/engine
/packages/validation @directus/engine

/sdk/ @directus/engine
/packages/create-directus-extension @directus/dx
/packages/create-directus-project @directus/dx
/packages/extensions-sdk @directus/dx
/packages/specs @directus/dx

/.github/actions/ @directus/infra
/.github/workflows/ @directus/infra
/Dockerfile @directus/infra
/packages/release-notes-generator @directus/infra
/packages/update-check @directus/infra

ensure skip link uses correct href in production
  app/src/views/private/components/skip-menu.vue
Owners: @directus/studio

add changeset
  .changeset/warm-comics-wait.md
Owners: none

add test
  app/src/views/private/components/skip-menu.test.ts
Owners: @directus/studio

add deadlock tests
  api/src/utils/transaction.ts
  tests/blackbox/tests/db/routes/items/version.test.ts
Owners: @directus/engine

fix deadlock tests for oracle and mssql
  api/src/utils/transaction.ts
Owners: @directus/engine
