Repository directus/directus, pull requests merged in 2021-08, with the labels that each got.

#7127 Remove unused field-types.ts from shared
  packages/shared/src/constants/field-types.ts
Labels: Optimization, Package: shared

#7130 Add accordion group
  api/src/database/migrations/20210802A-replace-groups.ts
  app/src/components/v-form/v-form.vue
  app/src/interfaces/group-accordion/accordion-section.vue
  app/src/interfaces/group-accordion/group-accordion.vue
  app/src/interfaces/group-accordion/index.ts
  app/src/interfaces/group-divider/group-divider.vue
  app/src/interfaces/group-divider/index.ts
  app/src/interfaces/group-raw/index.ts
  app/src/interfaces/group-standard/group-standard.vue
  app/src/interfaces/group-standard/index.ts
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/en-US.yaml
  app/src/lang/translations/fr-FR.yaml
  app/src/lang/translations/it-IT.yaml
  app/src/lang/translations/pl-PL.yaml
  app/src/lang/translations/pt-BR.yaml
  app/src/lang/translations/sl-SI.yaml
  app/src/lang/translations/zh-CN.yaml
Labels: App, New Feature

#7131 Fix default value of select-icon interface
  app/src/interfaces/select-icon/select-icon.vue
Labels: App, Bug

#7135 Fix nested fields check in validate-payload handler
  packages/shared/src/utils/generate-joi.ts
  packages/shared/src/utils/validate-payload.ts
Labels: App, Bug

#7139 Fix cache-key generation for query params
  api/src/utils/get-cache-key.ts
Labels: API, Bug

#6580 Warn on Missing Migrations
  api/src/app.ts
  api/src/database/index.ts
  api/src/database/migrations/run.ts
  api/src/types/index.ts
  api/src/types/migration.ts
  changelog.md
  docs/guides/fields.md
Labels: API, Improvement

#7141 Title format repeater names
  app/src/interfaces/list/list.vue
Labels: App, Improvement

#7142 Prevent duplicate alias fields from being created
  api/src/services/fields.ts
Labels: App, Bug

#7158 Fix list-selection branch mode unselect bug
  app/src/components/v-checkbox-tree/v-checkbox-tree-checkbox.vue
  app/src/components/v-list/v-list-group.vue
Labels: App, Bug

#7161 Add show all/selected toggle to tree-select
  app/src/components/v-checkbox-tree/v-checkbox-tree-checkbox.vue
  app/src/components/v-checkbox-tree/v-checkbox-tree.vue
  app/src/interfaces/select-multiple-checkbox-tree/select-multiple-checkbox-tree.vue
  app/src/lang/translations/en-US.yaml
Labels: App, Improvement

#7166 Add support for app-required field state
  api/src/database/migrations/20210803A-add-required-to-fields.ts
  api/src/exceptions/database/contains-null-values.ts
  api/src/exceptions/database/invalid-foreign-key.ts
  api/src/exceptions/database/not-null-violation.ts
  api/src/exceptions/database/record-not-unique.ts
  api/src/exceptions/database/value-out-of-range.ts
  api/src/exceptions/database/value-too-long.ts
  api/src/exceptions/forbidden.ts
  api/src/exceptions/graphql-validation.ts
  api/src/exceptions/hit-rate-limit.ts
  api/src/exceptions/illegal-asset-transformation.ts
  api/src/exceptions/index.ts
  api/src/exceptions/invalid-credentials.ts
  api/src/exceptions/invalid-ip.ts
  api/src/exceptions/invalid-otp.ts
  api/src/exceptions/invalid-payload.ts
  api/src/exceptions/invalid-query.ts
  api/src/exceptions/method-not-allowed.ts
  api/src/exceptions/range-not-satisfiable.ts
  api/src/exceptions/route-not-found.ts
  api/src/exceptions/service-unavailable.ts
  api/src/exceptions/unprocessable-entity.ts
  api/src/exceptions/user-suspended.ts
  api/src/middleware/error-handler.ts
  api/src/services/authorization.ts
  api/src/services/graphql.ts
  api/src/types/query.ts
  api/src/utils/get-schema.ts
  app/src/components/v-form/form-field-label.vue
  app/src/components/v-form/v-form.vue
  app/src/composables/use-item/use-item.ts
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/data-model/field-detail/components/conditions.vue
  app/src/modules/settings/routes/data-model/field-detail/components/field.vue
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
  packages/shared/exceptions.d.ts
  packages/shared/package.json
  packages/shared/src/exceptions/base.ts
  packages/shared/src/exceptions/failed-validation.ts
  packages/shared/src/exceptions/index.ts
  packages/shared/src/types/fields.ts
  packages/shared/src/types/filter.ts
  packages/shared/src/utils/generate-joi.ts
Labels: App, New Feature

#7168 Fix nested m2a collection permission retrieval
  api/src/services/authorization.ts
Labels: API, Bug

#7169 Make sure disabled prevents click on list-item
  app/src/components/v-list/v-list-item.vue
Labels: App, Bug

#7170 Show any sso login warnings in stdout
  api/src/controllers/auth.ts
  api/src/env.ts
  api/src/utils/get-email-from-profile.ts
Labels: API, Improvement

#7172 Fix spec for default folder setting
  packages/specs/src/components/setting.yaml
Labels: Bug, Package: specs

#7173 Only trim input on blur for text based values
  app/src/components/v-input/v-input.vue
Labels: App, Bug

#7174 Remove advanced example
  docs/reference/sdk.md
Labels: Documentation

#7175 Fix export sidebar detail for system collections
  app/src/views/private/components/export-sidebar-detail/export-sidebar-detail.vue
Labels: App, Bug

#7176 Don't trigger updates for pre-existing selected items
  api/src/services/payload.ts
Labels: API, Improvement

#7177 Refresh token after idle period/background tab
  app/src/app.vue
  app/src/auth.ts
  app/src/idle.ts
Labels: App, Improvement

#7192 Updated routes for SDK Settings, Relations, Collections, and Fields
  packages/sdk/src/base/directus.ts
  packages/sdk/src/directus.ts
  packages/sdk/src/handlers/collections.ts
  packages/sdk/src/handlers/fields.ts
  packages/sdk/src/handlers/relations.ts
  packages/sdk/src/handlers/settings.ts
  packages/sdk/src/handlers/singleton.ts
Labels: Bug, New Feature, Package: sdk

#7196 extension-sdk no long missing common folder
  packages/extension-sdk/templates/common/.keep
Labels: Bug, Extensions

#7200 Fix timezone problems in `dateTime` type
  api/src/database/index.ts
  api/src/services/fields.ts
  api/src/services/payload.ts
  api/src/utils/get-local-type.ts
Labels: API, Bug

#7201 Allow JSON in env variables
  api/src/env.ts
Labels: API, New Feature

#7202 Support dynamic variables in conditional fields
  api/src/controllers/auth.ts
  api/src/controllers/files.ts
  api/src/database/run-ast.ts
  api/src/env.ts
  api/src/grant.ts
  api/src/middleware/error-handler.ts
  api/src/services/assets.ts
  api/src/services/authentication.ts
  api/src/services/authorization.ts
  api/src/services/collections.ts
  api/src/services/fields.ts
  api/src/services/files.ts
  api/src/services/graphql.ts
  api/src/services/import.ts
  api/src/services/items.ts
  api/src/services/mail/index.ts
  api/src/services/meta.ts
  api/src/services/payload.ts
  api/src/services/relations.ts
  api/src/services/server.ts
  api/src/services/specifications.ts
  api/src/services/users.ts
  api/src/services/utils.ts
  api/src/storage.ts
  api/src/types/express.d.ts
  api/src/types/index.ts
  api/src/types/services.ts
  api/src/utils/get-ast-from-query.ts
  api/src/utils/get-schema.ts
  api/src/utils/is-url-allowed.ts
  api/src/utils/sanitize-query.ts
  app/src/stores/fields.ts
  app/src/utils/deep-map.ts
  app/src/utils/parse-filter.ts
  package-lock.json
  packages/shared/package.json
  packages/shared/src/types/accountability.ts
  packages/shared/src/types/index.ts
  packages/shared/src/utils/adjust-date.ts
  packages/shared/src/utils/deep-map.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/parse-filter.ts
  packages/shared/src/utils/to-array.ts
Labels: App, New Feature

#7223 Warn if a collection includes a space
  api/src/utils/get-schema.ts
Labels: API, Improvement

#7226 Add cache connection fallbacks
  api/src/cache.ts
  api/src/middleware/cache.ts
  api/src/middleware/respond.ts
  api/src/utils/get-schema.ts
Labels: API, Improvement

#7229 Update/tweak groups
  api/src/database/migrations/20210805A-update-groups.ts
  app/src/interfaces/group-accordion/group-accordion.vue
  app/src/interfaces/group-accordion/index.ts
  app/src/interfaces/group-detail/group-detail.vue
  app/src/interfaces/group-detail/index.ts
  app/src/interfaces/group-raw/group-raw.vue
  app/src/interfaces/group-raw/index.ts
  app/src/interfaces/group-standard/index.ts
  app/src/lang/translations/en-US.yaml
Labels: App, Improvement

#7230 Fix pino deprecation warning
  api/package.json
  package-lock.json
Labels: API, Dependencies

#6922 Switch to exifr for image metadata extraction
  api/package.json
  api/src/database/migrations/20210805B-change-image-metadata-structure.ts
  api/src/services/files.ts
  api/src/types/shims.d.ts
  api/src/utils/parse-iptc.ts
  app/src/lang/translations/en-US.yaml
  app/src/modules/files/components/file-info-sidebar-detail.vue
  changelog.md
  package-lock.json
Labels: API, Improvement

#7248 Add logger statement on password request failures
  api/src/controllers/auth.ts
Labels: API, Improvement

#7249 Fix import of perf hook on node < 16
  api/src/services/users.ts
Labels: API, Bug

#7252 Handle empty collection group in custom nav
  app/src/modules/collections/composables/use-navigation.ts
Labels: App, Bug

#7253 Fix formatted-value overflow ellpisis on card layout
  app/src/displays/formatted-value/formatted-value.vue
Labels: App, Bug

#7254 Rate limit the outgoing requests from the app
  app/package.json
  app/src/api.ts
  package-lock.json
Labels: App, Improvement

#7258 Don't use tags interface for CSV filter
  app/src/views/private/components/filter-sidebar-detail/filter-input.vue
  packages/shared/src/utils/get-filter-operators-for-type.ts
Labels: App, Bug

#7259 Rely on `RETURNING` when possible
  api/src/database/index.ts
  api/src/services/items.ts
Labels: API, Bug, Improvement

#7273 Move p-queue to app dev dependencies
  app/package.json
  package-lock.json
Labels: App, Optimization

#7274 Log error message when registering app extension fails
  app/src/displays/register.ts
  app/src/interfaces/register.ts
  app/src/layouts/register.ts
  app/src/modules/register.ts
Labels: App, Improvement

#7275 Only loads app extensions if SERVE_APP is true
  api/src/app.ts
  api/src/extensions.ts
  app/vite.config.js
  packages/shared/src/constants/extensions.ts
  packages/shared/src/types/extensions.ts
  packages/shared/src/utils/node/ensure-extension-dirs.ts
  packages/shared/src/utils/node/get-extensions.ts
Labels: Extensions, Improvement

#7279 Fix gitignore file in extension templates being deleted when publishing
  packages/extension-sdk/src/cli/commands/create.ts
  packages/extension-sdk/src/cli/utils/rename-map.ts
  packages/extension-sdk/templates/common/.keep
  packages/extension-sdk/templates/common/_gitignore
Labels: Bug, Extensions

#7287 Only treat `tinyint(1)` and `tinyint(0)` as booleans
  api/src/utils/get-local-type.ts
Labels: API, Improvement

#7292 Handle JSON in labels display
  app/src/displays/labels/labels.vue
Labels: App, Bug

#7294 Flush caches on server (re)start
  api/src/app.ts
  api/src/cache.ts
  api/src/controllers/utils.ts
Labels: API, Improvement

#7304 Fix HTTP method for collections.createMany in SDK
  packages/sdk/src/handlers/collections.ts
Labels: Bug, Package: sdk

#7310 Add permission check for sqlite, upload and extensions directories
  api/src/app.ts
  api/src/utils/validate-storage.ts
Labels: API, Improvement

#7312 Fix uuid resolving in SQLite
  api/src/services/items.ts
Labels: API, Bug, DB: SQLite

#7319 Fix graphql GET request cache query extraction
  api/src/utils/get-cache-key.ts
Labels: API, Bug, GraphQL

#7323 Check for related collection before creation relation
  api/src/services/relations.ts
Labels: API, Bug

#7322 Fix colors on different types
  app/src/interfaces/presentation-links/presentation-links.vue
Labels: App, Bug

#7331 Check for non-existing parent pk records
  api/src/services/payload.ts
Labels: API, Bug

#7358 Add missing translations
  api/src/database/system-data/fields/settings.yaml
  api/src/database/system-data/fields/users.yaml
  api/src/database/system-data/fields/webhooks.yaml
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/en-US.yaml
Labels: App, Improvement

#7371 Fix english string after #7358
  app/src/lang/translations/en-US.yaml
Labels: App, Bug

#7379 Export Collection button now shows collection name not table name
  app/src/views/private/components/export-sidebar-detail/export-sidebar-detail.vue
Labels: App, Bug

#7392 Fix typecasting of required field
  api/src/database/system-data/fields/fields.yaml
Labels: API, Bug

#7403 Move geojson from devDeps to deps of shared
  package-lock.json
  packages/shared/package.json
Labels: Optimization, Package: shared

#7404 Re-add map related translation keys
  app/src/lang/translations/en-US.yaml
Labels: Optimization

#7439 remove list-style for v-list
  app/src/components/v-list/v-list.vue
Labels: App, Bug, Good First Issue

#7445 GroupBy uses a GraphQL Enum Input Type
  api/src/services/graphql.ts
Labels: API

#7416 Fixes for GraphQL variables in HTTP GET requests
  api/.gitignore
  api/jest.config.js
  api/package.json
  api/src/__mocks__/cache.ts
  api/src/middleware/cache.test.ts
  api/src/middleware/graphql.ts
  api/src/utils/get-cache-key.test.ts
  api/src/utils/get-cache-key.ts
Labels: API, Bug, Improvement, Tests

#7452 Add simple audio support for WYSIWYG
  app/src/interfaces/input-rich-text-html/useMedia.ts
Labels: App, Bug

#7459 Allow cancelling the creation of custom permissions
  app/src/modules/settings/routes/roles/item/components/permissions-overview-toggle.vue
  app/src/modules/settings/routes/roles/permissions-detail/components/actions.vue
  app/src/modules/settings/routes/roles/permissions-detail/components/fields.vue
  app/src/modules/settings/routes/roles/permissions-detail/permissions-detail.vue
  app/src/utils/is-permission-empty.ts
Labels: App, Bug, Improvement

#7462 Improve conditional fields
  app/src/components/v-form/v-form.vue
  app/src/modules/settings/routes/data-model/field-detail/components/conditions.vue
Labels: App, Bug, Improvement

#7460 Add edge case using mysql for tinyint as boolean
  api/src/utils/get-local-type.ts
Labels: App, Bug

#7463 fix @ alias
  app/vite.config.js
Labels: App, Question

#7332 Add basic support for a config file to extension building
  packages/extension-sdk/src/cli/commands/build.ts
  packages/extension-sdk/src/cli/utils/load-config.ts
Labels: Extensions, New Feature

#7479 Add docker compose update instructions
  docs/guides/installation/docker.md
Labels: Documentation

#7501 Don't allow `empty` filter for non-string types. Add `null` filter where appropriate.
  api/src/utils/apply-query.ts
  app/src/views/private/components/filter-sidebar-detail/get-available-operators-for-type.ts
  packages/shared/src/utils/get-filter-operators-for-type.ts
Labels: API, Bug, Improvement

#7469 Fix SDK Tests
  package-lock.json
  packages/sdk/package.json
  packages/sdk/tests/base/auth.browser.test.ts
  packages/sdk/tests/base/auth.node.test.ts
  packages/sdk/tests/base/directus.browser.test.ts
  packages/sdk/tests/base/storage/localstorage.test.ts
  packages/sdk/tests/handlers/invites.test.ts
  packages/sdk/tests/utils.ts
Labels: Tests, Package: sdk

#7505 Set simple_select mode in map interface when the value is loaded.
  app/src/interfaces/map/map.vue
Labels: App, Improvement

#7509 Allow fetching singleton content through pk route
  api/src/controllers/items.ts
Labels: App, Bug

#7512 Explicitly nullify user/role when the other is set in presets
  app/src/layouts/map/index.ts
  app/src/modules/settings/routes/presets/item.vue
  packages/shared/src/types/layouts.ts
Labels: App, Bug

#7513 Prevent 400 error on translations load for to-be-created items
  app/src/interfaces/translations/translations.vue
Labels: App, Bug

#7523 Update dependencies of gatsby-source-directus
  packages/gatsby-source-directus/gatsby-node.js
  packages/gatsby-source-directus/package.json
Labels: Package: gatsby-source-directus, Dependencies

#7516 Link to awesome-directus in introduction doc
  docs/getting-started/introduction.md
Labels: Documentation

#7514 Fix SDK request URL when updating fields
  packages/sdk/src/handlers/fields.ts
  packages/sdk/tests/handlers/fields.test.ts
  packages/sdk/tests/utils.ts
Labels: Bug, Package: sdk

#7515 Hide filter input when filter operator is null/nnull.
  app/src/views/private/components/filter-sidebar-detail/filter-input.vue
Labels: App, Bug

#7525 Don't sort filters alphabetical
  app/src/composables/use-field-tree/use-field-tree.ts
Labels: App, Bug

#7528 Image auth
  packages/gatsby-source-directus/gatsby-node.js
Labels: Improvement, Package: gatsby-source-directus

#7537 remove undefined fitBounds
  app/src/interfaces/map/options.vue
Labels: App, Optimization

#7543 Fix running useFieldTree on every keypress
  app/src/composables/use-field-tree/use-field-tree.ts
Labels: App, Bug

#7549 Fix field template removing text
  app/src/components/v-field-template/v-field-template.vue
Labels: App, Bug

#7552 Improve stability of tree-view select interface
  api/example.env
  app/src/components/v-checkbox-tree/v-checkbox-tree-checkbox.vue
  app/src/components/v-select/v-select.vue
Labels: App, Improvement

#7561 Add postgres constructor to getGeometryHelper
  api/src/database/helpers/geometry.ts
Labels: API, Bug

#7578 Add `search this area` button to map layout.
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/ca-ES.yaml
  app/src/lang/translations/en-US.yaml
  app/src/lang/translations/it-IT.yaml
  app/src/lang/translations/sl-SI.yaml
  app/src/layouts/map/components/map.vue
  app/src/layouts/map/index.ts
  app/src/layouts/map/map.vue
  app/src/layouts/map/options.vue
Labels: App, Improvement

#7581 Fix uploaded_by not always setting user
  api/src/controllers/files.ts
  api/src/database/system-data/fields/files.yaml
Labels: API, Bug

#7553 Fix asset transformation `withEnlargement` type
  api/src/utils/transformations.ts
Labels: API, Bug

#7562 Fix calendar layout not opening detail pages for system collections
  app/src/layouts/calendar/index.ts
Labels: App, Bug

#7563 Move basemap input higher in sidebar options. Keep map interactive under v-info
  app/src/layouts/map/map.vue
  app/src/layouts/map/options.vue
Labels: App, Improvement

#7583 Display private images in WYSIWYG editor
  app/src/api.ts
  app/src/interfaces/file-image/file-image.vue
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
  app/src/interfaces/input-rich-text-html/useImage.ts
Labels: App, Improvement

#7569 Use dynamic useFilterTree instead of old one
  app/src/components/v-checkbox-tree/v-checkbox-tree.vue
  app/src/components/v-field-select/v-field-select.vue
  app/src/components/v-field-template/field-list-item.vue
  app/src/components/v-field-template/v-field-template.vue
  app/src/components/v-select/v-select.vue
  app/src/composables/use-field-tree-advanced/index.ts
  app/src/composables/use-field-tree-advanced/use-field-tree-advanced.ts
  app/src/composables/use-field-tree/readme.md
  app/src/composables/use-field-tree/use-field-tree.ts
  app/src/interfaces/_system/system-field-tree/system-field-tree.vue
  app/src/interfaces/_system/system-filter/nested-draggable.vue
  app/src/views/private/components/filter-sidebar-detail/field-list-item.vue
  app/src/views/private/components/filter-sidebar-detail/filter-sidebar-detail.vue
  changelog.md
  docs/getting-started/introduction.md
  docs/guides/installation/docker.md
Labels: App, Improvement

#7602 Add mapbox-key to map interface initialization
  app/src/interfaces/map/options.vue
Labels: App, Bug

#7603 Make the asset url regex unambiguous
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
Labels: App, Optimization

#7599 Check if perms have edits
  app/src/modules/settings/routes/roles/item/components/permissions-overview-toggle.vue
Labels: App, Bug

#7604 Log localhost url on startup so it's clickable in terminals
  api/src/start.ts
Labels: API, Improvement

#7568 fix(api): merge original user object into payload from auth hook
  api/src/services/authentication.ts
Labels: API, Bug

#7683 Move related values link to icon
  app/src/displays/related-values/related-values.vue
Labels: App, Bug

#7682 Fix firefox being buggy with numbers as value inputs
  app/src/components/v-input/v-input.vue
Labels: App, Bug

#7684 Add missing translations
  app/src/lang/translations/en-US.yaml
Labels: App, Bug

#6881 Add support for typescript extensions to extension-sdk
  api/package.json
  package-lock.json
  packages/create-directus-extension/lib/index.js
  packages/extensions-sdk/package.json
  packages/extensions-sdk/src/cli/commands/build.ts
  packages/extensions-sdk/src/cli/commands/create.ts
  packages/extensions-sdk/src/cli/run.ts
  packages/extensions-sdk/src/cli/types.ts
  packages/extensions-sdk/src/cli/utils/get-package-version.ts
  packages/extensions-sdk/src/cli/utils/languages.ts
  packages/extensions-sdk/templates/common/javascript/_gitignore
  packages/extensions-sdk/templates/common/typescript/_gitignore
  packages/extensions-sdk/templates/common/typescript/tsconfig.json
  packages/extensions-sdk/templates/display/javascript/src/display.vue
  packages/extensions-sdk/templates/display/javascript/src/index.js
  packages/extensions-sdk/templates/display/typescript/src/display.vue
  packages/extensions-sdk/templates/display/typescript/src/index.ts
  packages/extensions-sdk/templates/display/typescript/src/shims.d.ts
  packages/extensions-sdk/templates/endpoint/javascript/src/index.js
  packages/extensions-sdk/templates/endpoint/typescript/src/index.ts
  packages/extensions-sdk/templates/hook/javascript/src/index.js
  packages/extensions-sdk/templates/hook/typescript/src/index.ts
  packages/extensions-sdk/templates/interface/javascript/src/index.js
  packages/extensions-sdk/templates/interface/javascript/src/interface.vue
  packages/extensions-sdk/templates/interface/typescript/src/index.ts
  packages/extensions-sdk/templates/interface/typescript/src/interface.vue
  packages/extensions-sdk/templates/interface/typescript/src/shims.d.ts
  packages/extensions-sdk/templates/layout/javascript/src/index.js
  packages/extensions-sdk/templates/layout/javascript/src/layout.vue
  packages/extensions-sdk/templates/layout/typescript/src/index.ts
  packages/extensions-sdk/templates/layout/typescript/src/layout.vue
  packages/extensions-sdk/templates/layout/typescript/src/shims.d.ts
  packages/extensions-sdk/templates/module/javascript/src/index.js
  packages/extensions-sdk/templates/module/javascript/src/module.vue
  packages/extensions-sdk/templates/module/typescript/src/index.ts
  packages/extensions-sdk/templates/module/typescript/src/module.vue
  packages/extensions-sdk/templates/module/typescript/src/shims.d.ts
  packages/shared/src/constants/extensions.ts
Labels: Extensions, New Feature

#7698 Add permission prop check
  app/src/utils/is-permission-empty.ts
Labels: App, Bug

#7661 Always fall back to en-US
  app/src/hydrate.ts
  app/src/lang/set-language.ts
Labels: App, Bug

#7687 Resolve editor/type warnings
  app/src/components/v-checkbox/v-checkbox.vue
  app/src/components/v-error/v-error.vue
  app/src/components/v-form/form-field.vue
  app/src/components/v-input/v-input.vue
  app/src/components/v-pagination/v-pagination.vue
  app/src/composables/groupable/groupable.ts
  app/src/displays/formatted-json-value/formatted-json-value.vue
  app/src/displays/related-values/related-values.vue
  app/src/interfaces/file-image/file-image.vue
  app/src/interfaces/file/file.vue
  app/src/interfaces/group-raw/group-raw.vue
  app/src/interfaces/list-m2m/list-m2m.vue
  app/src/interfaces/list-m2m/options.vue
  app/src/interfaces/list-m2m/use-relation.ts
  app/src/interfaces/list-o2m-tree-view/list-o2m-tree-view.vue
  app/src/interfaces/list-o2m-tree-view/options.vue
  app/src/interfaces/list-o2m/list-o2m.vue
  app/src/interfaces/list-o2m/options.vue
  app/src/interfaces/list/options.vue
  app/src/interfaces/select-dropdown-m2o/options.vue
  app/src/interfaces/translations/options.vue
  app/src/interfaces/translations/translations.vue
Labels: App, Improvement

#7717 Use self-closing slot tags everywhere
  app/src/components/v-badge/v-badge.vue
  app/src/components/v-list/v-list-item-content.vue
  app/src/components/v-list/v-list-item-icon.vue
  app/src/components/v-progress/circular/v-progress-circular.vue
Labels: App, Optimization

#7714 Improve API extension context types
  package-lock.json
  packages/shared/package.json
  packages/shared/src/types/extensions.ts
Labels: Extensions, Improvement

#7713 Expose package.json from shared and extensions-sdk
  packages/extensions-sdk/package.json
  packages/shared/package.json
Labels: Optimization

#7716 Fix input-code component lint style
  app/src/interfaces/input-code/input-code.vue
  app/src/styles/lib/_codemirror.scss
Labels: App, Bug

#7489 Rework layout extension component management
  app/src/composables/use-layout.ts
  app/src/layouts/calendar/actions.vue
  app/src/layouts/calendar/calendar.vue
  app/src/layouts/calendar/index.ts
  app/src/layouts/calendar/options.vue
  app/src/layouts/calendar/sidebar.vue
  app/src/layouts/calendar/types.ts
  app/src/layouts/cards/actions.vue
  app/src/layouts/cards/cards.vue
  app/src/layouts/cards/index.ts
  app/src/layouts/cards/options.vue
  app/src/layouts/cards/sidebar.vue
  app/src/layouts/cards/types.ts
  app/src/layouts/map/actions.vue
  app/src/layouts/map/index.ts
  app/src/layouts/map/map.vue
  app/src/layouts/map/options.vue
  app/src/layouts/map/sidebar.vue
  app/src/layouts/map/types.ts
  app/src/layouts/tabular/actions.vue
  app/src/layouts/tabular/index.ts
  app/src/layouts/tabular/options.vue
  app/src/layouts/tabular/sidebar.vue
  app/src/layouts/tabular/tabular.vue
  app/src/layouts/tabular/types.ts
  app/src/modules/activity/routes/collection.vue
  app/src/modules/collections/routes/collection-or-item.vue
  app/src/modules/collections/routes/collection.vue
  app/src/modules/files/routes/collection.vue
  app/src/modules/settings/routes/presets/item.vue
  app/src/modules/settings/routes/webhooks/collection.vue
  app/src/modules/users/routes/collection.vue
  app/src/views/private/components/drawer-collection/drawer-collection.vue
  app/src/views/private/components/layout-sidebar-detail/layout-sidebar-detail.vue
  packages/extensions-sdk/src/index.ts
  packages/shared/src/composables/index.ts
  packages/shared/src/composables/use-layout-state.ts
  packages/shared/src/types/layouts.ts
Labels: App, Bug, Optimization

#7712 Prevent generated columns edition
  app/src/components/v-form/v-form.vue
Labels: App, Bug

#7711 Remove permission.limit
  api/src/database/migrations/20210831A-remove-limit-column.ts
  api/src/database/system-data/app-access-permissions/index.ts
  api/src/database/system-data/fields/permissions.yaml
  api/src/services/authorization.ts
  api/src/types/permissions.ts
  api/src/utils/merge-permissions.ts
Labels: API, Improvement

#7726 Update layout templates to new layouts system
  packages/extensions-sdk/templates/layout/javascript/src/index.js
  packages/extensions-sdk/templates/layout/javascript/src/layout.vue
  packages/extensions-sdk/templates/layout/typescript/src/index.ts
  packages/extensions-sdk/templates/layout/typescript/src/layout.vue
Labels: Extensions
