Repository directus/directus, pull requests merged in 2021-06, with the labels that each got.

#5998 Remove stray console.log in dependency
  api/package.json
  package-lock.json
Labels: API, Bug

#5877 Clean-up docker image
  .github/actions/build-images/rootfs/directus/images/main/Dockerfile
  .github/actions/build-images/rootfs/directus/images/main/package.json
  .github/actions/build-images/rootfs/directus/images/main/rootfs/usr/local/bin/entrypoint
  .github/actions/build-images/rootfs/directus/images/main/rootfs/usr/local/bin/print
Labels: Docker, Improvement, Notice

#6002 Fix env var validation in database loading step
  api/src/database/index.ts
  api/src/utils/validate-env.ts
Labels: API, Bug

#6003 Don't initialize database on file require
  api/src/cli/commands/bootstrap/index.ts
  api/src/cli/commands/count/index.ts
  api/src/cli/commands/database/install.ts
  api/src/cli/commands/database/migrate.ts
  api/src/cli/commands/roles/create.ts
  api/src/cli/commands/users/create.ts
  api/src/cli/commands/users/passwd.ts
  api/src/controllers/assets.ts
  api/src/database/index.ts
  api/src/database/migrations/20210518A-add-foreign-key-constraints.ts
  api/src/database/run-ast.ts
  api/src/env.ts
  api/src/exceptions/database/dialects/mssql.ts
  api/src/exceptions/database/translate.ts
  api/src/extensions.ts
  api/src/middleware/authenticate.ts
  api/src/middleware/check-ip.ts
  api/src/middleware/session.ts
  api/src/server.ts
  api/src/services/assets.ts
  api/src/services/authentication.ts
  api/src/services/authorization.ts
  api/src/services/collections.ts
  api/src/services/fields.ts
  api/src/services/graphql.ts
  api/src/services/import.ts
  api/src/services/items.ts
  api/src/services/mail/index.ts
  api/src/services/meta.ts
  api/src/services/payload.ts
  api/src/services/relations.ts
  api/src/services/server.ts
  api/src/services/specifications.ts
  api/src/services/users.ts
  api/src/services/utils.ts
  api/src/storage.ts
  api/src/utils/get-schema.ts
  api/src/webhooks.ts
  package-lock.json
Labels: API, Improvement, Optimization

#6001 Changed PORT type from number to string
  api/src/env.ts
Labels: API, Improvement

#6006 Added document for running directus on iis
  docs/getting-started/installation.md
  docs/guides/installation/iis.md
Labels: Documentation

#6008 Resolve linter warnings
  api/src/database/index.ts
  api/src/env.ts
Labels: API, Optimization

#6033 Fix wrong reference to not-yet-existing /backup endpoint
  docs/guides/projects.md
Labels: Documentation

#6032 Upgrade dependencies
  api/package.json
  app/package.json
  app/src/interfaces/input-code/input-code.vue
  docs/package.json
  package-lock.json
  packages/cli/package.json
  packages/create-directus-project/package.json
  packages/drive-azure/package.json
  packages/drive-gcs/package.json
  packages/drive-s3/package.json
  packages/drive/package.json
  packages/format-title/package.json
  packages/schema/package.json
  packages/sdk/package.json
Labels: dependencies

#6035 Extract IPTC title and keywords
  api/src/services/files.ts
Labels: API, Improvement

#6025 Improve `disabled` state on the file interface
  app/src/interfaces/file/file.vue
Labels: App, Improvement

#6007 Pass onUploadProgress function through to the axios request
  packages/sdk/src/base/transport/axios-transport.ts
  packages/sdk/src/transport.ts
Labels: Improvement, Package: sdk-js

#5818 Add support for adding a collection accent color
  api/src/database/migrations/20210521A-add-collections-icon-color.ts
  api/src/database/system-data/fields/collections.yaml
  app/src/components/v-icon/v-icon.vue
  app/src/interfaces/select-color/select-color.vue
  app/src/modules/collections/components/navigation.vue
  app/src/modules/collections/composables/use-navigation.ts
  app/src/modules/collections/routes/collection.vue
  app/src/modules/collections/routes/overview.vue
  app/src/modules/settings/routes/data-model/collections/collections.vue
  app/src/types/collections.ts
  docs/guides/installation/iis.md
  docs/reference/environment-variables.md
  packages/specs/src/components/collection.yaml
  packages/specs/src/paths/collections/collection.yaml
Labels: App, New Feature

#6037 Update one-clicks in readme/docs
  docs/getting-started/installation.md
  readme.md
Labels: Documentation

#6040 Handle illegal/corrupt relational rows better during foreign key migration
  api/src/database/migrations/20210518A-add-foreign-key-constraints.ts
Labels: API, Improvement

#6042 Fixed issue that would prevent relationship updates on foreign key constraints with a custom index name
  api/src/services/relations.ts
Labels: API, Bug

#6043 Prevent foreign key constraint names from exceeding 64 characters
  api/src/database/migrations/20210518A-add-foreign-key-constraints.ts
  api/src/services/relations.ts
  api/src/utils/get-default-index-name.ts
Labels: API, Bug

#6044 Reduce the image layers by combining RUN statements; and fix build permissions for issue #6023
  .github/actions/build-images/rootfs/directus/images/main/Dockerfile
  .github/actions/build-images/rootfs/directus/images/main/rootfs/directus/package.json
Labels: Bug, Docker

#6045 Fix external query during transaction in foreign key constraint creation
  api/src/services/relations.ts
Labels: API, Bug, DB: SQLite

#6048 Fixed issue that could trigger update actions of children on manual sorting of a parent o2m instance
  api/src/services/payload.ts
Labels: API, Bug

#6049 Fixed right click handler not extending beyond nav items
  app/src/components/v-list/v-list-item.vue
  app/src/components/v-list/v-list.vue
Labels: App, Bug

#6052 Fixed issue in collection color reading for tables that weren't configured in directus yet
  app/src/modules/collections/routes/collection.vue
  app/src/modules/settings/routes/data-model/collections/collections.vue
  app/src/stores/collections.ts
  app/src/types/collections.ts
Labels: App, Bug

#6053 Fixed issue that would prevent the display tab to show for o2m type fields in field-setup
  app/src/modules/settings/routes/data-model/field-detail/field-detail.vue
Labels: App, Bug

#6054 Fixed issue that would prevent usage of limit -1 on deep limit
  api/src/database/run-ast.ts
Labels: API, Bug

#6055 Fixed an issue that would cause "text" fields to show up as varchar with length -1 in MS SQL
  api/src/utils/get-local-type.ts
  app/src/stores/collections.ts
  app/src/types/collections.ts
  package-lock.json
  packages/schema/src/dialects/mssql.ts
  packages/schema/src/dialects/mysql.ts
  packages/schema/src/dialects/oracledb.ts
  packages/schema/src/dialects/postgres.ts
  packages/schema/src/dialects/sqlite.ts
  packages/schema/src/types/overview.ts
Labels: API, Bug, DB: MS SQL Server

#6056 Fixed issue that would cause the whole row to be draggable in the list-type interfaces
  app/src/interfaces/list-m2m/list-m2m.vue
  app/src/interfaces/list-o2m/list-o2m.vue
  app/src/interfaces/list/list.vue
Labels: App, Bug

#6058 Fixed issue that would prevent creation relations to an unsigned auto-incremented primary key in MariaDB
  packages/schema/src/dialects/mysql.ts
Labels: API, Bug, DB: MySQL, Package: schema

#6059 Fixed unique constraint violation error extraction for MySQL 5.7
  api/src/exceptions/database/dialects/mysql.ts
  docker-compose.yml
Labels: API, Bug, DB: MySQL

#6060 Fixed issue that would prevent the corresponding o2m field from being created on m2o relational setup
  api/src/controllers/fields.ts
Labels: App, Bug

#6081 Optimize Docker image performance and formatting
  .github/actions/build-images/rootfs/directus/images/main/Dockerfile
  .github/actions/build-images/rootfs/directus/images/main/rootfs/directus/package.json
Labels: Docker, Improvement

#6087 Fix typo
  docs/getting-started/introduction.md
Labels: Documentation

#6110 Improve search ability of update instructions
  docs/guides/projects.md
Labels: Documentation

#6112 Make mfa output code selectable
  app/src/interfaces/_system/system-mfa-setup/system-mfa-setup.vue
Labels: App, Improvement

#6116 Add support for CRON hooks (interval)
  api/package.json
  api/src/extensions.ts
  docs/guides/api-hooks.md
  package-lock.json
Labels: API, Extensions, New Feature

#6135 List cron in Event Format Options
  docs/guides/api-hooks.md
Labels: Documentation

#6150 Add breaking API changes
  docs/guides/migrating-from-v8.md
Labels: Documentation

#6151 App type improvements
  app/src/components/v-table/v-table.vue
  app/src/composables/groupable/groupable.ts
  app/src/composables/use-collection/use-collection.ts
  app/src/composables/use-custom-selection/use-custom-selection.ts
  app/src/composables/use-element-size/use-element-size.ts
  app/src/composables/use-field-tree/use-field-tree.ts
  app/src/composables/use-form-fields/use-form-fields.ts
  app/src/composables/use-item/use-item.ts
  app/src/composables/use-items/use-items.ts
  app/src/composables/use-permissions.ts
  app/src/composables/use-preset/use-preset.ts
  app/src/composables/use-scroll-distance/use-scroll-distance.ts
  app/src/composables/use-template-data.ts
  app/src/composables/use-title/use-title.ts
  app/src/composables/use-window-size/use-window-size.ts
  app/src/displays/index.ts
  app/src/hydrate.ts
  app/src/interfaces/index.ts
  app/src/interfaces/input-code/input-code.vue
  app/src/interfaces/input-rich-text-html/useImage.ts
  app/src/interfaces/input-rich-text-html/useLink.ts
  app/src/interfaces/input-rich-text-html/useMedia.ts
  app/src/interfaces/input-rich-text-html/useSourceCode.ts
  app/src/interfaces/list-m2m/use-actions.ts
  app/src/interfaces/list-m2m/use-edit.ts
  app/src/interfaces/list-m2m/use-preview.ts
  app/src/interfaces/list-m2m/use-relation.ts
  app/src/interfaces/list-m2m/use-selection.ts
  app/src/interfaces/list-m2m/use-sort.ts
  app/src/layouts/index.ts
  app/src/modules/collections/composables/use-navigation.ts
  app/src/modules/collections/composables/use-search.ts
  app/src/modules/files/composables/use-folders.ts
  app/src/modules/index.ts
  app/src/modules/settings/composables/use-project-info.ts
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-m2o.vue
  app/src/modules/settings/routes/data-model/field-detail/store.ts
  app/src/modules/settings/routes/roles/item/composables/use-permissions.ts
  app/src/modules/settings/routes/roles/item/composables/use-update-permissions.ts
  app/src/modules/users/composables/use-navigation.ts
  app/src/utils/filters-to-query/filters-to-query.ts
  app/src/utils/generate-joi/index.ts
  app/src/utils/translate-object-values.ts
Labels: App, Improvement

#6153 Fixed issue that would cause foreign key constraints to be missed in pascal cased table names in postgres
  api/package.json
  package-lock.json
Labels: API, Bug, DB: Postgres

#6119 Don't treat numbers larger than the JS max number size as number values in environment variables
  api/src/env.ts
Labels: API, Improvement

#6155 Allow any of grant's (nested) configuration parameters (oAuth)
  api/src/grant.ts
  api/src/utils/get-config-from-env.ts
Labels: API, New Feature

#6101 Add support for _FILE environment variables
  api/src/env.ts
  changelog.md
  docs/getting-started/introduction.md
  docs/guides/migrating-from-v8.md
Labels: API, New Feature

#6118 Support async preRegisterCheck for custom modules
  app/src/modules/register.ts
  app/src/modules/types.ts
Labels: App, Improvement

#6167 Cleanup one_allowed_collections field on collection delete
  api/src/services/collections.ts
Labels: API, Bug

#6168 Show better message for improperly formatted emails on login
  app/src/routes/login/components/login-form/login-form.vue
Labels: App, Improvement

#6163 Fix DB column update for data types with length or boolean as default value
  api/src/services/fields.ts
  docs/.gitignore
Labels: API, Bug

#6171 Use JSON editor for JSON field type default value
  app/src/interfaces/input-code/input-code.vue
  app/src/modules/settings/routes/data-model/field-detail/components/schema.vue
Labels: App, Bug, Improvement

#6172 Fix translations hint not linking to collection
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
Labels: App, Bug

#6173 Prevent translation rows from being edited before existing values are loaded
  app/src/interfaces/translations/translations.vue
Labels: App, Bug

#6174 Fix issue that would cause sort order of fields to be corrupted on field changes
  app/src/composables/use-form-fields/use-form-fields.ts
  app/src/stores/fields.ts
Labels: App, Bug

#6186 Add number formatting to formatted-values display
  app/src/displays/formatted-value/formatted-value.vue
Labels: App, Improvement

#6170 Refactor bookmark query navigation
  app/src/components/v-button/v-button.vue
  app/src/components/v-drawer/v-drawer.vue
  app/src/components/v-list/v-list-item.vue
  app/src/displays/related-values/related-values.vue
  app/src/interfaces/input-rich-text-md/input-rich-text-md.vue
  app/src/layouts/calendar/index.ts
  app/src/layouts/cards/index.ts
  app/src/layouts/tabular/index.ts
  app/src/modules/activity/routes/item.vue
  app/src/modules/collections/components/navigation-bookmark.vue
  app/src/modules/collections/components/navigation.vue
  app/src/modules/collections/composables/use-navigation.ts
  app/src/modules/collections/index.ts
  app/src/modules/collections/routes/collection.vue
  app/src/modules/collections/routes/item.vue
  app/src/views/private/components/header-bar/readme.md
  app/src/views/private/components/module-bar/module-bar.vue
  app/src/views/public/public-view.vue
  docs/reference/app/components/v-button.md
Labels: App

#6187 Add additional check to Two-Factor Authentication (by @masterwendu)
  api/src/controllers/users.ts
  api/src/services/authentication.ts
  api/src/services/graphql.ts
  api/src/services/users.ts
  app/src/interfaces/_system/system-mfa-setup/system-mfa-setup.vue
  app/src/routes/login/components/login-form/login-form.vue
  docs/reference/api/system/users.md
Labels: API, App, Improvement, Notice

#6190 Fix type casting of boolean env var
  api/src/env.ts
Labels: API, Bug

#6208 Moved special check above localTypeMap check.
  api/src/utils/get-local-type.ts
Labels: API, Bug

#6209 Add note on file env vars
  docs/reference/environment-variables.md
Labels: Documentation

#6213 Chore cleanup
  app/src/api.ts
  app/src/hydrate.ts
  app/src/main.ts
Labels: App, Optimization

#6211 Optimized oracle schema overview query
  packages/schema/src/dialects/oracledb.ts
Labels: API, Improvement

#6212 Fix proxying to the app from a subpath
  api/src/app.ts
  app/package.json
  app/src/modules/docs/components/markdown.vue
  app/vite.config.js
Labels: App, Bug

#6216 Added support for nodemailer ignoreTLS option
  api/example.env
  api/src/mailer.ts
  docs/reference/environment-variables.md
Labels: API, New Feature

#6214 Removed lowercase remap from Oracle schema
  packages/schema/src/dialects/oracledb.ts
Labels: API, Optimization

#6221 Add support for date distance adjustment in `$NOW` filter variable
  api/src/utils/adjust-date.ts
  api/src/utils/parse-filter.ts
  docs/reference/filter-rules.md
Labels: API, New Feature

#6228 Fixed migrations for fresh Oracle install
  api/src/database/migrations/20201105B-change-webhook-url-type.ts
  api/src/database/migrations/20210312A-webhooks-collections-text.ts
Labels: API, Improvement

#6253 Add missing return type to adjustDate()
  api/src/utils/adjust-date.ts
Labels: API, Optimization

#6236 #6217 fix missing styling of tinymce
  app/package.json
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
  package-lock.json
Labels: App, Bug

#6232 Update the app extension docs to work with Vue 3
  docs/guides/displays.md
  docs/guides/interfaces.md
  docs/guides/layouts.md
  docs/guides/modules.md
Labels: Documentation, Extensions

#6258 Fix collection selection in system-collections interface
  app/src/interfaces/_system/system-collections/system-collections.vue
Labels: App, Bug

#6225 Fix Oracle env error
  api/src/database/index.ts
Labels: API, Bug, DB: Oracle

#6252 Looks like a console log spliped though?
  api/src/utils/is-url-allowed.ts
Labels: API, Optimization

#6262 Fixes issue that would prevent the layout from refreshing on batch operations
  app/src/modules/collections/routes/collection.vue
Labels: App, Bug

#6263 Fixed issue that would prevent the m2o from working on foreign keys with no meta row
  app/src/interfaces/select-dropdown-m2o/select-dropdown-m2o.vue
Labels: App, Bug

#6264 Fixed issue that could cause the HTML interface to emit a change on first load
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
  app/src/interfaces/input-rich-text-html/useImage.ts
  app/src/interfaces/input-rich-text-html/useMedia.ts
Labels: App, Bug

#6267 Fix issue that would cause emails to be displayed incorrectly in certain email clients
  api/package.json
  api/src/services/mail/index.ts
  package-lock.json
Labels: API, Bug

#6284 Add workaround for vite auto-replacement in docs
  app/src/modules/docs/components/markdown.vue
  docs/guides/displays.md
  docs/guides/interfaces.md
  docs/guides/layouts.md
  docs/guides/modules.md
Labels: Documentation

#6289 Fixed issue that would prevent the "Import from URL" functionality to work in a many to many interface
  app/src/components/v-upload/v-upload.vue
Labels: App, Bug

#6288 Fix environment info in github issue templates
  app/src/modules/settings/components/navigation.vue
  app/src/views/private/components/notification-dialogs/notification-dialogs.vue
Labels: App, Optimization

#6294 Allow overriding the s-maxage cache header
  api/src/env.ts
  api/src/middleware/cache.ts
  api/src/middleware/respond.ts
  api/src/utils/get-cache-headers.ts
  docs/reference/environment-variables.md
Labels: API, New Feature

#6318 Fixed issue that would prevent setting the placeholder on the input interface
  app/src/interfaces/input/options.vue
Labels: App, Bug

#6339 Fix broken link in quickstart
  docs/getting-started/quickstart.md
Labels: Documentation

#6341 Add support for `read` hooks on `items`
  api/src/services/items.ts
  docs/guides/api-hooks.md
Labels: API, New Feature

#6347 Redact tokens from logs
  api/package.json
  api/src/app.ts
  api/src/logger.ts
  api/src/types/shims.d.ts
  package-lock.json
Labels: API, Improvement

#6348 Fixed issue that would cause uploads to the root folder of the file library to fail
  api/src/controllers/files.ts
Labels: App, Bug

#6349 Use existing file extension as default
  api/src/services/files.ts
Labels: API, Improvement

#6350 Don't send sensitive data in webhooks
  api/src/webhooks.ts
Labels: API, Bug

#6355 Use `no-store` instead of `no-cache` for skipping the cache
  api/src/middleware/cache.ts
  api/src/utils/get-cache-headers.ts
Labels: API, Improvement, Notice

#6308 Fixed invalid onDelete constraint for some schemas
  api/src/database/migrations/20210518A-add-foreign-key-constraints.ts
  api/src/services/relations.ts
Labels: API, Bug, DB: Oracle

#6360 Add "require('axios')" in API hooks examples
  docs/guides/api-hooks.md
Labels: Documentation

#6379 Add ability to specify what fields to clone on "Save as Copy"
  api/src/database/system-data/fields/collections.yaml
  app/src/components/register.ts
  app/src/components/v-checkbox-tree/index.ts
  app/src/components/v-checkbox-tree/v-checkbox-tree-checkbox.vue
  app/src/components/v-checkbox-tree/v-checkbox-tree.vue
  app/src/components/v-checkbox/v-checkbox.vue
  app/src/composables/use-field-tree/use-field-tree.ts
  app/src/composables/use-item/use-item.ts
  app/src/interfaces/_system/system-field-tree/index.ts
  app/src/interfaces/_system/system-field-tree/system-field-tree.vue
Labels: API, App, New Feature

#6412 Fixed issue that would prevent button/list-item links from functioning
  app/src/components/v-button/v-button.vue
  app/src/components/v-list/v-list-item.vue
  package-lock.json
Labels: App, Bug

#6413 Use correct input type for type in advanced filter sidebar
  app/src/lang/translations/en-US.yaml
  app/src/views/private/components/filter-sidebar-detail/filter-input.vue
  app/src/views/private/components/filter-sidebar-detail/get-available-operators-for-type.ts
Labels: App, Improvement

#6421 Update admin to use `no-store`
  app/src/api.ts
Labels: App, Bug

#6430 Add Serbian (Latin) Language
  app/src/lang/available-languages.yaml
Labels: App, New Feature

#6437 Add support for starts/ends with filters
  api/src/services/graphql.ts
  api/src/utils/apply-query.ts
  api/src/utils/generate-joi.ts
  api/src/utils/validate-query.ts
  app/src/lang/translations/en-US.yaml
  app/src/utils/generate-joi/index.ts
  app/src/views/private/components/filter-sidebar-detail/get-available-operators-for-type.ts
  docs/reference/filter-rules.md
Labels: API, New Feature

#6441 Add checkboxes-tree interface
  app/src/components/v-checkbox-tree/v-checkbox-tree-checkbox.vue
  app/src/components/v-checkbox-tree/v-checkbox-tree.vue
  app/src/components/v-list/v-list-group.vue
  app/src/interfaces/select-multiple-checkbox-tree/index.ts
  app/src/interfaces/select-multiple-checkbox-tree/select-multiple-checkbox-tree.vue
  app/src/lang/translations/en-US.yaml
Labels: App, New Feature

#6444 Don't return default val for PK field in singleton
  api/src/services/items.ts
Labels: API, Bug

#6447 Don't default to `directus_files` in local store on existing relation
  app/src/modules/settings/routes/data-model/field-detail/store.ts
Labels: App, Bug

#6449 Fix header buttons not functioning in markdown interface
  app/src/interfaces/input-rich-text-md/edits.ts
  app/src/interfaces/input-rich-text-md/input-rich-text-md.vue
Labels: App, Bug

#6450 Fixed rendering of SVGs in single file image interface
  app/src/interfaces/file-image/file-image.vue
Labels: App, Bug

#6451 Fix creating custom names for recommend collection fields on new collection setup drawer
  app/src/components/v-input/v-input.vue
  app/src/modules/settings/routes/data-model/new-collection.vue
Labels: App, Bug

#6361 Fix spacings and icons on presentation link buttons
  app/src/components/v-icon/v-icon.vue
  app/src/interfaces/presentation-links/presentation-links.vue
Labels: App, Bug

#6453 Fixed issue that would throw error in console when creating a new item in a collection w/ translations
  app/src/interfaces/translations/translations.vue
  app/src/views/private/components/render-template/render-template.vue
Labels: App, Bug

#6454 Fixed color option of the notice presentation interface
  app/src/interfaces/presentation-notice/presentation-notice.vue
Labels: App, Bug

#6455 Fixed issue that would prevent source code editing from staging values in wysiwyg
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
Labels: App, Bug

#6456 Add schema caching
  api/src/cache.ts
  api/src/env.ts
  api/src/middleware/authenticate.ts
  api/src/middleware/cache.ts
  api/src/middleware/respond.ts
  api/src/services/authentication.ts
  api/src/services/collections.ts
  api/src/services/fields.ts
  api/src/services/files.ts
  api/src/services/items.ts
  api/src/services/relations.ts
  api/src/services/server.ts
  api/src/services/users.ts
  api/src/utils/get-schema.ts
  docs/reference/environment-variables.md
Labels: API, New Feature, Notice

#6463 Remove html tags from i18n strings
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/data-model/field-detail/components/schema.vue
  app/src/routes/login/components/continue-as/continue-as.vue
Labels: App, Optimization

#6466 Set calendar layout locale based on app locale
  app/src/layouts/calendar/index.ts
  app/src/utils/get-fullcalendar-locale/get-fullcalendar-locale.ts
  app/src/utils/get-fullcalendar-locale/import-calendar-locale.ts
  app/src/utils/get-fullcalendar-locale/index.ts
Labels: App, Improvement

#6467 Import a File link in Assets tip broken
  docs/reference/api/assets.md
Labels: Documentation

#6471 Fix extension loading on initial startup
  api/src/extensions.ts
  app/vite.config.js
  packages/shared/src/utils/ensure-extensions-dirs.ts
  packages/shared/src/utils/generate-extensions-entry.ts
  packages/shared/src/utils/get-extensions.ts
  packages/shared/src/utils/index.ts
Labels: Extensions

#6481 Fix login page not showing user's name on app required permissions role
  api/src/database/system-data/app-access-permissions/app-access-permissions.yaml
Labels: App, Bug

#6482 Update vue to 3.1.2
  app/package.json
  package-lock.json
  packages/shared/package.json
Labels: Dependencies

#6530 Fix translations interface options crashing the App
  app/src/interfaces/translations/options.vue
Labels: App, Bug

#6534 Fix extension loading when PUBLIC_URL is absolute without origin
  api/src/extensions.ts
  app/vite.config.js
  packages/shared/src/utils/ensure-extensions-dirs.ts
Labels: Bug, Extensions

#6541 Pass on errors thrown in MailService
  api/src/services/mail/index.ts
Labels: API, Improvement

#6538 Adds request and response interceptors on Axios transport
  docs/reference/sdk.md
  packages/sdk/src/base/transport/axios-transport.ts
  packages/sdk/tests/base/transport/axios.test.ts
Labels: New Feature, Package: sdk

#6548 Add directus-extension CLI to extension-sdk
  api/cli.js
  docs/guides/displays.md
  docs/guides/interfaces.md
  docs/guides/layouts.md
  docs/guides/modules.md
  package-lock.json
  packages/extension-sdk/cli.js
  packages/extension-sdk/package.json
  packages/extension-sdk/src/cli/commands/build.ts
  packages/extension-sdk/src/cli/index.ts
Labels: Extensions, New Feature

#6215 Added escaping on file paths including "\u"
  docs/build.js
Labels: App, Improvement

#6553 Add support for field grouping
  app/src/api.ts
  app/src/assets/fonts/material-icons-outline.woff2
  app/src/assets/fonts/material-icons.woff2
  app/src/components/v-detail/v-detail.vue
  app/src/components/v-divider/v-divider.vue
  app/src/components/v-form/form-field.vue
  app/src/components/v-form/types.ts
  app/src/components/v-form/v-form.vue
  app/src/composables/use-form-fields/use-form-fields.ts
  app/src/interfaces/group-divider/group-divider.vue
  app/src/interfaces/group-divider/index.ts
  app/src/interfaces/group-raw/group-raw.vue
  app/src/interfaces/group-raw/index.ts
  app/src/interfaces/list-o2m-tree-view/nested-draggable.vue
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/data-model/field-detail/components/field.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail.vue
  app/src/modules/settings/routes/data-model/field-detail/store.ts
  app/src/modules/settings/routes/data-model/fields/components/field-select-menu.vue
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
  app/src/modules/settings/routes/data-model/fields/components/fields-management.vue
  app/src/modules/settings/routes/data-model/get-local-type.ts
  app/src/stores/fields.ts
  app/src/types/fields.ts
Labels: App, New Feature

#6555 Fix auto-fill of directus_files in relational setup
  app/src/modules/settings/routes/data-model/field-detail/store.ts
Labels: App, Bug

#6558 Fixed typo in MySQL dialect
  api/src/database/functions/dialects/mysql.ts
Labels: API, Bug

#6561 Add limit options for deleteMany files
  api/src/services/files.ts
Labels: API, Bug

#6566 Fix half-width fields before groups causing trouble
  app/src/components/v-form/v-form.vue
Labels: App, Bug

#6578 Update the required Node version to 12.20.0
  api/package.json
  docs/guides/installation/cli.md
  package-lock.json
  packages/extension-sdk/package.json
Labels: Optimization

#6576 Add skip admin init flag
  api/src/cli/commands/bootstrap/index.ts
  api/src/cli/index.ts
  docs/reference/command-line-interface.md
Labels: API, New Feature

#6579 Fix extension loading on windows
  packages/shared/src/utils/generate-extensions-entry.ts
Labels: Bug, Extensions

#6583 Fix building extensions with style tags
  package-lock.json
  packages/extension-sdk/package.json
  packages/extension-sdk/src/cli/commands/build.ts
Labels: Bug, Extensions

#6584 Fix extra dots being added on uploaded files
  api/src/services/files.ts
Labels: API, Bug

#6589 Fix dev script not watching in shared and extension-sdk packages
  packages/extension-sdk/package.json
  packages/shared/package.json
Labels: Optimization
