Repository directus/directus, pull requests merged in 2021-04, with the labels that each got.

#4823 Make data-model collection options persistent
  app/src/modules/settings/routes/data-model/collections/collections.vue
Labels: App, Improvement

#4844 Validate password on setup
  api/src/cli/commands/init/index.ts
Labels: API, Improvement

#4833 End-to-end test setup
  .dockerignore
  Dockerfile
  docs/package.json
  e2e-tests/api/ping.test.ts
  e2e-tests/config.ts
  e2e-tests/get-dbs-to-test.ts
  e2e-tests/get-urls-to-test.ts
  e2e-tests/jest.config.js
  e2e-tests/readme.md
  e2e-tests/setup/setup.ts
  e2e-tests/setup/teardown.ts
  e2e-tests/setup/utils/await-connection.ts
  e2e-tests/start.sh
  e2e-tests/tsconfig.json
  package-lock.json
  package.json
Labels: New Feature, Tests

#4856 Clean up app reference
  docs/reference/app/components/v-avatar.md
  docs/reference/app/components/v-breadcrumb.md
  docs/reference/app/components/v-checkbox.md
  docs/reference/app/components/v-chip.md
Labels: Documentation, Improvement

#4863 Add non-items system Resolvers
  api/src/controllers/collections.ts
  api/src/controllers/fields.ts
  api/src/controllers/files.ts
  api/src/controllers/graphql.ts
  api/src/database/system-data/fields/files.yaml
  api/src/middleware/graphql.ts
  api/src/services/collections.ts
  api/src/services/files.ts
  api/src/services/graphql.ts
  api/src/types/graphql.ts
Labels: API, GraphQL, New Feature

#4884 Fix field-template bug where wrong key gets used
  app/src/components/v-field-template/v-field-template.vue
Labels: App, Bug

#4876 Fix loading wrong relations
  app/src/stores/relations.ts
Labels: App, Bug

#4872 Use display template in drawer-item when possible
  app/src/components/v-drawer/v-drawer.vue
  app/src/views/private/components/drawer-item/drawer-item.vue
Labels: App, Improvement

#4877 Fix edits not being found in o2m
  app/src/interfaces/one-to-many/one-to-many.vue
Labels: App, Bug

#4694 Storage: S3 ACL & Content Type
  api/src/services/assets.ts
  api/src/services/files.ts
  docs/reference/environment-variables.md
  packages/drive-s3/src/AmazonWebServicesS3Storage.ts
  packages/drive/src/Storage.ts
Labels: New Feature, Package: drive

#4826 Add /admin to file if in production
  app/src/modules/docs/components/markdown.vue
Labels: App, Bug

#4720 Fix text overflow on m2o
  app/src/interfaces/many-to-one/many-to-one.vue
Labels: App, Bug

#4906 Fix extension path wildcard
  api/src/controllers/extensions.ts
Labels: API, Bug

#4911 Fixed routes with missing end slash
  app/src/displays/register.ts
  app/src/interfaces/register.ts
  app/src/layouts/register.ts
  app/src/modules/register.ts
Labels: App, Bug

#4914 Hide "Create User" prompt if you don't have create access to role
  app/src/modules/users/routes/collection.vue
Labels: App, Improvement

#4840 feat: add delete event emitting to fields service
  api/src/services/fields.ts
Labels: API, Bug

#4719 Fix svg overflow
  app/src/layouts/cards/components/card.vue
  app/src/views/private/components/file-preview/file-preview.vue
Labels: App, Bug

#4723 Allow for nested fields in sidebar filter
  app/src/stores/fields.ts
Labels: App, Bug

#4941 Make user email case insensitive
  api/src/controllers/auth.ts
  api/src/services/authentication.ts
  api/src/services/users.ts
Labels: API, Improvement

#4860 Keep bookmark on detail
  app/src/modules/collections/index.ts
Labels: App, Improvement

#4859 Load extensions in parallel
  app/package.json
  app/src/displays/register.ts
  app/src/interfaces/register.ts
  app/src/layouts/register.ts
  app/src/modules/register.ts
Labels: App, Improvement, Optimization

#4777 Add option to auto refresh collections
  api/src/database/migrations/20210331A-add-refresh-interval.ts
  app/src/components/v-badge/v-badge.vue
  app/src/composables/use-preset/use-preset.ts
  app/src/lang/translations/en-US.yaml
  app/src/modules/collections/routes/collection.vue
  app/src/stores/presets.ts
  app/src/types/presets.ts
  app/src/views/private/components/refresh-sidebar-detail/index.ts
  app/src/views/private/components/refresh-sidebar-detail/refresh-sidebar-detail.vue
  app/src/views/private/components/sidebar-detail/sidebar-detail.vue
Labels: App, New Feature

#4940 Fix drawer item title not showing data
  app/src/composables/use-template-data.ts
  app/src/displays/rating/rating.vue
  app/src/interfaces/user/user.vue
  app/src/modules/collections/routes/item.vue
  app/src/utils/render-string-template.ts
  app/src/views/private/components/drawer-item/drawer-item.vue
Labels: App, Bug

#4309 Add custom modules to WYSIWYG
  app/src/interfaces/wysiwyg/tinymce-overrides.css
  app/src/interfaces/wysiwyg/useImage.ts
  app/src/interfaces/wysiwyg/useLink.ts
  app/src/interfaces/wysiwyg/useMedia.ts
  app/src/interfaces/wysiwyg/useSourceCode.ts
  app/src/interfaces/wysiwyg/wysiwyg.vue
  app/src/lang/translations/en-US.yaml
Labels: App, Improvement

#4961 Add custom modules to wysiwyg
  app/src/interfaces/wysiwyg/index.ts
Labels: App, Bug

#4984 Fix null access in color display
  app/src/displays/color/color.vue
Labels: App, Bug

#4993 [File import] Fix error message
  api/src/services/files.ts
Labels: API, Bug

#4996 Fix 401 error for public API when no token is provided @directus/gatsby-source-directus
  packages/gatsby-source-directus/gatsby-node.js
Labels: Bug, Package: gatsby-source-directus

#4982 Setup GitHub Actions for E2E Tests
  .github/workflows/e2e-tests.yml
  Dockerfile
  lerna.json
Labels: API, New Feature, Tests

#5015 Additional improvements to extension loading (properly closes #4733)
  app/src/displays/register.ts
  app/src/interfaces/register.ts
  app/src/layouts/register.ts
  app/src/modules/register.ts
Labels: App, Bug

#5023 Send out error message for graphql execution errors
  api/src/services/graphql.ts
Labels: API, Bug, GraphQL

#5034 Fix a typo
  docs/reference/api/query.md
Labels: Documentation

#5041 Fix perf regression in translations
  app/src/components/v-form/form-field-interface.vue
  app/src/components/v-form/v-form.vue
  app/src/components/v-table/table-row/table-row.vue
  app/src/components/v-table/v-table.vue
  app/src/composables/use-form-fields/use-form-fields.ts
  app/src/displays/index.ts
  app/src/displays/register.ts
  app/src/hydrate.ts
  app/src/interfaces/_system/interface-options/interface-options.vue
  app/src/interfaces/_system/interface/interface.vue
  app/src/interfaces/index.ts
  app/src/interfaces/register.ts
  app/src/lang/index.ts
  app/src/layouts/index.ts
  app/src/layouts/register.ts
  app/src/modules/index.ts
  app/src/modules/register.ts
  app/src/modules/settings/routes/data-model/field-detail/components/display.vue
  app/src/modules/settings/routes/data-model/field-detail/components/interface.vue
  app/src/modules/settings/routes/data-model/field-detail/store.ts
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
  app/src/modules/settings/routes/presets/collection/collection.vue
  app/src/modules/settings/routes/presets/item.vue
  app/src/utils/adjust-fields-for-displays/adjust-fields-for-displays.ts
  app/src/utils/translate-object-values.ts
  app/src/views/private/components/layout-sidebar-detail/layout-sidebar-detail.vue
  app/src/views/private/components/module-bar/module-bar.vue
  app/src/views/private/components/render-display/render-display.vue
  app/src/views/private/components/render-template/render-template.vue
  package-lock.json
Labels: App, Bug, Optimization

#5035 Setup CI for e2e tests
  .github/workflows/e2e-tests.yml
  Dockerfile
  e2e-tests/setup/setup.ts
  lerna.json
Labels: New Feature, Tests

#4870 Add custom interface for presets
  app/src/interfaces/_system/scope/index.ts
  app/src/interfaces/_system/scope/scope.vue
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/presets/item.vue
Labels: App, New Feature

#5054 Fix the edited dot if the field value is falsy
  app/src/components/v-form/form-field.vue
Labels: App, Bug

#5055 Add the build step to the running locally docs
  docs/contributing/running-locally.md
Labels: Documentation

#5065 Fix extension build documentation
  docs/guides/displays.md
  docs/guides/interfaces.md
  docs/guides/layouts.md
  docs/guides/modules.md
Labels: Documentation

#5057 Rename the nullable text input interface option
  app/src/interfaces/text-input/index.ts
  app/src/interfaces/text-input/text-input.vue
  app/src/lang/translations/en-US.yaml
Labels: App, Improvement

#5010 Add Gatsby Image to package
  packages/gatsby-source-directus/gatsby-node.js
Labels: New Feature, Package: gatsby-source-directus

#5071 Global cookie parser
  api/src/app.ts
  api/src/controllers/auth.ts
  api/src/controllers/graphql.ts
Labels: API, Improvement

#5085 Add disabled prop to InterfaceToggle
  app/src/interfaces/toggle/toggle.vue
Labels: App, Bug

#5096 Fix singleton primary key on update
  api/src/services/items.ts
Labels: API, Bug

#5104 Pass loading prop to form-field-interface
  app/src/components/v-form/form-field-interface.vue
Labels: App, Improvement

#5112 Allow disabling activity/revisions
  api/src/database/migrations/20210415A-make-filesize-nullable.ts
  api/src/database/migrations/20210416A-add-collections-accountability.ts
  api/src/database/system-data/collections/collections.yaml
  api/src/database/system-data/fields/collections.yaml
  api/src/services/items.ts
  api/src/types/collection.ts
  api/src/types/schema.ts
  api/src/utils/get-schema.ts
  app/src/composables/use-collection/use-collection.ts
  app/src/lang/translations/en-US.yaml
  app/src/modules/collections/routes/item.vue
  app/src/types/collections.ts
  app/src/views/private/components/revisions-drawer-detail/revisions-drawer-detail.vue
Labels: API, App, New Feature

#5144 Reset v-field-template to null when cleared
  app/src/components/v-field-template/v-field-template.vue
Labels: App, Improvement

#5141 Reset v-textfield to null when cleared
  app/src/components/v-textarea/v-textarea.vue
  app/src/interfaces/textarea/index.ts
  app/src/interfaces/textarea/textarea.vue
  app/src/interfaces/wysiwyg/wysiwyg.vue
  app/src/views/private/components/users-invite/users-invite.vue
Labels: App, Improvement

#5136 Fix before hook items transaction
  api/src/services/items.ts
Labels: API, Bug

#5143 App: encode primary key
  app/src/composables/use-item/use-item.ts
  app/src/composables/use-template-data.ts
  app/src/displays/related-values/related-values.vue
  app/src/interfaces/many-to-one/many-to-one.vue
  app/src/interfaces/tree-view/tree-view.vue
  app/src/layouts/cards/cards.vue
  app/src/layouts/tabular/tabular.vue
  app/src/modules/activity/routes/item.vue
  app/src/modules/collections/routes/item.vue
  app/src/views/private/components/drawer-item/drawer-item.vue
Labels: App, Bug

#5170 Finalize services API
  api/src/cli/commands/bootstrap/index.ts
  api/src/cli/commands/roles/create.ts
  api/src/cli/commands/users/create.ts
  api/src/controllers/activity.ts
  api/src/controllers/collections.ts
  api/src/controllers/files.ts
  api/src/controllers/folders.ts
  api/src/controllers/items.ts
  api/src/controllers/permissions.ts
  api/src/controllers/presets.ts
  api/src/controllers/relations.ts
  api/src/controllers/revisions.ts
  api/src/controllers/roles.ts
  api/src/controllers/users.ts
  api/src/controllers/webhooks.ts
  api/src/database/run-ast.ts
  api/src/exceptions/database/translate.ts
  api/src/middleware/collection-exists.ts
  api/src/middleware/validate-batch.ts
  api/src/services/authentication.ts
  api/src/services/authorization.ts
  api/src/services/collections.ts
  api/src/services/fields.ts
  api/src/services/files.ts
  api/src/services/graphql.ts
  api/src/services/items.ts
  api/src/services/payload.ts
  api/src/services/permissions.ts
  api/src/services/relations.ts
  api/src/services/revisions.ts
  api/src/services/roles.ts
  api/src/services/users.ts
  api/src/services/webhooks.ts
  api/src/utils/apply-query.ts
  api/src/utils/sanitize-query.ts
  docs/guides/installation/docker.md
Labels: API, Optimization

#5182 Remove refresh token cookie on logout
  api/src/controllers/auth.ts
  package-lock.json
Labels: API, Improvement

#5187 Add payloads to delete requests
  packages/sdk/src/base/transport/axios-transport.ts
  packages/sdk/src/transport.ts
  packages/sdk/tests/base/transport/axios.test.ts
  packages/sdk/tests/items.test.ts
Labels: Bug, Package: sdk-js

#4093 Relational consistency
  app/src/components/v-list/v-list-item.vue
  app/src/interfaces/m2a-builder/m2a-builder.vue
  app/src/interfaces/many-to-many/many-to-many.vue
  app/src/interfaces/many-to-many/options.vue
  app/src/interfaces/one-to-many/one-to-many.vue
  app/src/interfaces/one-to-many/options.vue
  app/src/interfaces/repeater/repeater-row-form.vue
  app/src/interfaces/repeater/repeater-row-header.vue
  app/src/interfaces/repeater/repeater-row.vue
  app/src/interfaces/repeater/repeater.vue
  app/src/interfaces/translations/translations.vue
  app/src/interfaces/tree-view/nested-draggable.vue
  app/src/modules/settings/routes/data-model/field-detail/components/field.vue
  app/src/views/private/components/render-template/render-template.vue
Labels: App, Improvement

#5203 Change token and auth handling behavior.
  docs/reference/sdk.md
  packages/sdk/package.json
  packages/sdk/src/auth.ts
  packages/sdk/src/base/auth.ts
  packages/sdk/src/base/directus.ts
  packages/sdk/src/base/transport/axios-transport.ts
  packages/sdk/src/errors.ts
  packages/sdk/src/transport.ts
  packages/sdk/src/utils.ts
  packages/sdk/tests/base/auth.browser.test.ts
  packages/sdk/tests/base/auth.node.test.ts
  packages/sdk/tests/base/auth.test.ts
  packages/sdk/tests/errors.test.ts
  packages/sdk/tests/utils.test.ts
  packages/sdk/tests/utils.ts
Labels: Bug, Package: sdk-js

#5168 app: go back instead of push new route
  app/src/modules/collections/routes/item.vue
  app/src/modules/files/routes/item.vue
  app/src/modules/users/routes/item.vue
Labels: App, Improvement

#5225 Add auth password policy / login attempts support
  api/src/database/system-data/fields/settings.yaml
  api/src/exceptions/index.ts
  api/src/exceptions/user-suspended.ts
  api/src/middleware/rate-limiter.ts
  api/src/rate-limiter.ts
  api/src/services/authentication.ts
  api/src/services/users.ts
  api/src/utils/generate-joi.ts
  app/src/composables/use-item/use-item.ts
  app/src/constants.ts
  app/src/lang/translations/en-US.yaml
  app/src/views/private/components/drawer-batch/drawer-batch.vue
  docs/reference/filter-rules.md
Labels: API, New Feature

#5265 Add MailService
  api/src/mail/index.ts
  api/src/services/index.ts
  api/src/services/mail/index.ts
  api/src/services/mail/templates/base.liquid
  api/src/services/mail/templates/password-reset.liquid
  api/src/services/mail/templates/user-invitation.liquid
  api/src/services/mailer.ts
  api/src/services/server.ts
  api/src/services/users.ts
  docs/guides/api-hooks.md
Labels: API, New Feature

#5277 handle enter key for existing sessions
  app/src/components/v-button/v-button.vue
  app/src/routes/login/components/continue-as/continue-as.vue
Labels: App, Improvement

#5289 app: show file preview on drawer-item
  app/src/views/private/components/drawer-item/drawer-item.vue
Labels: App, New Feature

#5301 Add options for create/select
  app/src/interfaces/many-to-many/many-to-many.vue
  app/src/interfaces/many-to-many/options.vue
  app/src/interfaces/one-to-many/one-to-many.vue
  app/src/interfaces/one-to-many/options.vue
  app/src/interfaces/tree-view/options.vue
  app/src/interfaces/tree-view/tree-view.vue
  app/src/lang/translations/en-US.yaml
Labels: App, New Feature

#5327 Update oracledb.ts
  packages/schema/src/dialects/oracledb.ts
Labels: API, Bug, DB: Oracle

#5331 Update oracledb.ts
  packages/schema/src/dialects/oracledb.ts
Labels: Bug, DB: Oracle

#5332 Setting the default date to today is a bad idea
  app/src/interfaces/datetime/datetime.vue
Labels: App, Improvement

#5338 Also join o2m relations when not in subquery but at non-root level
  api/src/utils/apply-query.ts
Labels: API, Bug

#5369 api: use current connection on collection service
  api/src/services/collections.ts
Labels: API, Improvement

#5312 Fix & enhance linting
  .eslintignore
  .eslintrc.js
  .stylelintignore
  package-lock.json
  package.json
Labels: Optimization

#5375 Added number type for Oracle
  api/src/utils/get-local-type.ts
Labels: API, DB: Oracle, Improvement

#5403 Add SESSION_STORE options
  api/package.json
  api/src/app.ts
  api/src/controllers/auth.ts
  api/src/env.ts
  api/src/middleware/session.ts
  docs/reference/environment-variables.md
  package-lock.json
Labels: API, New Feature

#5404 Refresh permissions more eagerly in settings
  app/src/modules/settings/routes/roles/item/components/permissions-overview.vue
  package-lock.json
Labels: App, Bug
