Repository directus/directus, pull requests merged in 2021-11, with the labels that each got.

#9301 Fix selection of "Group" field types
  app/src/modules/settings/routes/data-model/field-detail/store/alterations/group.ts
Labels: App, Bug

#9297 Add shadows to v-menu angles
  app/src/components/v-menu/v-menu.vue
Labels: App, Improvement

#9158 New Crowdin updates
  app/src/lang/translations/af-ZA.yaml
  app/src/lang/translations/ar-SA.yaml
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/bn-IN.yaml
  app/src/lang/translations/br-FR.yaml
  app/src/lang/translations/ca-ES.yaml
  app/src/lang/translations/cs-CZ.yaml
  app/src/lang/translations/da-DK.yaml
  app/src/lang/translations/de-DE.yaml
  app/src/lang/translations/el-GR.yaml
  app/src/lang/translations/es-419.yaml
  app/src/lang/translations/es-CL.yaml
  app/src/lang/translations/es-ES.yaml
  app/src/lang/translations/et-EE.yaml
  app/src/lang/translations/fa-IR.yaml
  app/src/lang/translations/fi-FI.yaml
  app/src/lang/translations/fr-FR.yaml
  app/src/lang/translations/he-IL.yaml
  app/src/lang/translations/hu-HU.yaml
  app/src/lang/translations/id-ID.yaml
  app/src/lang/translations/it-IT.yaml
  app/src/lang/translations/ja-JP.yaml
  app/src/lang/translations/ka-GE.yaml
  app/src/lang/translations/lt-LT.yaml
  app/src/lang/translations/ms-MY.yaml
  app/src/lang/translations/nl-NL.yaml
  app/src/lang/translations/no-NO.yaml
  app/src/lang/translations/pl-PL.yaml
  app/src/lang/translations/pt-BR.yaml
  app/src/lang/translations/ro-RO.yaml
  app/src/lang/translations/ru-RU.yaml
  app/src/lang/translations/sk-SK.yaml
  app/src/lang/translations/sl-SI.yaml
  app/src/lang/translations/sr-CS.yaml
  app/src/lang/translations/sr-SP.yaml
  app/src/lang/translations/sv-SE.yaml
  app/src/lang/translations/th-TH.yaml
  app/src/lang/translations/tr-TR.yaml
  app/src/lang/translations/uk-UA.yaml
  app/src/lang/translations/vi-VN.yaml
  app/src/lang/translations/zh-CN.yaml
  app/src/lang/translations/zh-TW.yaml
Labels: automerge

#9309 Removed undefined type from LDAP userAccountControl
  api/src/auth/drivers/ldap.ts
Labels: Optimization

#9307 Feat/custom ldap mail attribute
  api/src/auth/drivers/ldap.ts
  docs/configuration/config-options.md
  package-lock.json
Labels: API, Improvement

#9295 Set calendar height to 100%
  app/src/layouts/calendar/calendar.vue
  app/src/layouts/calendar/index.ts
  app/src/layouts/map/map.vue
  app/src/views/private/components/header-bar/header-bar.vue
Labels: App, Improvement

#9310 Update Oracle to support `is_generated`
  packages/schema/src/dialects/oracledb.ts
Labels: API, Bug, DB: Oracle

#9316 New Crowdin updates
  app/src/lang/translations/de-DE.yaml
Labels: automerge

#9289 Added state param to OAuth to make Okta happy
  api/src/auth/drivers/oauth2.ts
  api/src/auth/drivers/openid.ts
Labels: API, Improvement

#9314 Fix aggregation needing the table name to avoid ambiguous
  api/src/utils/apply-query.ts
Labels: API, Bug

#9078 End-to-end tests for filters
  Dockerfile
  changelog.md
  tests/api/items.test.ts
  tests/api/items/filters.test.ts
  tests/api/items/many-to-many.test.ts
  tests/api/items/no-relations.test.ts
  tests/api/items/one-to-many.test.ts
  tests/setup/migrations/20211016054403_create_base_tables.js
  tests/setup/migrations/20211016054421_create_relational_tables.js
  tests/setup/seeds/01_directus_collections.js
  tests/setup/seeds/02_directus_relations.js
  tests/setup/seeds/03_directus_roles.js
  tests/setup/seeds/04_directus_users.js
  tests/setup/setup.ts
  tests/setup/utils/factories.test.ts
  tests/setup/utils/factories.ts
Labels: Tests

#9291 Input code json
  app/src/interfaces/input-code/index.ts
  app/src/interfaces/input-code/input-code.vue
Labels: App, Bug

#9305 Add SET NULL to directus_files.uploaded_by constraint
  api/src/database/migrations/20211101A-add-set-null-to-users-created-fields.ts
  app/src/modules/settings/routes/data-model/new-collection.vue
Labels: API, Improvement

#9292 Update translation icon in interface selector
  app/src/interfaces/translations/index.ts
Labels: App, Improvement

#9288 Map layout and interface improvements
  app/src/interfaces/map/map.vue
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/ca-ES.yaml
  app/src/lang/translations/da-DK.yaml
  app/src/lang/translations/de-DE.yaml
  app/src/lang/translations/en-US.yaml
  app/src/lang/translations/fr-FR.yaml
  app/src/lang/translations/hu-HU.yaml
  app/src/lang/translations/it-IT.yaml
  app/src/lang/translations/pl-PL.yaml
  app/src/lang/translations/ru-RU.yaml
  app/src/lang/translations/sl-SI.yaml
  app/src/lang/translations/zh-CN.yaml
  app/src/layouts/map/components/map.vue
  app/src/layouts/map/index.ts
  app/src/layouts/map/map.vue
  app/src/layouts/map/options.vue
  app/src/layouts/map/types.ts
  app/src/styles/lib/_mapbox.scss
  app/src/utils/geometry/controls.ts
Labels: App, Improvement

#9321 add content and fix broken links
  docs/.vuepress/config.js
  docs/.vuepress/theme/layouts/Homepage.vue
  docs/app/content-collections.md
  docs/app/documentation.md
  docs/app/insights.md
  docs/configuration/overview.md
  docs/contributing/introduction.md
  docs/contributing/translations.md
  docs/extensions/app-translations.md
  docs/extensions/introduction.md
  docs/extensions/panels.md
  docs/extensions/themes.md
  docs/getting-started/backing-directus.md
  docs/getting-started/introduction.md
Labels: Documentation

#9324 Fix issues with fields config
  api/src/services/fields.ts
  api/src/utils/get-local-type.ts
  app/src/displays/related-values/index.ts
  app/src/displays/related-values/options.vue
  app/src/displays/translations/index.ts
  app/src/displays/translations/options.vue
  app/src/modules/settings/routes/data-model/field-detail/shared/extension-options.vue
  app/src/modules/settings/routes/data-model/field-detail/store/alterations/translations.ts
  app/src/modules/settings/routes/data-model/field-detail/store/index.ts
  app/src/stores/fields.ts
Labels: App, Bug

#9325 Fixes dead links in docs site.
  docs/app/content-collections.md
  docs/app/file-library.md
  docs/app/insights.md
  docs/app/overview.md
  docs/configuration/activity-log.md
  docs/configuration/filter-rules.md
  docs/configuration/project-settings.md
  docs/configuration/relationships.md
  docs/configuration/upgrades-migrations.md
  docs/configuration/users-roles-permissions.md
  docs/contributing/running-locally.md
  docs/extensions/displays.md
  docs/extensions/interfaces.md
  docs/extensions/modules.md
  docs/extensions/themes.md
  docs/getting-started/installation/manual.md
  docs/getting-started/installation/plesk.md
  docs/reference/introduction.md
  docs/reference/items.md
  docs/reference/system/fields.md
  docs/reference/system/folders.md
  docs/reference/system/presets.md
  docs/reference/system/relations.md
  docs/reference/system/roles.md
  docs/reference/system/server.md
  docs/reference/system/settings.md
  docs/reference/system/users.md
  docs/reference/system/utilities.md
  docs/reference/system/webhooks.md
Labels: Documentation

#9326 New Crowdin updates
  app/src/lang/translations/ar-SA.yaml
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/ca-ES.yaml
  app/src/lang/translations/da-DK.yaml
  app/src/lang/translations/de-DE.yaml
  app/src/lang/translations/es-419.yaml
  app/src/lang/translations/es-CL.yaml
  app/src/lang/translations/es-ES.yaml
  app/src/lang/translations/hu-HU.yaml
  app/src/lang/translations/it-IT.yaml
  app/src/lang/translations/pl-PL.yaml
  app/src/lang/translations/pt-BR.yaml
  app/src/lang/translations/ru-RU.yaml
  app/src/lang/translations/sl-SI.yaml
  app/src/lang/translations/th-TH.yaml
  app/src/lang/translations/zh-CN.yaml
Labels: automerge

#9290 Fix geometry support check
  api/src/database/helpers/geometry.ts
  api/src/database/index.ts
Labels: API, Bug

#9287 Fix lint warnings in app
  app/src/components/v-icon/social-icon.vue
  app/src/components/v-icon/v-icon.vue
  app/src/interfaces/_system/system-filter/system-filter.vue
  app/src/interfaces/map/style.ts
  app/src/modules/settings/routes/data-model/field-detail/field-detail-simple/field-detail-simple.vue
Labels: App

#9327 Fixes broken docs links
  docs/app/content-collections.md
  docs/app/content.md
  docs/app/user-directory.md
  docs/getting-started/installation/manual.md
  docs/reference/system/users.md
  docs/reference/system/utilities.md
Labels: Documentation

#9285 Filter files by folder when an upload folder is specified in the file interface
  app/src/components/v-upload/v-upload.vue
Labels: App, Improvement

#9282 Prevent file interface from preloading "Choose from Library" drawer
  app/src/interfaces/file/file.vue
Labels: App, Improvement

#9281 Improve disabled interface selector style
  app/src/modules/settings/routes/data-model/field-detail/field-detail-simple/field-detail-simple.vue
Labels: App, Improvement

#9270 Fix: disable sort field for singleton collections
  app/src/modules/settings/routes/data-model/new-collection.vue
Labels: App, Improvement

#9269 Fixed nullable and unique options disabled in advanced field settings
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-schema.vue
Labels: App, Bug

#9271 Context menu improvements
  app/src/modules/collections/components/navigation-bookmark.vue
  app/src/modules/collections/components/navigation-item.vue
  app/src/modules/collections/components/navigation.vue
  app/src/modules/files/components/navigation-folder.vue
Labels: App, Improvement

#9318 fix(graphql): remove __typename from selection nodes when present
  api/src/services/graphql.ts
Labels: API, Bug, GraphQL

#9330 New Crowdin updates
  app/src/lang/translations/it-IT.yaml
Labels: automerge

#9332 New Crowdin updates
  app/src/lang/translations/ar-SA.yaml
Labels: automerge

#9335 New Crowdin updates
  app/src/lang/translations/br-FR.yaml
Labels: automerge

#9349 fix M2A field creation unable to be saved
  app/src/modules/settings/routes/data-model/field-detail/field-detail-simple/relationship-configuration.vue
  app/src/modules/settings/routes/data-model/field-detail/store/alterations/m2a.ts
Labels: App, Bug

#9333 Translations interface fix
  app/src/interfaces/translations/translations.vue
Labels: App, Bug

#9357 Fix eslint warnings
  app/src/displays/translations/index.ts
Labels: Optimization

#9354 Fixes broken links in the documentation
  docs/app/user-directory.md
  docs/configuration/data-model.md
  docs/configuration/project-settings.md
  docs/configuration/users-roles-permissions.md
Labels: Documentation

#8497 Fix nullable boolean
  api/src/services/payload.ts
Labels: API, App, Improvement, Hacktoberfest

#7774 Fix date on sqlite
  api/src/database/helpers/date.ts
  api/src/utils/apply-query.ts
Labels: API, Bug, DB: SQLite

#9361 New Crowdin updates
  app/src/lang/translations/pl-PL.yaml
Labels: automerge

#9368 Added fallback to "id_token" info if profile URL not defined
  api/src/auth/drivers/oauth2.ts
  api/src/auth/drivers/openid.ts
Labels: API, Bug

#9362 remove default color options from labels display
  app/src/displays/labels/index.ts
  app/src/displays/labels/labels.vue
Labels: App, Improvement

#8104 Translate system fields when creating new collections
  app/src/utils/translate-literal.ts
  app/src/utils/translate-object-values.ts
  app/src/views/private/components/render-template/render-template.vue
Labels: App, Bug

#9373 add live chat to public docs
  docs/.vuepress/theme/layouts/Homepage.vue
  docs/.vuepress/theme/layouts/Layout.vue
Labels: Documentation

#9374 Docs live chat tweak
  docs/.vuepress/theme/layouts/Homepage.vue
  docs/.vuepress/theme/layouts/Layout.vue
Labels: Documentation

#9353 Fix condition to translate directus collections
  app/src/composables/use-item/use-item.ts
Labels: App, Bug

#9381 Set user token as unique
  api/src/database/migrations/20211103A-set-unique-to-user-token.ts
Labels: API, Bug

#9382 Update tfa_secret description in users.md
  docs/reference/system/users.md
Labels: Documentation

#9388 New Crowdin updates
  app/src/lang/translations/ru-RU.yaml
Labels: automerge

#9402 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
Labels: automerge

#9405 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
Labels: automerge

#9409 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
Labels: automerge

#9413 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
Labels: automerge

#9415 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
Labels: automerge

#9408 Enhance comments in CI workflow
  .github/workflows/ci.yml
Labels: Optimization

#9414 Fix hover effect on o2m and m2a lists (#9412)
  app/src/interfaces/list-m2a/list-m2a.vue
  app/src/interfaces/list-o2m/list-o2m.vue
Labels: App, Bug

#9339 Added user rebinding on reconnect in LDAP
  api/src/auth/drivers/ldap.ts
Labels: API, Bug

#9394 Link to all (open & closed) issues in bug report
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: Optimization

#9393 Fix corresponding field name
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-relationship-m2m.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-relationship-m2o.vue
Labels: App, Bug

#9218 Update config-options.md
  docs/configuration/config-options.md
Labels: Documentation

#9425 Fixed SET NULL on directus_files for MSSQL
  api/src/database/migrations/20211101A-add-set-null-to-users-created-fields.ts
Labels: API, Bug, DB: MS SQL Server

#9403 Use primary key as default sort in map layout
  app/src/layouts/map/index.ts
  app/src/utils/sync-ref-property.ts
Labels: App, Bug

#9404 Relocate renovate config to .github
  .github/renovate.json
Labels: Optimization

#9401 Fix related value for alias typed fields (#9210)
  app/src/displays/related-values/related-values.vue
Labels: App, Bug

#9376 Allow dynamic user variables to be used with filter rules (cont.)
  api/src/app.ts
  api/src/cache.ts
  api/src/database/system-data/fields/activity.yaml
  api/src/database/system-data/fields/files.yaml
  api/src/database/system-data/fields/users.yaml
  api/src/database/system-data/fields/webhooks.yaml
  api/src/env.ts
  api/src/middleware/authenticate.ts
  api/src/middleware/get-permissions.ts
  api/src/services/authorization.ts
  api/src/services/collections.ts
  api/src/services/fields.ts
  api/src/services/files.ts
  api/src/services/graphql.ts
  api/src/services/import.ts
  api/src/services/meta.ts
  api/src/services/permissions.ts
  api/src/services/relations.ts
  api/src/services/specifications.ts
  api/src/services/utils.ts
  api/src/types/schema.ts
  api/src/utils/get-ast-from-query.ts
  api/src/utils/get-schema.ts
  api/src/utils/reduce-schema.ts
  app/src/displays/labels/labels.vue
  app/src/interfaces/_system/system-filter/input-component.vue
  app/src/interfaces/_system/system-filter/input-group.vue
  app/src/utils/translate-literal.ts
  app/src/views/private/components/search-input/search-input.vue
  docs/configuration/config-options.md
  docs/configuration/filter-rules.md
  packages/shared/src/composables/use-items.ts
  packages/shared/src/types/accountability.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/is-dynamic-variable.test.ts
  packages/shared/src/utils/is-dynamic-variable.ts
  packages/shared/src/utils/parse-filter.ts
Labels: API, App, New Feature, Notice, Sponsored

#8027 Rework hook registration
  api/src/app.ts
  api/src/cli/index.test.ts
  api/src/cli/index.ts
  api/src/controllers/not-found.ts
  api/src/emitter.ts
  api/src/exceptions/database/translate.ts
  api/src/extensions.ts
  api/src/middleware/error-handler.ts
  api/src/server.ts
  api/src/services/authentication.ts
  api/src/services/fields.ts
  api/src/services/files.ts
  api/src/services/items.ts
  api/src/types/extensions.ts
  api/src/webhooks.ts
  docs/extensions/hooks.md
  packages/extensions-sdk/templates/hook/javascript/src/index.js
  packages/extensions-sdk/templates/hook/typescript/src/index.ts
  packages/shared/src/types/hooks.ts
Labels: API, Improvement, Notice

#9437 Fix duplicate chat widget injection
  docs/.vuepress/theme/layouts/Homepage.vue
  docs/.vuepress/theme/layouts/Layout.vue
Labels: Bug, Documentation

#9418 Clean up API exports
  Dockerfile
  api/index.js
  api/package.json
  api/src/index.ts
  api/start.js
Labels: API, Optimization

#9440 Tweak project-settings page
  api/src/database/system-data/fields/settings.yaml
  app/src/lang/translations/en-US.yaml
Labels: App, Improvement

#9442 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/br-FR.yaml
  app/src/lang/translations/ca-ES.yaml
  app/src/lang/translations/da-DK.yaml
  app/src/lang/translations/de-DE.yaml
  app/src/lang/translations/es-419.yaml
  app/src/lang/translations/es-CL.yaml
  app/src/lang/translations/es-ES.yaml
  app/src/lang/translations/et-EE.yaml
  app/src/lang/translations/fi-FI.yaml
  app/src/lang/translations/fr-FR.yaml
  app/src/lang/translations/hu-HU.yaml
  app/src/lang/translations/it-IT.yaml
  app/src/lang/translations/lt-LT.yaml
  app/src/lang/translations/nl-NL.yaml
  app/src/lang/translations/pl-PL.yaml
  app/src/lang/translations/pt-BR.yaml
  app/src/lang/translations/ru-RU.yaml
  app/src/lang/translations/sl-SI.yaml
  app/src/lang/translations/sr-CS.yaml
  app/src/lang/translations/sv-SE.yaml
  app/src/lang/translations/th-TH.yaml
  app/src/lang/translations/zh-CN.yaml
Labels: automerge

#9441 Rename Collections Modules to Content Module
  app/src/constants.ts
  app/src/displays/related-values/related-values.vue
  app/src/lang/translations/en-US.yaml
  app/src/layouts/cards/index.ts
  app/src/layouts/map/index.ts
  app/src/layouts/tabular/index.ts
  app/src/modules/activity/routes/collection.vue
  app/src/modules/activity/routes/item.vue
  app/src/modules/content/components/navigation-bookmark.vue
  app/src/modules/content/components/navigation-item-content.vue
  app/src/modules/content/components/navigation-item.vue
  app/src/modules/content/components/navigation.vue
  app/src/modules/content/composables/use-navigation.ts
  app/src/modules/content/index.ts
  app/src/modules/content/routes/collection-or-item.vue
  app/src/modules/content/routes/collection.vue
  app/src/modules/content/routes/item.vue
  app/src/modules/content/routes/no-collections.vue
  app/src/modules/content/routes/not-found.vue
  app/src/routes/login/components/continue-as.vue
  app/src/routes/login/components/login-form/ldap-form.vue
  app/src/routes/login/components/login-form/login-form.vue
  app/src/views/private/components/header-bar/readme.md
Labels: App, Improvement, Notice

#9443 Add exports fields to all packages
  api/src/app.ts
  app/package.json
  docs/package.json
  packages/cli/package.json
  packages/cli/src/toolbox.ts
  packages/create-directus-extension/package.json
  packages/create-directus-project/package.json
  packages/drive-azure/package.json
  packages/drive-gcs/package.json
  packages/drive-s3/package.json
  packages/drive/package.json
  packages/format-title/package.json
  packages/schema/package.json
  packages/sdk/package.json
  packages/specs/package.json
Labels: Improvement

#9446 Rename activity->notifications module
  app/src/modules/activity/index.ts
  app/src/modules/content/index.ts
  app/src/modules/notifications/components/navigation.vue
  app/src/modules/notifications/index.ts
  app/src/modules/notifications/routes/collection.vue
  app/src/modules/notifications/routes/item.vue
  app/src/views/private/components/notifications-preview/notifications-preview.vue
Labels: App, Improvement

#9458 New Crowdin updates
  app/src/lang/translations/it-IT.yaml
Labels: automerge

#9472 New Crowdin updates
  app/src/lang/translations/it-IT.yaml
Labels: automerge

#9476 New Crowdin updates
  app/src/lang/translations/it-IT.yaml
Labels: automerge

#9477 Resolve calendar link to detail page
  app/src/layouts/calendar/index.ts
Labels: App, Bug

#9479 Group updates from Renovate and schedule them weekly
  .github/renovate.json
Labels: Optimization

#9420 Fix invalid collection for Interface Display Template for M2M relationships
  app/src/interfaces/files/index.ts
  app/src/interfaces/list-m2m/index.ts
Labels: App, Bug

#9080 SDK: refactor constructors
  docs/reference/sdk.md
  packages/cli/src/core/extensions/instances.ts
  packages/sdk/readme.md
  packages/sdk/src/auth.ts
  packages/sdk/src/base/auth.ts
  packages/sdk/src/base/directus.ts
  packages/sdk/src/base/storage/base.ts
  packages/sdk/src/base/storage/localstorage.ts
  packages/sdk/src/base/storage/memory.ts
  packages/sdk/src/base/transport.ts
  packages/sdk/src/base/transport/axios-transport.ts
  packages/sdk/src/base/transport/index.ts
  packages/sdk/src/directus.ts
  packages/sdk/src/handlers/extensions.ts
  packages/sdk/src/storage.ts
  packages/sdk/src/transport.ts
  packages/sdk/src/types.ts
  packages/sdk/src/utils.ts
  packages/sdk/tests/base/auth.browser.test.ts
  packages/sdk/tests/base/auth.node.test.ts
  packages/sdk/tests/base/directus.browser.test.ts
  packages/sdk/tests/base/directus.test.ts
  packages/sdk/tests/base/transport.test.ts
  packages/sdk/tests/base/transport/axios.test.ts
  packages/sdk/tests/utils.test.ts
Labels: Package: sdk, Notice

#9466 Fixing some type errors in app
  app/src/composables/use-item/use-item.ts
  app/src/modules/settings/routes/data-model/field-detail/store/alterations/global.ts
  app/src/modules/settings/routes/roles/app-permissions.ts
  app/src/stores/presets.ts
  app/src/stores/settings.ts
  app/src/views/private/components/search-input/search-input.vue
Labels: App, Optimization

#9450 fix docs homepage header responsiveness
  docs/.vuepress/theme/layouts/Homepage.vue
Labels: Documentation

#9482 New Crowdin updates
  app/src/lang/translations/it-IT.yaml
Labels: automerge

#9483 Fix nested system-interface-options usage
  app/src/interfaces/_system/system-interface-options/system-interface-options.vue
  app/src/interfaces/list/list.vue
Labels: App, Bug

#9485 Fix presentation-links interfaces
  app/src/interfaces/presentation-links/index.ts
Labels: App, Bug

#9486 Fix docs about SDK refactor
  docs/reference/sdk.md
Labels: Documentation

#9489 Clarify hook register function parameter descriptions in docs
  docs/extensions/hooks.md
  package-lock.json
Labels: Documentation

#9488 Schedule Renovate on a daily basis for now
  .github/renovate.json
Labels: Optimization

#9448 Use hash instead of random for default index name
  api/src/utils/get-default-index-name.ts
  api/src/utils/get-simple-hash.ts
Labels: API, Bug, DB: Postgres

#9490 Remove collection listing option from role settings
  api/src/database/migrations/20211104A-remove-collections-listing.ts
  api/src/database/system-data/fields/roles.yaml
  app/src/lang/translations/en-US.yaml
  docs/reference/system/roles.md
  packages/shared/src/types/users.ts
  packages/specs/src/components/role.yaml
  packages/specs/src/paths/roles/role.yaml
  packages/specs/src/paths/roles/roles.yaml
Labels: App, Improvement

#9491 Remove beta flag from insights
  app/src/constants.ts
  app/src/lang/translations/en-US.yaml
Labels: App, Improvement

#9447 Clean up interface options type
  app/src/displays/related-values/index.ts
  app/src/displays/translations/index.ts
  app/src/interfaces/_system/system-interface-options/system-interface-options.vue
  app/src/interfaces/files/index.ts
  app/src/interfaces/input-code/index.ts
  app/src/interfaces/input/index.ts
  app/src/interfaces/list-m2m/index.ts
  app/src/interfaces/list-o2m-tree-view/index.ts
  app/src/interfaces/list-o2m/index.ts
  app/src/interfaces/presentation-links/index.ts
  app/src/interfaces/select-dropdown-m2o/index.ts
  app/src/interfaces/translations/index.ts
  packages/shared/src/types/extensions.ts
  packages/shared/src/types/interfaces.ts
Labels: App, Optimization

#9494 Move union query application to applyQuery, fix where clause
  api/src/database/run-ast.ts
  api/src/utils/apply-query.ts
Labels: API, Bug

#9496 Don't show all migrations logged on init
  api/src/cli/commands/init/index.ts
  api/src/database/migrations/run.ts
Labels: Improvement, Package: create-directus-project

#9497 Small fixes for Hooks documentation
  docs/extensions/hooks.md
Labels: Documentation

#9501 Prevent negative hashes from being generated
  api/src/utils/get-simple-hash.ts
Labels: API, Bug

#9432 Properly handle M2A fields in fieldStore and useFieldTree
  api/src/utils/apply-query.ts
  app/src/components/v-field-select/v-field-select.vue
  app/src/components/v-field-template/v-field-template.vue
  app/src/composables/use-field-tree.ts
  app/src/interfaces/_system/system-field-tree/system-field-tree.vue
  app/src/interfaces/_system/system-filter/nodes.vue
  app/src/interfaces/_system/system-filter/system-filter.vue
  app/src/stores/fields.ts
Labels: App, Bug

#9502 Fix importing the SDK from a Node ESM environment
  packages/sdk/index.mjs
  packages/sdk/package.json
Labels: Bug, Package: sdk

#9397 Update geometric types and patch new field flow.
  api/src/database/helpers/geometry.ts
  api/src/database/migrations/20211103B-update-special-geometry.ts
  api/src/database/run-ast.ts
  api/src/database/seeds/run.ts
  api/src/services/fields.ts
  api/src/services/payload.ts
  api/src/services/specifications.ts
  api/src/utils/geometry.ts
  api/src/utils/get-default-value.ts
  api/src/utils/get-local-type.ts
  api/src/utils/get-schema.ts
  api/tsconfig.json
  app/src/displays/raw/index.ts
  app/src/interfaces/_system/system-filter/input-component.vue
  app/src/interfaces/map/index.ts
  app/src/interfaces/map/map.vue
  app/src/interfaces/map/options.vue
  app/src/lang/translations/en-US.yaml
  app/src/lang/translations/fr-FR.yaml
  app/src/layouts/map/index.ts
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-schema.vue
  app/src/utils/geometry/index.ts
  app/src/utils/get-default-display-for-type.ts
  app/src/utils/get-default-interface-for-type.ts
  packages/schema/src/dialects/postgres.ts
  packages/shared/src/constants/fields.ts
  packages/shared/src/types/fields.ts
Labels: App, Bug

#9514 Update Docker installation documentation
  docs/getting-started/installation/docker.md
Labels: Documentation, Optimization

#9517 Add note about Directus version in bug report
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: Optimization

#9522 Remove quotes on string values in raw display
  app/src/displays/raw/index.ts
Labels: App, Bug

#9504 fix repeater field names title format
  app/src/interfaces/list/list.vue
Labels: App, Improvement

#9513 Remove note about RC in the readme
  readme.md
Labels: Documentation

#9509 Update package-lock.json & fix warning from eslint
  app/src/interfaces/_system/system-filter/system-filter.vue
  package-lock.json
Labels: Optimization

#9535 Include the ESM entrypoint when publishing to npm
  packages/sdk/package.json
Labels: Bug, Package: sdk

#9532 divider title placeholder
  app/src/lang/translations/en-US.yaml
Labels: App, Improvement

#9537 Fix missing and wrong translations
  api/src/database/system-data/fields/settings.yaml
  api/src/database/system-data/fields/webhooks.yaml
  app/src/interfaces/input-rich-text-md/input-rich-text-md.vue
  app/src/lang/translations/en-US.yaml
  app/src/layouts/map/options.vue
Labels: App, Bug

#9558 Data model dense
  app/src/layouts/map/map.vue
  app/src/modules/settings/routes/data-model/collections/components/collection-item.vue
  app/src/views/private/components/layout-sidebar-detail/layout-sidebar-detail.vue
  app/src/views/private/components/sidebar-detail/sidebar-detail.vue
Labels: App, Improvement

#9554 small text update
  app/src/lang/translations/en-US.yaml
Labels: App, Improvement

#9553 Minor docs fixes
  docs/configuration/data-model.md
  docs/configuration/presets-bookmarks.md
  docs/configuration/relationships.md
  docs/configuration/upgrades-migrations.md
  docs/contributing/github-ci.md
  docs/extensions/displays.md
  docs/extensions/interfaces.md
  docs/extensions/layouts.md
  docs/extensions/modules.md
  docs/getting-started/glossary.md
  docs/getting-started/installation/iis.md
  docs/reference/cli.md
  docs/reference/files.md
  docs/reference/introduction.md
  docs/reference/items.md
  docs/reference/sdk.md
  docs/reference/system/collections.md
Labels: Documentation

#9548 Fix lose data on M2M
  app/src/interfaces/list-m2m/list-m2m.vue
  app/src/interfaces/list-m2m/use-preview.ts
  app/src/interfaces/list-m2m/use-selection.ts
Labels: App, Bug

#9530 fix elements z-index higher than app header bar
  app/src/interfaces/input-code/input-code.vue
  app/src/styles/lib/_codemirror.scss
Labels: App, Bug

#9610 update in-app docs nav
  docs/app/documentation.md
Labels: Documentation

#9611 fix in-app docs homepage
  app/src/modules/docs/index.ts
Labels: Documentation

#9612 fixes: #9568
  app/src/modules/docs/components/links.yaml
Labels: App, Bug, Documentation

#9625 Add support for AWS SES
  api/package.json
  api/src/mailer.ts
  docs/configuration/config-options.md
Labels: API, Improvement

#9632 Fix field schema unique option
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-schema.vue
Labels: App, Bug

#9638 Show items for all days in calendar layout
  app/src/layouts/calendar/index.ts
Labels: App, Improvement

#9605 doc app links should not point externally
  docs/app/overview.md
Labels: Documentation

#9606 clean up in-app docs
  docs/app/content-collections.md
Labels: Documentation

#9607 collections to content
  docs/app/content-items.md
Labels: Documentation

#9512 No 'latest' Docker tag on pre-releases anymore
  .github/workflows/release.yml
Labels: Docker, Optimization

#9652 Fix relation not having collection and field values
  api/src/utils/apply-snapshot.ts
Labels: API, Bug

#9644 Allow for discarding of changes without leaving
  app/src/modules/content/routes/item.vue
  app/src/modules/files/routes/item.vue
  app/src/modules/settings/routes/webhooks/item.vue
  app/src/modules/users/routes/item.vue
  app/src/views/private/components/save-options/save-options.vue
Labels: App, Improvement

#9618 Import 'Fira Mono' & 'Merriweather' into WYSIWYG
  app/src/interfaces/input-rich-text-html/get-editor-styles.ts
Labels: App, Improvement

#9629 Don't cache root index.html
  api/src/app.ts
Labels: API, Bug

#9588 Fix repeater interface template
  app/src/interfaces/list/list.vue
Labels: App, Bug

#9615 Fix unexpected camera update and unavailable clustering option in map
  app/src/layouts/cards/index.ts
  app/src/layouts/map/index.ts
  app/src/layouts/map/map.vue
  app/src/layouts/tabular/index.ts
  app/src/utils/sync-ref-property.ts
Labels: App, Bug

#9621 Fix MySQL wkt conversion and fix SRID for Postgres geometry columns
  api/src/database/helpers/geometry.ts
Labels: API, Bug, DB: MySQL

#9616 Expose server instance in action hook 'server.start'
  api/src/server.ts
  docs/extensions/hooks.md
Labels: API, Documentation, Improvement

#9657 Use Postgis image in docker-compose example from the docs
  docs/getting-started/installation/docker.md
Labels: Documentation

#9656 Add wait to await database
  tests/setup/setup.ts
Labels: Bug, Tests

#9662 Patch parameter type for syncRefProperty
  app/src/layouts/tabular/index.ts
Labels: App, Bug

#9661 Emit `auth.jwt` on refresh
  api/src/services/authentication.ts
  docs/extensions/hooks.md
Labels: API, Bug

#9675 New Crowdin updates
  app/src/lang/translations/fa-IR.yaml
Labels: automerge

#9676 New Crowdin updates
  app/src/lang/translations/fa-IR.yaml
Labels: automerge

#9684 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
Labels: automerge

#9685 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/it-IT.yaml
Labels: automerge

#9686 New Crowdin updates
  app/src/lang/translations/it-IT.yaml
Labels: automerge

#9635 Fixed Oracle special geometry migration
  api/src/database/migrations/20211103B-update-special-geometry.ts
Labels: API, Bug, DB: Oracle

#9689 Add references for social & material icons
  docs/configuration/config-options.md
  docs/extensions/displays.md
  docs/extensions/interfaces.md
  docs/extensions/layouts.md
  docs/extensions/modules.md
  docs/getting-started/glossary.md
Labels: Documentation

#9677 Exclude hidden Oracle SYS columns
  packages/schema/src/dialects/oracledb.ts
Labels: API, Bug, DB: Oracle

#9598 Use "access_token" with "openid-client" to fix Facebook auth
  api/src/auth/drivers/oauth2.ts
  api/src/auth/drivers/openid.ts
Labels: API, Bug

#9693 New Crowdin updates
  app/src/lang/translations/it-IT.yaml
Labels: automerge

#9674 Clean up save-options
  app/src/lang/translations/en-US.yaml
  app/src/views/private/components/save-options/save-options.vue
Labels: App, Improvement

#9696 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/it-IT.yaml
Labels: automerge

#9703 New Crowdin updates
  app/src/lang/translations/pl-PL.yaml
Labels: automerge

#9716 New Crowdin updates
  app/src/lang/translations/ku-TR.yaml
Labels: automerge

#9719 New Crowdin updates
  app/src/lang/translations/ku-TR.yaml
Labels: automerge

#9725 Fix pass options to transport
  packages/sdk/src/base/directus.ts
Labels: Package: sdk
