Repository directus/directus, pull requests merged in 2021-10, with the labels that each got.

#8478 Move extension management into a class
  api/src/app.ts
  api/src/cli/index.ts
  api/src/controllers/extensions.ts
  api/src/extensions.ts
  api/src/services/graphql.ts
Labels: API, Optimization

#8475 Drop support for display handler functions in favor of functional components and make the routes module config required
  app/src/displays/boolean/index.ts
  app/src/displays/collection/index.ts
  app/src/displays/color/index.ts
  app/src/displays/datetime/index.ts
  app/src/displays/file/index.ts
  app/src/displays/filesize/handler.ts
  app/src/displays/filesize/index.ts
  app/src/displays/formatted-json-value/index.ts
  app/src/displays/formatted-value/index.ts
  app/src/displays/icon/index.ts
  app/src/displays/image/index.ts
  app/src/displays/labels/index.ts
  app/src/displays/mime-type/index.ts
  app/src/displays/rating/index.ts
  app/src/displays/raw/index.ts
  app/src/displays/register.ts
  app/src/displays/related-values/index.ts
  app/src/displays/user/index.ts
  app/src/interfaces/register.ts
  app/src/layouts/register.ts
  app/src/panels/register.ts
  app/src/panels/types.ts
  app/src/views/private/components/render-display/render-display.vue
  app/src/views/private/components/render-template/render-template.vue
  docs/guides/displays.md
  packages/extensions-sdk/templates/display/javascript/src/index.js
  packages/extensions-sdk/templates/display/typescript/src/index.ts
  packages/shared/src/types/displays.ts
  packages/shared/src/types/interfaces.ts
  packages/shared/src/types/layouts.ts
  packages/shared/src/types/modules.ts
  packages/shared/src/types/panels.ts
  packages/shared/src/utils/define-extension.test.ts
Labels: App, Extensions, Optimization, Notice

#8490 Disable Cron hooks when only the CLI is running
  api/src/cli/index.ts
  api/src/extensions.ts
Labels: API, Bug

#8504 Hide revision's revert button for created entries
  app/src/views/private/components/revisions-drawer-detail/revisions-drawer.vue
Labels: App, Bug, Hacktoberfest

#8528 Set integer type on tileSize
  api/src/database/system-data/fields/settings.yaml
Labels: App, Bug

#8526 Fix password exception crashing server
  api/src/services/users.ts
Labels: API, Bug, Hacktoberfest

#8513 Add empty object check for permissions
  app/src/interfaces/_system/system-filter/system-filter.vue
Labels: App, Bug, Hacktoberfest

#8509 Add revert event handling in users module
  app/src/modules/users/routes/item.vue
Labels: App, Bug, Hacktoberfest

#8507 add basemaps to translations
  app/src/lang/translations/en-US.yaml
Labels: App, Hacktoberfest

#8546 Fix raw display with boolean value
  app/src/displays/raw/index.ts
Labels: App

#8554 autofocus input for Import from URL dialog
  app/src/components/v-upload/v-upload.vue
  app/src/interfaces/file/file.vue
Labels: App, Improvement

#8553 pass MutationOptions to createOne
  api/src/services/items.ts
Labels: API, Bug

#8563 Fix loading pack extensions without path and source fields
  packages/shared/src/utils/validate-extension-manifest.test.ts
  packages/shared/src/utils/validate-extension-manifest.ts
Labels: Extensions, Package: shared

#8567 Fix data model edits tracking
  app/src/modules/settings/routes/data-model/fields/fields.vue
Labels: App, Bug

#8590 Recommend npm init directus-project to create a project
  api/README.md
  docs/getting-started/quickstart.md
  docs/guides/installation/cli.md
  packages/create-directus-project/readme.md
  readme.md
Labels: Documentation, Optimization

#8575 Fix field permissions check in aggregate
  api/src/services/authorization.ts
Labels: API, Bug

#8593 Make directus:extension.hidden optional
  packages/extensions-sdk/src/cli/commands/create.ts
  packages/shared/src/types/extensions.ts
  packages/shared/src/utils/node/get-extensions.test.ts
  packages/shared/src/utils/validate-extension-manifest.test.ts
  packages/shared/src/utils/validate-extension-manifest.ts
Labels: Extensions, Improvement

#9241 Add CLI to exports
  api/package.json
Labels: Bug

#9256 Fixed Github oauth config in docs
  docs/configuration/config-options.md
Labels: Documentation
