Repository directus/directus, pull requests merged in 2021-07, with the labels that each got.

#6601 Docker image build: Try for 7.5 mins and stop build process if still not succesful
  .github/actions/build-images/rootfs/directus/images/main/Dockerfile
Labels: Bug, Docker

#6640 Support arrays in formatted-json-value display
  app/src/displays/formatted-json-value/formatted-json-value.vue
Labels: App, Improvement

#6621 add full tfa support to sdk
  packages/sdk/src/handlers/tfa.ts
  packages/sdk/src/types.ts
  packages/sdk/tests/handlers/tfa.test.ts
Labels: Improvement, Package: sdk

#6659 Install exact version of Directus
  .github/actions/build-images/rootfs/directus/images/main/Dockerfile
Labels: Docker, Improvement, Optimization

#6645 Fix item.read hook not firing for readByQuery
  api/src/services/items.ts
  docs/guides/api-hooks.md
Labels: API, Bug

#6700 Fix requiring vue from a cjs/umd dependency in a extension
  packages/extension-sdk/src/cli/commands/build.ts
Labels: Bug, Extensions

#6590 Add create command to extension-sdk CLI
  .eslintignore
  package-lock.json
  packages/extension-sdk/package.json
  packages/extension-sdk/src/cli/commands/build.ts
  packages/extension-sdk/src/cli/commands/create.ts
  packages/extension-sdk/src/cli/index.ts
  packages/extension-sdk/templates/common/.gitignore
  packages/extension-sdk/templates/display/src/display.vue
  packages/extension-sdk/templates/display/src/index.js
  packages/extension-sdk/templates/endpoint/src/index.js
  packages/extension-sdk/templates/hook/src/index.js
  packages/extension-sdk/templates/interface/src/index.js
  packages/extension-sdk/templates/interface/src/interface.vue
  packages/extension-sdk/templates/layout/src/index.js
  packages/extension-sdk/templates/layout/src/layout.vue
  packages/extension-sdk/templates/module/src/index.js
  packages/extension-sdk/templates/module/src/module.vue
  packages/shared/src/constants/extensions.ts
  packages/shared/src/utils/get-extensions.ts
Labels: Extensions, New Feature

#6706 Configure build command based on extension manifest
  packages/extension-sdk/src/cli/commands/build.ts
  packages/extension-sdk/src/cli/commands/create.ts
  packages/extension-sdk/src/cli/index.ts
  packages/extension-sdk/src/cli/utils/logger.ts
  packages/extension-sdk/src/cli/utils/validate-extension-package.ts
Labels: Extensions, Improvement

#6718 Optimize extension-sdk CLI types
  api/src/controllers/extensions.ts
  packages/extension-sdk/src/cli/commands/build.ts
  packages/extension-sdk/src/cli/commands/create.ts
  packages/extension-sdk/src/cli/utils/validate-extension-manifest.ts
  packages/extension-sdk/src/cli/utils/validate-extension-package.ts
  packages/shared/src/types/extensions.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/is-extension.ts
Labels: Extensions, Optimization

#6737 Rename ensure-extensions-dirs.ts to align with function name
  packages/shared/src/utils/ensure-extension-dirs.ts
  packages/shared/src/utils/index.ts
Labels: Optimization

#6741 Small Makefile change (for manual image build)
  .github/actions/Makefile
Labels: Optimization

#6742 Support invite_url in SDK invite method
  packages/sdk/src/handlers/invites.ts
Labels: New Feature, Package: sdk

#6740 Fix "Duplicate environment variable" error message never showing up
  api/src/env.ts
Labels: API, Bug

#6735 Allow extension-sdk to bundle API extensions as well
  packages/extension-sdk/src/cli/commands/build.ts
  packages/extension-sdk/templates/endpoint/src/index.js
  packages/extension-sdk/templates/hook/src/index.js
  packages/shared/src/constants/extensions.ts
Labels: Extensions, New Feature

#6732 Fix two small issues around field grouping
  app/src/modules/settings/routes/data-model/field-detail/components/field.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail.vue
Labels: App, Bug

#6734 No error message from password reset request #6658
  api/src/controllers/auth.ts
Labels: API, Improvement

#6719 Add readme files to shared and extension-sdk
  packages/extension-sdk/readme.md
  packages/shared/readme.md
Labels: Optimization

#6783 Fixed issue that would prevent reordering in M2A
  api/src/services/payload.ts
Labels: API, Bug

#6746 Add encrypt option to MS SQL questions
  api/src/cli/commands/init/questions.ts
  api/src/cli/utils/create-db-connection.ts
Labels: API, DB: MS SQL Server, Improvement

#6785 Clarify definition of environment variables
  docs/reference/environment-variables.md
Labels: Documentation

#6784 Add note about sensitive values in Docker guide
  docs/guides/installation/docker.md
Labels: Documentation

#6733 Fix md editor being empty when editing existing value
  app/src/interfaces/input-rich-text-md/input-rich-text-md.vue
Labels: App, Bug

#6759 Build improvements
  .github/actions/build-images/Dockerfile
  .github/actions/build-images/action.yml
  .github/actions/build-images/rootfs/directus/images/main/.editorconfig
  .github/actions/build-images/rootfs/directus/images/main/rootfs/usr/local/bin/entrypoint
  .github/actions/build-images/rootfs/directus/images/main/rootfs/usr/local/bin/print
  .github/actions/build-images/rootfs/usr/bin/entrypoint
  .github/actions/build-images/rootfs/usr/bin/lib/argsf
  .github/actions/build-images/rootfs/usr/bin/semver
  .github/workflows/build-images.yml
  .github/workflows/create-release.yml
  .github/workflows/release.yml
  .npmrc
  docker/.dockerignore
  docker/.editorconfig
  docker/Dockerfile
  docker/Makefile
  docker/pack.js
  docs/.vuepress/config.js
  docs/contributing/github-ci.md
  docs/contributing/introduction.md
  package.json
Labels: Docker, Notice, Optimization

#6799 Support Slovenian language
  app/src/lang/available-languages.yaml
Labels: App, New Feature

#6795 Support global installation and add update check
  packages/create-directus-project/lib/index.js
  packages/create-directus-project/package.json
Labels: Package: create-directus-project

#6800 Fetch all languages in the translations interface
  app/src/interfaces/translations/translations.vue
Labels: App, Bug

#6801 Fix permissions/validation default value for full
  app/src/modules/settings/routes/roles/item/composables/use-update-permissions.ts
Labels: App, Bug

#6804 Allow setting a custom mailgun host
  api/src/mailer.ts
  docs/reference/environment-variables.md
Labels: API, Improvement

#6805 disable lerna access verification
  .github/workflows/release.yml
Labels: Bug

#6806 Fix system locked fields showing double
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
Labels: App, Bug

#6807 Clear group when duplicating field
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
Labels: App, Bug

#6808 Use [String] for CSV type in GraphQL
  api/src/utils/get-graphql-type.ts
Labels: API, Bug, GraphQL

#6809 Fix relationship setup not showing current collection
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-m2a.vue
  app/src/modules/settings/routes/data-model/field-detail/components/translations.vue
Labels: App, Bug

#6810 Fix sidebar overflow in preset detail
  app/src/modules/settings/routes/presets/item.vue
Labels: App, Bug

#6813 Add required deps for Docker ARM build
  docker/Dockerfile
Labels: Bug

#6824 add updateByQuery to js sdk
  packages/sdk/src/base/items.ts
Labels: New Feature, Package: sdk

#6835 Add v-md directive
  app/src/components/v-form/form-field.vue
  app/src/components/v-form/v-form.vue
  app/src/directives/markdown.ts
  app/src/directives/register.ts
  app/src/interfaces/input-rich-text-md/input-rich-text-md.vue
  app/src/interfaces/presentation-notice/presentation-notice.vue
  app/src/modules/activity/routes/collection.vue
  app/src/modules/collections/routes/collection.vue
  app/src/modules/collections/routes/item.vue
  app/src/modules/collections/routes/overview.vue
  app/src/modules/docs/components/markdown.vue
  app/src/modules/docs/routes/static.vue
  app/src/modules/files/components/file-info-sidebar-detail.vue
  app/src/modules/files/routes/collection.vue
  app/src/modules/settings/routes/data-model/collections/collections.vue
  app/src/modules/settings/routes/data-model/fields/fields.vue
  app/src/modules/settings/routes/presets/collection/components/presets-info-sidebar-detail.vue
  app/src/modules/settings/routes/presets/item.vue
  app/src/modules/settings/routes/project/components/project-info-sidebar-detail.vue
  app/src/modules/settings/routes/roles/collection.vue
  app/src/modules/settings/routes/roles/item/components/role-info-sidebar-detail.vue
  app/src/modules/settings/routes/webhooks/collection.vue
  app/src/modules/settings/routes/webhooks/item.vue
  app/src/modules/users/components/user-info-sidebar-detail.vue
  app/src/modules/users/routes/collection.vue
  app/src/views/private/components/comments-sidebar-detail/comment-item.vue
  app/src/views/public/public-view.vue
Labels: App, Extensions, Improvement, Optimization

#6836 Fix production build on node versions <16
  docker/pack.js
  docs/build.js
  packages/shared/src/utils/generate-extensions-entry.ts
Labels: Bug, Package: shared

#6838 Auto-open groups on search in tree-select
  app/src/components/v-checkbox-tree/v-checkbox-tree-checkbox.vue
  app/src/components/v-checkbox-tree/v-checkbox-tree.vue
  app/src/components/v-list/v-list-group.vue
  app/src/interfaces/select-multiple-checkbox-tree/select-multiple-checkbox-tree.vue
Labels: App, Improvement

#6840 Show warning when PUBLIC_URL isn't correctly configured
  api/src/app.ts
  docs/reference/environment-variables.md
Labels: API, Improvement

#6830 Fix session memcache variable name
  docs/reference/environment-variables.md
Labels: Documentation

#6841 Fixed issue that would cause the wrong field to be extracted when using "detailed" updates in o2m with non-"id" primary keys
  api/src/services/payload.ts
  docs/reference/api/introduction.md
Labels: API, Bug

#6843 Improve default value extraction in MS SQL
  api/package.json
  package-lock.json
Labels: API, Improvement

#6846 Correctly document the default value of PUBLIC_URL
  docs/reference/environment-variables.md
Labels: Documentation

#6847 Make sure every DB returns time as HH:mm:ss
  api/src/services/payload.ts
Labels: API, Bug, DB: MS SQL Server

#6856 Fix logs logo alignment
  app/src/constants.ts
Labels: App, Bug

#6860 Use `/` as default value for public_url
  api/src/env.ts
  docs/reference/environment-variables.md
Labels: API, Improvement

#6862 Fix extension loading on Windows
  packages/shared/src/utils/generate-extensions-entry.ts
Labels: API, Bug, Extensions

#6845 Make extension loading more robust
  api/src/extensions.ts
  packages/extension-sdk/src/cli/commands/build.ts
  packages/extension-sdk/src/cli/utils/validate-extension-manifest.ts
  packages/shared/src/constants/extensions.ts
  packages/shared/src/types/extensions.ts
  packages/shared/src/utils/ensure-extension-dirs.ts
  packages/shared/src/utils/get-extensions.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/is-extension.ts
  packages/shared/src/utils/validate-extension-manifest.ts
Labels: API, Extensions, Improvement

#6876 Add note about change in naming of Docker tags
  docs/guides/installation/docker.md
Labels: Documentation

#6878 Fix update/delete relation docs
  docs/reference/api/system/relations.md
Labels: Bug, Documentation

#6884 Use path in docker/pack.js instead of path.posix
  docker/pack.js
Labels: Optimization

#6885 Update *.vue import type shim
  app/src/shims.d.ts
Labels: App, Optimization

#6890 Allow using a custom name for the refresh token cookie
  api/example.env
  api/src/cli/utils/create-env/env-stub.liquid
  api/src/controllers/auth.ts
  api/src/env.ts
  api/src/logger.ts
  api/src/services/graphql.ts
  docs/reference/environment-variables.md
Labels: API, New Feature

#6895 Update Discussions link
  readme.md
Labels: Documentation

#6593 Allow custom transformations of assets
  api/package.json
  api/src/constants.ts
  api/src/controllers/assets.ts
  api/src/database/system-data/fields/settings.yaml
  api/src/env.ts
  api/src/services/assets.ts
  api/src/services/files.ts
  api/src/types/assets.ts
  api/src/utils/transformations.ts
  app/src/styles/lib/_codemirror.scss
  docs/reference/api/assets.md
  docs/reference/environment-variables.md
  package-lock.json
  packages/specs/src/components/setting.yaml
  packages/specs/src/paths/assets/assets.yaml
Labels: API, New Feature

#3209 Add default-folder option
  api/src/database/migrations/20210721A-add-default-folder.ts
  api/src/database/system-data/fields/settings.yaml
  api/src/services/files.ts
  app/src/components/v-form/form-field-interface.vue
  app/src/components/v-form/form-field.vue
  app/src/components/v-upload/v-upload.vue
  app/src/composables/use-folders.ts
  app/src/interfaces/_system/system-folder/folder-list-item.vue
  app/src/interfaces/_system/system-folder/folder.vue
  app/src/interfaces/_system/system-folder/index.ts
  app/src/interfaces/file-image/file-image.vue
  app/src/interfaces/file-image/index.ts
  app/src/interfaces/file/file.vue
  app/src/interfaces/file/index.ts
  app/src/lang/translations/en-US.yaml
  app/src/modules/files/components/add-folder.vue
  app/src/modules/files/components/navigation-folder.vue
  app/src/modules/files/components/navigation.vue
  app/src/modules/files/routes/collection.vue
  app/src/utils/upload-files/upload-files.ts
  docs/.vuepress/theme/global-components/CodeBlock.vue
  docs/.vuepress/theme/global-components/CodeGroup.vue
  docs/guides/installation/docker.md
  docs/reference/environment-variables.md
  packages/specs/src/components/setting.yaml
Labels: App, New Feature

#6921 Remove unused 'ref' (eslint warning)
  app/src/interfaces/_system/system-folder/folder.vue
Labels: App, Optimization

#6919 Improvement/add volta js tool manager
  docs/contributing/running-locally.md
  package.json
Labels: Optimization

#6920 Use `--workspace` instead of `cd` in "Running locally" guide
  docs/contributing/running-locally.md
Labels: Documentation

#6925 Fix SDK invite accept
  packages/sdk/src/handlers/invites.ts
Labels: Bug, Package: sdk

#6929 Replace DIRECTUS_DEV env var with NODE_ENV and SERVE_APP
  api/package.json
  api/src/app.ts
  api/src/extensions.ts
  api/src/server.ts
  api/src/utils/track.ts
  docs/reference/environment-variables.md
  package.json
Labels: API, Improvement

#6943 Fix form field sort order
  app/src/composables/use-form-fields/use-form-fields.ts
Labels: App, Bug

#6962 Add PUBLIC_URL example in docker-compose guide
  docs/guides/installation/docker.md
Labels: Documentation

#6975 Update knex-schema-inspector@1.5.12
  api/package.json
  package-lock.json
Labels: Dependencies

#6968 Fix quotes with schema default values
  packages/schema/src/dialects/oracledb.ts
  packages/schema/src/dialects/sqlite.ts
  packages/schema/src/utils/strip-quotes.ts
Labels: API, Bug

#6977 Improve error reporting on CLI bootstrap command
  api/src/cli/commands/bootstrap/index.ts
  api/src/database/index.ts
Labels: API, Improvement

#6984 Fix pino deprecation warning
  api/src/logger.ts
Labels: API, Improvement

#6987 Wait for the database to be ready in bootstrap step
  api/src/cli/commands/bootstrap/index.ts
Labels: API, Improvement

#6924 Add modular extension badge to app docs
  app/src/modules/docs/routes/static.vue
Labels: App, Bug

#6852 Support for notifying user if an update is available for Directus CLI
  api/package.json
  api/src/start.ts
  api/tsconfig.json
Labels: API, Improvement

#7003 Default SERVE_APP to true
  api/src/app.ts
  api/src/env.ts
Labels: API, Bug, Improvement

#7005 Fix advanced filter sidebar detail
  app/src/views/private/components/filter-sidebar-detail/field-filter.vue
  app/src/views/private/components/filter-sidebar-detail/filter-sidebar-detail.vue
Labels: App, Bug

#7008 Prevent from deleting the last admin user
  api/src/services/payload.ts
  api/src/services/roles.ts
  api/src/services/users.ts
  api/src/types/items.ts
  app/src/lang/translations/en-US.yaml
Labels: API, Bug, New Feature

#7012 Fix M2O type in O2M creation when referencing UUID-PK collections
  app/src/modules/settings/routes/data-model/field-detail/store.ts
Labels: App, Bug

#7013 Use limit layoutQuery in export sidebar detail
  app/src/views/private/components/export-sidebar-detail/export-sidebar-detail.vue
Labels: App, Improvement

#7014 Add new /utils/cache/clear endpoint
  api/src/controllers/utils.ts
  api/src/services/graphql.ts
  docs/reference/api/system/utilities.md
Labels: API, New Feature

#7018 Add selectMode to Calendar layout
  app/src/layouts/calendar/calendar.vue
  app/src/layouts/calendar/index.ts
  app/src/styles/lib/_fullcalendar.scss
Labels: App, Bug

#7019 Fix MS SQL unique constraint field name extraction
  api/src/exceptions/database/dialects/mssql.ts
Labels: API, Bug, DB: MS SQL Server

#7020 Don't return collections outside of cache
  api/src/services/collections.ts
Labels: API, Bug

#7021 Fix cache-key causing problems in memcached
  api/src/middleware/cache.ts
  api/src/utils/get-cache-key.ts
  docker-compose.yml
Labels: API, Bug

#7027 Move object-hash to non-optional deps
  api/package.json
  package-lock.json
Labels: API, Bug

#7025 Handle autocomplete empty path configurations
  app/src/interfaces/input-autocomplete-api/input-autocomplete-api.vue
Labels: App, Improvement

#7041 Fix mssql max-length doubling
  api/package.json
  package-lock.json
  packages/schema/package.json
  packages/shared/package.json
Labels: API, Bug, DB: MS SQL Server

#7042 Fix type checking in password reset controller
  api/src/controllers/auth.ts
Labels: API, Bug

#7044 Create index.js file for Gatsby Themes
  packages/gatsby-source-directus/index.js
Labels: Package: gatsby-source-directus

#7045 Remove illegal words from translations root
  app/src/components/v-upload/v-upload.vue
  app/src/interfaces/file/file.vue
  app/src/interfaces/list/options.vue
  app/src/lang/translations/en-US.yaml
  app/src/lang/translations/nl-NL.yaml
  app/src/modules/activity/components/navigation.vue
  app/src/modules/collections/components/navigation-bookmark.vue
  app/src/modules/collections/routes/collection.vue
  app/src/modules/collections/routes/item.vue
  app/src/modules/files/components/navigation-folder.vue
  app/src/modules/files/routes/collection.vue
  app/src/modules/files/routes/item.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail.vue
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
  app/src/modules/settings/routes/data-model/fields/fields.vue
  app/src/modules/settings/routes/presets/collection/collection.vue
  app/src/modules/settings/routes/presets/item.vue
  app/src/modules/settings/routes/roles/collection.vue
  app/src/modules/settings/routes/roles/item/components/permissions-overview-header.vue
  app/src/modules/settings/routes/roles/item/item.vue
  app/src/modules/settings/routes/roles/permissions-detail/components/fields.vue
  app/src/modules/settings/routes/roles/permissions-detail/components/permissions.vue
  app/src/modules/settings/routes/roles/permissions-detail/components/presets.vue
  app/src/modules/settings/routes/roles/permissions-detail/components/validation.vue
  app/src/modules/settings/routes/roles/permissions-detail/permissions-detail.vue
  app/src/modules/settings/routes/roles/public-item.vue
  app/src/modules/settings/routes/webhooks/collection.vue
  app/src/modules/settings/routes/webhooks/item.vue
  app/src/modules/users/routes/collection.vue
  app/src/modules/users/routes/item.vue
  app/src/routes/login/components/continue-as/continue-as.vue
  app/src/views/private/components/comments-sidebar-detail/comment-item-header.vue
Labels: App, Bug

#7049 Fix value unstaging in nested field groups
  app/src/components/v-form/v-form.vue
Labels: App, Bug

#7050 Don't throw 500 on missing email
  api/src/services/users.ts
Labels: API, Bug

#7057 Fix last action button not surfacing on mobile
  app/src/views/private/components/header-bar-actions/header-bar-actions.vue
Labels: App, Bug

#6775 Calendar range render
  api/src/services/payload.ts
  app/src/layouts/calendar/index.ts
Labels: App, Bug

#7060 Fix top level perm check on nested m2a records
  api/src/services/authorization.ts
  api/src/services/fields.ts
  api/src/services/payload.ts
  api/src/types/files.ts
Labels: API, Bug

#7059 Added "Default Open" Checkbox to Field Group Dividers
  app/src/interfaces/group-divider/group-divider.vue
  app/src/interfaces/group-divider/index.ts
  app/src/lang/translations/de-DE.yaml
  app/src/lang/translations/en-US.yaml
Labels: App, Improvement

#7077 Add note on hook params
  docs/guides/api-hooks.md
Labels: Documentation

#7079 Add note on npm run dev restart
  docs/contributing/running-locally.md
Labels: Documentation

#7099 Add note regarding required directus:extension field to extension docs
  docs/guides/displays.md
  docs/guides/interfaces.md
  docs/guides/layouts.md
  docs/guides/modules.md
Labels: Documentation

#7100 Clean up type declarations in shared
  packages/shared/utils/browser.d.ts
  packages/shared/utils/node.ts
Labels: Optimization, Package: shared

#7101 Surface dropdown choices in advanced sidebar filter
  app/src/components/v-select/select-list-item-group.vue
  app/src/components/v-select/select-list-item.vue
  app/src/components/v-select/types.ts
  app/src/components/v-select/v-select.vue
  app/src/interfaces/_system/system-scope/index.ts
  app/src/interfaces/select-dropdown/select-dropdown.vue
  app/src/views/private/components/filter-sidebar-detail/field-filter.vue
  app/src/views/private/components/filter-sidebar-detail/filter-input.vue
Labels: App, New Feature

#7102 Render list group arrows on the left of the group checkbox in the tree select interface
  app/src/components/v-checkbox-tree/v-checkbox-tree-checkbox.vue
  app/src/components/v-list/v-list-group.vue
Labels: App, Improvement

#7103 Add a standardized max-height to tree select interface
  app/src/interfaces/select-multiple-checkbox-tree/select-multiple-checkbox-tree.vue
  app/src/styles/_variables.scss
Labels: App, Improvement

#7104 Fix users accountability tracking
  api/src/database/system-data/collections/collections.yaml
Labels: API, Bug

#7105 Stall login/pw reset to prevent email leaking
  api/src/services/authentication.ts
  api/src/services/users.ts
  api/src/utils/stall.ts
Labels: API, Improvement

#7106 Add note on conditional fields
  docs/guides/fields.md
Labels: Documentation

#7108 Fix link to conditions and adapt text
  docs/guides/fields.md
Labels: Documentation
