Repository directus/directus, pull requests merged in 2021-01, with the labels that each got.

#3645 Create event emitter take out transaction scope.
  api/src/services/items.ts
Labels: Bug

#3662 Update URL + Requirements Tip
  docs/getting-started/contributing.md
Labels: Documentation

#3594 1128.01 - Fix Broken Links (Getting Started): Update installation guide.
  docs/guides/installation/cli.md
  docs/readme.md
Labels: Documentation

#3497 Replace `express-async-handler` for a local function.
  api/package.json
  api/src/controllers/activity.ts
  api/src/controllers/assets.ts
  api/src/controllers/auth.ts
  api/src/controllers/collections.ts
  api/src/controllers/extensions.ts
  api/src/controllers/fields.ts
  api/src/controllers/files.ts
  api/src/controllers/folders.ts
  api/src/controllers/graphql.ts
  api/src/controllers/items.ts
  api/src/controllers/permissions.ts
  api/src/controllers/presets.ts
  api/src/controllers/relations.ts
  api/src/controllers/revisions.ts
  api/src/controllers/roles.ts
  api/src/controllers/server.ts
  api/src/controllers/settings.ts
  api/src/controllers/users.ts
  api/src/controllers/utils.ts
  api/src/controllers/webhooks.ts
  api/src/middleware/authenticate.ts
  api/src/middleware/cache.ts
  api/src/middleware/check-ip.ts
  api/src/middleware/collection-exists.ts
  api/src/middleware/rate-limiter.ts
  api/src/middleware/respond.ts
  api/src/middleware/schema.ts
  api/src/middleware/use-collection.ts
  api/src/utils/async-handler.ts
  package-lock.json
Labels: API, Bug, New Feature

#3460 Reset value of v-input to NULL if input is empty
  app/src/components/v-input/v-input.vue
  app/src/interfaces/text-input/index.ts
  app/src/interfaces/text-input/text-input.vue
  app/src/lang/translations/en-US.yaml
Labels: App, Bug

#3693 Add retries for npm install build step
  .github/actions/Makefile
  .github/actions/build-images/rootfs/directus/images/main/Dockerfile
  .github/actions/build-images/rootfs/directus/images/main/examples/docker-compose.yml
  .github/actions/build-images/rootfs/directus/images/main/package.json
Labels: Docker

#3692 Add option to specify .env filename in development
  .gitignore
  api/package.json
Labels: Optimization

#3697 Fix building on Node v10
  packages/format-title/rollup.config.js
  packages/sdk-js/rollup.config.js
Labels: Optimization, Package: format-title

#3738 Fix wrong number casting in query
  api/src/utils/apply-query.ts
Labels: API, Bug

#3742 Pin sqlite3 version in Docker and update other dependencies
  .github/actions/build-images/rootfs/directus/images/main/package.json
Labels: Bug, Docker

#3683 Fix empty saved page after change
  app/src/composables/use-items/use-items.ts
Labels: App, Improvement

#3794 Fix MS SQL init failure due to uquoted DB name
  packages/schema/src/dialects/mssql.ts
Labels: API, Bug, DB: SQL Server
