Repository directus/directus, pull requests merged in 2021-09, with the labels that each got.

#7749 Disable attribute inheritance for all layout components
  app/src/layouts/calendar/actions.vue
  app/src/layouts/calendar/calendar.vue
  app/src/layouts/cards/actions.vue
  app/src/layouts/cards/cards.vue
  app/src/layouts/map/actions.vue
  app/src/layouts/map/map.vue
  app/src/layouts/tabular/actions.vue
  app/src/layouts/tabular/tabular.vue
  packages/extensions-sdk/templates/layout/javascript/src/layout.vue
  packages/extensions-sdk/templates/layout/typescript/src/layout.vue
Labels: App, Improvement

#7750 Update layout docs to new layouts system
  docs/guides/layouts.md
Labels: Documentation

#7757 Document usage of custom reset URL in request password in the SDK
  docs/reference/sdk.md
Labels: Documentation

#7759 Show a warning if PostGIS is missing
  api/src/app.ts
  api/src/cli/commands/bootstrap/index.ts
  api/src/database/index.ts
Labels: API, New Feature

#7763 Fix branch emitter logic from grand-to-child
  app/src/components/v-checkbox-tree/v-checkbox-tree-checkbox.vue
Labels: App, Bug

#7738 Warn the user when a collapsed group field had an error
  app/src/interfaces/group-accordion/accordion-section.vue
  app/src/interfaces/group-detail/group-detail.vue
  app/src/interfaces/select-multiple-checkbox-tree/select-multiple-checkbox-tree.vue
Labels: App, Improvement

#7756 fix WYSIWYG field focus event
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
Labels: App, Bug

#7768 Fix hash link in docs module
  app/src/modules/docs/components/markdown.vue
Labels: App, Bug

#7780 Use OpenMapTiles font instead of ArcGIS
  app/src/layouts/map/style.ts
  app/src/utils/geometry/basemap.ts
Labels: App, Bug

#7771 tiny rewrite of operator descriptions in docs/reference/filter-rules
  docs/reference/filter-rules.md
Labels: Documentation

#7777 Expose logger through ExtensionContext
  api/src/extensions.ts
  api/src/types/extensions.ts
  docs/guides/api-endpoints.md
  docs/guides/api-hooks.md
  package-lock.json
  packages/shared/package.json
  packages/shared/src/types/extensions.ts
Labels: API, New Feature

#7778 Fixes bug when trying to edit geometry in code interface.
  app/src/interfaces/input-code/input-code.vue
  app/src/interfaces/input/index.ts
Labels: App, Bug

#7787 Improve card selection styling
  app/src/layouts/cards/components/card.vue
Labels: App, Improvement

#7789 Add environment variable to force-exclude tables from Directus
  api/src/database/index.ts
  api/src/env.ts
  api/src/utils/get-schema.ts
  docs/reference/environment-variables.md
Labels: API, New Feature

#7676 Update logging in CLI commands
  api/src/cli/commands/count/index.ts
  api/src/cli/commands/database/install.ts
  api/src/cli/commands/database/migrate.ts
  api/src/cli/commands/init/index.ts
  api/src/cli/commands/roles/create.ts
  api/src/cli/commands/users/create.ts
  api/src/cli/commands/users/passwd.ts
  api/src/database/migrations/run.ts
Labels: API, Improvement

#7754 Fix WYSIWYG field not being cleared after "Save and Create New"
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
Labels: App, Bug

#7800 Fix wrong icon
  app/src/interfaces/group-accordion/accordion-section.vue
Labels: App, Bug

#7796 Fix allow false as value in filter
  app/src/utils/filters-to-query/filters-to-query.ts
Labels: App, Bug

#7798 Fix incorrect database exclude tables environment variable in docs.
  docs/reference/environment-variables.md
Labels: Documentation

#7794 Datetime interface "Set to now" sets seconds to 0
  app/src/interfaces/datetime/datetime.vue
Labels: App, Bug

#7801 Use https for openmaptiles fonts.
  app/src/utils/geometry/basemap.ts
Labels: App, Bug

#7815 fix type for deep query with underscore prefix
  packages/sdk/src/items.ts
Labels: Improvement, Package: sdk

#7812 Fix map interface controls not showing
  app/src/interfaces/map/map.vue
Labels: App, Bug

#7814 Fix return error for GraphQL mutations
  api/src/services/graphql.ts
Labels: API, Bug, GraphQL

#7816 Apply "in" to query even if array is empty
  api/src/utils/apply-query.ts
  app/src/stores/user.ts
Labels: API, App, Bug

#7795 Update modules docs
  docs/guides/modules.md
Labels: Documentation

#7820 make csv imports try to parse values to json
  api/src/services/import.ts
Labels: API, Bug

#7821 fix minor typo in api-hooks.md
  docs/guides/api-hooks.md
Labels: Documentation

#7831 fix url format for Azure storage endpoint
  docs/reference/environment-variables.md
Labels: Documentation

#7858 Fix display labels translations
  api/src/database/system-data/fields/activity.yaml
  app/src/displays/labels/labels.vue
  app/src/lang/translations/af-ZA.yaml
  app/src/lang/translations/ar-SA.yaml
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/ca-ES.yaml
  app/src/lang/translations/cs-CZ.yaml
  app/src/lang/translations/da-DK.yaml
  app/src/lang/translations/de-DE.yaml
  app/src/lang/translations/el-GR.yaml
  app/src/lang/translations/en-US.yaml
  app/src/lang/translations/es-419.yaml
  app/src/lang/translations/es-CL.yaml
  app/src/lang/translations/es-ES.yaml
  app/src/lang/translations/et-EE.yaml
  app/src/lang/translations/fi-FI.yaml
  app/src/lang/translations/fr-FR.yaml
  app/src/lang/translations/hi-IN.yaml
  app/src/lang/translations/hu-HU.yaml
  app/src/lang/translations/id-ID.yaml
  app/src/lang/translations/it-IT.yaml
  app/src/lang/translations/ja-JP.yaml
  app/src/lang/translations/ka-GE.yaml
  app/src/lang/translations/lt-LT.yaml
  app/src/lang/translations/ms-MY.yaml
  app/src/lang/translations/nl-NL.yaml
  app/src/lang/translations/no-NO.yaml
  app/src/lang/translations/pl-PL.yaml
  app/src/lang/translations/pt-BR.yaml
  app/src/lang/translations/pt-PT.yaml
  app/src/lang/translations/ro-RO.yaml
  app/src/lang/translations/ru-RU.yaml
  app/src/lang/translations/sl-SI.yaml
  app/src/lang/translations/sr-CS.yaml
  app/src/lang/translations/sr-SP.yaml
  app/src/lang/translations/sv-SE.yaml
  app/src/lang/translations/th-TH.yaml
  app/src/lang/translations/tr-TR.yaml
  app/src/lang/translations/uk-UA.yaml
  app/src/lang/translations/vi-VN.yaml
  app/src/lang/translations/zh-CN.yaml
  app/src/lang/translations/zh-TW.yaml
Labels: App, Bug

#7883 Parse created arrays in parseFilter
  packages/shared/src/utils/parse-filter.ts
Labels: API, Bug

#7889 Add github action for syncing readme to Docker Hub
  .github/workflows/sync-dockerhub-readme.yml
Labels: Docker, Documentation, Optimization

#7892 fix readme filename in sync-dockerhub-readme.yml
  .github/workflows/sync-dockerhub-readme.yml
Labels: Bug, Docker, Documentation

#7884 Add scope to v-tab-items
  app/src/components/v-tabs/v-tab-item/v-tab-item.vue
  app/src/components/v-tabs/v-tabs-items/v-tabs-items.vue
Labels: App, Bug

#7864 Fix reverting to created revision
  app/src/views/private/components/revisions-drawer-detail/revisions-drawer.vue
Labels: App, Bug

#7893 fix readme emoji
  readme.md
Labels: Bug, Documentation

#7840 Fix watcher loop and filters not being applied.
  app/src/lang/translations/en-US.yaml
  app/src/layouts/map/index.ts
  app/src/layouts/map/map.vue
Labels: App, Bug

#7847 fix default of env var EMAIL_MAILGUN_HOST
  api/src/mailer.ts
Labels: API, Bug

#7755 Make Argon2.hash parameters configurable to allow for stronger user password hashes.
  api/example.env
  api/package.json
  api/src/cli/commands/init/index.ts
  api/src/cli/commands/users/passwd.ts
  api/src/controllers/utils.ts
  api/src/services/graphql.ts
  api/src/services/payload.ts
  api/src/services/users.ts
  api/src/utils/generate-hash.ts
  docs/reference/environment-variables.md
  package-lock.json
  packages/sdk/tests/handlers/utils.test.ts
Labels: API, New Feature

#7841 Use node promisify in sqlite database initialization.
  api/src/database/index.ts
Labels: API, Optimization

#7833 Add ability to customise database errors
  api/src/exceptions/database/translate.ts
  docs/guides/api-hooks.md
Labels: API, New Feature

#7675 Allow custom CLI commands to be added by extensions
  .gitignore
  api/jest.config.js
  api/src/cli/index.test.ts
  api/src/cli/index.ts
  api/src/extensions.ts
  docs/guides/api-hooks.md
  jest.config.js
  packages/shared/src/utils/generate-joi.ts
Labels: API, New Feature

#7902 remove auto-open feature for info sidebar
  app/src/app.vue
Labels: App, Improvement

#7918 Add tileSize parameter to basemap options
  api/src/database/system-data/fields/settings.yaml
  app/src/interfaces/map/map.vue
  app/src/interfaces/map/style.ts
  app/src/utils/geometry/basemap.ts
Labels: App, Bug

#7917 Fix translation keys for system collections
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/data-model/collections/collections.vue
Labels: App, Bug

#7910 Fix the collections column in directus_webhooks being nullable
  api/src/database/migrations/20210907A-webhooks-collections-not-null.ts
Labels: API, Bug

#7913 Enable "Format JSON Value" to display 'geometry'
  app/src/displays/formatted-json-value/index.ts
Labels: App, Improvement

#7915 Docs: update actions for file event
  docs/guides/api-hooks.md
Labels: Documentation

#7923 add spatial_ref_sys as default for DB_EXCLUDE_TABLES
  api/src/env.ts
  docs/reference/environment-variables.md
Labels: API, Improvement

#7947 Fix user-popover location when hovered in revisions
  app/src/views/private/components/revisions-drawer-detail/revision-item.vue
Labels: App, Bug

#7948 Allow v-menu tooltip to stay active on hover
  app/src/components/v-menu/v-menu.vue
Labels: App, Improvement

#7950 Fixed mapbox-gl-draw css not being applied and moved logo
  app/src/interfaces/map/map.vue
Labels: App, Bug

#7925 Add possibility to translate Published, Draft and Archived strings
  app/src/lang/translations/en-US.yaml
  app/src/lang/translations/pt-BR.yaml
  app/src/modules/settings/routes/data-model/new-collection.vue
Labels: App, Improvement

#7830 Add custom JWTs support for static token
  api/src/middleware/authenticate.ts
  api/src/services/authentication.ts
  api/src/services/users.ts
  api/src/utils/is-directus-jwt.ts
Labels: API, Improvement, Notice

#7954 Add click event for user tooltip & navigate to the user's page
  app/src/views/private/components/user-popover/user-popover.vue
Labels: App, Improvement

#7967 Update assets.md
  docs/reference/api/assets.md
Labels: Documentation

#7966 Right icon hides for numeric input
  app/src/interfaces/input/input.vue
Labels: App, Bug

#7965 Add missing words to Database Abstraction
  docs/concepts/databases.md
Labels: Bug, Documentation

#7964 Fix header icon for revisions drawer
  app/src/views/private/components/revisions-drawer-detail/revisions-drawer.vue
Labels: App, Improvement

#7971 Remove unused LAYOUT_SYMBOL constant
  packages/shared/src/constants/index.ts
  packages/shared/src/constants/symbols.ts
Labels: Optimization, Package: shared

#7972 Various style updates
  app/src/components/v-avatar/v-avatar.vue
  app/src/components/v-button/v-button.vue
  app/src/components/v-detail/v-detail.vue
  app/src/components/v-form/form-field.vue
  app/src/components/v-info/v-info.vue
  app/src/components/v-list/v-list-item.vue
  app/src/components/v-notice/v-notice.vue
  app/src/interfaces/presentation-divider/presentation-divider.vue
  app/src/lang/translations/en-US.yaml
  app/src/layouts/cards/components/card.vue
  app/src/layouts/cards/components/header.vue
  app/src/modules/collections/components/navigation-bookmark.vue
  app/src/styles/_type-styles.scss
  app/src/styles/_variables.scss
  app/src/styles/mixins/type-styles.scss
  app/src/utils/geometry/basemap.ts
  app/src/views/private/components/header-bar/header-bar.vue
  app/src/views/private/components/module-bar-avatar/module-bar-avatar.vue
  app/src/views/private/components/module-bar-logo/module-bar-logo.vue
  app/src/views/private/components/module-bar/module-bar.vue
  app/src/views/private/components/project-info/project-info.vue
  app/src/views/private/components/revisions-drawer-detail/revision-item.vue
  app/src/views/private/components/revisions-drawer-detail/revisions-drawer-detail.vue
  app/src/views/private/components/revisions-drawer-detail/revisions-drawer-picker.vue
  app/src/views/private/components/revisions-drawer-detail/revisions-drawer-updates-change.vue
  app/src/views/private/components/revisions-drawer-detail/revisions-drawer-updates.vue
  app/src/views/private/components/revisions-drawer-detail/revisions-drawer.vue
  app/src/views/private/components/sidebar-button/sidebar-button.vue
  app/src/views/private/components/sidebar-detail/sidebar-detail.vue
  app/src/views/private/private-view.vue
Labels: App, Improvement

#7976 Update AmazonWebServicesS3Storage.ts
  packages/drive-s3/src/AmazonWebServicesS3Storage.ts
Labels: Bug, Package: drive

#7987 fix revision detail refresh for "Save and Stay"
  app/src/modules/collections/routes/item.vue
  app/src/modules/files/routes/item.vue
  app/src/modules/users/routes/item.vue
Labels: App, Bug

#7992 Fix CLI not executing any command
  Dockerfile
  api/cli.js
  api/package.json
  api/src/cli/index.ts
  api/src/cli/run.ts
  package.json
  tests/start.sh
Labels: API

#7986 Align memcached configurations for multiple hosts
  api/src/cache.ts
  docs/reference/environment-variables.md
Labels: API, Improvement

#8008 Fix type issue in getCacheKey
  api/src/utils/get-cache-key.ts
Labels: API, Optimization

#8005 Replace require.main check with start script
  Dockerfile
  api/src/start.ts
  api/start.js
  tests/start.sh
Labels: API, Optimization

#7974 Prevent v-input append slot from shrinking
  app/src/components/v-input/v-input.vue
Labels: App, Improvement

#7963 Respect & show correct icon/color for collection drawers
  app/src/components/v-drawer/v-drawer.vue
  app/src/views/private/components/drawer-collection/drawer-collection.vue
Labels: App, Bug

#7978 Make type-only dependency versions of shared package less strict
  package-lock.json
  packages/shared/package.json
Labels: Bug, Extensions

#7939 Add native schema migration capabilities
  api/package.json
  api/src/cli/commands/schema/apply.ts
  api/src/cli/commands/schema/snapshot.ts
  api/src/cli/index.ts
  api/src/database/system-data/collections/collections.yaml
  api/src/database/system-data/fields/migrations.yaml
  api/src/database/system-data/fields/presets.yaml
  api/src/database/system-data/relations/relations.yaml
  api/src/services/collections.ts
  api/src/services/fields.ts
  api/src/types/index.ts
  api/src/types/snapshot.ts
  api/src/utils/apply-snapshot.ts
  api/src/utils/get-snapshot-diff.ts
  api/src/utils/get-snapshot.ts
  docs/concepts/databases.md
  docs/reference/command-line-interface.md
  package-lock.json
Labels: API, New Feature

#8013 border widths
  app/src/components/v-checkbox/v-checkbox.vue
  app/src/components/v-divider/v-divider.vue
  app/src/components/v-list/v-list-item.vue
  app/src/components/v-table/table-header/table-header.vue
  app/src/components/v-table/table-row/table-row.vue
  app/src/layouts/cards/components/header.vue
Labels: App

#8024 Fix start script
  api/start.js
  docs/guides/installation/iis.md
  docs/guides/installation/plesk.md
Labels: API

#8036 Fix URL
  docs/guides/installation/cli.md
Labels: Documentation

#8012 Move module setup to Project Settings
  api/src/database/migrations/20210910A-move-module-setup.ts
  api/src/database/system-data/fields/roles.yaml
  api/src/database/system-data/fields/settings.yaml
  app/src/components/v-list/v-list-item.vue
  app/src/interfaces/_system/system-modules/index.ts
  app/src/interfaces/_system/system-modules/system-modules.vue
  app/src/lang/translations/en-US.yaml
  app/src/stores/settings.ts
  app/src/styles/_variables.scss
  app/src/views/private/components/module-bar.vue
  app/src/views/private/components/module-bar/index.ts
  app/src/views/private/components/module-bar/module-bar.vue
  app/src/views/private/components/module-bar/readme.md
  app/src/views/private/private-view.vue
  docs/reference/api/system/roles.md
  packages/shared/src/types/index.ts
  packages/shared/src/types/settings.ts
  packages/shared/src/types/users.ts
  packages/specs/src/components/role.yaml
Labels: App, New Feature

#7727 Add new translations interface
  app/src/components/v-chip/v-chip.vue
  app/src/components/v-field-select/v-field-select.vue
  app/src/components/v-form/form-field-label.vue
  app/src/components/v-form/form-field.vue
  app/src/components/v-form/v-form.vue
  app/src/components/v-progress/linear/v-progress-linear.vue
  app/src/components/v-select/v-select.vue
  app/src/interfaces/tags/tags.vue
  app/src/interfaces/translations/language-select.vue
  app/src/interfaces/translations/options.vue
  app/src/interfaces/translations/translations.vue
  app/src/lang/translations/en-US.yaml
  changelog.md
  docs/guides/modules.md
Labels: App, New Feature

#8055 Fix broken anchor link to oAuth config section.
  docs/reference/api/system/authentication.md
Labels: Documentation

#8056 Don't flush schema cache on content update
  api/src/cache.ts
Labels: API, Bug

#7903 Fix sidebar glitch on resize
  app/src/views/private/private-view.vue
  docs/guides/installation/cli.md
Labels: App, Improvement

#8062 Add return type to useFilterFields
  packages/extensions-sdk/src/index.ts
  packages/shared/src/composables/use-filter-fields.ts
Labels: Optimization

#7140 V button color prop
  app/src/components/v-button/v-button.vue
  app/src/interfaces/_system/system-mfa-setup/system-mfa-setup.vue
  app/src/interfaces/map/map.vue
  app/src/layouts/map/options.vue
  app/src/modules/collections/components/navigation-bookmark.vue
  app/src/modules/collections/routes/collection.vue
  app/src/modules/collections/routes/item.vue
  app/src/modules/files/components/navigation-folder.vue
  app/src/modules/files/routes/collection.vue
  app/src/modules/files/routes/item.vue
  app/src/modules/settings/routes/data-model/collections/components/collection-options.vue
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
  app/src/modules/settings/routes/data-model/fields/fields.vue
  app/src/modules/settings/routes/presets/collection/collection.vue
  app/src/modules/settings/routes/presets/item.vue
  app/src/modules/settings/routes/roles/item/item.vue
  app/src/modules/settings/routes/webhooks/collection.vue
  app/src/modules/settings/routes/webhooks/item.vue
  app/src/modules/users/routes/collection.vue
  app/src/modules/users/routes/item.vue
  app/src/views/private/components/comments-sidebar-detail/comment-input.vue
  app/src/views/private/components/comments-sidebar-detail/comment-item-header.vue
Labels: App, Improvement

#8076 Fix app crashing on composable use
  app/src/displays/related-values/index.ts
  app/src/modules/settings/index.ts
  app/src/utils/add-related-primary-key-to-fields.ts
  package-lock.json
  packages/shared/src/composables/use-system.ts
Labels: App

#8078 make i18n shared
  packages/shared/src/constants/extensions.ts
Labels: App, Optimization

#8067 Make default values have consistent formatting
  docs/reference/environment-variables.md
Labels: Documentation

#8081 Move useCollection calls out of computed
  app/src/displays/related-values/related-values.vue
  app/src/interfaces/select-dropdown-m2o/select-dropdown-m2o.vue
  app/src/modules/settings/routes/project/project.vue
  app/src/modules/users/routes/item.vue
  app/src/views/private/components/drawer-item/drawer-item.vue
  package-lock.json
Labels: App

#8088 Fixed readByQuery's sort parameter in custom API endpoint example
  docs/guides/api-endpoints.md
Labels: Documentation

#8091 Fix saving issue on invalid conditional rule
  app/src/composables/use-item/use-item.ts
Labels: App, Bug

#8117 Fix the port being duplicated in parsed URLs
  api/src/utils/url.ts
  package-lock.json
Labels: API, Bug

#8115 Fixed missing documentation due to directory-tree update
  docs/build.js
Labels: App, Bug

#7856 Add extensions-sdk watch build option
  packages/extensions-sdk/src/cli/commands/build.ts
  packages/extensions-sdk/src/cli/run.ts
Labels: Extensions, New Feature

#8097 add error handling for image component
  app/src/displays/image/image.vue
Labels: App, Improvement

#8103 Prevent null being converted to empty object in deepMap utility function
  packages/shared/src/utils/deep-map.ts
Labels: API, Bug

#8069 Display error when image exceeds `ASSETS_TRANSFORM_IMAGE_MAX_DIMENSION` limit
  app/src/interfaces/file-image/file-image.vue
  app/src/lang/translations/en-US.yaml
Labels: App, Improvement

#7906 Add support for custom claims before issuing a JWT.
  api/src/services/authentication.ts
  docs/guides/api-hooks.md
Labels: API, New Feature

#8129 List panel
  app/src/components/v-form/form-field-label.vue
  app/src/components/v-form/form-field.vue
  app/src/components/v-list/v-list.vue
  app/src/displays/file/file.vue
  app/src/interfaces/translations/translations.vue
  app/src/lang/translations/en-US.yaml
  app/src/modules/insights/components/panel.vue
  app/src/panels/label/index.ts
  app/src/panels/list/index.ts
  app/src/panels/list/list.vue
  app/src/panels/metric/metric.vue
Labels: App, New Feature

#8148 Consolidate example domains in translations to example.com
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/cs-CZ.yaml
  app/src/lang/translations/de-DE.yaml
  app/src/lang/translations/es-419.yaml
  app/src/lang/translations/es-CL.yaml
  app/src/lang/translations/es-ES.yaml
  app/src/lang/translations/hi-IN.yaml
  app/src/lang/translations/lt-LT.yaml
  app/src/lang/translations/mn-MN.yaml
  app/src/lang/translations/nl-NL.yaml
  app/src/lang/translations/pt-BR.yaml
  app/src/lang/translations/pt-PT.yaml
  app/src/lang/translations/sr-CS.yaml
Labels: App

#8156 Consolidate lodash imports
  app/src/interfaces/list-o2m/list-o2m.vue
  app/src/views/private/components/comments-sidebar-detail/comments-sidebar-detail.vue
Labels: App

#8158 Prevent unsaved changes dialog from appearing after item is deleted
  app/src/modules/collections/routes/item.vue
Labels: App, Bug

#8157 Fixed readonly repeater fields from sorting
  app/src/interfaces/list/list.vue
Labels: App, Bug

#8174 Fix translation interface on new items
  app/src/interfaces/translations/translations.vue
Labels: App, Bug

#8180 Change some API calls to use getEndpoint utility
  app/src/interfaces/list-m2m/use-preview.ts
  app/src/panels/list/list.vue
  app/src/panels/metric/metric.vue
  app/src/panels/time-series/time-series.vue
Labels: App, Improvement

#8192 fix(docs): update link in persistence section
  docs/guides/installation/docker.md
Labels: Documentation

#8197 Enable split view only on +2 languages
  app/src/interfaces/translations/translations.vue
Labels: App, Bug

#8201 Fix docs module routes from triggering auth refresh
  app/src/modules/docs/index.ts
Labels: App, Bug

#8193 Fix errors thrown in CRON hook not caught
  api/src/extensions.ts
Labels: API, Improvement

#8204 Fix auth token refresh to be on first load only
  app/src/router.ts
Labels: App, Optimization

#8184 Clear collection cache & schema cache on update
  api/src/services/collections.ts
Labels: API, Bug

#8185 change computed endpoint to getEndpoint utility
  app/src/composables/use-item/use-item.ts
Labels: App, Optimization

#8170 Fix having more than 100 languages
  app/src/interfaces/translations/translations.vue
Labels: App, Improvement

#8169 Fix blank repeater item creation when cancelled
  app/src/interfaces/list/list.vue
Labels: App, Bug

#8051 Show selected items in drawer collection
  app/src/interfaces/list-m2m/list-m2m.vue
  app/src/interfaces/list-m2m/use-selection.ts
  app/src/interfaces/list-o2m/list-o2m.vue
Labels: App, Improvement

#8130 Fix module bar relative links from opening externally
  app/src/views/private/components/module-bar.vue
Labels: App, Bug

#7962 Ensure menus closes when another one gets opened
  app/src/components/v-menu/v-menu.vue
  app/src/modules/settings/routes/data-model/fields/components/field-select-menu.vue
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
Labels: App, Improvement

#6303 Improvement/revision pagination
  app/src/views/private/components/revisions-drawer-detail/revisions-date-group.vue
  app/src/views/private/components/revisions-drawer-detail/revisions-drawer-detail.vue
Labels: App, Improvement

#8225 Allow links with custom URL schemes
  app/src/views/private/components/module-bar.vue
Labels: App, Improvement

#8241 Replace prettier with simple trim
  api/package.json
  api/src/services/mail/index.ts
  api/src/services/mail/templates/base.liquid
  package-lock.json
Labels: API, Bug

#8240 Add divider for modules section in project settings
  api/src/database/system-data/fields/settings.yaml
  app/src/lang/translations/en-US.yaml
Labels: App, Improvement

#8242 Add documentation for module bar
  docs/guides/projects.md
Labels: Documentation

#8066 Fix revision drawer for create events
  app/src/lang/translations/en-US.yaml
  app/src/views/private/components/revisions-drawer-detail/revisions-drawer-preview.vue
  app/src/views/private/components/revisions-drawer-detail/revisions-drawer.vue
Labels: App, Bug

#8245 Tests are written for get-relation-type.ts
  docs/guides/installation/docker.md
  packages/shared/jest.config.js
  packages/shared/package.json
  packages/shared/src/utils/adjust-date.test.ts
  packages/shared/src/utils/define-extension.test.ts
  packages/shared/src/utils/filters-to-query.test.ts
  packages/shared/src/utils/generate-joi.test.ts
  packages/shared/src/utils/get-fields-from-template.test.ts
  packages/shared/src/utils/get-filter-operators-for-type.test.ts
  packages/shared/src/utils/get-filter-operators-for-type.ts
  packages/shared/src/utils/get-relation-type.test.ts
Labels: Tests, Package: shared

#8248 Only apply conditional variables in use
  app/src/components/v-form/v-form.vue
  app/src/composables/use-item/use-item.ts
  app/src/stores/fields.ts
Labels: App, Bug

#8249 Tests for is-extensions.ts and move-in-array.ts
  changelog.md
  packages/shared/src/utils/generate-joi.test.ts
  packages/shared/src/utils/is-extension.test.ts
  packages/shared/src/utils/move-in-array.test.ts
Labels: Tests

#8260 Fix primary key not being passed to v-form
  app/src/modules/collections/routes/item.vue
  package-lock.json
Labels: App, Bug

#8272 Fix oas parameters
  api/src/services/specifications.ts
  packages/specs/src/components/setting.yaml
Labels: API, Bug

#8256 Reinstate v-click-outside event in v-menu
  app/src/components/v-menu/v-menu.vue
Labels: App, Bug

#8279 Prevent unnecessary interpolation by Vuepress
  docs/guides/email-templates.md
Labels: Documentation

#8283 Allow date strings in gt(e)/lt(e)/between in validation step
  packages/shared/src/utils/generate-joi.ts
Labels: Bug, Package: shared

#8278 Fix sorting for alias fields
  app/src/composables/use-form-fields/use-form-fields.ts
Labels: App, Bug

#8286 Allow for + in $NOW
  packages/shared/src/utils/adjust-date.ts
Labels: API, Bug

#8285 Add missing null,nnull and remove unused file
  app/src/views/private/components/filter-sidebar-detail/get-available-operators-for-type.ts
  packages/shared/src/utils/get-filter-operators-for-type.ts
Labels: App, Bug

#8293 Vertically center content of v-button
  app/src/components/v-button/v-button.vue
Labels: App, Bug

#8294 Fix azure storage content-type
  packages/drive-azure/src/AzureBlobWebServices.ts
Labels: Bug, Package: drive

#8317 fix target collection interface for o2m relationship
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-o2m.vue
Labels: App, Bug

#8327 Use user language as first on translations
  app/src/interfaces/translations/translations.vue
Labels: App, Improvement

#8334 prevent ambiguous role selection in middleware
  api/src/middleware/authenticate.ts
Labels: API, Bug

#8344 Fix input not being masked
  app/src/interfaces/input/input.vue
Labels: App, Bug

#8346 Fix panel not assigned on insights
  app/src/modules/insights/routes/dashboard.vue
Labels: App, Bug

#8349 Use field key instead of ID for group value
  .gitignore
  api/src/database/migrations/20210927A-replace-fields-group.ts
  app/src/components/v-form/v-form.vue
  app/src/interfaces/group-accordion/accordion-section.vue
  app/src/interfaces/group-accordion/group-accordion.vue
  app/src/interfaces/group-detail/group-detail.vue
  app/src/interfaces/group-raw/group-raw.vue
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
  packages/shared/src/types/fields.ts
Labels: API, App, Bug

#8337 Debounce app idle tracker autorefresh token
  app/src/auth.ts
Labels: App, Bug

#8247 GitHub workflow to run tests on pushes to main and PRs
  .github/workflows/tests.yml
  api/src/cli/index.test.ts
  packages/cli/package.json
  packages/cli/tests/cli.test.ts
  packages/cli/tests/utils.ts
  packages/sdk/tests/base/auth.node.test.ts
  packages/sdk/tests/handlers/utils.test.ts
  packages/sdk/tests/utils.ts
  packages/shared/src/utils/get-filter-operators-for-type.test.ts
Labels: Tests

#8351 Add missing system data points
  api/src/database/system-data/collections/collections.yaml
  api/src/database/system-data/fields/dashboards.yaml
  api/src/database/system-data/fields/panels.yaml
  api/src/database/system-data/relations/relations.yaml
Labels: API, Bug

#8352 Don't error on missing meta key for collection
  api/src/services/collections.ts
Labels: API, Bug

#8355 Don't track primary keys of relations/fields
  api/src/cli/commands/schema/apply.ts
  api/src/cli/commands/schema/snapshot.ts
  api/src/types/snapshot.ts
  api/src/utils/get-snapshot.ts
Labels: API, Bug

#8335 Fix getSchema while trx on postgres
  packages/schema/src/dialects/postgres.ts
  packages/schema/src/types/overview.ts
Labels: API, Bug

#8357 Migrate down chronologically instead of by version
  api/src/database/migrations/run.ts
Labels: API, Bug

#6942 Modular authentication
  api/src/auth.ts
  api/src/auth/auth.ts
  api/src/auth/drivers/index.ts
  api/src/auth/drivers/local.ts
  api/src/constants.ts
  api/src/controllers/auth.ts
  api/src/controllers/users.ts
  api/src/database/migrations/20210903A-add-auth-provider.ts
  api/src/database/migrations/20210907A-webhooks-collections-not-null.ts
  api/src/database/migrations/20210920A-webhooks-url-not-null.ts
  api/src/database/system-data/fields/index.ts
  api/src/database/system-data/fields/users.yaml
  api/src/env.ts
  api/src/exceptions/index.ts
  api/src/exceptions/invalid-config.ts
  api/src/services/authentication.ts
  api/src/services/graphql.ts
  api/src/services/index.ts
  api/src/services/items.ts
  api/src/services/tfa.ts
  api/src/services/users.ts
  api/src/types/auth.ts
  api/src/types/index.ts
  api/src/types/sessions.ts
  api/src/utils/get-auth-providers.ts
  app/src/lang/translations/en-US.yaml
  app/src/modules/users/routes/item.vue
Labels: API, Bug, Improvement, Optimization

#8359 Style updates
  app/src/components/v-badge/v-badge.vue
  app/src/components/v-chip/v-chip.vue
  app/src/components/v-list/v-list-item.vue
  app/src/interfaces/translations/language-select.vue
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
  app/src/modules/settings/routes/data-model/fields/components/fields-management.vue
  app/src/styles/themes/_dark.scss
  app/src/styles/themes/_light.scss
Labels: App, Improvement

#8383 Remove duplicate directus_migrations collection
  api/src/database/system-data/collections/collections.yaml
Labels: API, Optimization

#8379 Fix marginTop not implemented in presentation divider
  app/src/interfaces/presentation-divider/index.ts
  app/src/interfaces/presentation-divider/presentation-divider.vue
Labels: App, Bug

#8375 fix "add conditions to fields" migration
  api/src/database/migrations/20210716A-add-conditions-to-fields.ts
Labels: API, Bug
