Repository directus/directus, pull requests merged in 2021-12, with the labels that each got.

#10147 Add dot indicator to groups with modified fields
  app/src/interfaces/group-accordion/accordion-section.vue
  app/src/interfaces/group-detail/group-detail.vue
Labels: App, Improvement

#10194 fix filter breaking instead of defaulting to `_eq`
  packages/shared/src/utils/parse-filter.ts
Labels: API, Bug

#10184 Documentation tweaks - mentions, notifications etc
  docs/app/content-collections.md
  docs/app/content-items.md
  docs/app/overview.md
  docs/app/user-directory.md
  docs/assets/app-overview.svg
  docs/configuration/data-model.md
  docs/configuration/filter-rules.md
  docs/reference/system/users.md
Labels: Documentation

#10168 Remove on_delete rule from `user-created` and `user-updated` schema
  app/src/modules/settings/routes/data-model/new-collection.vue
Labels: App, Bug, DB: MS SQL Server

#9628 add crop and contain options, increase full height
  app/src/interfaces/file-image/file-image.vue
  app/src/interfaces/file-image/index.ts
  app/src/lang/translations/en-US.yaml
Labels: App, Improvement

#10173 Improve mentions keyboard accessibility
  api/src/services/activity.ts
  app/src/components/v-template-input.vue
  app/src/views/private/components/comments-sidebar-detail/comment-input.vue
  app/src/views/private/components/comments-sidebar-detail/comments-sidebar-detail.vue
Labels: App, Improvement

#10197 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/en-GB.yaml
  app/src/lang/translations/fr-FR.yaml
  app/src/lang/translations/it-IT.yaml
  app/src/lang/translations/ru-RU.yaml
Labels: Automerge

#10183 add text path to autocomplete api input
  app/src/interfaces/input-autocomplete-api/index.ts
  app/src/interfaces/input-autocomplete-api/input-autocomplete-api.vue
  app/src/lang/translations/en-US.yaml
Labels: App, Improvement

#10200 New Crowdin updates
  app/src/lang/translations/en-US.yaml
Labels: Automerge

#10180 refresh edited insights panel on change
  api/src/utils/get-default-index-name.ts
  app/src/panels/time-series/time-series.vue
  packages/shared/src/utils/get-simple-hash.test.ts
  packages/shared/src/utils/get-simple-hash.ts
  packages/shared/src/utils/index.ts
Labels: App, Improvement

#10104 Docs: Add guide for SSO
  docs/.vuepress/config.js
  docs/guides/sso.md
Labels: Documentation

#10138 Fix string filter unexpectedly being casted to number
  api/src/middleware/sanitize-query.ts
  api/src/utils/sanitize-query.ts
  api/src/utils/validate-query.ts
  packages/shared/src/utils/parse-filter.test.ts
  packages/shared/src/utils/parse-filter.ts
Labels: API, Bug

#10161 App: fix relationships raw value
  app/src/components/v-form/form-field.vue
  app/src/utils/get-js-type.ts
Labels: App, Improvement

#10151 Cleaned up Oracle duplicate index handling
  packages/schema/src/dialects/oracledb.ts
Labels: API, DB: Oracle, Improvement, Optimization

#10083 Fix MySQL `tinyint(1)` not being treated as boolean
  api/src/utils/get-local-type.ts
  packages/schema/src/dialects/mysql.ts
Labels: API, Bug

#10149 add colorOn & colorOff to checkbox interface
  app/src/components/v-checkbox/v-checkbox.vue
  app/src/interfaces/boolean/boolean.vue
  app/src/interfaces/boolean/index.ts
  app/src/lang/translations/en-US.yaml
Labels: App, Improvement

#10133 SDK: Fix type arrays on filter
  packages/sdk/src/items.ts
Labels: Improvement, Package: sdk

#10124 add default render template & scope to formatted JSON display
  app/src/displays/formatted-json-value/formatted-json-value.vue
Labels: App, Bug

#10084 Fix SQL Server text casting
  api/src/utils/get-local-type.ts
Labels: API, Bug, DB: MS SQL Server

#10077 Add `limit` to graphql aggegrated queries
  api/src/services/graphql.ts
Labels: API, GraphQL, Improvement

#10075 Fix system collection forms with custom fields
  app/src/stores/fields.ts
Labels: App, Bug

#10068 fix translation input blur on revert to old value
  app/src/interfaces/translations/translations.vue
Labels: App, Bug

#10064 Add status field in the directus_notifications collection
  api/src/database/system-data/fields/notifications.yaml
  packages/shared/src/types/notifications.ts
Labels: API, Improvement

#10053 SDK: Fix bundles
  packages/sdk/index.mjs
  packages/sdk/package.json
  packages/sdk/rollup.config.js
  packages/sdk/tsconfig.json
Labels: Bug, Package: sdk

#10054 save wysiwyg image size in url params instead of html tags
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
  app/src/interfaces/input-rich-text-html/useImage.ts
  app/src/utils/add-query-to-path.ts
Labels: App, Improvement

#9838 fix template fields not clickable when editing
  app/src/components/v-field-template/v-field-template.vue
Labels: App, Bug

#10052 Improve helpers structure
  api/src/database/functions/index.ts
  api/src/database/functions/types.ts
  api/src/database/helpers/date.ts
  api/src/database/helpers/date/dialects/mssql.ts
  api/src/database/helpers/date/dialects/mysql.ts
  api/src/database/helpers/date/dialects/oracle.ts
  api/src/database/helpers/date/dialects/postgres.ts
  api/src/database/helpers/date/dialects/sqlite.ts
  api/src/database/helpers/date/index.ts
  api/src/database/helpers/date/types.ts
  api/src/database/helpers/geometry.ts
  api/src/database/helpers/geometry/dialects/mssql.ts
  api/src/database/helpers/geometry/dialects/mysql.ts
  api/src/database/helpers/geometry/dialects/oracle.ts
  api/src/database/helpers/geometry/dialects/postgres.ts
  api/src/database/helpers/geometry/dialects/redshift.ts
  api/src/database/helpers/geometry/dialects/sqlite.ts
  api/src/database/helpers/geometry/index.ts
  api/src/database/helpers/geometry/types.ts
  api/src/database/helpers/index.ts
  api/src/database/helpers/types.ts
  api/src/database/index.ts
  api/src/database/run-ast.ts
  api/src/database/seeds/run.ts
  api/src/services/fields.ts
  api/src/services/payload.ts
  api/src/utils/apply-query.ts
  api/src/utils/get-column.ts
Labels: API, Improvement

#9351 Shift hook emits to field service
  api/src/services/fields.ts
Labels: API, Bug

#9985 Update BaseStorage
  packages/sdk/src/base/storage/base.ts
Labels: Optimization, Package: sdk

#10139 Fix compatibility with Postgres <= 10
  api/package.json
  docker-compose.yml
  package-lock.json
  packages/schema/package.json
  packages/schema/src/dialects/postgres.ts
  packages/shared/package.json
Labels: API, Bug, DB: Postgres

#9212 Use lodash.assign in use-preset.ts
  app/src/composables/use-preset/use-preset.ts
Labels: App, Optimization

#9798 Clear selections after batch edit
  app/src/modules/content/routes/collection.vue
Labels: App, Bug

#9600 fix tree view interface display template
  app/src/interfaces/list-o2m-tree-view/index.ts
Labels: App, Bug

#9583 Autofocus first input in create item form
  app/src/components/v-form/v-form.vue
  app/src/interfaces/translations/translations.vue
  app/src/modules/content/routes/item.vue
Labels: App, Improvement

#9741 Add fill & curve options to Insights time series chart
  app/src/lang/translations/en-US.yaml
  app/src/panels/time-series/index.ts
  app/src/panels/time-series/time-series.vue
Labels: App, Improvement

#10096 Fix ability to change M2O field type and prevent incompatible interfaces in advanced mode
  app/src/components/v-form/form-field-interface.vue
  app/src/composables/use-form-fields/use-form-fields.ts
  app/src/displays/index.ts
  app/src/interfaces/_system/system-interface-options/system-interface-options.vue
  app/src/interfaces/index.ts
  app/src/layouts/index.ts
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-display.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-interface.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-schema.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-simple/field-configuration.vue
  app/src/modules/settings/routes/data-model/field-detail/shared/extension-options.vue
  app/src/modules/settings/routes/data-model/field-detail/store/alterations/global.ts
  app/src/modules/settings/routes/data-model/field-detail/store/alterations/standard.ts
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
  app/src/modules/settings/routes/presets/collection/collection.vue
  app/src/utils/adjust-fields-for-displays/adjust-fields-for-displays.ts
  app/src/views/private/components/layout-sidebar-detail/layout-sidebar-detail.vue
  app/src/views/private/components/render-display/render-display.vue
  app/src/views/private/components/render-template/render-template.vue
Labels: App, Bug

#9742 Simplify presentation/aliases & accordion setup flow
  app/src/interfaces/presentation-divider/index.ts
  app/src/modules/settings/routes/data-model/field-detail/field-detail-simple/field-configuration.vue
  docs/getting-started/installation/cloudron.md
  docs/getting-started/installation/iis.md
  readme.md
Labels: App, Improvement

#9707 Add default values when tracking edits in list interface
  app/src/interfaces/list/list.vue
Labels: App, Bug

#9574 Add a tip explaining HTTP Only cookies issue
  docs/reference/sdk.md
Labels: Documentation

#9563 Added Line Wrapping option to Code Interface
  app/src/interfaces/input-code/index.ts
  app/src/interfaces/input-code/input-code.vue
  app/src/lang/translations/en-US.yaml
Labels: App, Improvement

#9637 Fixing some type errors in app #2
  app/src/composables/use-permissions.ts
  app/src/displays/translations/index.ts
  app/src/layouts/map/index.ts
  app/src/stores/fields.ts
  app/src/utils/add-related-primary-key-to-fields.ts
  app/src/utils/get-setting.ts
Labels: App, Optimization

#9619 Skip tabbing on input number steppers
  app/src/components/v-input/v-input.vue
Labels: App, Improvement

#10214 New Crowdin updates
  app/src/lang/translations/no-NO.yaml
Labels: Automerge

#10215 New Crowdin updates
  app/src/lang/translations/no-NO.yaml
Labels: Automerge

#10218 New Crowdin updates
  app/src/lang/translations/fi-FI.yaml
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#10219 New Crowdin updates
  app/src/lang/translations/es-ES.yaml
  app/src/lang/translations/fi-FI.yaml
  app/src/lang/translations/it-IT.yaml
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#10220 New Crowdin updates
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#10225 New Crowdin updates
  app/src/lang/translations/pl-PL.yaml
Labels: Automerge

#10221 add sidebar link for notifications API reference
  docs/.vuepress/config.js
Labels: Documentation

#10098 Add dark mode to docs
  docs/.vuepress/theme/styles/index.styl
Labels: Documentation, New Feature

#10204 Clean up format-title build process
  package-lock.json
  packages/format-title/index.mjs
  packages/format-title/package.json
  packages/format-title/rollup.config.js
  packages/format-title/src/index.ts
  packages/format-title/tsconfig.json
Labels: Optimization, Package: format-title

#10227 Force CDNs to ignore module bundle output in cache
  api/src/controllers/extensions.ts
Labels: API, Extensions, Improvement

#10228 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
Labels: Automerge

#10229 Format-title: fix mjs export
  packages/format-title/index.mjs
Labels: Package: format-title

#10235 Don't go back to page 1 when navigating back from an item
  packages/shared/src/composables/use-items.ts
Labels: App, Bug

#10234 Fix token manipulation on alignment change in images
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
Labels: App, Bug

#10236 Permissions: fix empty permissions
  api/src/utils/merge-permissions.ts
Labels: API, Bug

#10212 Fix updatePreset behavior
  app/src/composables/use-preset/use-preset.ts
Labels: App, Bug

#10238 New Crowdin updates
  app/src/lang/translations/pt-BR.yaml
Labels: Automerge

#8010 Support 'selectionMode' on tabular and cards
  app/src/components/v-table/table-header/table-header.vue
  app/src/components/v-table/table-row/table-row.vue
  app/src/components/v-table/v-table.vue
  app/src/components/v-upload/v-upload.vue
  app/src/composables/use-layout.ts
  app/src/layouts/calendar/calendar.vue
  app/src/layouts/calendar/index.ts
  app/src/layouts/cards/cards.vue
  app/src/layouts/cards/components/header.vue
  app/src/layouts/map/components/map.vue
  app/src/layouts/tabular/index.ts
  app/src/layouts/tabular/tabular.vue
  app/src/modules/activity/routes/collection.vue
  app/src/modules/settings/routes/presets/collection/collection.vue
  app/src/views/private/components/drawer-collection/drawer-collection.vue
  packages/shared/src/types/layouts.ts
Labels: App, Bug, New Feature

#10003 Remove `runMigrations` from `database install` (#9911)
  api/src/cli/commands/database/install.ts
  docs/extensions/migrations.md
  docs/reference/cli.md
Labels: API, Improvement, Notice

#10240 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/es-419.yaml
  app/src/lang/translations/es-CL.yaml
  app/src/lang/translations/es-ES.yaml
  app/src/lang/translations/it-IT.yaml
Labels: Automerge

#10242 Fix extension config importing on Windows
  packages/extensions-sdk/src/cli/utils/load-config.ts
Labels: Bug, Extensions

#10230 Apply the cleaned up build config to the sdk
  package-lock.json
  packages/sdk/index.mjs
  packages/sdk/package.json
  packages/sdk/rollup.config.js
  packages/sdk/tsconfig.json
Labels: Optimization, Package: sdk

#10246 Fix handling of nested arrays in snapshot diffing
  api/src/cli/commands/schema/apply.ts
  api/src/utils/apply-snapshot.ts
Labels: API, Bug

#10247 Fix login redirect
  app/src/router.ts
  app/src/routes/login/components/login-form/login-form.vue
Labels: App, Bug

#10248 Fix translations relationship setup not syncing o2m col to m2o
  app/src/modules/settings/routes/data-model/field-detail/store/alterations/translations.ts
Labels: App, Bug

#9267 Markdown Interface Updates
  app/src/interfaces/input-rich-text-md/index.ts
  app/src/interfaces/input-rich-text-md/input-rich-text-md.vue
  app/src/lang/translations/en-US.yaml
Labels: App, Improvement

#10249 New Crowdin updates
  app/src/lang/translations/ar-SA.yaml
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/br-FR.yaml
  app/src/lang/translations/ca-ES.yaml
  app/src/lang/translations/da-DK.yaml
  app/src/lang/translations/de-DE.yaml
  app/src/lang/translations/en-GB.yaml
  app/src/lang/translations/es-419.yaml
  app/src/lang/translations/es-CL.yaml
  app/src/lang/translations/es-ES.yaml
  app/src/lang/translations/et-EE.yaml
  app/src/lang/translations/fi-FI.yaml
  app/src/lang/translations/fr-FR.yaml
  app/src/lang/translations/hu-HU.yaml
  app/src/lang/translations/id-ID.yaml
  app/src/lang/translations/it-IT.yaml
  app/src/lang/translations/lt-LT.yaml
  app/src/lang/translations/nl-NL.yaml
  app/src/lang/translations/no-NO.yaml
  app/src/lang/translations/pl-PL.yaml
  app/src/lang/translations/pt-BR.yaml
  app/src/lang/translations/pt-PT.yaml
  app/src/lang/translations/ru-RU.yaml
  app/src/lang/translations/sl-SI.yaml
  app/src/lang/translations/sr-CS.yaml
  app/src/lang/translations/sv-SE.yaml
  app/src/lang/translations/th-TH.yaml
  app/src/lang/translations/tr-TR.yaml
  app/src/lang/translations/vi-VN.yaml
  app/src/lang/translations/zh-CN.yaml
  app/src/lang/translations/zh-TW.yaml
Labels: Automerge

#10250 Add table prefix to groupBy query
  api/src/utils/apply-query.ts
  api/src/utils/sanitize-query.ts
Labels: API, Bug

#10251 Handle unexpected filter formats better in system-filter ui
  app/src/interfaces/_system/system-filter/utils.ts
Labels: App, Bug

#10256 New Crowdin updates
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#10257 New Crowdin updates
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#10258 New Crowdin updates
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#10260 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
Labels: Automerge

#10263 New Crowdin updates
  app/src/lang/translations/zh-CN.yaml
Labels: Automerge

#10269 New Crowdin updates
  app/src/lang/translations/it-IT.yaml
Labels: Automerge

#10268 Added "null/admin" accountability and emitEvents opts to FilesService
  api/src/services/files.ts
Labels: API, Improvement

#10270 Fix SQLite date functions not working in aggregate queries
  api/src/database/helpers/date/dialects/sqlite.ts
Labels: API, Bug, DB: SQLite

#10272 Align webhook payload with new hooks implementation
  api/src/webhooks.ts
Labels: API, Bug

#10274 Add integer support to radio and dropdown
  app/src/interfaces/select-dropdown/index.ts
  app/src/interfaces/select-radio/index.ts
Labels: App, Improvement

#10277 Fix border colors in docs dark mode
  docs/.vuepress/theme/styles/code.styl
  docs/.vuepress/theme/styles/index.styl
Labels: Documentation

#10264 allow delete keypresses in v-input
  app/src/components/v-input/v-input.vue
Labels: App, Improvement

#10278 Add missing docs for collection hierarchy and auth-refresh mode
  docs/configuration/data-model.md
  docs/reference/authentication.md
Labels: Documentation

#10279 Add items.read filter hook
  api/src/services/items.ts
  docs/extensions/hooks.md
Labels: API, New Feature

#10280 Add note to enable module in settings after completion
  docs/extensions/modules.md
Labels: Documentation

#10281 Add shared exceptions to extension context
  api/src/extensions.ts
Labels: API, Extensions, Improvement

#10261 Check if file exists in assets service
  api/src/controllers/assets.ts
  api/src/services/assets.ts
Labels: API, Bug

#10284 Add items.read filter hook
  api/src/services/items.ts
Labels: API

#10285 New Crowdin updates
  app/src/lang/translations/pl-PL.yaml
Labels: Automerge

#10286 Docs styles
  docs/.vuepress/public/search-dark.svg
  docs/.vuepress/public/search.svg
  docs/.vuepress/styles/colors.styl
  docs/.vuepress/styles/index.styl
  docs/.vuepress/styles/palette.styl
  docs/.vuepress/theme/components/AlgoliaSearchBox.vue
  docs/.vuepress/theme/components/DropdownLink.vue
  docs/.vuepress/theme/components/NavLinks.vue
  docs/.vuepress/theme/components/Navbar.vue
  docs/.vuepress/theme/components/PageEdit.vue
  docs/.vuepress/theme/components/PageNav.vue
  docs/.vuepress/theme/components/Sidebar.vue
  docs/.vuepress/theme/components/SidebarDivider.vue
  docs/.vuepress/theme/components/SidebarGroup.vue
  docs/.vuepress/theme/components/SidebarLink.vue
  docs/.vuepress/theme/global-components/CodeGroup.vue
  docs/.vuepress/theme/layouts/Homepage.vue
  docs/.vuepress/theme/styles/code.styl
  docs/.vuepress/theme/styles/custom-blocks.styl
  docs/.vuepress/theme/styles/index.styl
Labels: Documentation

#9322 Implement AUTH_DISABLE_DEFAULT config option
  api/src/auth.ts
  api/src/controllers/auth.ts
  api/src/env.ts
  app/src/routes/login/login.vue
  docs/configuration/config-options.md
  docs/reference/authentication.md
Labels: API, App, New Feature

#10288 New Crowdin updates
  app/src/lang/translations/fr-FR.yaml
Labels: Automerge

#10289 New Crowdin updates
  app/src/lang/translations/fr-FR.yaml
Labels: Automerge

#10290 New Crowdin updates
  app/src/lang/translations/fr-FR.yaml
Labels: Automerge

#10293 New Crowdin updates
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#10294 New Crowdin updates
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#10295 New Crowdin updates
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#10296 New Crowdin updates
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#10298 New Crowdin updates
  app/src/lang/translations/fr-FR.yaml
Labels: Automerge

#10299 New Crowdin updates
  app/src/lang/translations/fr-FR.yaml
Labels: Automerge

#10297 Fixed escaping error on LDAP filters
  api/src/auth/drivers/ldap.ts
Labels: API, Bug

#10306 New Crowdin updates
  app/src/lang/translations/es-ES.yaml
Labels: Automerge

#10302 Added back missing LDAP default
  api/src/auth/drivers/ldap.ts
Labels: API

#10314 New Crowdin updates
  app/src/lang/translations/cs-CZ.yaml
Labels: Automerge

#10315 New Crowdin updates
  app/src/lang/translations/id-ID.yaml
Labels: Automerge

#10317 New Crowdin updates
  app/src/lang/translations/id-ID.yaml
Labels: Automerge

#10324 New Crowdin updates
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#10325 New Crowdin updates
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#10328 New Crowdin updates
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#10329 New Crowdin updates
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#10334 docs updates on file library, content sidebar etc
  docs/.vuepress/config.js
  docs/app/file-library.md
  docs/configuration/data-model.md
  docs/configuration/project-settings.md
  docs/configuration/users-roles-permissions.md
  docs/contributing/codebase-overview.md
  docs/extensions/hooks.md
  docs/extensions/migrations.md
  docs/extensions/themes.md
  docs/getting-started/installation/docker.md
  docs/getting-started/introduction.md
  docs/getting-started/quickstart.md
Labels: Documentation

#10335 Share pinia with extensions
  package-lock.json
  packages/shared/src/constants/extensions.ts
Labels: Extensions, Improvement

#10336 Fix permissions merging on null check
  api/src/utils/merge-permissions.ts
  packages/shared/src/utils/parse-filter.ts
Labels: API, Bug

#10340 replace logo with rounded version
  app/public/img/directus-white.png
Labels: App, Improvement

#10339 Use expression instead of alias in groupBy query
  api/src/utils/apply-query.ts
Labels: API, Bug, Improvement

#8611 Extension docs updates
  docs/.vuepress/config.js
  docs/extensions/api-endpoints.md
  docs/extensions/creating-extensions.md
  docs/extensions/displays.md
  docs/extensions/endpoints.md
  docs/extensions/hooks.md
  docs/extensions/interfaces.md
  docs/extensions/introduction.md
  docs/extensions/layouts.md
  docs/extensions/modules.md
  docs/getting-started/introduction.md
Labels: Documentation, Extensions

#10301 SSO fixes and improvements
  api/src/auth/drivers/oauth2.ts
  api/src/auth/drivers/openid.ts
  api/src/exceptions/index.ts
  api/src/exceptions/invalid-token.ts
Labels: API, Bug, Improvement

#10343 New Crowdin updates
  app/src/lang/translations/de-DE.yaml
Labels: Automerge

#10344 New Crowdin updates
  app/src/lang/translations/de-DE.yaml
Labels: Automerge

#10346 Use variables for default colors in boolean interface/display
  app/src/displays/boolean/boolean.vue
  app/src/displays/boolean/index.ts
  app/src/interfaces/boolean/boolean.vue
  app/src/interfaces/boolean/index.ts
Labels: App, Improvement

#10348 New Crowdin updates
  app/src/lang/translations/th-TH.yaml
Labels: Automerge

#10349 New Crowdin updates
  app/src/lang/translations/th-TH.yaml
Labels: Automerge

#10370 fix styling problem with nested render-template
  app/src/views/private/components/render-template/render-template.vue
Labels: App, Bug

#10378 New Crowdin updates
  app/src/lang/translations/fr-FR.yaml
Labels: Automerge

#10382 Tweak for logical operators snippet
  docs/configuration/filter-rules.md
Labels: Documentation

#10385 New Crowdin updates
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#10388 New Crowdin updates
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#10395 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#10396 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#10386 Add custom panel extensions template & docs
  docs/extensions/creating-extensions.md
  docs/extensions/panels.md
  docs/getting-started/glossary.md
  packages/extensions-sdk/src/index.ts
  packages/extensions-sdk/templates/panel/javascript/src/index.js
  packages/extensions-sdk/templates/panel/javascript/src/panel.vue
  packages/extensions-sdk/templates/panel/typescript/src/index.ts
  packages/extensions-sdk/templates/panel/typescript/src/panel.vue
  packages/extensions-sdk/templates/panel/typescript/src/shims.d.ts
Labels: Documentation, Extensions

#10403 New Crowdin updates
  app/src/lang/translations/en-GB.yaml
Labels: Automerge

#10406 fix activity log tooltip
  app/src/views/private/components/notifications-preview/notifications-preview.vue
Labels: App

#10411 New Crowdin updates
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#10413 New Crowdin updates
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#10412 Fix selection of field.meta.special after removal
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-schema.vue
Labels: App, Bug

#10423 New Crowdin updates
  app/src/lang/translations/it-IT.yaml
Labels: Automerge

#10429 New Crowdin updates
  app/src/lang/translations/ar-SA.yaml
Labels: Automerge

#10422 Gatsby: fix plugin for version 4
  packages/gatsby-source-directus/gatsby-node.js
  packages/gatsby-source-directus/package.json
  packages/gatsby-source-directus/readme.md
Labels: Package: gatsby-source-directus

#10410 fix translations not refreshing on save
  app/src/interfaces/translations/translations.vue
Labels: App, Bug

#10408 clarify "folder" collections & collection API reference
  docs/getting-started/glossary.md
  docs/reference/system/collections.md
Labels: Documentation

#10125 Auto expand selections for checkbox tree in Show Selected mode
  app/src/components/v-checkbox-tree/v-checkbox-tree-checkbox.vue
Labels: App, Bug

#10430 patch translations interface for new translations
  app/src/interfaces/translations/translations.vue
Labels: App, Bug

#10432 New Crowdin updates
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#10433 New Crowdin updates
  app/src/lang/translations/hi-IN.yaml
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#10434 New Crowdin updates
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#10437 Update selection styling to use CSS variable
  app/src/interfaces/input-rich-text-html/get-editor-styles.ts
  app/src/styles/_base.scss
Labels: App, Improvement

#10441 interface padding
  app/src/components/v-list/v-list-item.vue
  app/src/interfaces/select-color/select-color.vue
Labels: App, Improvement

#9957 Separate caching of dynamic user vars from permissions
  api/src/utils/get-permissions.ts
Labels: API, Bug

#10440 Fix broken wysiwyg editor when width and height are set in image
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
Labels: App, Bug
