Repository directus/directus, pull requests merged in 2021-05, with the labels that each got.

#5408 [OracleDB] Extended schema-inspector to add AUTO_INCREMENT to columnInfo
  packages/schema/package.json
  packages/schema/src/dialects/oracledb.ts
Labels: Bug, DB: Oracle

#5446 Allow custom email subjects for invite and pw reset mail
  api/src/services/users.ts
Labels: API, New Feature

#5461 Added Oracle healthcheck fix
  api/src/services/server.ts
Labels: API, Bug, DB: Oracle

#2893 Add calendar layout
  app/src/composables/use-items/use-items.ts
  app/src/lang/translations/en-US.yaml
  app/src/layouts/calendar/calendar.vue
  app/src/layouts/calendar/index.ts
  app/src/styles/lib/_fullcalendar.scss
  app/src/styles/main.scss
  app/src/types/index.ts
  app/src/types/items.ts
  app/src/utils/move-in-array/move-in-array.ts
  app/src/utils/render-string-template.ts
  package-lock.json
  package.json
Labels: App, New Feature

#5466 Decode HTML entities in formatted values display
  app/package.json
  app/src/displays/formatted-value/formatted-value.vue
  package-lock.json
Labels: App, Improvement

#5467 Fix users not adhering to field permissions
  app/src/modules/users/routes/item.vue
Labels: App, Bug

#5469 Allow for filtering by false booleans
  app/src/views/private/components/filter-sidebar-detail/get-available-operators-for-type.ts
Labels: App, Bug

#5470 Default active list to null, remove self-toggle
  app/src/components/v-list/v-list-group.vue
  app/src/components/v-list/v-list.vue
  app/src/composables/groupable/groupable.ts
Labels: App, Bug

#5502 Added support for PostgreSQL identity column
  packages/schema/src/dialects/postgres.ts
Labels: API, Bug

#5506 Filters improvements
  api/src/utils/apply-query.ts
Labels: API, Improvement

#5524 Create input-autocomplete-api interface
  app/src/components/v-input/v-input.vue
  app/src/interfaces/input-autocomplete-api/index.ts
  app/src/interfaces/input-autocomplete-api/input-autocomplete-api.vue
  app/src/interfaces/input/input.vue
  app/src/lang/translations/en-US.yaml
Labels: App, New Feature

#5525 Add default displays based on field type
  app/src/composables/use-form-fields/use-form-fields.ts
  app/src/layouts/tabular/tabular.vue
  app/src/utils/get-default-display-for-type.ts
  app/src/utils/get-default-interface-for-type.ts
  app/src/utils/get-default-interface-for-type/index.ts
  app/src/views/private/components/render-template/render-template.vue
Labels: App

#5653 app: fix export with filters
  app/src/modules/collections/routes/collection.vue
  app/src/views/private/components/export-sidebar-detail/export-sidebar-detail.vue
Labels: App, Bug

#5660 Add JSON/CSV Import
  api/package.json
  api/src/controllers/utils.ts
  api/src/middleware/respond.ts
  api/src/services/import.ts
  api/src/services/index.ts
  api/tsconfig.json
  docs/reference/api/query.md
  docs/reference/api/system/utilities.md
  package-lock.json
Labels: API, New Feature

#5685 Sort custom and internal migrations by version prefix
  api/src/database/migrations/run.ts
Labels: API, Improvement

#5557 Move export to layouts
  app/src/layouts/calendar/calendar.vue
  app/src/layouts/cards/cards.vue
  app/src/layouts/tabular/tabular.vue
  app/src/modules/collections/routes/collection.vue
  app/src/views/private/components/export-sidebar-detail/export-sidebar-detail.vue
Labels: App, Bug

#5613 Add support for mailgun transport
  api/example.env
  api/package.json
  api/src/services/mailer.ts
  docs/reference/environment-variables.md
  package-lock.json
Labels: API, New Feature

#5671 Fixed issues with template overriding
  api/src/services/mail/index.ts
  api/src/services/users.ts
Labels: API, Bug

#5251 api: pass user object to auth hooks
  api/src/controllers/not-found.ts
  api/src/services/authentication.ts
  api/src/services/items.ts
Labels: API, Improvement

#5731 Make primary key always not nullable
  api/src/services/fields.ts
Labels: API, Bug, DB: MS SQL Server

#5763 fix occasional typeerror in payload service
  api/src/services/payload.ts
Labels: API, Bug

#5795 Add max concurrency and max image transform size support
  api/package.json
  api/src/env.ts
  api/src/exceptions/illegal-asset-transformation.ts
  api/src/exceptions/index.ts
  api/src/services/assets.ts
  app/src/displays/file/file.vue
  app/src/displays/image/image.vue
  app/src/layouts/cards/components/card.vue
  app/src/views/private/components/file-preview/file-preview.vue
  docs/reference/environment-variables.md
  package-lock.json
Labels: API, New Feature

#5804 Add support for MSSQL uniqueidentifier type
  api/src/utils/get-local-type.ts
Labels: API, Improvement

#5801 Update Docker image to execute as a non-root user
  .github/actions/build-images/rootfs/directus/images/main/Dockerfile
Labels: Docker, Improvement

#5810 Fix custom field sort on system detail pages
  .changeset/sweet-rocks-confess.md
  app/src/stores/fields.ts
Labels: App, Bug

#5816 select only real tables (and not views) in mssql
  .changeset/eight-cups-thank.md
  packages/schema/src/dialects/mssql.ts
Labels: API, Improvement

#5848 Authorization token is null in gatsby plugin
  packages/gatsby-source-directus/gatsby-node.js
Labels: Bug, Package: gatsby-source-directus

#5855 Support top-level filter through relational m2a items
  .changeset/slow-jokes-agree.md
  api/src/utils/apply-query.ts
Labels: API, New Feature

#5860 Enhance translations interface previews
  .changeset/fluffy-zebras-cross.md
  app/src/components/v-field-template/v-field-template.vue
  app/src/interfaces/translations/options.vue
  app/src/interfaces/translations/translations.vue
  app/src/lang/translations/en-US.yaml
  package-lock.json
Labels: App, Bug, Improvement

#5932 Add reference to relational data section to create item API docs
  docs/reference/api/items.md
Labels: Documentation

#5936 Update links at security env variables
  docs/reference/environment-variables.md
Labels: Documentation

#5943 add basic permissions to user
  app/src/modules/settings/routes/roles/app-permissions.ts
Labels: App, Improvement
