Repository directus/directus, pull requests merged in 2021-03, with the labels that each got.

#4358 Create allow list for custom migration file extensions
  api/src/database/migrations/run.ts
Labels: API, Improvement

#4364 Support `root` option in S3/Azure/GCS
  api/.gitignore
  packages/drive-azure/package.json
  packages/drive-azure/src/AzureBlobWebServices.ts
  packages/drive-gcs/package.json
  packages/drive-gcs/src/GoogleCloudStorage.ts
  packages/drive-s3/package.json
  packages/drive-s3/src/AmazonWebServicesS3Storage.ts
Labels: New Feature, Package: drive

#4384 Allow deeply nested queries with deep
  api/src/services/graphql.ts
  api/src/utils/get-ast-from-query.ts
  api/src/utils/sanitize-query.ts
  api/src/utils/validate-query.ts
  docs/reference/api/query.md
Labels: API, Bug, New Feature

#4278 Filter O2M collections with a subquery instead of joins to prevent cartesian products
  api/src/app.ts
  api/src/database/run-ast.ts
  api/src/utils/apply-query.ts
Labels: API, Bug, DB: SQL Server

#4271 Adding and removing collections from m2a
  app/src/interfaces/m2a-builder/m2a-builder.vue
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-m2a.vue
Labels: App, Improvement

#4435 Update cli.md
  docs/guides/installation/cli.md
Labels: Documentation

#4388 Update STORAGE_<LOCATION>_ENDPOINT environment variable description
  docs/reference/environment-variables.md
Labels: Documentation

#4453 Resolve relative CONFIG_PATH
  api/src/env.ts
Labels: API, Bug

#4455 Fix installing on MS SQL
  api/src/database/migrations/20201105A-add-cascade-system-relations.ts
  packages/schema/package-lock.json
  packages/schema/package.json
  packages/schema/src/dialects/mssql.ts
  packages/schema/src/dialects/postgres.ts
Labels: API, Bug, DB: SQL Server

#4490 Add env for cookie domain
  api/src/controllers/auth.ts
  docs/reference/environment-variables.md
Labels: API, New Feature

#4494 Added 'AUTO_INCREMENT' for mssql identity columns
  packages/schema/src/dialects/mssql.ts
Labels: API, Bug, DB: SQL Server

#4511 Update docs for custom-interfaces.
  docs/guides/interfaces.md
Labels: Documentation

#4504 To clear to Expired Sessions#4414
  api/src/services/authentication.ts
Labels: API, Improvement

#4576 Always remove the primary key field from the update payload
  api/src/services/items.ts
Labels: API, Bug

#4620 Assets quality parameter #4557
  api/src/constants.ts
  api/src/controllers/assets.ts
  api/src/services/assets.ts
  api/src/types/assets.ts
  docs/reference/api/assets.md
Labels: API, Bug

#4398 Add cli passwd command
  api/src/cli/commands/users/passwd.ts
  api/src/cli/index.ts
Labels: API, New Feature

#4645 Reduced chunk vendor build size ( Parsed size from 3.48MB to 1.19MB )
  app/src/interfaces/types.ts
  app/src/interfaces/wysiwyg/index.ts
  app/src/modules/docs/routes/static.vue
  app/src/utils/register-component/register-component.ts
Labels: App, Optimization

#4656 Rely on npm Workspaces for module resolving
  .eslintignore
  .eslintrc.js
  .prettierignore
  api/.eslintrc.js
  api/.prettierrc.js
  api/package.json
  api/src/database/seeds/run.ts
  api/src/utils/require-yaml.ts
  api/tsconfig.json
  app/.eslintrc.js
  app/.prettierrc.js
  app/package.json
  app/src/components/v-menu/use-popper.ts
  app/src/components/v-slider/v-slider.vue
  app/tsconfig.json
  docs/.prettierrc.js
  docs/package-lock.json
  package-lock.json
  package.json
  packages/create-directus-project/.eslintrc.js
  packages/create-directus-project/package-lock.json
  packages/create-directus-project/package.json
  packages/drive-azure/package-lock.json
  packages/drive-azure/package.json
  packages/drive-gcs/package-lock.json
  packages/drive-gcs/package.json
  packages/drive-s3/package-lock.json
  packages/drive-s3/package.json
  packages/drive/package-lock.json
  packages/drive/package.json
  packages/format-title/.eslintrc.js
  packages/format-title/package-lock.json
  packages/format-title/package.json
  packages/gatsby-source-directus/package-lock.json
  packages/schema/.eslintrc.js
  packages/schema/docker-compose.yml
  packages/schema/package-lock.json
  packages/schema/package.json
  packages/schema/test/mysql.spec.ts
  packages/schema/test/postgres.spec.ts
  packages/schema/test/seed/mysql.sql
  packages/schema/test/seed/postgres.sql
  packages/schema/tsconfig.json
  packages/sdk-js/package-lock.json
  packages/specs/package-lock.json
  packages/specs/package.json
  tsconfig.json
Labels: Optimization

#4602 Add Tree-View Interface
  api/src/database/run-ast.ts
  api/src/services/payload.ts
  api/src/types/schema.ts
  api/src/utils/get-ast-from-query.ts
  api/src/utils/get-schema.ts
  app/src/interfaces/tree-view/index.ts
  app/src/interfaces/tree-view/item-preview.vue
  app/src/interfaces/tree-view/nested-draggable.vue
  app/src/interfaces/tree-view/tree-view.vue
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-o2m.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail.vue
Labels: App, New Feature

#4705 Enable latest docker image tag
  .github/actions/build-images/action.yml
  .github/workflows/build-images.yml
Labels: Docker

#4727 Fix discard not closing on singleton
  app/src/modules/collections/routes/item.vue
Labels: App, Bug

#4721 Fix table row and header dragging
  app/src/components/v-table/table-header/table-header.vue
  app/src/components/v-table/table-row/table-row.vue
Labels: App, Bug

#4724 Allow for temporary presets
  app/src/composables/use-preset/use-preset.ts
  app/src/views/private/components/drawer-collection/drawer-collection.vue
Labels: App, Bug

#4748 Fix v-if not updating
  app/src/interfaces/one-to-many/one-to-many.vue
Labels: App, Bug

#4755 Restyle hr in wysiwyg
  app/src/interfaces/wysiwyg/get-editor-styles.ts
Labels: App, Improvement

#4758 Add display template option to Tree view
  app/src/components/v-field-template/field-list-item.vue
  app/src/interfaces/tree-view/index.ts
  app/src/interfaces/tree-view/options.vue
Labels: App, Improvement

#4747 Fix sort field not nullable
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-m2a.vue
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-m2m.vue
Labels: App, Bug

#4750 Dont allow to sort m2a and translations
  app/src/layouts/tabular/tabular.vue
Labels: App, Bug

#4771 Fix wysiwyg dropdown styles
  app/src/interfaces/wysiwyg/tinymce-overrides.css
Labels: App, Improvement

#4772 Make o2m sort editable
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-o2m.vue
Labels: App, Bug

#4773 Add larger page options
  app/src/layouts/cards/cards.vue
  app/src/layouts/tabular/tabular.vue
Labels: App, Improvement
