Repository directus/directus, pull requests merged in 2021-02, with the labels that each got.

#3646 Set bundler and cjs targets of sdk-js and format-title to es2018
  packages/format-title/rollup.config.js
  packages/sdk-js/rollup.config.js
Labels: Bug, Package: sdk-js

#3872 Add system collections to GraphQL schema
  api/src/services/graphql.ts
Labels: API, Bug

#3680 Application initialization events
  api/src/app.ts
  api/src/controllers/not-found.ts
  api/src/emitter.ts
  api/src/extensions.ts
  api/src/server.ts
  api/src/services/items.ts
  api/src/start.ts
  docs/guides/api-hooks.md
Labels: API, Improvement

#3730 Adds gatsby integration package
  package.json
  packages/gatsby-source-graphql/gatsby-node.js
  packages/gatsby-source-graphql/package.json
  packages/gatsby-source-graphql/readme.md
Labels: Package: gatsby-source-directus

#4052 m2o fix corresponding type not set
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-m2o.vue
Labels: App, Bug

#4053 Make fields of files either readonly or hide them
  api/src/database/system-data/fields/files.yaml
Labels: App, Improvement

#3263 Add file library integration for WYSIWYG interface
  app/src/interfaces/wysiwyg/index.ts
  app/src/interfaces/wysiwyg/tinymce-overrides.css
  app/src/interfaces/wysiwyg/wysiwyg.vue
Labels: App, New Feature

#4057 Fix translation of module names
  app/src/modules/activity/index.ts
  app/src/modules/collections/index.ts
  app/src/modules/docs/index.ts
  app/src/modules/files/index.ts
  app/src/modules/settings/index.ts
  app/src/modules/users/index.ts
  app/src/views/private/components/module-bar/module-bar.vue
Labels: App, Bug

#4061 Fix fields not updateable because type is null
  api/src/controllers/fields.ts
Labels: API, Bug

#4062 Add default values to toggle interface
  app/src/interfaces/toggle/index.ts
Labels: App, Improvement

#4063 add clear value button for color interface
  app/src/interfaces/color/color.vue
Labels: App, Improvement

#4064 Add clear button to datetime interface
  app/src/interfaces/datetime/datetime.vue
Labels: App, Improvement

#4070 Remove button in O2M fields works in readonly mode
  app/src/interfaces/one-to-many/one-to-many.vue
Labels: App, Bug

#4069 Add default displays to directus_users
  api/src/database/system-data/fields/users.yaml
Labels: Bug

#4077 fix #4060 by setting array $index
  app/src/interfaces/m2a-builder/m2a-builder.vue
Labels: App, Bug

#4029 Add config override support to env module
  api/src/env.ts
  app/src/modules/docs/components/links.yaml
  docs/.vuepress/config.js
  docs/guides/api-config.md
  docs/reference/config-files.md
  docs/reference/environment-variables.md
Labels: API, New Feature

#4091 Update links in docs
  docs/concepts/application.md
  docs/getting-started/introduction.md
  docs/getting-started/quickstart.md
  docs/getting-started/support.md
Labels: Documentation

#4089 Update system fields default displays
  api/src/database/system-data/fields/files.yaml
  api/src/database/system-data/fields/users.yaml
  api/src/database/system-data/fields/webhooks.yaml
Labels: App, Improvement

#4085 Update readonly styling for code editor
  app/src/interfaces/code/code.vue
  app/src/styles/lib/_codemirror.scss
Labels: App, Bug

#4098 Update example for endpoints to pass error to next
  docs/guides/api-endpoints.md
Labels: Documentation

#4099 Align CORS environment variables between middleware and cos
  api/src/env.ts
  docs/reference/environment-variables.md
Labels: API, Documentation, Improvement

#4102 Don't try auto-refreshing on access token expiry times > 32bit integers
  app/src/auth.ts
Labels: App, Bug

#4100 Remove border-color from disabled code interface
  app/src/styles/lib/_codemirror.scss
Labels: App, Improvement

#4104 fix #4058 set index correctly for deletion
  app/src/interfaces/m2a-builder/m2a-builder.vue
Labels: App, Bug

#4103 Fix padding v-field-template
  app/src/components/v-field-template/v-field-template.vue
Labels: App, Optimization

#4020 Fix input padding
  app/src/components/v-input/v-input.vue
Labels: App, Improvement

#4113 Fix for SDK - Persistent login refresh not working
  packages/sdk-js/src/handlers/auth.ts
Labels: Bug, Package: sdk-js

#4110 Move Flydrive home and implement Azure
  api/package.json
  api/src/storage.ts
  docs/concepts/files.md
  docs/reference/environment-variables.md
  package-lock.json
  package.json
  packages/drive-azure/package.json
  packages/drive-azure/readme.md
  packages/drive-azure/src/AzureBlobWebServices.ts
  packages/drive-azure/src/index.ts
  packages/drive-azure/tsconfig.json
  packages/drive-gcs/package.json
  packages/drive-gcs/readme.md
  packages/drive-gcs/src/GoogleCloudStorage.ts
  packages/drive-gcs/src/index.ts
  packages/drive-gcs/tsconfig.json
  packages/drive-s3/package.json
  packages/drive-s3/readme.md
  packages/drive-s3/src/AmazonWebServicesS3Storage.ts
  packages/drive-s3/src/index.ts
  packages/drive-s3/tsconfig.json
  packages/drive/package.json
  packages/drive/readme.md
  packages/drive/src/LocalFileSystemStorage.ts
  packages/drive/src/Storage.ts
  packages/drive/src/StorageManager.ts
  packages/drive/src/exceptions/AuthorizationRequired.ts
  packages/drive/src/exceptions/DriverNotSupported.ts
  packages/drive/src/exceptions/FileNotFound.ts
  packages/drive/src/exceptions/InvalidConfig.ts
  packages/drive/src/exceptions/MethodNotSupported.ts
  packages/drive/src/exceptions/NoSuchBucket.ts
  packages/drive/src/exceptions/PermissionMissing.ts
  packages/drive/src/exceptions/UnknownException.ts
  packages/drive/src/exceptions/WrongKeyPath.ts
  packages/drive/src/exceptions/index.ts
  packages/drive/src/index.ts
  packages/drive/src/types.ts
  packages/drive/src/utils.ts
  packages/drive/tsconfig.json
Labels: API, New Feature

#4124 Fix batch mode not setting default values
  app/src/components/v-form/form-field.vue
  app/src/components/v-form/v-form.vue
Labels: App, Bug

#4125 Reset value of interface interface when type gets changed
  app/src/interfaces/_system/interface/interface.vue
Labels: App, Improvement

#4130 Fixed authorization service
  api/src/services/authorization.ts
Labels: API, Bug

#4129 Live preview title when creating new field
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/data-model/field-detail/field-detail.vue
Labels: App, Improvement

#4133 Adding detail to Ubuntu deployment documentation
  docs/guides/installation/ubuntu.md
Labels: Documentation

#4136 Implement byte-range requests on /assets
  api/src/controllers/assets.ts
  api/src/exceptions/index.ts
  api/src/exceptions/range-not-satisfiable.ts
  api/src/services/assets.ts
  packages/drive-azure/src/AzureBlobWebServices.ts
  packages/drive-gcs/src/GoogleCloudStorage.ts
  packages/drive-s3/src/AmazonWebServicesS3Storage.ts
  packages/drive/src/LocalFileSystemStorage.ts
  packages/drive/src/Storage.ts
  packages/drive/src/types.ts
Labels: API, New Feature

#4142 Fetch all meta rows when retrieving collections
  api/src/controllers/collections.ts
  api/src/services/collections.ts
Labels: API, Bug

#4134 Fix bookmarks not updating properly
  app/src/composables/use-items/use-items.ts
  app/src/composables/use-preset/use-preset.ts
  app/src/stores/presets.ts
  app/src/types/presets.ts
  app/src/views/private/components/search-input/search-input.vue
Labels: App, Bug

#4149 Fix repeater type not being able to be set
  app/src/interfaces/repeater/options.vue
Labels: App, Bug

#4151 Fall back to key.code when key.key is not latin
  app/src/composables/use-shortcut/use-shortcut.ts
Labels: App, Bug

#4153 Add expand_more icons to sidebar detail
  app/src/composables/groupable/groupable.ts
  app/src/views/private/components/sidebar-detail-group/sidebar-detail-group.vue
  app/src/views/private/components/sidebar-detail/sidebar-detail.vue
  package-lock.json
Labels: App, Improvement

#4154 Sort fields when getting them from the store
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-o2m.vue
  app/src/stores/fields.ts
Labels: App, Improvement

#4003 Check if array is empty before inserting into database
  api/src/services/items.ts
Labels: API, Bug, DB: SQLite

#3677 Actions presentation interface
  app/src/interfaces/button-links/button-links.vue
  app/src/interfaces/button-links/index.ts
  app/src/lang/translations/en-US.yaml
Labels: App, New Feature

#4163 Issue 4082 sdk changes
  packages/sdk-js/src/handlers/auth.ts
  packages/sdk-js/src/types.ts
  packages/sdk-js/src/utils/browser-store.ts
  packages/sdk-js/src/utils/memory-store.ts
Labels: Bug, Package: sdk-js

#4158 Fix issue 4146 - Warning message while rendering M2A builder
  app/src/interfaces/m2a-builder/m2a-builder.vue
Labels: App, Bug

#4167 Fix issue-4005 [M2A] Item order changed after parent object save
  app/src/interfaces/m2a-builder/m2a-builder.vue
Labels: App, Bug

#4168 Show number of items for M2A in tabular view
  app/src/displays/related-values/related-values.vue
Labels: App, Improvement

#4177 Fix-z-height on wysiwyg in drawer
  app/src/interfaces/wysiwyg/tinymce-overrides.css
Labels: App, Bug

#4175 Unpin sqlite3 and update to version 5.0.2
  .github/actions/build-images/rootfs/directus/images/main/package.json
  api/package.json
  package-lock.json
Labels: API, Bug, DB: SQLite

#4181 Added 'npx' to db migrate
  docs/guides/projects.md
Labels: Documentation

#4174 Show prompt when having unsaved changes
  app/src/composables/unsaved-changes/index.ts
  app/src/composables/unsaved-changes/unsaved-changes.ts
  app/src/modules/collections/routes/item.vue
  app/src/modules/files/routes/item.vue
  app/src/modules/users/routes/item.vue
Labels: App, Improvement

#4148 Add notification when new field will be generated
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-m2a.vue
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-m2m.vue
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-m2o.vue
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-o2m.vue
Labels: App, Improvement

#4185 Fix input padding
  app/src/components/v-input/v-input.vue
Labels: App, Bug

#4162 Clarify filtered results
  app/src/composables/use-items/use-items.ts
  app/src/lang/translations/en-US.yaml
  app/src/layouts/cards/cards.vue
  app/src/layouts/tabular/tabular.vue
Labels: App, Bug

#4218 Allow setting primary key in o2m
  app/src/interfaces/one-to-many/one-to-many.vue
Labels: App, Bug

#4202 Show dropdown groupable
  app/src/composables/groupable/groupable.ts
Labels: App, Bug

#4217 Fix advanced filtering on relational fields
  app/src/composables/use-field-tree/use-field-tree.ts
  app/src/stores/fields.ts
  app/src/views/private/components/filter-sidebar-detail/filter-sidebar-detail.vue
Labels: App, Bug

#4196 Show related values for M2A
  app/src/utils/get-related-collection/get-related-collection.ts
Labels: App, Improvement

#4190 Adding syntax prefix parsing to specific types instead of only string var
  api/src/env.ts
  docs/reference/environment-variables.md
Labels: API, New Feature

#4223 Rotate JPG image on upload #4206
  api/src/services/files.ts
Labels: API, Bug

#4176 Add search field in settings > presets
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/presets/item.vue
Labels: App, Improvement

#4230 Fix for generating meta data gif and tiff images
  api/src/services/files.ts
Labels: API, Bug

#4249 Adds Heroku app link
  docs/getting-started/installation.md
Labels: Documentation

#4252 Attempt to improve Config Files doc
  docs/reference/config-files.md
Labels: Documentation

#4200 Fix Issue 4188
  app/src/interfaces/m2a-builder/m2a-builder.vue
Labels: App, Bug

#4107 Make headline visible if title is short
  app/src/views/private/components/header-bar/header-bar.vue
Labels: App, Bug

#4267 Fix card layout sort using relational field
  app/src/layouts/cards/cards.vue
Labels: App, Bug

#4268 Fix related-values display not working on translations
  app/src/displays/related-values/related-values.vue
Labels: App, Bug

#4255 API hooks for event added for auth.login
  api/src/controllers/auth.ts
  api/src/services/authentication.ts
  docs/guides/api-hooks.md
Labels: API, New Feature

#4284 Change order of toggle icons
  app/src/interfaces/toggle/index.ts
Labels: App, Improvement

#4285 Fix new collection fields position
  app/src/modules/settings/routes/data-model/new-collection.vue
Labels: App, Bug

#4286 Hide overflow and location when on mobile
  app/src/modules/users/routes/item.vue
Labels: App, Bug

#4287 Add download buttons to files interface
  app/src/interfaces/files/files.vue
Labels: App, New Feature

#4295 Add "explicit" o2m update syntax
  api/src/services/payload.ts
  docs/reference/api/rest/introduction.md
Labels: API, Documentation, New Feature

#4296 SDK, Token Expired error Fixes #4145
  packages/sdk-js/src/handlers/auth.ts
Labels: Bug, Package: sdk-js

#4299 Docs Spell check
  docs/reference/api/rest/server.md
  docs/reference/app/components/v-badge.md
  docs/reference/app/components/v-icon.md
  docs/reference/app/components/v-input.md
  docs/reference/app/components/v-pagination.md
  docs/reference/app/components/v-tabs-items.md
  docs/reference/app/components/v-tabs.md
  docs/reference/app/components/v-textarea.md
Labels: Documentation

#4302 Show dialog text in tox in dark mode
  app/src/interfaces/wysiwyg/tinymce-overrides.css
Labels: App, Bug

#4303 Add documentation on how to download an asset as a file
  docs/reference/api/assets.md
Labels: Documentation

#4304 Move sortField to relationship setup
  api/src/database/migrations/20210225A-add-relations-sort-field.ts
  api/src/database/system-data/relations/relations.yaml
  api/src/types/relation.ts
  app/src/interfaces/files/files.vue
  app/src/interfaces/files/index.ts
  app/src/interfaces/files/options.vue
  app/src/interfaces/m2a-builder/index.ts
  app/src/interfaces/m2a-builder/m2a-builder.vue
  app/src/interfaces/m2a-builder/options.vue
  app/src/interfaces/many-to-many/many-to-many.vue
  app/src/interfaces/many-to-many/options.vue
  app/src/interfaces/many-to-many/use-preview.ts
  app/src/interfaces/many-to-many/use-relation.ts
  app/src/interfaces/many-to-many/use-sort.ts
  app/src/interfaces/one-to-many/one-to-many.vue
  app/src/interfaces/one-to-many/options.vue
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-m2a.vue
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-m2m.vue
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-m2o.vue
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-o2m.vue
  app/src/modules/settings/routes/data-model/field-detail/store.ts
  app/src/types/relations.ts
Labels: API, App, New Feature

#4294 Fix issue 4280 by initializing sortField when create new item
  app/src/interfaces/m2a-builder/m2a-builder.vue
Labels: App, Improvement

#4314 Feature/markdown shortcuts
  app/src/interfaces/markdown/markdown.vue
  app/src/utils/translate-shortcut/translate-shortcut.ts
Labels: App, New Feature
