Repository directus/directus, pull requests merged in 2022-09, with the labels that each got.

#15352 Prevent sending the primary key for newly created relational items
  app/src/views/private/components/drawer-item.vue
Labels: App, Bug

#15337 Current items cleared in o2m/m2m when selecting nothing with "add existing"
  app/src/components/v-form/form-field-menu.vue
  app/src/composables/use-relation-multiple.ts
Labels: App, Bug

#15354 Do not parse json in transform operation if it is already an object
  api/src/operations/transform/index.ts
Labels: API, Bug

#15358 Fix lint warnings
  api/src/middleware/validate-batch.ts
  api/src/utils/async-handler.test.ts
Labels: Optimization

#15366 Reset value when no changes
  app/src/composables/use-relation-multiple.ts
  app/src/interfaces/list-m2a/list-m2a.vue
  app/src/interfaces/translations/translations.vue
Labels: App, Improvement

#15361 Fix custom icons
  packages/components/src/components/v-icon/custom-icons/signal_wifi_2_bar.vue
  packages/components/src/components/v-icon/custom-icons/signal_wifi_3_bar.vue
  packages/components/src/components/v-icon/v-icon.test.ts
  packages/components/src/components/v-icon/v-icon.vue
Labels: App, Bug

#15369 Don't reset body on singleton non-SEARCH reqs
  api/src/middleware/validate-batch.test.ts
  api/src/middleware/validate-batch.ts
Labels: API, Bug

#15355 check that collection exists and not a singleton on panels
  app/src/interfaces/_system/system-collection/system-collection.vue
  app/src/interfaces/_system/system-collections/system-collections.vue
  app/src/panels/list/index.ts
  app/src/panels/metric/index.ts
  app/src/panels/time-series/index.ts
Labels: App, Bug

#15241 Sort is set to NULL for new items
  api/src/services/payload.ts
  app/src/composables/use-relation-multiple.ts
  app/src/interfaces/files/files.vue
  app/src/interfaces/list-m2a/list-m2a.vue
  app/src/interfaces/list-m2m/list-m2m.vue
  app/src/interfaces/list-o2m/list-o2m.vue
Labels: API, App, Bug

#15376 Fix context menu
  app/src/components/v-menu.vue
Labels: App, Bug

#15385 Set limit as -1 for local exports when field is cleared
  app/src/views/private/components/export-sidebar-detail.vue
Labels: App, Bug

#15386 Merge with existing item when validating in drawer-item
  app/src/views/private/components/drawer-item.vue
Labels: App, Bug

#15396 #15395 fix: date-fns date format for tr-TR translations
  app/src/lang/translations/tr-TR.yaml
Labels: App, Bug

#15402 Add singleton tests
  tests-blackbox/common/functions.ts
  tests-blackbox/routes/items/singleton.seed.ts
  tests-blackbox/routes/items/singleton.test.ts
Labels: Optimization

#15397 Move supertest to devDependencies
  api/package.json
  pnpm-lock.yaml
Labels: API, Optimization, Missing Issue

#15384 Adding SendGrid email transport
  api/package.json
  api/src/cli/utils/create-env/env-stub.liquid
  api/src/env.ts
  api/src/mailer.ts
  pnpm-lock.yaml
Labels: API, New Feature

#14605 fix divider not showing/ showing when not needed (drawer-item)
  app/src/components/v-form/v-form.vue
  app/src/interfaces/list-m2m/index.ts
  app/src/interfaces/list-m2m/list-m2m.vue
  app/src/lang/translations/en-US.yaml
  app/src/views/private/components/drawer-item.vue
Labels: App, Improvement, Missing Issue

#15403 Disable foreign check outside the trx in SQLite
  api/src/database/helpers/schema/dialects/sqlite.ts
  api/src/database/helpers/schema/types.ts
  api/src/services/fields.ts
  api/src/services/relations.ts
  tests-blackbox/routes/fields/change-fields.seed.ts
  tests-blackbox/routes/fields/change-fields.test.ts
  tests-blackbox/setup/sequentialTests.js
Labels: API, Bug, DB: SQLite

#15413 Fix drawer item empty form for o2m/treeview
  app/src/views/private/components/drawer-item.vue
Labels: App, Bug

#15433 Merge with M2M junction value when validating in drawer-item
  app/src/views/private/components/drawer-item.vue
Labels: App, Bug

#15438 Prevent v-highlight infinite loop
  app/src/components/v-highlight.vue
Labels: App, Bug

#15441 fix: add arrow-placement logic check if folder empty
  app/src/modules/files/components/navigation.vue
Labels: App, Bug

#15450 Fix M2M drawer autofocusing the wrong field with junction field location `top`
  app/src/views/private/components/drawer-item.vue
Labels: App, Bug

#15506 Remove OS info
  api/src/services/graphql/index.ts
  api/src/services/server.ts
  api/src/utils/get-os-info.ts
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/composables/use-project-info.ts
  app/src/modules/settings/routes/project/components/project-info-sidebar-detail.vue
  app/src/stores/server.ts
Labels: API, App, Bug

#15520 fix redudant message in unexpected error
  app/src/utils/unexpected-error.ts
Labels: App, Bug

#15494 Fix rotating called twice
  api/src/services/assets.ts
Labels: API, Bug

#15467 revisions for CRUD operations with $full
  api/src/operations/item-create/index.ts
  api/src/operations/item-delete/index.ts
  api/src/operations/item-read/index.ts
  api/src/operations/item-update/index.ts
  api/src/operations/notification/index.ts
  api/src/utils/get-accountability-for-role.ts
Labels: API, Bug

#14871 Add missing download and token parameter in File interface
  app/src/interfaces/file-image/file-image.vue
  app/src/interfaces/file/file.vue
  app/src/interfaces/files/files.vue
  app/src/modules/files/routes/item.vue
  app/src/utils/get-asset-url.test.ts
  app/src/utils/get-asset-url.ts
Labels: App, Bug

#14947 Item Duplication for manually entered primary keys
  app/src/components/v-form/v-form.vue
  app/src/composables/use-item.ts
Labels: App, Bug

#15500 Fix duplicate indexes
  app/src/composables/use-relation-multiple.ts
Labels: App, Bug

#15525 Remove OS info follow-up
  app/src/modules/settings/components/navigation.vue
  app/src/views/private/components/notification-dialogs.vue
Labels: Optimization

#15420 Ensure case insensitive email checks for password reset requests
  api/src/cli/commands/users/passwd.ts
  api/src/services/users.ts
Labels: API, Bug

#15442 Fix v-list-group active state
  app/src/components/v-list-group.vue
Labels: App, Bug

#15465 GraphQLID is always Non-Nullable
  api/src/services/graphql/index.ts
Labels: API, Bug, GraphQL

#15463 Fix display dimensions of SVG in image edit drawer
  app/src/views/private/components/image-editor.vue
Labels: App, Bug

#14690 Use original table names for columns with functions
  api/src/database/helpers/fn/dialects/mssql.ts
  api/src/database/helpers/fn/dialects/mysql.ts
  api/src/database/helpers/fn/dialects/oracle.ts
  api/src/database/helpers/fn/dialects/postgres.ts
  api/src/database/helpers/fn/dialects/sqlite.ts
  api/src/database/helpers/fn/types.ts
  api/src/database/run-ast.ts
  api/src/services/graphql/index.ts
  api/src/utils/apply-query.ts
  api/src/utils/get-column.ts
  app/src/interfaces/_system/system-filter/system-filter.vue
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/parse-filter-function-path.test.ts
  packages/shared/src/utils/parse-filter-function-path.ts
Labels: API, App, Bug

#15548 Use the improved get method
  app/src/views/private/components/render-template.vue
Labels: App, Bug, Improvement

#15547 Handle Date objects in compress util
  packages/shared/src/utils/compress.test.ts
  packages/shared/src/utils/compress.ts
Labels: API, Bug

#15574 Fix starting Directus using a custom start file
  api/src/app.ts
  api/src/extensions.ts
Labels: API, Bug

#15578 Add a pathToRelativeUrl util function
  api/src/extensions.ts
  packages/extensions-sdk/src/cli/utils/load-config.ts
  packages/shared/src/utils/node/generate-extensions-entry.ts
  packages/shared/src/utils/node/index.ts
  packages/shared/src/utils/node/list-folders.test.ts
  packages/shared/src/utils/node/path-to-relative-url.test.ts
  packages/shared/src/utils/node/path-to-relative-url.ts
Labels: Optimization, Package: shared

#15579 Showing the v-error on unexpected errors
  app/src/views/private/components/notification-dialogs.vue
Labels: App, Bug

#15514 Allow user to send a WYSIWYG email body
  api/src/operations/mail/index.ts
  app/src/operations/mail/index.ts
Labels: API, App, Improvement, Missing Issue

#14816 Fix schema re-apply attempts when it's a different database vendor
  api/src/utils/apply-snapshot.test.ts
  api/src/utils/get-snapshot-diff.ts
Labels: API, Bug

#15570 Only pass singleton prop in CollectionOrItem component when necessary
  app/src/modules/content/routes/collection-or-item.vue
Labels: App, Improvement

#15594 Correct the documented default type for argon2
  api/src/cli/utils/create-env/env-stub.liquid
Labels: Optimization

#15593 skip interface options for variable panel
  app/src/panels/variable/index.ts
Labels: App, Bug

#15599 Cache: Fix check if endpoint is `/graphql` or not
  api/src/middleware/cache.ts
  api/src/middleware/respond.ts
  api/src/utils/get-cache-key.test.ts
  api/src/utils/get-cache-key.ts
Labels: API, Bug

#15611 Add support for `<collection>.items.query` filter hook
  api/src/services/items.ts
Labels: API, Improvement

#15162 Implemented an option to filter M2A fields using graphql.
  api/src/services/graphql/index.ts
  packages/shared/src/utils/parse-filter.ts
Labels: API, Bug, GraphQL

#15693 Graphql: Fix required PK on create / update
  api/src/services/graphql/index.ts
Labels: API, Bug, GraphQL

#15709 Fix image alt being null
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
Labels: App, Bug

#14778 Add fallback message when no fields are visible in a form
  app/src/components/v-form/v-form.vue
  app/src/lang/translations/en-US.yaml
  app/src/views/private/components/drawer-item.vue
Labels: App, Bug

#15585 Change Trigger Flow operation's Flow uuid input to autocomplete interface
  app/src/operations/trigger/index.ts
Labels: App, Improvement

#15760 adds missing graphQL operators
  api/src/services/graphql/index.ts
  packages/shared/src/utils/get-filter-operators-for-type.test.ts
  packages/shared/src/utils/get-filter-operators-for-type.ts
Labels: API, Bug, GraphQL

#15786 Ignore pnpm-lock.yaml when running prettier on the repo
  .prettierignore
  pnpm-lock.yaml
Labels: Optimization
