Repository directus/directus, pull requests merged in 2022-11, with the labels that each got.

#16246 Improve contributing guidelines
  contributing.md
Labels: Optimization

#16176 Remove Content-Type header check in Files POST requests
  api/src/controllers/files.ts
  api/src/services/files.test.ts
  api/src/services/files.ts
  tests-blackbox/routes/collections/files.test.ts
Labels: API, Bug

#15271 Fix custom hook mocked path in api cli test
  api/src/cli/index.test.ts
Labels: Tests

#16235 Fix literal interpolation for curly brackets for Translation Strings
  app/src/composables/use-translation-strings.ts
  app/src/utils/get-literal-interpolated-translation.test.ts
  app/src/utils/get-literal-interpolated-translation.ts
Labels: App, Bug

#16218 Fix back button on content/files/users item page after login
  app/src/modules/content/routes/item.vue
  app/src/modules/files/routes/item.vue
  app/src/modules/users/routes/item.vue
Labels: App, Bug

#16173 Insights panels translation tweaks
  app/src/lang/translations/en-US.yaml
Labels: App, Improvement

#16145 Add support for SAML Part 2
  .github/workflows/blackbox-main.yml
  .github/workflows/blackbox-pr.yml
  api/package.json
  api/src/auth.ts
  api/src/auth/drivers/index.ts
  api/src/auth/drivers/saml.ts
  api/src/controllers/auth.ts
  api/src/env.ts
  app/src/constants.ts
  pnpm-lock.yaml
  tests-blackbox/common/config.ts
  tests-blackbox/docker-compose.yml
  tests-blackbox/routes/auth/saml.test.ts
Labels: API, New Feature, 💵 Sponsored

#16297 Skip serialization for empty or string bigint values in GraphQL
  api/src/services/graphql/types/bigint.ts
Labels: API, Bug, GraphQL

#16267 Test locale translations
  app/src/lang/available-languages.yaml
  app/src/lang/translations.test.ts
Labels: App, Tests

#16271 Remove dev dependencies when running blackbox tests
  .github/workflows/blackbox-main.yml
  .github/workflows/blackbox-pr.yml
  pnpm-lock.yaml
Labels: Bug, Tests

#16360 Update the Makefile for testing the Docker image build process
  docker/Makefile
Labels: Optimization

#16320 Skip checking of virtual alias fields
  api/src/services/fields.ts
  tests-blackbox/routes/fields/change-fields.seed.ts
  tests-blackbox/routes/fields/change-fields.test.ts
Labels: API, Bug

#16379 Fix sortField selection
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-relationship-m2a.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-relationship-m2m.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-relationship-o2m.vue
  app/src/modules/settings/routes/data-model/field-detail/shared/related-field-select.vue
Labels: App, Improvement

#16365 Allow disabling same width for attached dropdown menu
  app/src/components/v-menu.vue
  app/src/components/v-select/__snapshots__/v-select.test.ts.snap
  app/src/components/v-select/v-select.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-relationship-m2a.vue
Labels: App, Improvement

#16375 Add editsGuard to drawerItem
  app/src/views/private/components/drawer-item.vue
Labels: App, Improvement

#16368 Fix zero value for numeric precision and scale with float/decimal fields
  api/src/services/fields.test.ts
  api/src/services/fields.ts
Labels: API, Bug

#16233 Fix base email template footer link & logo aspect ratio
  api/src/services/mail/templates/base.liquid
  api/src/services/notifications.test.ts
  api/src/services/notifications.ts
Labels: API, Bug

#16280 use correct collection for translation
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-relationship-o2m.vue
Labels: App, Improvement

#16294 Fix "create an item" requestBody schema in OAS
  api/src/services/specifications.test.ts
  packages/specs/src/paths/items/items.yaml
Labels: Bug, Package: specs

#16413 Fix __typename selection for functions in GraphQL
  api/src/services/graphql/index.ts
Labels: API, Bug, GraphQL

#16412 Reset page when changing pageSize
  app/src/interfaces/list-o2m/list-o2m.vue
Labels: App, Bug

#15984 CockroachDB can't recreate constraints with the same name
  api/src/database/helpers/schema/dialects/cockroachdb.ts
  api/src/database/helpers/schema/types.ts
  api/src/services/relations.ts
Labels: API, Bug, DB: CockroachDB

#16027 Fix date functions for databases not in UTC timezone
  api/src/database/helpers/date/dialects/sqlite.ts
  api/src/database/helpers/date/types.ts
  api/src/database/helpers/fn/dialects/mssql.ts
  api/src/database/helpers/fn/dialects/mysql.ts
  api/src/database/helpers/fn/dialects/postgres.ts
  api/src/services/payload.test.ts
Labels: API, Bug

#16435 Fix limit in nested a2o queries
  api/src/database/run-ast.ts
Labels: API, Bug

#16438 Fix `cast-csv` read action for csv field's first revision
  api/src/services/payload.test.ts
  api/src/services/payload.ts
Labels: API, Bug

#16436 Allow admin to update Directus User `provider` and `external_identifier`
  api/src/services/users.test.ts
  api/src/services/users.ts
  app/src/modules/users/routes/item.vue
Labels: API, App, Improvement

#16441 Replace rollup-plugin-terser with @rollup/plugin-terser
  packages/extensions-sdk/package.json
  packages/extensions-sdk/src/cli/commands/build.ts
  pnpm-lock.yaml
Labels: Dependencies

#16263 Finish switch from Jest to Vitest in API
  .eslintrc.js
  api/globalSetup.js
  api/jest.config.js
  api/package.json
  api/src/__mocks__/cache.ts
  api/src/cli/index.test.ts
  api/src/controllers/files.test.ts
  api/src/database/migrations/run.test.ts
  api/src/database/migrations/run.ts
  api/src/env.test.ts
  api/src/extensions.ts
  api/src/middleware/authenticate.test.ts
  api/src/middleware/extract-token.test.ts
  api/src/middleware/validate-batch.test.ts
  api/src/operations/exec/index.test.ts
  api/src/services/fields.test.ts
  api/src/services/files.test.ts
  api/src/services/items.test.ts
  api/src/services/notifications.test.ts
  api/src/services/payload.test.ts
  api/src/services/specifications.test.ts
  api/src/services/users.test.ts
  api/src/utils/apply-snapshot.test.ts
  api/src/utils/async-handler.test.ts
  api/src/utils/calculate-field-depth.test.ts
  api/src/utils/filter-items.test.ts
  api/src/utils/get-auth-providers.test.ts
  api/src/utils/get-cache-key.test.ts
  api/src/utils/get-column-path.test.ts
  api/src/utils/get-config-from-env.test.ts
  api/src/utils/get-relation-info.test.ts
  api/src/utils/get-relation-type.test.ts
  api/src/utils/get-string-byte-size.test.ts
  api/src/utils/is-directus-jwt.test.ts
  api/src/utils/jwt.test.ts
  api/src/utils/merge-permissions.test.ts
  api/src/utils/validate-keys.test.ts
  api/tsconfig.json
  api/vitest.config.js
  pnpm-lock.yaml
Labels: API, Optimization

#15861 Keep SidebarOpen state in local storage
  app/src/composables/use-local-storage.test.ts
  app/src/composables/use-local-storage.ts
  app/src/stores/app.ts
Labels: App, Improvement

#16453 Optimize number of times cache is being cleared in ItemsService `updateBatch`
  api/src/services/items.test.ts
  api/src/services/items.ts
Labels: API, Improvement

#16461 Fix unsupported date_part() in CrDB
  api/src/database/helpers/fn/dialects/postgres.ts
Labels: API, Bug

#16462 Clean-up after Jest to Vitest switch in API
  api/src/controllers/files.test.ts
  api/src/database/migrations/run.test.ts
  api/src/middleware/authenticate.test.ts
  api/src/services/fields.test.ts
  api/src/services/files.test.ts
  api/src/services/items.test.ts
  api/src/services/notifications.test.ts
  api/src/services/payload.test.ts
  api/src/services/specifications.test.ts
  api/src/services/users.test.ts
  api/src/utils/apply-snapshot.test.ts
  api/src/utils/get-relation-type.test.ts
  api/tsconfig.json
Labels: Optimization

#16283 Only pass needed values when sorting
  app/src/interfaces/files/files.vue
  app/src/interfaces/list-m2a/list-m2a.vue
  app/src/interfaces/list-m2m/list-m2m.vue
  app/src/interfaces/list-o2m/list-o2m.vue
Labels: App, Bug

#16471 Sanitize value in comment-input
  app/src/views/private/components/comment-input.vue
Labels: App, Bug

#16484 fix list-folders test on Windows
  packages/shared/src/utils/node/list-folders.test.ts
Labels: Optimization

#16475 Patch Tuesday 🐸
  api/package.json
  api/src/utils/get-module-default.ts
  app/package.json
  app/src/styles/themes/mixins/generate-colors.scss
  app/src/utils/get-asset-url.test.ts
  app/src/utils/get-root-path.test.ts
  app/src/utils/translate-shortcut.test.ts
  package.json
  packages/drive-azure/package.json
  packages/drive-gcs/package.json
  packages/drive-s3/package.json
  packages/drive/package.json
  packages/extensions-sdk/package.json
  packages/shared/package.json
  packages/shared/src/utils/get-fields-from-template.ts
  pnpm-lock.yaml
Labels: Dependencies

#15909 Detect used package manager in extension CLI
  packages/extensions-sdk/package.json
  packages/extensions-sdk/src/cli/commands/add.ts
  packages/extensions-sdk/src/cli/commands/create.ts
  packages/extensions-sdk/src/cli/utils/get-package-manager-agent.test.ts
  packages/extensions-sdk/src/cli/utils/get-package-manager-agent.ts
  packages/extensions-sdk/src/cli/utils/get-package-manager.test.ts
  packages/extensions-sdk/src/cli/utils/get-package-manager.ts
  pnpm-lock.yaml
Labels: Extensions, Improvement

#16483 Fix condition operation passing even when the checked field isn't present in the payload
  api/src/operations/condition/index.test.ts
  api/src/operations/condition/index.ts
  packages/shared/src/utils/validate-payload.test.ts
Labels: API, Bug

#16430 Fix legacy permissions for M2O fields in GraphQL
  api/src/services/graphql/index.ts
  api/src/services/graphql/utils/process-error.test.ts
  api/src/services/graphql/utils/process-error.ts
  api/src/utils/reduce-schema.ts
Labels: API, Bug, GraphQL

#16486 use pnpm `shell-emulator` instead of `cross-env`
  .npmrc
  api/package.json
  package.json
  pnpm-lock.yaml
Labels: Optimization

#16487 Fix shares sidebar drawer's close event
  app/src/views/private/components/shares-sidebar-detail.vue
Labels: App, Bug

#15989 Use esbuild to build typescript extensions
  packages/extensions-sdk/package.json
  packages/extensions-sdk/src/cli/commands/build.ts
  packages/extensions-sdk/templates/common/typescript/config/tsconfig.json
  pnpm-lock.yaml
Labels: Extensions, Improvement

#16499 Remove named timezone usage on MySQL
  api/src/database/helpers/fn/dialects/mysql.ts
Labels: API, DB: MySQL, Improvement

#16501 Set `auth_data` to null when updating user `provider` or `external_identifier`
  api/src/services/users.test.ts
  api/src/services/users.ts
Labels: API, Improvement

#16518 Fix .module-nav-resize-handle layout
  app/src/views/private/private-view.vue
Labels: App, Bug

#16563 SSO / OpenID: Add `nonce` to request
  api/src/auth/drivers/openid.ts
Labels: API

#16591 Optimize stores hydration calls
  app/src/modules/settings/routes/data-model/fields/fields.vue
  app/src/modules/settings/routes/data-model/new-collection.vue
  app/src/modules/users/routes/item.vue
  app/src/stores/collections.ts
Labels: Optimization

#16570 fix missing collection after sorting in M2A
  app/src/interfaces/list-m2a/list-m2a.vue
Labels: App, Bug

#16512 v-menu pointer event tweaks
  app/src/components/__snapshots__/v-menu.test.ts.snap
  app/src/components/v-menu._test.ts
  app/src/components/v-menu.test.ts
  app/src/components/v-menu.vue
Labels: App, Improvement

#16511 Improve v-icon performance
  app/src/components/v-icon/custom-icons.ts
  app/src/components/v-icon/social-icon.vue
  app/src/components/v-icon/social-icons.ts
  app/src/components/v-icon/v-icon.test.ts
  app/src/components/v-icon/v-icon.vue
  app/src/interfaces/select-icon/select-icon.vue
Labels: App, Improvement

#16299 Missing logs with Pino asynchronous logging
  api/package.json
  api/src/logger.ts
  pnpm-lock.yaml
Labels: API, Bug, Package: cli

#16668 Fix key combinations being prevented in dbSafe v-input when it's a leading number
  app/src/components/v-input.test.ts
  app/src/components/v-input.vue
  app/src/composables/use-shortcut.test.ts
  app/src/composables/use-shortcut.ts
Labels: App, Bug

#16433 Fix repeated logic caused by updateOne & deleteOne overrides
  api/src/services/flows.test.ts
  api/src/services/flows.ts
  api/src/services/operations.test.ts
  api/src/services/operations.ts
  api/src/services/permissions.test.ts
  api/src/services/permissions.ts
  api/src/services/roles.test.ts
  api/src/services/roles.ts
  api/src/services/specifications.test.ts
  api/src/services/users.test.ts
  api/src/services/webhooks.test.ts
  api/src/services/webhooks.ts
  api/src/utils/apply-snapshot.test.ts
Labels: API, Improvement

#16574 Add initial GraphQL tests
  package.json
  pnpm-lock.yaml
  tests-blackbox/common/index.ts
  tests-blackbox/common/transport.ts
  tests-blackbox/routes/assets/.gitkeep
  tests-blackbox/routes/auth/login.test.ts
  tests-blackbox/routes/collections/crud.test.ts
  tests-blackbox/routes/fields/crud.test.ts
  tests-blackbox/routes/items/m2a.test.ts
  tests-blackbox/routes/items/m2m.test.ts
  tests-blackbox/routes/items/m2o.test.ts
  tests-blackbox/routes/items/no-relations.seed.ts
  tests-blackbox/routes/items/no-relations.test.ts
  tests-blackbox/routes/items/o2m.test.ts
  tests-blackbox/routes/items/singleton.test.ts
  tests-blackbox/routes/server/ping.test.ts
  tests/api/auth/login.test.ts
  tests/api/collections.test.ts
  tests/api/ping.test.ts
  tests/api/schema/datetime-changed-node-tz-america.test.ts
  tests/api/schema/datetime-changed-node-tz-asia.test.ts
  tests/api/schema/datetime.test.ts
  tests/api/utils/validate-date-difference.ts
Labels: Optimization, Tests

#16614 Fix app permissions presets with nested dynamic variables
  app/src/stores/permissions.test.ts
  app/src/stores/permissions.ts
  app/src/stores/user.test.ts
  app/src/stores/user.ts
Labels: App, Bug
