Repository directus/directus, pull requests merged in 2022-08, with the labels that each got.

#14764 New Crowdin updates
  app/src/lang/translations/ja-JP.yaml
Labels: Automerge

#14777 New Crowdin updates
  app/src/lang/translations/fr-CA.yaml
Labels: Automerge

#14776 Comments not getting loaded properly
  app/src/modules/content/routes/item.vue
Labels: App, Bug

#14769 Do not show inactive manual flows in flows sidebar
  app/src/stores/flows.ts
Labels: App, Bug, Missing Issue

#14627 500 error when using scoped fields query when not applicable
  api/src/utils/get-ast-from-query.ts
Labels: API, Bug

#14781 New Crowdin updates
  app/src/lang/translations/pl-PL.yaml
Labels: Automerge

#14782 New Crowdin updates
  app/src/lang/translations/pt-BR.yaml
Labels: Automerge

#14784 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/cs-CZ.yaml
  app/src/lang/translations/da-DK.yaml
  app/src/lang/translations/de-DE.yaml
  app/src/lang/translations/en-US.yaml
  app/src/lang/translations/fr-CA.yaml
  app/src/lang/translations/fr-FR.yaml
  app/src/lang/translations/it-IT.yaml
  app/src/lang/translations/pl-PL.yaml
Labels: Automerge

#14789 New Crowdin updates
  app/src/lang/translations/ku-TR.yaml
Labels: Automerge

#14795 Fix typo for operation component in OAS
  packages/specs/src/components/operation.yaml
Labels: Bug, Package: specs

#14791 Nested forms get out of sync on unset
  app/src/components/v-form/v-form.vue
Labels: App, Bug

#14751 Make DrawerItem, DrawerBatch global components
  app/src/components/register.ts
Labels: App, Optimization

#14799 New Crowdin updates
  app/src/lang/translations/it-IT.yaml
Labels: Automerge

#14806 Check for null initialValues in unsetValue
  app/src/components/v-form/v-form.vue
Labels: App, Bug

#14815 New Crowdin updates
  app/src/lang/translations/he-IL.yaml
Labels: Automerge

#14803 Move serializers option to the right place for pino-http
  api/src/logger.ts
Labels: API, Bug, Missing Issue

#14786 Support custom aspect ratios in image editor
  api/src/database/migrations/20220802A-add-custom-aspect-ratios.ts
  api/src/database/system-data/fields/settings.yaml
  app/src/lang/translations/en-GB.yaml
  app/src/lang/translations/en-US.yaml
  app/src/views/private/components/image-editor.vue
  packages/shared/src/types/settings.ts
Labels: App, New Feature

#14829 Check for allowed filter operators when applying filter
  api/src/services/graphql/index.ts
  api/src/services/graphql/types/hash.ts
  api/src/utils/apply-query.ts
  api/src/utils/get-graphql-type.ts
  packages/shared/src/utils/get-filter-operators-for-type.ts
  tests-blackbox/routes/items/hash-filter.seed.ts
  tests-blackbox/routes/items/hash-filter.test.ts
Labels: API, Bug

#14834 Don't hide but set as readonly
  app/src/views/private/components/drawer-item.vue
Labels: App, Improvement

#14818 Exclude relationship fields on field validation
  app/src/components/v-field-list/v-field-list.vue
  app/src/interfaces/_system/system-filter/nodes.vue
  app/src/interfaces/_system/system-filter/system-filter.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-conditions.vue
  app/src/modules/settings/routes/roles/permissions-detail/components/validation.vue
Labels: App, Improvement

#14663 Add Show Search option to checkbox tree
  app/src/interfaces/select-multiple-checkbox-tree/select-multiple-checkbox-tree.vue
Labels: App, Improvement

#14836 Tests/shared
  packages/shared/package.json
  packages/shared/src/utils/abbreviate-number.test.ts
  packages/shared/src/utils/add-field-flag.test.ts
  packages/shared/src/utils/adjust-date.test.ts
  packages/shared/src/utils/array-helpers.test.ts
  packages/shared/src/utils/deep-map.test.ts
  packages/shared/src/utils/define-extension.test.ts
  packages/shared/src/utils/functions.test.ts
  packages/shared/src/utils/generate-joi.test.ts
  packages/shared/src/utils/get-collection-type.test.ts
  packages/shared/src/utils/get-endpoint.test.ts
  packages/shared/src/utils/get-fields-from-template.test.ts
  packages/shared/src/utils/get-filter-operators-for-type.test.ts
  packages/shared/src/utils/get-relation-type.test.ts
  packages/shared/src/utils/get-simple-hash.test.ts
  packages/shared/src/utils/inject-function-results.test.ts
  packages/shared/src/utils/is-dynamic-variable.test.ts
  packages/shared/src/utils/merge-filters.test.ts
  packages/shared/src/utils/move-in-array.test.ts
  packages/shared/src/utils/node/ensure-extension-dirs.test.ts
  packages/shared/src/utils/node/generate-extensions-entry.test.ts
  packages/shared/src/utils/node/list-folders.test.ts
  packages/shared/src/utils/parse-filter.test.ts
  packages/shared/src/utils/parse-json.test.ts
  packages/shared/src/utils/pluralize.test.ts
  packages/shared/src/utils/to-array.test.ts
  packages/shared/src/utils/validate-extension-manifest.test.ts
  packages/shared/src/utils/validate-payload.test.ts
  packages/shared/tests/utils/node/get-extensions.test.ts
  packages/shared/tests/utils/node/resolve-package.test.ts
  pnpm-lock.yaml
Labels: Tests, Package: shared

#14855 Add compress/decompress utility functions
  packages/shared/package.json
  packages/shared/src/utils/compress.test.ts
  packages/shared/src/utils/compress.ts
  pnpm-lock.yaml
Labels: Package: shared

#14833 Improve cache performance by compressing records
  api/package.json
  api/src/cache.ts
  api/src/middleware/cache.ts
  api/src/middleware/respond.ts
  api/src/utils/compress.ts
  api/src/utils/get-permissions.ts
  api/src/utils/get-schema.ts
  packages/shared/src/utils/index.ts
  pnpm-lock.yaml
Labels: API, Improvement

#14861 New Crowdin updates
  app/src/lang/translations/de-DE.yaml
Labels: Automerge

#14866 New Crowdin updates
  app/src/lang/translations/it-IT.yaml
Labels: Automerge

#14868 New Crowdin updates
  app/src/lang/translations/hr-HR.yaml
Labels: Automerge

#14872 New Crowdin updates
  app/src/lang/translations/hr-HR.yaml
Labels: Automerge

#14853 App: Don't mix fields from other groups
  app/src/composables/use-form-fields.ts
Labels: App, Bug

#14885 Fix filter type check for functions
  api/src/utils/apply-query.ts
Labels: API, Bug

#14878 Add styling to links in field note
  app/src/components/v-form/form-field.vue
Labels: App, Improvement

#14881 Set sourceMap to true on TS extension template
  packages/extensions-sdk/templates/common/typescript/tsconfig.json
Labels: Extensions

#14867 Remove disabled props from presentation links
  app/src/interfaces/presentation-links/presentation-links.vue
Labels: App, Bug

#14854 Encode file import url if not already encoded
  api/src/services/files.ts
Labels: API, Bug

#14889 New Crowdin updates
  app/src/lang/translations/ckb-IR.yaml
  app/src/lang/translations/en-GB.yaml
  app/src/lang/translations/kmr-TR.yaml
Labels: Automerge

#14858 Missed Kurdish language dialects
  app/src/lang/available-languages.yaml
Labels: App, Improvement

#14845 Fix duplicate env keys
  api/src/cli/utils/create-env/env-stub.liquid
Labels: API, Bug

#14841 Fix checkboxes and radio buttons overflow
  app/src/interfaces/select-multiple-checkbox/select-multiple-checkbox.vue
  app/src/interfaces/select-radio/select-radio.vue
Labels: App, Bug

#14840 Fix macos-release error in server info
  api/package.json
  api/src/services/server.ts
  api/src/utils/get-os-info.ts
  pnpm-lock.yaml
Labels: API, Bug

#14893 New Crowdin updates
  app/src/lang/translations/ckb-IR.yaml
Labels: Automerge

#14895 New Crowdin updates
  app/src/lang/translations/ckb-IR.yaml
Labels: Automerge

#14896 New Crowdin updates
  app/src/lang/translations/ckb-IR.yaml
  app/src/lang/translations/fr-FR.yaml
Labels: Automerge

#14898 New Crowdin updates
  app/src/lang/translations/ckb-IR.yaml
Labels: Automerge

#14899 New Crowdin updates
  app/src/lang/translations/ckb-IR.yaml
Labels: Automerge

#14900 New Crowdin updates
  app/src/lang/translations/ckb-IR.yaml
  app/src/lang/translations/fa-IR.yaml
  app/src/lang/translations/zh-CN.yaml
Labels: Automerge

#14902 New Crowdin updates
  app/src/lang/translations/ckb-IR.yaml
Labels: Automerge

#14903 New Crowdin updates
  app/src/lang/translations/ckb-IR.yaml
Labels: Automerge

#14904 New Crowdin updates
  app/src/lang/translations/ckb-IR.yaml
Labels: Automerge

#14906 New Crowdin updates
  app/src/lang/translations/ckb-IR.yaml
Labels: Automerge

#14907 New Crowdin updates
  app/src/lang/translations/ckb-IR.yaml
Labels: Automerge

#14909 New Crowdin updates
  app/src/lang/translations/ckb-IR.yaml
Labels: Automerge

#14911 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
Labels: Automerge

#14912 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/ckb-IR.yaml
Labels: Automerge

#14914 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/ckb-IR.yaml
Labels: Automerge

#14915 New Crowdin updates
  app/src/lang/translations/ckb-IR.yaml
  app/src/lang/translations/fr-FR.yaml
  app/src/lang/translations/ru-RU.yaml
Labels: Automerge

#14916 New Crowdin updates
  app/src/lang/translations/ckb-IR.yaml
Labels: Automerge

#14917 New Crowdin updates
  app/src/lang/translations/ckb-IR.yaml
Labels: Automerge

#14923 New Crowdin updates
  app/src/lang/translations/ckb-IR.yaml
Labels: Automerge

#14924 New Crowdin updates
  app/src/lang/translations/ckb-IR.yaml
Labels: Automerge

#14925 New Crowdin updates
  app/src/lang/translations/ckb-IR.yaml
Labels: Automerge

#14927 New Crowdin updates
  app/src/lang/translations/ckb-IR.yaml
Labels: Automerge

#14929 New Crowdin updates
  app/src/lang/translations/ckb-IR.yaml
Labels: Automerge

#14930 New Crowdin updates
  app/src/lang/translations/ru-RU.yaml
Labels: Automerge

#14934 Tweak add-to-project GitHub action
  .github/workflows/add-to-project.yml
Labels: Optimization

#14913 Remove disabled override
  app/src/components/v-button.vue
Labels: App, Improvement, Missing Issue

#14943 Use native concurrency option to cancel outdated workflow runs
  .github/workflows/blackbox-main.yml
  .github/workflows/blackbox-pr.yml
  .github/workflows/check.yml
Labels: Optimization

#14945 Clean-up GitHub workflows
  .github/actions/prepare/action.yml
  .github/workflows/blackbox-main.yml
  .github/workflows/blackbox-pr.yml
  .github/workflows/check.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
  .github/workflows/sync-dockerhub-readme.yml
Labels: Optimization

#14954 Run blackbox tests when shared package / workflow is updated
  .github/workflows/blackbox-main.yml
  .github/workflows/blackbox-pr.yml
Labels: Optimization

#14935 Fix show hidden collections for nested collections
  app/src/modules/content/components/navigation-item.vue
Labels: App, Bug

#14952 App: Do not allow to link `folders` to M2A relationship
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-relationship-m2a.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-simple/relationship-configuration.vue
  app/src/modules/settings/routes/data-model/field-detail/shared/related-collection-select.vue
  app/src/modules/settings/routes/roles/item/components/permissions-overview.vue
  app/src/stores/collections.ts
Labels: App, Bug

#14967 New Crowdin updates
  app/src/lang/translations/vi-VN.yaml
Labels: Automerge

#14970 New Crowdin updates
  app/src/lang/translations/vi-VN.yaml
  app/src/lang/translations/zh-TW.yaml
Labels: Automerge

#14977 New Crowdin updates
  app/src/lang/translations/zh-TW.yaml
Labels: Automerge

#14978 New Crowdin updates
  app/src/lang/translations/pt-PT.yaml
  app/src/lang/translations/zh-TW.yaml
Labels: Automerge

#14665 RTL support in translation interface
  app/src/components/v-form/form-field-interface.vue
  app/src/components/v-form/form-field.vue
  app/src/components/v-form/v-form.vue
  app/src/interfaces/group-accordion/accordion-section.vue
  app/src/interfaces/group-accordion/group-accordion.vue
  app/src/interfaces/group-detail/group-detail.vue
  app/src/interfaces/group-raw/group-raw.vue
  app/src/interfaces/input-autocomplete-api/input-autocomplete-api.vue
  app/src/interfaces/input-multiline/input-multiline.vue
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
  app/src/interfaces/input/input.vue
  app/src/interfaces/list/list.vue
  app/src/interfaces/tags/tags.vue
  app/src/interfaces/translations/index.ts
  app/src/interfaces/translations/translations.vue
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/data-model/field-detail/store/alterations/translations.ts
  app/src/views/private/components/render-template.vue
Labels: App, New Feature, Missing Issue

#14983 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/ckb-IR.yaml
  app/src/lang/translations/en-US.yaml
  app/src/lang/translations/fr-CA.yaml
  app/src/lang/translations/fr-FR.yaml
  app/src/lang/translations/it-IT.yaml
Labels: Automerge

#14984 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/fr-CA.yaml
  app/src/lang/translations/fr-FR.yaml
  app/src/lang/translations/it-IT.yaml
Labels: Automerge

#14985 Fix decompression when floats are used, but no integers are present
  packages/shared/src/utils/compress.test.ts
  packages/shared/src/utils/compress.ts
Labels: API, Bug

#14990 New Crowdin updates
  app/src/lang/translations/ckb-IR.yaml
Labels: Automerge

#14991 New Crowdin updates
  app/src/lang/translations/ckb-IR.yaml
  app/src/lang/translations/zh-TW.yaml
Labels: Automerge

#14993 New Crowdin updates
  app/src/lang/translations/zh-TW.yaml
Labels: Automerge

#15007 Send error status only if no data is written
  api/src/controllers/assets.ts
Labels: API, Bug

#14998 Fix Flow operations update bug
  app/src/modules/settings/routes/flows/flow.vue
Labels: App, Bug

#15009 Encode webhook url only if it does not contain encoded values
  api/src/operations/request/index.ts
Labels: App, Bug

#15008 Fix map interface controls for non-native geometry types
  app/src/interfaces/map/map.vue
Labels: App, Bug

#15005 Prevent clearing of trigger options when initialising
  app/src/modules/settings/routes/flows/flow-drawer.vue
Labels: App, Bug

#14996 App: Do not validate circular fields
  app/src/views/private/components/drawer-item.vue
Labels: App, Bug

#15010 Only allow null filter operators for fields with "conceal" special
  api/src/services/graphql/index.ts
  api/src/utils/apply-query.ts
  api/src/utils/get-graphql-type.ts
  tests-blackbox/routes/items/conceal-filter.seed.ts
  tests-blackbox/routes/items/conceal-filter.test.ts
Labels: API, Bug

#15023 Skip fetching items when id = '+'
  app/src/composables/use-relation-multiple.ts
Labels: App, Bug

#15032 Fix date-fns format to use hours (HH) instead of era (GG) in polish translation
  app/src/lang/translations/pl-PL.yaml
Labels: App, Improvement

#15029 Add Content-Type header to Flows request operation when applicable
  api/src/operations/request/index.ts
Labels: API, Improvement

#15044 Allow fields nested in groups to be visible
  app/src/components/v-field-list/v-field-list.vue
Labels: App, Bug

#15047 Update knex-schema-inspector to 2.0.4
  api/package.json
  packages/schema/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Labels: Dependencies

#15073 Fix filter by folder for file and files interface
  app/src/components/v-upload.vue
  app/src/interfaces/file/file.vue
  app/src/interfaces/files/files.vue
Labels: App, Bug

#14824 m2a drawer throwing errors for alternate layouts
  app/src/interfaces/list-m2a/list-m2a.vue
Labels: App, Bug

#15070 Enable schema caching for blackbox tests
  tests-blackbox/common/common.test.ts
  tests-blackbox/common/config.ts
  tests-blackbox/common/functions.ts
  tests-blackbox/common/seed-database.test.ts
  tests-blackbox/jest.config.js
  tests-blackbox/routes/collections/crud.test.ts
  tests-blackbox/routes/fields/delete-field.test.ts
  tests-blackbox/routes/items/m2o.seed.ts
  tests-blackbox/routes/items/no-relations.seed.ts
  tests-blackbox/routes/items/o2m.seed.ts
  tests-blackbox/schema/timezone/timezone.test.ts
  tests-blackbox/setup/global.ts
  tests-blackbox/setup/setup.ts
  tests-blackbox/setup/teardown.ts
Labels: Optimization, Tests

#15050 Graphql: Fix geometry type in arguments
  api/src/services/graphql/index.ts
  app/src/panels/variable/panel-variable.vue
  app/src/utils/query-to-gql-string.ts
Labels: API, App, Bug

#15065 Fix manually typed o2m sort field
  app/src/modules/settings/routes/data-model/field-detail/store/alterations/o2m.ts
Labels: App, Bug

#15072 Fix schema apply when deleting interrelated collections
  api/src/utils/apply-snapshot.ts
  api/tests/__test-utils__/snapshots.ts
  api/tests/utils/apply-snapshot.test.ts
Labels: API, Bug

#15083 Skip seeding of excluded tests when running "only" in blackbox
  tests-blackbox/common/seed-database.test.ts
Labels: Optimization, Tests

#15081 Add messenger to allow list of environment variables with `_FILE` suffix
  api/src/env.ts
Labels: API, Bug

#15097 Remove usage of .send() when ending stream
  api/src/controllers/assets.ts
Labels: API, Bug

#15093 Add M2M base tests
  tests-blackbox/common/functions.ts
  tests-blackbox/routes/items/m2m.seed.ts
  tests-blackbox/routes/items/m2m.test.ts
  tests-blackbox/routes/items/o2m.seed.ts
  tests-blackbox/routes/items/seed-all-field-types.ts
Labels: Optimization, Tests

#14951 Fix validatePayload for _or containing _and
  packages/shared/src/utils/validate-payload.test.ts
  packages/shared/src/utils/validate-payload.ts
Labels: API, Bug

#15041 Show sub fields if parent exists
  app/src/components/v-field-list/v-field-list.vue
  app/src/composables/use-field-tree.ts
Labels: App, Bug

#15117 Fix margin for tree view buttons
  app/src/interfaces/list-o2m-tree-view/list-o2m-tree-view.vue
  app/src/interfaces/list-o2m-tree-view/nested-draggable.vue
Labels: App, Bug, Missing Issue

#15113 Reinstate language direction translations keys
  app/src/lang/translations/en-US.yaml
Labels: App, Bug

#15111 Fix translations interface and use-relation-multiple empty edits
  app/src/composables/use-relation-multiple.ts
  app/src/interfaces/translations/translations.vue
Labels: App, Bug

#15109 Use img for user placeholder image in activity feed
  app/src/displays/user/user.vue
Labels: App, Bug

#15107 Remove check button when displaying activity log item
  app/src/modules/activity/routes/item.vue
Labels: App, Improvement

#15106 Remove limit when loading flows
  api/src/flows.ts
Labels: API, Bug

#15082 Fix v-image's intersection observer sometimes preventing image load
  app/src/components/v-image.vue
Labels: App, Bug

#15126 Fix URL for subfolder assets
  app/src/interfaces/file-image/file-image.vue
  app/src/interfaces/file/file.vue
  app/src/interfaces/files/files.vue
  app/src/modules/files/routes/item.vue
  app/src/views/private/components/drawer-item.vue
  app/src/views/private/components/file-preview.vue
Labels: App, Bug

#15130 Move unit tests to files they apply to
  api/jest.config.js
  api/src/__utils__/items-utils.ts
  api/src/__utils__/schemas.ts
  api/src/__utils__/snapshots.ts
  api/src/cli/index.test.ts
  api/src/controllers/files.test.ts
  api/src/database/migrations/run.test.ts
  api/src/env.test.ts
  api/src/middleware/authenticate.test.ts
  api/src/middleware/extract-token.test.ts
  api/src/services/files.test.ts
  api/src/services/items.test.ts
  api/src/services/payload.test.ts
  api/src/services/specifications.test.ts
  api/src/utils/apply-snapshot.test.ts
  api/src/utils/calculate-field-depth.test.ts
  api/src/utils/filter-items.test.ts
  api/src/utils/get-cache-key.test.ts
  api/src/utils/get-column-path.test.ts
  api/src/utils/get-config-from-env.test.ts
  api/src/utils/get-relation-info.test.ts
  api/src/utils/get-relation-type.test.ts
  api/src/utils/get-string-byte-size.test.ts
  api/src/utils/is-directus-jwt.test.ts
  api/src/utils/jwt.test.ts
  api/src/utils/merge-permissions.test.ts
  api/src/utils/validate-keys.test.ts
Labels: Optimization, Tests

#15132 Unify download icon
  app/src/interfaces/file-image/file-image.vue
  app/src/modules/files/routes/item.vue
Labels: App, Improvement

#15141 fix name removal in Presets & Bookmarks
  app/src/modules/settings/routes/presets/item.vue
Labels: App, Bug

#15131 Hide item link for delete action in activity feed
  app/src/modules/activity/routes/item.vue
Labels: App, Improvement

#15146 Revert "Fix "Unrestricted file system access to" messages"
  app/vite.config.js
Labels: Optimization

#15148 Fix searching custom value and text property on v-select
  app/src/components/v-select/v-select.vue
Labels: App, Bug

#12820 Initial interface of O2M & M2M Table View
  app/src/components/v-table/v-table.vue
  app/src/composables/use-relation-multiple.ts
  app/src/interfaces/_system/system-fields/system-fields.vue
  app/src/interfaces/list-m2m/index.ts
  app/src/interfaces/list-m2m/list-m2m.vue
  app/src/interfaces/list-o2m/index.ts
  app/src/interfaces/list-o2m/list-o2m.vue
  app/src/lang/translations/en-US.yaml
  app/src/layouts/cards/index.ts
  app/src/layouts/map/index.ts
  app/src/layouts/tabular/index.ts
  app/src/types/interfaces.ts
  app/src/utils/format-collection-items-count.ts
Labels: App, New Feature, Missing Issue

#15101 Add "Run Script" operation
  api/package.json
  api/src/env.ts
  api/src/flows.ts
  api/src/operations/exec/index.test.ts
  api/src/operations/exec/index.ts
  api/src/services/server.ts
  app/src/components/v-notice.vue
  app/src/lang/translations/en-US.yaml
  app/src/operations/exec/index.test.ts
  app/src/operations/exec/index.ts
  app/src/stores/server.ts
  app/src/styles/_base.scss
  packages/shared/src/utils/define-extension.ts
  pnpm-lock.yaml
Labels: API, App, New Feature

#14694 Allow array of user IDs for Notify operation
  api/src/operations/notification/index.ts
  app/src/lang/translations/en-US.yaml
  app/src/operations/mail/index.ts
  app/src/operations/notification/index.ts
Labels: API, App, Improvement

#15144 Stop groups from rendering before the conditions are applied
  app/src/components/v-form/v-form.vue
Labels: App, Bug

#15149 API: Bypass cache for `/server/ping`
  api/src/app.ts
  api/src/controllers/server.ts
Labels: API, Improvement

#14981 Emit nested action events after the transaction completes
  api/src/services/items.test.ts
  api/src/services/items.ts
  api/src/services/payload.ts
  api/src/types/items.ts
Labels: API, Bug

#15160 v-form error: Cannot read properties of undefined (reading 'meta')
  app/src/components/v-form/v-form.vue
Labels: App, Bug

#15164 Update workspace tile position only when there are values defined
  app/src/components/v-workspace-tile.vue
Labels: API, Bug

#15155 Fix displaying values from deeper relationships in table
  app/src/interfaces/list-o2m/list-o2m.vue
Labels: App, Bug

#15209 Update watched extensions when enabling watcher
  api/src/extensions.ts
Labels: API, Bug

#15210 Can't edit o2m relations to directus_files collection
  app/src/utils/get-local-type.test.ts
  app/src/utils/get-local-type.ts
Labels: App, Bug

#15211 Make variable panels editable in non edit mode
  app/src/panels/variable/panel-variable.vue
Labels: App, Bug

#15213 Be smarter when scaffolding an extension and choosing the package name and target path based on the user-provided name
  packages/extensions-sdk/src/cli/commands/build.ts
  packages/extensions-sdk/src/cli/commands/create.ts
Labels: Extensions, Improvement

#15236 Fix filter not resetting on bookmarks
  app/src/components/v-form/v-form.vue
  app/src/composables/use-relation-multiple.ts
  app/src/modules/settings/routes/presets/item.vue
  app/src/views/private/components/drawer-item.vue
Labels: App, Bug

#15243 Allow for displaying lists in render template
  app/src/views/private/components/render-template.vue
Labels: App, Bug, Improvement

#15215 Expose login stall time environment variable
  api/src/auth/drivers/local.ts
  api/src/cli/utils/create-env/env-stub.liquid
  api/src/env.ts
  api/src/services/authentication.ts
Labels: API, Bug

#15228 Return empty array if scope is not defined
  api/src/flows.ts
  app/src/modules/settings/routes/flows/triggers.ts
Labels: API, App, Bug

#15218 Add missing translations
  app/src/lang/translations/en-US.yaml
Labels: App, Improvement

#15220 Fix and clean up m2m & o2m
  app/src/interfaces/list-m2m/list-m2m.vue
  app/src/interfaces/list-o2m/list-o2m.vue
Labels: App, Bug

#15268 Add new flow env to allowed list & remove comment leftover
  api/src/env.ts
  app/src/operations/exec/index.ts
Labels: Optimization

#15267 Revert list style for O2M and M2M interfaces
  app/src/interfaces/list-m2m/index.ts
  app/src/interfaces/list-m2m/list-m2m.vue
  app/src/interfaces/list-o2m/index.ts
  app/src/interfaces/list-o2m/list-o2m.vue
Labels: App, Improvement

#15234 Update node-cron to 3.0.2
  api/package.json
  pnpm-lock.yaml
Labels: Dependencies

#15302 Added COOKIE_OPTIONS to /refresh
  api/src/controllers/auth.ts
Labels: API, Improvement

#15257 Use encodeurl package to escape URLs for axios
  api/package.json
  api/src/operations/request/index.ts
  api/src/services/files.ts
  pnpm-lock.yaml
Labels: API, Improvement

#15115 Fix thumbnail overflow in render-template
  app/src/components/v-table/table-row.vue
  app/src/composables/use-template-data.ts
  app/src/views/private/components/header-bar.vue
Labels: App, Bug

#15308 Missing headers for invalid json requests
  api/src/app.ts
Labels: API, Bug

#15310 Default values ignored for validations affected by conditions
  app/src/components/v-form/v-form.vue
  app/src/composables/use-item.ts
  app/src/utils/get-default-values-from-fields.test.ts
  app/src/utils/get-default-values-from-fields.ts
  app/src/views/private/components/drawer-item.vue
Labels: App, Bug

#15273 Add origin to accountability
  api/src/auth/drivers/ldap.ts
  api/src/auth/drivers/local.ts
  api/src/auth/drivers/oauth2.ts
  api/src/auth/drivers/openid.ts
  api/src/controllers/activity.ts
  api/src/controllers/auth.ts
  api/src/database/migrations/20220826A-add-origin-to-accountability.ts
  api/src/database/system-data/fields/activity.yaml
  api/src/database/system-data/fields/sessions.yaml
  api/src/flows.ts
  api/src/middleware/authenticate.test.ts
  api/src/middleware/authenticate.ts
  api/src/services/authentication.ts
  api/src/services/graphql/index.ts
  api/src/services/items.ts
  api/src/services/shares.ts
  app/src/composables/use-revisions.ts
  app/src/lang/translations/en-US.yaml
  app/src/modules/activity/routes/item.vue
  app/src/types/revisions.ts
  packages/shared/src/types/accountability.ts
  packages/specs/src/components/activity.yaml
Labels: API, App, Improvement

#15238 Add collection info to conditions
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-conditions.vue
Labels: App, Bug

#15284 Make threshold checks configurable
  api/src/env.ts
  api/src/services/server.ts
Labels: API, Improvement

#14700 Refresh current item on flow run & prompt when there's unsaved changes
  app/src/lang/translations/en-US.yaml
  app/src/modules/content/routes/item.vue
  app/src/views/private/components/flow-sidebar-detail.vue
Labels: App, Improvement
