Repository directus/directus, pull requests merged in 2022-12, with the labels that each got.

#16585 fix wrong default ip
  app/vite.config.js
Labels: App, Bug

#16696 Use node16 module-resolution
  api/src/__mocks__/cache.mts
  api/src/app.ts
  api/src/cli/commands/bootstrap/index.ts
  api/src/cli/commands/security/secret.ts
  api/src/cli/utils/create-env/index.ts
  api/src/controllers/assets.ts
  api/src/controllers/files.ts
  api/src/controllers/utils.ts
  api/src/database/migrations/20211007A-update-presets.ts
  api/src/database/migrations/run.ts
  api/src/database/run-ast.ts
  api/src/database/system-data/fields/index.ts
  api/src/extensions.ts
  api/src/operations/request/index.ts
  api/src/services/authentication.ts
  api/src/services/files.ts
  api/src/services/server.ts
  api/src/services/shares.ts
  api/src/services/specifications.ts
  api/src/utils/apply-query.ts
  api/src/utils/dynamic-import.ts
  api/src/utils/get-default-value.ts
  api/src/utils/track.ts
  api/src/webhooks.ts
  api/tsconfig.json
  packages/schema/package.json
Labels: API, Optimization

#16717 Fix typo in env stub
  api/src/cli/utils/create-env/env-stub.liquid
Labels: API, Improvement

#16710 Translations: Fix missing `tfa_setup`
  app/src/lang/translations/en-US.yaml
Labels: App, Bug

#16770 Remove duplicated type for interfaceConfig group
  packages/shared/src/types/interfaces.ts
Labels: Optimization

#16755 Align ASSETS_CACHE_TTL default value in .env stub
  api/src/cli/utils/create-env/env-stub.liquid
Labels: Optimization

#16691 enforce uppercase UUIDs for MS SQL
  api/src/database/helpers/schema/dialects/mssql.ts
  api/src/database/helpers/schema/index.ts
  api/src/database/helpers/schema/types.ts
  api/src/services/items.test.ts
  api/src/services/items.ts
Labels: API, Bug, DB: MS SQL Server

#16558 Fix json serialization
  app/src/components/v-form/form-field.vue
  app/src/composables/use-clipboard.test.ts
  app/src/composables/use-clipboard.ts
  app/src/modules/settings/routes/presets/item.vue
Labels: App, Bug

#16650 Add support for custom JS embeds in the App
  api/src/app.test.ts
  api/src/app.ts
  api/src/extensions.ts
  app/index.html
  packages/shared/src/types/events.ts
  packages/shared/src/types/hooks.ts
Labels: API, App, New Feature

#16618 "Is one of" filter is duplicating comma separated input
  app/src/interfaces/_system/system-filter/input-group.vue
Labels: App, Bug

#16538 Fix loading logic in image component
  app/src/components/v-image.vue
Labels: App, Bug

#16811 Added extra environment setting for sharp processing of invalid images
  api/src/env.ts
  api/src/services/assets.ts
Labels: API, Improvement

#16877 Allow explicit region configuration
  packages/storage-driver-s3/src/index.test.ts
  packages/storage-driver-s3/src/index.ts
Labels: API, Bug

#16881 Fix use-items loading state when an existing request gets canceled
  app/src/layouts/calendar/index.ts
  packages/shared/src/composables/use-items.ts
Labels: App, Bug

#16576 Small clean-up of dependencies
  api/package.json
  api/src/types/shims.d.ts
  pnpm-lock.yaml
Labels: Optimization

#16647 Fix getCacheKey path matching for graphql
  api/src/utils/get-cache-key.test.ts
  api/src/utils/get-cache-key.ts
  api/src/utils/get-graphql-query-and-variables.test.ts
  api/src/utils/get-graphql-query-and-variables.ts
Labels: API, Bug

#16678 Minor codestyle tweaks to datetime display & interface
  app/src/displays/datetime/datetime.test.ts
  app/src/displays/datetime/datetime.vue
  app/src/interfaces/datetime/datetime.vue
Labels: App, Optimization

#16700 Re-use getEndpoint utility function
  app/src/composables/use-template-data.ts
  app/src/layouts/calendar/index.ts
  app/src/views/private/components/drawer-batch.vue
  app/src/views/private/components/drawer-item.vue
  app/src/views/private/components/export-sidebar-detail.vue
  packages/shared/src/composables/use-items.ts
Labels: App, Optimization

#16662 Add unit tests to several API utility functions
  api/src/utils/apply-function-to-column-name.test.ts
  api/src/utils/get-date-formatted.test.ts
  api/src/utils/md.test.ts
  api/src/utils/stall.test.ts
  api/src/utils/strip-function.test.ts
  api/src/utils/user-name.test.ts
  api/src/utils/validate-env.test.ts
Labels: Tests

#16667 Export context types for extensions
  packages/shared/src/types/endpoints.ts
  packages/shared/src/types/hooks.ts
  packages/shared/src/types/operations.ts
Labels: Extensions, Improvement, Package: shared
