Repository directus/directus, pull requests merged in 2022-10, with the labels that each got.

#15841 fix (display-filesize): wrap component value in `span` node
  app/src/displays/filesize/index.ts
Labels: App, Bug

#15840 fix (display-filesize): adjust handler argument to be read as `value`
  app/src/displays/filesize/index.ts
Labels: App, Bug

#15872 Fix special characters in translation strings
  app/src/composables/use-translation-strings.ts
  app/src/stores/collections.ts
  app/src/stores/fields.ts
  app/src/utils/get-literal-interpolated-translation.test.ts
  app/src/utils/get-literal-interpolated-translation.ts
Labels: App, Bug

#15764 Change trigger flow operations to dropdown using the local store
  app/src/lang/translations/en-US.yaml
  app/src/operations/trigger/index.ts
Labels: App, Improvement

#15939 Make the repo usable with Node v18
  api/package.json
  pnpm-lock.yaml
Labels: Optimization

#15930 Insights dashboard - List panels link to listed collection items.
  app/src/lang/translations/en-US.yaml
  app/src/panels/list/index.ts
  app/src/panels/list/panel-list.vue
  app/src/stores/insights.ts
Labels: App, Bug

#15793 Allow extensions to be symlinks when running the App in dev mode
  app/vite.config.js
Labels: Improvement

#15943 Upgrade vite
  app/package.json
  app/src/components/__snapshots__/v-avatar.test.ts.snap
  app/src/components/__snapshots__/v-badge.test.ts.snap
  app/src/components/__snapshots__/v-breadcrumb.test.ts.snap
  app/src/components/__snapshots__/v-button.test.ts.snap
  app/src/components/__snapshots__/v-card-actions.test.ts.snap
  app/src/components/__snapshots__/v-card-subtitle.test.ts.snap
  app/src/components/__snapshots__/v-card-text.test.ts.snap
  app/src/components/__snapshots__/v-card-title.test.ts.snap
  app/src/components/__snapshots__/v-card.test.ts.snap
  app/src/components/__snapshots__/v-checkbox.test.ts.snap
  app/src/components/__snapshots__/v-chip.test.ts.snap
  app/src/components/__snapshots__/v-divider.test.ts.snap
  app/src/components/__snapshots__/v-fancy-select.test.ts.snap
  app/src/components/__snapshots__/v-highlight.test.ts.snap
  app/src/components/__snapshots__/v-icon-file.test.ts.snap
  app/src/components/__snapshots__/v-info.test.ts.snap
  app/src/components/__snapshots__/v-input.test.ts.snap
  app/src/components/__snapshots__/v-notice.test.ts.snap
  app/src/components/__snapshots__/v-overlay.test.ts.snap
  app/src/components/__snapshots__/v-pagination.test.ts.snap
  app/src/components/__snapshots__/v-progress-circular.test.ts.snap
  app/src/components/__snapshots__/v-progress-linear.test.ts.snap
  app/src/components/__snapshots__/v-radio.test.ts.snap
  app/src/components/__snapshots__/v-sheet.test.ts.snap
  app/src/components/__snapshots__/v-skeleton-loader.test.ts.snap
  app/src/components/__snapshots__/v-slider.test.ts.snap
  app/src/components/__snapshots__/v-tabs.test.ts.snap
  app/src/components/__snapshots__/v-text-overflow.test.ts.snap
  app/src/components/__snapshots__/v-textarea.test.ts.snap
  app/src/components/__snapshots__/v-workspace-tile.test.ts.snap
  app/src/components/__snapshots__/v-workspace.test.ts.snap
  app/src/components/v-checkbox-tree/__snapshots__/v-checkbox-tree.test.ts.snap
  app/src/components/v-icon/__snapshots__/v-icon.test.ts.snap
  app/src/components/v-select/__snapshots__/v-select.test.ts.snap
  app/vite.config.js
  pnpm-lock.yaml
Labels: Dependencies

#15898 public_url_file in .env causes server start error
  api/src/env.test.ts
  api/src/env.ts
Labels: API, Bug

#15944 Move key to component where v-for is defined
  app/src/components/v-form/v-form.vue
  app/src/components/v-highlight.vue
Labels: App, Optimization

#15960 Add alias to always have the same name
  api/src/services/payload.ts
Labels: API, Bug

#15957 Check for M2A with single related collection in useFieldTree composable
  app/src/composables/use-field-tree.test.ts
  app/src/composables/use-field-tree.ts
Labels: App, Bug

#15959 Add missing adjustFieldsForDisplays
  app/src/interfaces/list-o2m-tree-view/list-o2m-tree-view.vue
Labels: App, Bug

#15952 Add support for s3 ServerSideEncryption
  api/src/env.ts
  packages/drive-s3/src/AmazonWebServicesS3Storage.ts
Labels: New Feature, Package: drive

#15951 Fix translation display
  app/src/displays/translations/index.ts
Labels: App, Bug

#15947 Allow usage of tupels of arbitrary length with DeepPartial
  packages/shared/src/types/misc.ts
Labels: Package: shared

#15637 Fix workspace size logic
  app/src/components/v-workspace.vue
Labels: App, Bug

#15928 Updated argon2 to 0.29.X for M1 support
  api/package.json
  pnpm-lock.yaml
Labels: API, Bug, Dependencies

#15876 Update ioredis to fix connection uri options
  api/package.json
  api/src/messenger.ts
  pnpm-lock.yaml
Labels: API, Bug

#15873 Fix CodeQL threadflow steps
  .github/codeql/codeql-config.yaml
  .github/workflows/codeql-analysis.yml
  api/src/utils/get-ast-from-query.ts
  api/src/utils/get-relation-info.ts
Labels: API, Improvement

#15880 Allow removing existing link in WYSIWYG editor by clearing the URL
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
  app/src/interfaces/input-rich-text-html/useLink.ts
Labels: App, Improvement

#15993 Add Bosnian to available languages
  app/src/lang/available-languages.yaml
Labels: App, Improvement

#15868 Fix and improve raw value editor
  app/src/components/v-form/__snapshots__/form-field-raw-editor.test.ts.snap
  app/src/components/v-form/form-field-raw-editor.test.ts
  app/src/components/v-form/form-field-raw-editor.vue
  app/src/components/v-form/form-field.vue
  app/src/interfaces/_system/system-raw-editor/system-raw-editor.vue
Labels: App, Bug

#16010 Process page only when merging with parent items
  api/src/database/run-ast.ts
Labels: API, Bug

#16002 Use right collection for filter
  app/src/interfaces/list-m2m/index.ts
Labels: App, Bug

#15958 treat empty array as null on relational field
  app/src/modules/insights/routes/panel-configuration.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-simple/field-configuration.vue
  app/src/modules/settings/routes/flows/components/operation-detail.vue
  app/src/modules/settings/routes/flows/flow.vue
  app/src/utils/validate-item.test.ts
  app/src/utils/validate-item.ts
  app/src/views/private/components/image-editor.vue
Labels: App, Bug

#15757 Fix empty form info on translations
  app/src/components/__snapshots__/v-info.test.ts.snap
  app/src/components/v-form/v-form.vue
  app/src/components/v-info.test.ts
  app/src/components/v-info.vue
  app/src/interfaces/translations/translations.vue
Labels: App, Improvement

#15999 Remove handleObject default value in render-template
  app/src/views/private/components/render-template.vue
Labels: App, Bug

#15981 Add search to field creation drawer
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/data-model/field-detail/field-detail-simple/field-detail-simple.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail.vue
Labels: App, Improvement

#15977 Allow triggering manual flow without selection(s)
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/flows/triggers.ts
  app/src/stores/flows.test.ts
  app/src/views/private/components/flow-sidebar-detail.vue
Labels: App, Improvement

#15904 Reset junction collection/fields for field relationships with junction table
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-relationship-m2m.vue
  app/src/modules/settings/routes/data-model/field-detail/store/alterations/files.ts
  app/src/modules/settings/routes/data-model/field-detail/store/alterations/m2a.ts
  app/src/modules/settings/routes/data-model/field-detail/store/alterations/m2m.ts
  app/src/modules/settings/routes/data-model/field-detail/store/alterations/translations.ts
  app/src/modules/settings/routes/data-model/field-detail/store/index.test.ts
Labels: App, Bug

#15824 Fix non viewable items
  app/src/interfaces/list-m2m/list-m2m.vue
  app/src/interfaces/list-o2m/list-o2m.vue
Labels: App, Bug

#15823 Fix scrolling on dialog
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
Labels: App, Bug

#15758 Make watch be triggered immediately
  packages/shared/src/composables/use-custom-selection.ts
Labels: App, Bug

#15729 Fix translations display's info button vertical alignment
  app/src/displays/translations/translations.vue
Labels: App, Bug

#15723 Fix non-admin role creation via cli for SQLite
  api/src/cli/commands/roles/create.ts
Labels: API, Bug, DB: SQLite

#15662 Fix flow operations staged edits
  app/src/modules/settings/routes/flows/flow.vue
Labels: App, Bug

#15644 Cast special in system fields as array
  api/src/database/system-data/fields/activity.yaml
  api/src/database/system-data/fields/collections.yaml
  api/src/database/system-data/fields/dashboards.yaml
  api/src/database/system-data/fields/fields.yaml
  api/src/database/system-data/fields/files.yaml
  api/src/database/system-data/fields/flows.yaml
  api/src/database/system-data/fields/folders.yaml
  api/src/database/system-data/fields/operations.yaml
  api/src/database/system-data/fields/panels.yaml
  api/src/database/system-data/fields/permissions.yaml
  api/src/database/system-data/fields/presets.yaml
  api/src/database/system-data/fields/relations.yaml
  api/src/database/system-data/fields/revisions.yaml
  api/src/database/system-data/fields/roles.yaml
  api/src/database/system-data/fields/settings.yaml
  api/src/database/system-data/fields/shares.yaml
  api/src/database/system-data/fields/users.yaml
  api/src/database/system-data/fields/webhooks.yaml
Labels: API, Bug

#15673 Allow custom label for auth provider
  api/src/cli/utils/create-env/env-stub.liquid
  api/src/env.ts
  api/src/utils/get-auth-providers.test.ts
  api/src/utils/get-auth-providers.ts
  app/src/routes/login/components/sso-links.vue
  app/src/types/login.ts
Labels: API, App, Improvement

#15681 Use singular/plural collection translations in M2A interface
  app/src/interfaces/list-m2a/list-m2a.vue
Labels: App, Bug

#15680 Map cluster and calendar drag highlight color tweak
  app/src/layouts/map/style.ts
  app/src/styles/lib/_fullcalendar.scss
Labels: App, Improvement

#15571 Remove warning type for empty presets page
  app/src/modules/settings/routes/presets/collection/collection.vue
Labels: App, Improvement

#15640 Set special flags when configuring db-only fields
  app/src/modules/settings/routes/data-model/field-detail/store/alterations/standard.ts
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
  app/src/utils/get-special-for-type.test.ts
  app/src/utils/get-special-for-type.ts
Labels: App, Bug

#16015 Skip parsing of date strings that only contain zeros
  api/src/services/payload.test.ts
  api/src/services/payload.ts
Labels: API, Bug

#15701 Separate pasted values for "Is one of" filter
  app/src/interfaces/_system/system-filter/input-group.vue
Labels: App, Improvement

#16030 Fix extensions translations and time-series panel
  app/src/lang/translations/de-DE.yaml
  app/src/lang/translations/en-US.yaml
  app/src/panels/time-series/panel-time-series.vue
Labels: App, Bug

#16037 Add try/catch block to Users Module navigation and system-scope interface
  app/src/interfaces/_system/system-scope/system-scope.vue
  app/src/modules/users/composables/use-navigation.ts
Labels: App, Bug

#16039 Optimise data model sorting
  api/src/controllers/collections.ts
  api/src/env.ts
  api/src/services/collections.ts
  api/src/types/items.ts
  app/src/modules/settings/routes/data-model/collections/collections.vue
  tests-blackbox/routes/collections/crud.test.ts
Labels: API, App, Bug

#15946 Replace raw templates deeply when applying data to options
  packages/shared/src/types/misc.ts
  packages/shared/src/utils/apply-options-data.test.ts
  packages/shared/src/utils/apply-options-data.ts
Labels: Improvement

#16048 Run blackbox tests in parallel
  .github/actions/prepare/action.yml
  .github/workflows/blackbox-main.yml
  tests-blackbox/schema/timezone/timezone-changed-node-tz-america.test.ts
  tests-blackbox/schema/timezone/timezone-changed-node-tz-asia.test.ts
  tests-blackbox/schema/timezone/timezone.test.ts
Labels: Optimization, Tests

#16057 Update MAX_PAYLOAD_SIZE env stub to 1mb
  api/src/cli/utils/create-env/env-stub.liquid
Labels: Optimization

#16069 Reset selections for Flows manual trigger in collection page
  app/src/modules/content/routes/collection.vue
Labels: App, Bug

#16052 Patch Tuesday 🐸
  api/package.json
  api/src/logger.ts
  api/src/services/graphql/index.ts
  api/src/services/specifications.ts
  app/package.json
  app/src/components/__snapshots__/v-button.test.ts.snap
  app/src/components/__snapshots__/v-checkbox.test.ts.snap
  app/src/components/__snapshots__/v-fancy-select.test.ts.snap
  app/src/components/__snapshots__/v-radio.test.ts.snap
  app/src/components/__snapshots__/v-slider.test.ts.snap
  app/src/components/v-form/form-field-raw-editor.test.ts
  app/src/components/v-select/v-select.test.ts
  app/src/components/v-workspace-tile.test.ts
  package.json
  packages/create-directus-extension/package.json
  packages/drive-azure/package.json
  packages/drive-gcs/package.json
  packages/drive-s3/package.json
  packages/drive/package.json
  packages/extensions-sdk/package.json
  packages/extensions-sdk/src/cli/commands/build.ts
  packages/schema/package.json
  packages/shared/package.json
  packages/specs/package.json
  pnpm-lock.yaml
Labels: Dependencies

#16078 Fix Project Background Image URL Resolution
  app/src/views/public/public-view.vue
Labels: App, Bug

#16080 Prepare Action: Set output via new file method
  .github/actions/prepare/action.yml
Labels: Optimization

#16081 Update upload-artifact action to v3
  .github/workflows/codeql-analysis.yml
Labels: Optimization

#16116 Update extensions-sdk in api and app
  api/package.json
  app/package.json
  pnpm-lock.yaml
Labels: Optimization

#16120 Revert "Small `Release` workflow clean-up"
  .github/workflows/release.yml
Labels: Optimization

#16135 Fix input-code height in form-field-raw-editor
  app/src/components/v-form/__snapshots__/form-field-raw-editor.test.ts.snap
  app/src/components/v-form/form-field-raw-editor.vue
Labels: App, Bug

#16132 Fix Paste Raw Value not staging field edit
  app/src/components/v-form/form-field.vue
Labels: App, Bug

#16119 Fix broken preset when user does not have the necessary permissions on related collections
  app/src/displays/related-values/index.ts
  app/src/displays/translations/index.ts
  app/src/utils/get-related-collection.test.ts
  app/src/utils/get-related-collection.ts
Labels: App, Bug

#16163 Set readonly value during initialisation of raw editor
  app/src/interfaces/_system/system-raw-editor/system-raw-editor.vue
Labels: App, Bug

#16131 Fix field/collection translated name not resetting after being removed
  api/src/database/system-data/fields/settings.yaml
  app/src/stores/collections.test.ts
  app/src/stores/collections.ts
  app/src/stores/fields.test.ts
  app/src/stores/fields.ts
Labels: App, Bug

#16157 Add GraphQLBigInt type
  api/src/services/graphql/index.ts
  api/src/services/graphql/types/bigint.ts
  api/src/utils/get-graphql-type.ts
Labels: API, Bug, GraphQL

#16174 Add name to routes with empty path
  app/src/modules/docs/index.ts
  app/src/modules/settings/index.ts
Labels: App, Improvement

#15621 Fix recursive fields on existing columns
  api/src/services/fields.ts
  app/src/modules/settings/routes/data-model/field-detail/field-detail.vue
  app/src/modules/settings/routes/data-model/field-detail/store/index.ts
Labels: API, App, Bug

#16179 strip function from fields for validation
  api/src/services/authorization.ts
Labels: API, Bug

#16200 fix validating of date only values (fixes calendar end display)
  app/src/layouts/calendar/index.ts
Labels: App, Bug

#16204 Revert mapbox-gl to latest v1
  app/package.json
  pnpm-lock.yaml
Labels: App, Bug
