Repository directus/directus, pull requests merged in 2022-06, with the labels that each got.

#13660 Fix wrong source of meta info for notifications API
  api/src/controllers/notifications.ts
Labels: API, Bug

#13667 New Crowdin updates
  app/src/lang/translations/vi-VN.yaml
Labels: Automerge

#13651 Add cross-instance messenger pubsub setup
  api/package.json
  api/src/app.ts
  api/src/messenger.ts
  api/src/services/webhooks.ts
  api/src/webhooks.ts
  docs/configuration/config-options.md
  package-lock.json
Labels: API, Bug

#13684 New Crowdin updates
  app/src/lang/translations/fr-FR.yaml
Labels: Automerge

#13709 Fix endpoint extensions being registered under wrong route
  api/src/extensions.ts
Labels: Bug, Extensions

#13713 Fix flows editing existing operations
  app/package.json
  app/src/composables/use-edits-guard/use-edits-guard.ts
  app/src/modules/settings/routes/flows/components/operation-detail.vue
  app/src/modules/settings/routes/flows/flow.vue
  package-lock.json
Labels: App, Bug

#13705 New Crowdin updates
  app/src/lang/translations/es-MX.yaml
  app/src/lang/translations/pl-PL.yaml
Labels: Automerge

#13719 Fix installer missing package
  api/package.json
  package-lock.json
Labels: API, Bug

#13714 disable thumbsmith update blocking the docs build
  docs/package.json
Labels: Optimization

#13635 Add Locale labels to groups
  app/src/components/v-form/v-form.vue
  app/src/interfaces/group-accordion/accordion-section.vue
  app/src/interfaces/group-accordion/group-accordion.vue
  app/src/interfaces/group-detail/group-detail.vue
  app/src/interfaces/group-raw/group-raw.vue
  app/src/interfaces/translations/translations.vue
Labels: App, Bug

#13694 Fix export offset
  api/src/services/import-export.ts
Labels: API, Bug

#13723 Don't crash on misconfigured scope trigger
  app/src/modules/settings/routes/flows/triggers.ts
Labels: App, Bug

#13724 Only render first 10000 items on calendar layout view
  app/package.json
  app/src/lang/translations/en-US.yaml
  app/src/layouts/calendar/calendar.vue
  app/src/layouts/calendar/index.ts
  package-lock.json
  package.json
Labels: App, Bug

#13755 Fix various linter warnings, disable new rule
  .eslintrc.js
  app/src/interfaces/_system/system-filter/input-group.vue
  app/src/interfaces/_system/system-filter/nodes.vue
  app/src/interfaces/_system/system-modules/system-modules.vue
  app/src/interfaces/file/file.vue
  app/src/interfaces/group-accordion/group-accordion.vue
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
  app/src/interfaces/list-o2m/list-o2m.vue
  app/src/interfaces/translations/translations.vue
  app/src/modules/insights/components/dashboard-dialog.vue
  app/src/modules/settings/index.ts
  app/src/modules/settings/routes/data-model/collections/collections.vue
  app/src/modules/settings/routes/data-model/collections/components/collection-dialog.vue
  app/src/modules/settings/routes/data-model/collections/components/collection-item.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-simple/field-detail-simple.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail.vue
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
  app/src/modules/settings/routes/data-model/fields/components/fields-management.vue
  app/src/modules/settings/routes/flows/components/flow-dialog.vue
  app/src/modules/settings/routes/translation-strings/translation-strings-drawer.vue
  app/src/routes/shared/shared.vue
  app/src/views/private/components/search-input/search-input.vue
Labels: App, Optimization

#13751 Fix description field in directus_flows
  api/src/database/system-data/fields/flows.yaml
Labels: API, Bug

#13122 Docs: getting-started > backing-directus
  docs/getting-started/backing-directus.md
Labels: Documentation

#13759 Fix formatting of headers in request operation
  api/src/operations/request/index.ts
Labels: API, Bug

#13757 header bar icon color: var(--primary)
  app/src/modules/settings/routes/data-model/collections/collections.vue
  app/src/modules/settings/routes/presets/collection/collection.vue
  app/src/modules/settings/routes/project/project.vue
  app/src/modules/settings/routes/roles/collection.vue
  app/src/modules/settings/routes/translation-strings/collection.vue
  app/src/modules/settings/routes/webhooks/collection.vue
  package-lock.json
Labels: App, Bug

#13246 Docs: Configuration > Data Flows
  docs/.vuepress/config.js
  docs/configuration/flows/flows.md
  docs/configuration/flows/operations.md
  docs/configuration/flows/triggers.md
Labels: Documentation

#13762 Flush caches after applying schema snapshot
  api/src/utils/apply-snapshot.ts
Labels: API, Bug

#13055 Docs: getting-started > Introduction
  .github/pull_request_template.md
  docs/.vuepress/config.js
  docs/extensions/introduction.md
  docs/getting-started/introduction.md
  docs/getting-started/resources.md
Labels: Documentation

#13756 New Crowdin updates
  app/src/lang/translations/de-DE.yaml
  app/src/lang/translations/it-IT.yaml
  app/src/lang/translations/pl-PL.yaml
Labels: Automerge

#13692 Docs/Cloud: Add "Asia Pacific, Singapore" to regions
  docs/cloud/glossary.md
  docs/cloud/projects.md
Labels: Documentation

#13672 Docs: One last link
  docker-compose.yml
Labels: Documentation

#12044 Enable activity tracking at password reset
  api/src/services/users.ts
  app/src/lang/translations/en-US.yaml
  app/src/views/private/components/revisions-drawer-detail/revisions-drawer-updates-change.vue
  app/src/views/private/components/revisions-drawer-detail/revisions-drawer-updates.vue
Labels: API, Improvement, Good First Issue

#13768 Fix filter error when switching between collections with map layout
  app/src/layouts/map/index.ts
Labels: App, Bug

#13773 New Crowdin updates
  app/src/lang/translations/fr-CA.yaml
  app/src/lang/translations/fr-FR.yaml
  app/src/lang/translations/it-IT.yaml
Labels: Automerge

#13574 fix nested array updates for relational interfaces
  app/src/composables/use-relation/use-relation-multiple.ts
Labels: App, Bug

#13187 Show fields inside groups correctly in display templates for relational interfaces
  app/src/components/v-field-template/v-field-template.vue
  app/src/utils/flatten-field-groups.ts
  app/tests/utils/flatten-field-groups.test.ts
Labels: App, Bug

#13750 Searching the top level bug
  app/src/components/v-checkbox-tree/v-checkbox-tree-checkbox.vue
Labels: App, Bug

#13258 Docs: getting-started > architecture
  docs/.vuepress/config.js
  docs/getting-started/architecture.md
Labels: Documentation

#13358 Docs & Specs update for Data Flows
  docs/.vuepress/config.js
  docs/reference/system/flows.md
  docs/reference/system/operations.md
  packages/specs/src/components/flow.yaml
  packages/specs/src/components/operation.yaml
  packages/specs/src/openapi.yaml
  packages/specs/src/paths/flows/flow.yaml
  packages/specs/src/paths/flows/flows.yaml
  packages/specs/src/paths/operations/operation.yaml
  packages/specs/src/paths/operations/operations.yaml
Labels: Documentation, Package: specs

#12759 Use aliases for relational fields
  app/src/composables/use-alias-fields.ts
  app/src/layouts/tabular/index.ts
  app/src/layouts/tabular/tabular.vue
  packages/shared/src/composables/use-items.ts
Labels: App, Bug

#13772 Add configurable page-size to files/o2m/m2m/m2a interfaces
  app/src/interfaces/files/files.vue
  app/src/interfaces/files/index.ts
  app/src/interfaces/list-m2a/index.ts
  app/src/interfaces/list-m2a/list-m2a.vue
  app/src/interfaces/list-m2m/index.ts
  app/src/interfaces/list-m2m/list-m2m.vue
  app/src/interfaces/list-o2m/index.ts
  app/src/interfaces/list-o2m/list-o2m.vue
Labels: App, New Feature

#13701 Fix range to be based on current time
  api/src/database/helpers/fn/dialects/oracle.ts
  api/src/database/helpers/fn/dialects/sqlite.ts
  api/src/database/helpers/fn/types.ts
  api/src/utils/get-column.ts
  app/src/panels/time-series/time-series.vue
  tests/api/schema/datetime-changed-node-tz-america.test.ts
  tests/api/schema/datetime-changed-node-tz-asia.test.ts
  tests/api/schema/datetime.test.ts
Labels: API, App, Bug

#13783 Fix flow triggers being registered multiple times
  api/src/flows.ts
  api/src/services/flows.ts
  api/src/services/operations.ts
  api/src/utils/job-queue.ts
Labels: API, Bug

#13797 Use latest vue version when scaffolding extension packages
  packages/extensions-sdk/src/cli/commands/create.ts
Labels: Extensions, Improvement

#13796 Use JobQueue when reloading extensions
  api/src/extensions.ts
  api/src/flows.ts
Labels: API, Improvement

#13793 replaced replace a file video file
  docs/app/file-library.md
Labels: Documentation

#13794 tweaks done for today
  docs/.vuepress/config.js
  docs/configuration/filter-rules.md
  docs/configuration/flows.md
Labels: Documentation

#12804 Take into account the format option when displaying dates relative.
  app/src/displays/datetime/datetime.vue
  app/src/displays/datetime/index.ts
  app/src/utils/localized-format-distance-strict/index.ts
  app/src/utils/localized-format-distance-strict/localized-format-distance-strict.ts
Labels: App, Improvement

#13789 Set count on fresh init of defered tinymce
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
Labels: App, Bug

#13802 Emit input whenever WYSIWYG content is updated
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
Labels: App, Bug

#13821 Fix preset layouts not persisting.
  app/src/modules/settings/routes/presets/collection/collection.vue
Labels: App, Bug

#13824 Auto approve pull requests from Crowdin via label
  .github/.kodiak.toml
Labels: Optimization

#13817 New Crowdin updates
  app/src/lang/translations/pl-PL.yaml
Labels: Automerge

#13844 fixed links, tweaked text
  docs/configuration/flows.md
  docs/configuration/flows/operations.md
  docs/configuration/flows/triggers.md
Labels: Documentation

#13845 Upgrade API & Schema dependencies
  api/package.json
  api/src/services/fields.ts
  api/src/utils/get-local-type.ts
  package-lock.json
  package.json
  packages/schema/package.json
  packages/schema/src/dialects/cockroachdb.ts
  packages/schema/src/dialects/postgres.ts
  packages/schema/src/types/overview.ts
Labels: Dependencies

#13846 Fix: Time Series panel crashes when setting a max value with no min value
  app/src/panels/time-series/time-series.vue
Labels: App, Bug

#13830 use parsePreset in App side
  app/src/stores/permissions.ts
  app/src/utils/parse-preset.ts
Labels: App, Bug

#13829 Trigger focus event to ensure observable exists in WYSIWYG
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
  app/src/interfaces/input-rich-text-html/useImage.ts
  app/src/interfaces/input-rich-text-html/useLink.ts
  app/src/interfaces/input-rich-text-html/useMedia.ts
  app/src/interfaces/input-rich-text-html/useSourceCode.ts
Labels: App, Bug

#13871 Add optional cache max value size limit configuration
  api/package.json
  api/src/env.ts
  api/src/middleware/respond.ts
  api/src/utils/get-string-byte-size.ts
  api/tests/utils/get-string-byte-size.test.ts
  docs/configuration/config-options.md
  package-lock.json
Labels: API, New Feature

#13874 Fix insights panel configuration not persisting to tiles
  app/package.json
  app/src/modules/insights/routes/dashboard.vue
  package-lock.json
Labels: App, Bug

#13873 Added correct null parsing to Directus schemas
  api/package.json
  api/src/services/fields.ts
  api/src/utils/get-default-value.ts
  package-lock.json
  packages/schema/package.json
  packages/schema/src/dialects/oracledb.ts
  packages/schema/src/dialects/sqlite.ts
  packages/schema/src/utils/strip-quotes.ts
Labels: API, Optimization

#13875 Upgrade busboy
  api/package.json
  api/src/controllers/files.ts
  api/src/controllers/utils.ts
  package-lock.json
Labels: API, Dependencies

#13876 Upgrade codeql to v2
  .github/workflows/codeql-analysis.yml
Labels: Optimization, Dependencies

#13877 Prevent unknown knex methods from being used
  api/src/services/fields.ts
  packages/shared/src/constants/fields.ts
  packages/shared/tests/utils/get-filter-operators-for-type.test.ts
Labels: API, Optimization

#13878 Upgrade gluegun
  package-lock.json
  packages/cli/package.json
Labels: Dependencies

#13879 Add migration to rename `hook` triggers to `event`
  api/src/database/migrations/20220614A-rename-hook-trigger-to-event.ts
Labels: API, Bug

#13575 Fix aliased DB table names in filter query
  api/src/utils/apply-query.ts
Labels: API, Bug

#13891 Fix date filter with null value on SQLite
  api/src/database/helpers/date/dialects/sqlite.ts
Labels: API, Bug

#13866 O2M relation does not display correctly
  app/src/composables/use-alias-fields.ts
  app/src/layouts/tabular/tabular.vue
Labels: App, Bug

#13893 Clarified DEFAULT_ROLE_ID for LDAP
  docs/configuration/config-options.md
Labels: Documentation

#13857 New Crowdin updates
  app/src/lang/translations/ar-SA.yaml
  app/src/lang/translations/es-ES.yaml
Labels: Automerge

#13898 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
Labels: Automerge

#13902 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
Labels: Automerge

#13900 Sanitize query for item read/update/delete operations in Flows
  api/src/operations/item-delete/index.ts
  api/src/operations/item-read/index.ts
  api/src/operations/item-update/index.ts
Labels: API, Bug

#13905 Redirect to page not found for flows that do not exist
  app/src/modules/settings/index.ts
Labels: App, Bug

#13897 API: Ignore `returning` not supported messages
  api/src/database/index.ts
Labels: API, Improvement

#11845 Add depth limit to filtering
  api/src/env.ts
  api/src/utils/calculate-field-depth.ts
  api/src/utils/validate-query.ts
  api/tests/utils/calculate-field-depth.test.ts
  docs/configuration/config-options.md
  tests/api/graphql/depth.test.ts
  tests/api/items/depth.test.ts
  tests/config.ts
  tests/tsconfig.json
Labels: API, Bug

#13907 Allow setting a custom filename in the /assets endpoint for SEO
  api/src/controllers/assets.ts
  docs/reference/files.md
Labels: API, New Feature, 💵 Sponsored

#7805 Add tfa enforce flow
  api/src/controllers/users.ts
  app/src/app.vue
  app/src/composables/use-tfa-setup.ts
  app/src/interfaces/_system/system-mfa-setup/system-mfa-setup.vue
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/roles/app-permissions.ts
  app/src/router.ts
  app/src/routes/tfa-setup/index.ts
  app/src/routes/tfa-setup/tfa-setup.vue
  app/src/stores/user.ts
  packages/shared/src/types/users.ts
  packages/specs/src/paths/roles/role.yaml
  packages/specs/src/paths/roles/roles.yaml
Labels: App, Bug, New Feature

#13910 New Crowdin updates
  app/src/lang/translations/en-US.yaml
  app/src/lang/translations/es-419.yaml
  app/src/lang/translations/es-CL.yaml
  app/src/lang/translations/it-IT.yaml
Labels: Automerge

#13913 New Crowdin updates
  app/src/lang/translations/it-IT.yaml
Labels: Automerge

#13924 API: Add env var to opt-out mailer setup verification
  api/src/env.ts
  api/src/services/mail/index.ts
  docs/configuration/config-options.md
Labels: API, New Feature

#13934 Improve Flows drawer editing experience
  app/src/modules/settings/routes/flows/flow-drawer.vue
Labels: App, Improvement

#13929 Enable header resize for Insights & Flows overview
  app/src/modules/insights/routes/overview.vue
  app/src/modules/settings/routes/flows/overview.vue
Labels: App, Improvement

#13752 Checkbox Tree Field Expand/Collapse in Show Selected
  app/src/components/v-checkbox-tree/v-checkbox-tree-checkbox.vue
  app/src/components/v-checkbox-tree/v-checkbox-tree.vue
Labels: App, Bug

#13920 Translation Strings Improvements
  app/src/interfaces/list/list.vue
  app/src/interfaces/list/options.vue
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/translation-strings/translation-strings-drawer.vue
  app/src/modules/settings/routes/translation-strings/translation-strings-tooltip.vue
Labels: App, Bug

#13938 New Crowdin updates
  app/src/lang/translations/ar-SA.yaml
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/br-FR.yaml
  app/src/lang/translations/ca-ES.yaml
  app/src/lang/translations/cs-CZ.yaml
  app/src/lang/translations/da-DK.yaml
  app/src/lang/translations/de-DE.yaml
  app/src/lang/translations/en-CA.yaml
  app/src/lang/translations/en-GB.yaml
  app/src/lang/translations/es-419.yaml
  app/src/lang/translations/es-CL.yaml
  app/src/lang/translations/es-ES.yaml
  app/src/lang/translations/es-MX.yaml
  app/src/lang/translations/et-EE.yaml
  app/src/lang/translations/fa-IR.yaml
  app/src/lang/translations/fi-FI.yaml
  app/src/lang/translations/fr-CA.yaml
  app/src/lang/translations/fr-FR.yaml
  app/src/lang/translations/hi-IN.yaml
  app/src/lang/translations/hr-HR.yaml
  app/src/lang/translations/hu-HU.yaml
  app/src/lang/translations/id-ID.yaml
  app/src/lang/translations/it-IT.yaml
  app/src/lang/translations/ja-JP.yaml
  app/src/lang/translations/lt-LT.yaml
  app/src/lang/translations/nl-NL.yaml
  app/src/lang/translations/no-NO.yaml
  app/src/lang/translations/pl-PL.yaml
  app/src/lang/translations/pt-BR.yaml
  app/src/lang/translations/pt-PT.yaml
  app/src/lang/translations/ro-RO.yaml
  app/src/lang/translations/ru-RU.yaml
  app/src/lang/translations/sl-SI.yaml
  app/src/lang/translations/sr-CS.yaml
  app/src/lang/translations/sv-SE.yaml
  app/src/lang/translations/th-TH.yaml
  app/src/lang/translations/tr-TR.yaml
  app/src/lang/translations/uk-UA.yaml
  app/src/lang/translations/vi-VN.yaml
  app/src/lang/translations/zh-CN.yaml
  app/src/lang/translations/zh-TW.yaml
Labels: Automerge

#13940 invert color shades
  app/src/components/v-input/v-input.vue
  app/src/utils/get-theme.ts
  app/src/views/public/public-view.vue
Labels: App, Improvement

#13576 Allow setting default language for translations interface or choosing user's language
  app/src/interfaces/translations/index.ts
  app/src/interfaces/translations/translations.vue
  app/src/lang/translations/en-US.yaml
Labels: App, New Feature

#13952 batch edit toggle not rendered side-by-side
  app/src/components/v-chip/v-chip.vue
  app/src/components/v-form/form-field-label.vue
Labels: App, Bug

#13953 Fix in-app docs
  app/package.json
  app/vite.config.js
  package-lock.json
Labels: App, Bug

#13965 New Crowdin updates
  app/src/lang/translations/zh-TW.yaml
Labels: Automerge

#13966 New Crowdin updates
  app/src/lang/translations/it-IT.yaml
Labels: Automerge

#13945 Docs config refactor
  api/src/cli/utils/create-env/env-stub.liquid
  api/src/env.ts
  docs/.vuepress/config.js
  docs/.vuepress/theme/layouts/Homepage.vue
  docs/app/filters.md
  docs/app/user-directory.md
  docs/configuration/users-roles-permissions.md
  docs/contributing/running-locally.md
  docs/extensions/creating-extensions.md
  docs/getting-started/glossary.md
  docs/reference/authentication.md
  docs/reference/cli.md
  docs/reference/filter-rules.md
  docs/reference/sdk.md
  docs/reference/system/users.md
  docs/self-hosted/config-options.md
  docs/self-hosted/installation/aws.md
  docs/self-hosted/installation/cli.md
  docs/self-hosted/installation/digitalocean-app-platform.md
  docs/self-hosted/installation/docker.md
  docs/self-hosted/installation/gcp.md
  docs/self-hosted/installation/manual.md
  docs/self-hosted/installation/plesk.md
  docs/self-hosted/sso-examples.md
  docs/self-hosted/sso.md
  docs/self-hosted/upgrades-migrations.md
Labels: Documentation

#13919 Docs: Translation Strings
  docs/.vuepress/config.js
  docs/configuration/project-settings.md
  docs/configuration/translation-strings.md
Labels: Documentation

#13840 Use conditional props for component in v-button
  app/src/components/v-button/v-button.vue
Labels: App, Bug

#13967 Docs: Fixed Resources Headers
  docs/getting-started/resources.md
Labels: Documentation

#13908 Docs: Lori's Flows Edits
  docs/configuration/flows.md
  docs/configuration/flows/operations.md
  docs/configuration/flows/triggers.md
Labels: Documentation

#13930 Prevent translations validation error matching parent
  app/src/components/v-form/v-form.vue
  packages/shared/src/types/fields.ts
Labels: App, Bug

#13992 New Crowdin updates
  app/src/lang/translations/bn-IN.yaml
Labels: Automerge

#13995 fixes 404 links in docs
  docs/configuration/data-model.md
  docs/configuration/flows/operations.md
  docs/configuration/users-roles-permissions.md
  docs/reference/query.md
  docs/reference/system/permissions.md
Labels: Documentation

#13976 Docs: fixed more links
  docs/.vuepress/theme/layouts/Homepage.vue
Labels: Documentation

#14001 Update get-filter-operators-for-type.ts
  packages/shared/src/utils/get-filter-operators-for-type.ts
Labels: Improvement, Package: shared

#14003 Fix linting of get-filter-operators-for-type.ts
  packages/shared/src/utils/get-filter-operators-for-type.ts
  packages/shared/tests/utils/get-filter-operators-for-type.test.ts
Labels: Improvement

#14006 New Crowdin updates
  app/src/lang/translations/ar-SA.yaml
Labels: Automerge

#14023 New Crowdin updates
  app/src/lang/translations/it-IT.yaml
Labels: Automerge

#14030 New Crowdin updates
  app/src/lang/translations/zh-CN.yaml
Labels: Automerge

#14034 fix action event Flows for related tables
  api/src/flows.ts
Labels: API, Bug

#14043 Fix autocomplete field options not selectable
  app/src/interfaces/input-autocomplete-api/input-autocomplete-api.vue
Labels: App, Bug

#14035 Major input delays on text fields in complex documents
  app/src/components/v-form/v-form.vue
Labels: App, Bug

#14058 New Crowdin updates
  app/src/lang/translations/cs-CZ.yaml
Labels: Automerge

#14060 OAS does not contain all utility functions
  packages/specs/src/definitions/query.yaml
  packages/specs/src/openapi.yaml
  packages/specs/src/paths/utils/cache-clear.yaml
  packages/specs/src/paths/utils/export.yaml
  packages/specs/src/paths/utils/hash-generate.yaml
  packages/specs/src/paths/utils/hash-verify.yaml
  packages/specs/src/paths/utils/import.yaml
Labels: Bug, Package: specs

#14064 Prevent filename overflow in import file field for Import/Export sidebar
  app/src/views/private/components/export-sidebar-detail.vue
Labels: App, Improvement

#14065 Allow admin to import into system collections
  api/src/services/import-export.ts
  app/src/modules/files/routes/collection.vue
  app/src/modules/settings/routes/presets/collection/collection.vue
  app/src/modules/users/routes/collection.vue
Labels: API, App, Improvement

#14066 API: Return more error messages for OpenID and OAuth2
  api/src/auth/drivers/oauth2.ts
  api/src/auth/drivers/openid.ts
Labels: API, Improvement, Notice

#14071 New Crowdin updates
  app/src/lang/translations/id-ID.yaml
Labels: Automerge

#14075 New Crowdin updates
  app/src/lang/translations/es-MX.yaml
Labels: Automerge

#14076 New Crowdin updates
  app/src/lang/translations/zh-CN.yaml
Labels: Automerge

#14077 New Crowdin updates
  app/src/lang/translations/zh-CN.yaml
Labels: Automerge

#14083 App Docs Module Improvements
  app/package.json
  app/src/views/private/components/docs-wrapper/docs-wrapper.vue
  app/vite.config.js
  package-lock.json
Labels: App, Improvement

#14078 Fix M2O interface in junction tables
  app/src/composables/use-relation/use-relation-m2o.ts
Labels: App, Bug

#14090 Improve IDs field interaction for Flows item read/update/delete operations when empty
  api/src/operations/item-delete/index.ts
  api/src/operations/item-read/index.ts
  api/src/operations/item-update/index.ts
  app/src/operations/item-delete/index.ts
  app/src/operations/item-read/index.ts
  app/src/operations/item-update/index.ts
Labels: API, App, Improvement

#14094 Mark list result as non-nullable in GraphQL schema
  api/src/services/graphql.ts
Labels: API, GraphQL, Improvement

#14106 New Crowdin updates
  app/src/lang/translations/cs-CZ.yaml
Labels: Automerge

#14107 New Crowdin updates
  app/src/lang/translations/cs-CZ.yaml
Labels: Automerge

#14123 New Crowdin updates
  app/src/lang/translations/ja-JP.yaml
Labels: Automerge

#14129 New Crowdin updates
  app/src/lang/translations/ar-SA.yaml
Labels: Automerge

#14133 New Crowdin updates
  app/src/lang/translations/ar-SA.yaml
Labels: Automerge

#14124 Use conditional props for links in v-list-item
  app/src/components/v-list/v-list-item.vue
Labels: App, Bug

#14101 Document insights updates
  docs/app/insights.md
Labels: Documentation

#14140 New Crowdin updates
  app/src/lang/translations/it-IT.yaml
Labels: Automerge

#13867 Add search in v-select
  app/src/components/v-select/select-list-item-group.vue
  app/src/components/v-select/v-select.vue
Labels: App, New Feature

#14142 New Crowdin updates
  app/src/lang/translations/ja-JP.yaml
Labels: Automerge

#14156 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
Labels: Automerge

#14162 New Crowdin updates
  app/src/lang/translations/pt-BR.yaml
Labels: Automerge

#13998 Fix saving error with custom permissions in O2M fields
  app/src/interfaces/list-o2m/list-o2m.vue
Labels: App, Bug

#14131 Fixes: No notification being created when sendmail fails.
  api/src/services/notifications.ts
Labels: API, Bug

#14164 Add emitEvents flag to item reads in service
  api/src/operations/item-read/index.ts
  api/src/services/items.ts
  app/src/lang/translations/en-US.yaml
  app/src/operations/item-read/index.ts
Labels: API, Improvement

#14057 CSV import converts numeric strings to numbers
  api/src/services/import-export.ts
Labels: API, Bug

#14172 New Crowdin updates
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#14179 New Crowdin updates
  app/src/lang/translations/ar-SA.yaml
Labels: Automerge

#14177 Add bootstrap step in manual installation
  docs/self-hosted/installation/manual.md
Labels: Documentation

#14186 Tweaks for datetime display options
  app/src/displays/datetime/index.ts
  app/src/lang/translations/en-US.yaml
Labels: App, Improvement

#14195 Fix rendering of social icons
  app/src/components/v-icon/social-icon.vue
Labels: App, Bug

#14210 New Crowdin updates
  app/src/lang/translations/it-IT.yaml
Labels: Automerge

#14213 New Crowdin updates
  app/src/lang/translations/it-IT.yaml
Labels: Automerge

#14216 Only emit value if updated for wysiwyg interface
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
Labels: App, Bug

#14203 Emitter emits event in the meta
  api/src/emitter.ts
  api/tests/cli/index.test.ts
Labels: API, New Feature

#14227 Persist existing global variable values on save
  app/src/stores/insights.ts
Labels: App, Bug

#9191 Enable caching for App assets
  api/src/app.ts
Labels: API, Improvement

#14229 Hide user invite flow when default auth provider is disabled
  app/src/modules/settings/routes/roles/item/item.vue
  app/src/modules/users/routes/collection.vue
  app/src/router.ts
  app/src/routes/login/login.vue
  app/src/stores/server.ts
Labels: App, Improvement

#14231 Fix vertical alignment of render-template in tabular
  app/src/interfaces/select-dropdown-m2o/select-dropdown-m2o.vue
  app/src/views/private/components/render-template/render-template.vue
Labels: App, Bug

#14232 Use string displays on the calendar layout
  app/src/composables/use-revisions.ts
  app/src/composables/use-time-from-now/use-time-from-now.ts
  app/src/displays/datetime/datetime.vue
  app/src/displays/datetime/index.ts
  app/src/displays/related-values/index.ts
  app/src/displays/translations/index.ts
  app/src/lang/set-language.ts
  app/src/layouts/calendar/index.ts
  app/src/layouts/calendar/options.vue
  app/src/modules/files/components/file-info-sidebar-detail.vue
  app/src/modules/users/components/user-info-sidebar-detail.vue
  app/src/utils/get-date-fns-locale/get-date-fns-locale.ts
  app/src/utils/get-date-fns-locale/index.ts
  app/src/utils/localized-format-distance-strict/localized-format-distance-strict.ts
  app/src/utils/localized-format-distance/localized-format-distance.ts
  app/src/utils/localized-format/localized-format.ts
  app/src/utils/render-string-template.ts
  app/src/views/private/components/notifications-drawer.vue
  app/src/views/private/components/revisions-drawer-detail/revisions-drawer-picker.vue
  packages/shared/src/types/displays.ts
Labels: App, Improvement

#14233 Fix conditions crash when custom options component is used
  app/src/interfaces/_system/system-interface-options/system-interface-options.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-conditions.vue
Labels: App, Bug

#10485 Unit tests for migrations/run.ts
  api/tests/database/migrations/run.test.ts
Labels: Tests

#14234 Don't force reset scroll on hash changes
  app/src/views/private/private-view.vue
Labels: App, Bug
