Repository directus/directus, pull requests merged in 2022-07, with the labels that each got.

#14240 New Crowdin updates
  app/src/lang/translations/pt-PT.yaml
Labels: Automerge

#14241 broken image display for null assets
  app/src/displays/image/image.vue
Labels: App, Bug

#14244 Don't show language select when there is only one language to choose from
  app/src/interfaces/translations/translations.vue
Labels: App, Improvement

#14246 New Crowdin updates
  app/src/lang/translations/es-ES.yaml
Labels: Automerge

#14251 Fix crash on logout due to `te` missing
  app/src/routes/login/login.vue
Labels: App, Bug

#14252 Remove auto-open groups in v-select
  app/src/components/v-select/select-list-item-group.vue
Labels: App, Bug

#14254 Fix type for defaults in useCollection composable
  packages/shared/src/composables/use-collection.ts
Labels: Improvement, Package: shared

#14255 Fix duplicate logic for retrieving system collections in related-collection-select
  app/src/modules/settings/routes/data-model/field-detail/shared/related-collection-select.vue
Labels: App, Optimization

#14260 New Crowdin updates
  app/src/lang/translations/fr-FR.yaml
Labels: Automerge

#14261 New Crowdin updates
  app/src/lang/translations/fr-FR.yaml
  app/src/lang/translations/tr-TR.yaml
Labels: Automerge

#14262 New Crowdin updates
  app/src/lang/translations/de-DE.yaml
Labels: Automerge

#14263 New Crowdin updates
  app/src/lang/translations/de-DE.yaml
Labels: Automerge

#14270 New Crowdin updates
  app/src/lang/translations/pt-PT.yaml
Labels: Automerge

#14272 New Crowdin updates
  app/src/lang/translations/pt-PT.yaml
Labels: Automerge

#14275 New Crowdin updates
  app/src/lang/translations/pt-PT.yaml
Labels: Automerge

#14279 New Crowdin updates
  app/src/lang/translations/pt-PT.yaml
Labels: Automerge

#14286 Fix filename charset for uploaded files
  api/src/controllers/files.ts
Labels: API, Bug

#14299 Remove invalid exported type in app
  app/src/types/index.ts
Labels: App, Optimization

#13970 Fix Save As Copy with edited relational fields
  app/src/composables/use-item/use-item.ts
Labels: App, Bug

#14303 Prevents selecting relational fields as sort field
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-relationship-m2a.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-relationship-m2m.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-relationship-o2m.vue
  app/src/modules/settings/routes/data-model/field-detail/shared/related-field-select.vue
Labels: App, Bug

#14188 Performance improvements for groups within v-form
  app/src/components/v-form/form-field.vue
  app/src/components/v-form/v-form.vue
  app/src/interfaces/group-accordion/accordion-section.vue
  app/src/interfaces/group-accordion/group-accordion.vue
Labels: App, Bug

#14326 Fix SSO login buttons missing in login page
  app/src/routes/login/components/sso-links.vue
Labels: App, Bug

#14321 Show field data type & interface on hover for system collections' fields
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
Labels: App, Bug

#14322 Prevent empty title attribute in WYSIWYG links
  app/src/interfaces/input-rich-text-html/useLink.ts
Labels: App, Bug

#14336 New Crowdin updates
  app/src/lang/translations/pt-PT.yaml
Labels: Automerge

#14351 New Crowdin updates
  app/src/lang/translations/pl-PL.yaml
Labels: Automerge

#14352 New Crowdin updates
  app/src/lang/translations/pt-BR.yaml
Labels: Automerge

#14355 Fix translation in render-template
  app/src/views/private/components/render-template/render-template.vue
Labels: App, Bug

#14256 Fix field aliasing not returning null after merging documents
  app/src/layouts/tabular/tabular.vue
Labels: App, Bug

#13596 Generate joi merge
  api/src/utils/filter-items.ts
  api/src/utils/generate-joi.ts
  app/src/utils/generate-joi/index.ts
  app/src/utils/is-allowed.ts
  app/tests/utils/is-allowed.test.ts
  packages/shared/src/utils/generate-joi.ts
  packages/shared/tests/utils/generate-joi.test.ts
Labels: API, Optimization

#14373 New Crowdin updates
  app/src/lang/translations/de-DE.yaml
Labels: Automerge

#14375 New Crowdin updates
  app/src/lang/translations/de-DE.yaml
Labels: Automerge

#14377 New Crowdin updates
  app/src/lang/translations/es-MX.yaml
Labels: Automerge

#14379 New Crowdin updates
  app/src/lang/translations/es-MX.yaml
Labels: Automerge

#14369 Fixes nested groups in accordions not rendering fields
  app/src/interfaces/group-accordion/accordion-section.vue
  app/src/interfaces/group-accordion/group-accordion.vue
Labels: App, Bug

#14390 Fix strict relative dates showing "incorrect"
  app/src/displays/datetime/datetime.vue
  app/src/displays/datetime/index.ts
  app/src/lang/translations/en-US.yaml
Labels: App, Improvement

#14402 Insights: Fix query primary field for system tables
  app/src/stores/insights.ts
  app/src/utils/query-to-gql-string.ts
Labels: App, Bug

#14404 Fix/wysiwyg context menu
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
  app/src/interfaces/input-rich-text-html/tinymce-overrides.css
  app/src/interfaces/input-rich-text-html/useImage.ts
Labels: App, Bug

#14418 Encoded the url using encodeURIComponent, so that the url gets sanitzed and so, we did not get 404 error.
  api/src/operations/request/index.ts
  package-lock.json
  package.json
Labels: API, Bug

#14416 fix generateJoi error due to empty permissions when creating new role
  api/src/utils/filter-items.ts
  api/tests/utils/filter-items.test.ts
Labels: API, Bug

#14412 Enable spellcheck on wysiwyg and markdown interfaces
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
  app/src/interfaces/input-rich-text-md/input-rich-text-md.vue
Labels: App, Improvement

#14371 Add GraphQL query POST caching
  api/src/middleware/cache.ts
  api/src/middleware/graphql.ts
  api/src/middleware/respond.ts
Labels: API, Bug

#14437 Update knex-schema-inspector to 2.0.3
  api/package.json
  package-lock.json
  packages/schema/package.json
Labels: Dependencies

#14438 Prevent app crash on empty manual flow config
  app/src/stores/flows.ts
Labels: App, Bug

#10488 Adding editor to image component
  app/src/interfaces/file-image/file-image.vue
  app/src/lang/translations/en-US.yaml
Labels: App, Improvement

#14444 New Crowdin updates
  app/src/lang/translations/cs-CZ.yaml
Labels: Automerge

#14448 New Crowdin updates
  app/src/lang/translations/cs-CZ.yaml
Labels: Automerge

#14451 New Crowdin updates
  app/src/lang/translations/cs-CZ.yaml
Labels: Automerge

#14452 New Crowdin updates
  app/src/lang/translations/cs-CZ.yaml
Labels: Automerge

#14454 New Crowdin updates
  app/src/lang/translations/cs-CZ.yaml
Labels: Automerge

#14455 New Crowdin updates
  app/src/lang/translations/pl-PL.yaml
Labels: Automerge

#14021 Add raw editor toggle for using variables in flows operations
  app/src/components/v-form/form-field-interface.vue
  app/src/components/v-form/form-field-label.vue
  app/src/components/v-form/form-field.vue
  app/src/components/v-form/v-form.vue
  app/src/interfaces/_system/system-raw-editor/index.ts
  app/src/interfaces/_system/system-raw-editor/mustacheMode.ts
  app/src/interfaces/_system/system-raw-editor/system-raw-editor.vue
  app/src/interfaces/group-accordion/group-accordion.vue
  app/src/interfaces/group-raw/group-raw.vue
  app/src/interfaces/tags/tags.vue
  app/src/lang/translations/en-US.yaml
  app/src/modules/insights/routes/panel-configuration.vue
  app/src/modules/settings/routes/data-model/field-detail/shared/extension-options.vue
  app/src/modules/settings/routes/flows/components/operation-detail.vue
  app/src/operations/item-create/index.ts
  app/src/operations/item-delete/index.ts
  app/src/operations/item-read/index.ts
  app/src/operations/item-update/index.ts
  app/src/operations/mail/index.ts
  app/src/operations/notification/index.ts
  app/src/operations/request/index.ts
  app/src/operations/transform/index.ts
  app/src/operations/trigger/index.ts
Labels: App, New Feature, Missing Issue

#14460 API/Graphql: Use same types as `count` for `countDistinct`
  api/src/services/graphql/index.ts
Labels: API, Bug

#14461 Switch blackbox tests workflow target to core repo
  .github/workflows/ci.yml
Labels: Tests

#14350 Move repo to `pnpm` based workflow
  .github/actions/prepare/action.yml
  .github/workflows/blackbox-main.yml
  .github/workflows/blackbox-pr.yml
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-blackbox-tests-quick.yml
  .github/workflows/e2e-blackbox-tests.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/sync-dockerhub-readme.yml
  .github/workflows/unit-tests.yml
  api/jest.config.js
  api/package.json
  api/src/cli/commands/init/index.ts
  api/src/cli/utils/create-env/index.ts
  api/src/database/migrations/20220429A-add-flows.ts
  api/src/services/import-export.ts
  api/src/services/payload.ts
  api/tsconfig.json
  app/package.json
  app/tsconfig.json
  docker/pack.js
  lerna.json
  package-lock.json
  package.json
  packages/drive-azure/package.json
  packages/drive-gcs/package.json
  packages/drive-s3/package.json
  packages/drive/package.json
  packages/extensions-sdk/package.json
  packages/schema/package.json
  packages/shared/jest.config.js
  packages/shared/package.json
  packages/specs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests-blackbox/setup/customEnvironment.ts
  tests/readme.md
  tests/setup/customEnvironment.ts
Labels: Optimization

#14471 New Crowdin updates
  app/src/lang/translations/zh-CN.yaml
Labels: Automerge

#14490 New Crowdin updates
  app/src/lang/translations/it-IT.yaml
Labels: Automerge

#14484 Run blackbox tests when updated
  .github/workflows/blackbox-main.yml
  .github/workflows/blackbox-pr.yml
Labels: Tests

#14509 Update Knex version to fix CockroachDB relationships showing multiple times
  api/package.json
  package.json
  packages/schema/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Labels: Dependencies

#14520 Graphql: Do not try to convert Dates (considered an object)
  api/src/services/graphql/index.ts
Labels: API, Bug

#14521 New Crowdin updates
  app/src/lang/translations/ar-SA.yaml
Labels: Automerge

#14525 Cancel all previous workflows in the branch
  .github/workflows/check.yml
Labels: Optimization

#14532 Skip disabled field check when using set-field-value event
  app/src/components/v-form/v-form.vue
Labels: App, Bug

#10592 Optimize media loading across app
  api/src/services/server.ts
  app/src/api.ts
  app/src/components/register.ts
  app/src/components/v-image.vue
  app/src/displays/file/file.vue
  app/src/displays/image/image.vue
  app/src/displays/user/user.vue
  app/src/interfaces/file-image/file-image.vue
  app/src/interfaces/file/file.vue
  app/src/interfaces/files/files.vue
  app/src/layouts/cards/components/card.vue
  app/src/layouts/map/map.vue
  app/src/modules/files/routes/item.vue
  app/src/modules/users/routes/item.vue
  app/src/stores/server.ts
  app/src/utils/readable-mime-type/types.json
  app/src/views/private/components/comments-sidebar-detail/comment-input.vue
  app/src/views/private/components/comments-sidebar-detail/comment-item-header.vue
  app/src/views/private/components/drawer-item/drawer-item.vue
  app/src/views/private/components/file-lightbox/file-lightbox.vue
  app/src/views/private/components/file-preview/file-preview.vue
  app/src/views/private/components/image-editor/image-editor.vue
  app/src/views/private/components/module-bar-avatar/module-bar-avatar.vue
  app/src/views/private/components/module-bar-logo/module-bar-logo.vue
  app/src/views/private/components/user-popover/user-popover.vue
  app/src/views/public/public-view.vue
  pnpm-lock.yaml
Labels: App, Bug, Improvement

#14536 Default auth provider to first configured one if default is disabled
  app/src/constants.ts
  app/src/routes/login/login.vue
  app/src/stores/server.ts
Labels: App, Bug

#14537 Don't disable distinct count based on integer type
  app/src/panels/metric/index.ts
Labels: App, Bug

#14539 Don't render explicit null values in md custom blocks
  app/src/interfaces/input-rich-text-md/edits.ts
Labels: App, Bug

#14540 Add missing _between/_nbetween filter operators to GQL
  api/src/services/graphql/index.ts
Labels: API, Bug, GraphQL

#9400 Add "security" commands to api CLI
  api/src/cli/commands/security/key.ts
  api/src/cli/commands/security/secret.ts
  api/src/cli/index.ts
Labels: API, New Feature, Missing Issue

#14541 Select multiple dropdown preview threshold
  app/src/interfaces/select-multiple-dropdown/index.ts
  app/src/interfaces/select-multiple-dropdown/select-multiple-dropdown.vue
  app/src/lang/translations/en-US.yaml
Labels: App, Improvement

#14542 Fix singleton navigation temporarily using wrong ID
  app/src/modules/content/routes/item.vue
Labels: App, Bug

#14543 Fix map layout not rendering items on search
  app/src/layouts/map/components/map.vue
Labels: App, Bug

#14545 New Crowdin updates
  app/src/lang/translations/it-IT.yaml
Labels: Automerge

#13949 Fix: Error applying schemas with nested collection(s)
  api/src/utils/apply-snapshot.ts
  api/tests/__test-utils__/schemas.ts
  api/tests/__test-utils__/snapshots.ts
  api/tests/utils/apply-snapshot.test.ts
Labels: API, Bug

#14551 New Crowdin updates
  app/src/lang/translations/it-IT.yaml
Labels: Automerge

#14552 New Crowdin updates
  app/src/lang/translations/ru-RU.yaml
Labels: Automerge

#14511 Fix the preview not being updated after editing the image
  app/src/composables/use-relation/use-relation-single.ts
  app/src/interfaces/file-image/file-image.vue
Labels: App, Bug

#14555 Resolve lint warnings
  api/src/services/graphql/index.ts
  app/src/interfaces/file-image/file-image.vue
  app/src/interfaces/list-m2a/list-m2a.vue
  app/src/modules/settings/routes/roles/item/item.vue
  app/src/panels/list/panel-list.vue
Labels: Optimization

#14423 Fix filter column aliasing
  api/src/utils/apply-query.ts
  api/src/utils/get-column-path.ts
  api/tests/utils/get-column-path.test.ts
Labels: API, Bug

#14488 Conditions not working (partially)
  app/src/components/v-form/v-form.vue
  app/src/panels/time-series/index.ts
Labels: App, Bug

#13870 Process relational collection's permissions in functions
  api/src/database/helpers/fn/dialects/mssql.ts
  api/src/database/helpers/fn/dialects/mysql.ts
  api/src/database/helpers/fn/dialects/oracle.ts
  api/src/database/helpers/fn/dialects/postgres.ts
  api/src/database/helpers/fn/dialects/sqlite.ts
  api/src/database/helpers/fn/types.ts
  api/src/database/run-ast.ts
  api/src/services/authorization.ts
  api/src/services/graphql/index.ts
  api/src/types/ast.ts
  api/src/utils/get-ast-from-query.ts
  api/src/utils/get-column.ts
  api/tests/services/items.test.ts
Labels: API, Bug

#14512 Disable foreign check on SQLite when deleting fields
  api/src/database/helpers/schema/dialects/sqlite.ts
  api/src/database/helpers/schema/index.ts
  api/src/database/helpers/schema/types.ts
  api/src/services/fields.ts
  tests-blackbox/common/functions.ts
  tests-blackbox/routes/fields/delete-field.seed.ts
  tests-blackbox/routes/fields/delete-field.test.ts
  tests-blackbox/setup/sequentialTests.js
Labels: API, Bug, DB: SQLite

#14556 Remove oracledb from package.json
  api/package.json
  pnpm-lock.yaml
Labels: DB: Oracle, Optimization

#14569 System fields not properly filtered when editing images
  app/src/components/v-form/v-form.vue
Labels: App, Bug

#14560 Fix GraphQL aggregate query
  api/src/services/graphql/index.ts
  tests/api/items/aggregate.test.ts
Labels: Bug, GraphQL

#14576 Revert to <img> for image editor
  app/src/views/private/components/image-editor/image-editor.vue
Labels: App, Bug

#14593 New Crowdin updates
  app/src/lang/translations/fr-FR.yaml
Labels: Automerge

#14601 New Crowdin updates
  app/src/lang/translations/fr-FR.yaml
Labels: Automerge

#14604 New Crowdin updates
  app/src/lang/translations/fr-FR.yaml
Labels: Automerge

#14612 New Crowdin updates
  app/src/lang/translations/fr-FR.yaml
Labels: Automerge

#14615 Fix revisions drawer detail ref type
  app/src/modules/content/routes/item.vue
  app/src/modules/files/routes/item.vue
  app/src/modules/users/routes/item.vue
  app/src/views/private/components/revisions-drawer-detail.vue
Labels: App, Optimization, Missing Issue

#14410 Add support for operation extensions to the Extensions SDK
  api/src/controllers/extensions.ts
  api/src/extensions.ts
  app/src/modules/settings/routes/flows/flow.vue
  app/vite.config.js
  packages/extensions-sdk/src/cli/commands/build.ts
  packages/extensions-sdk/src/cli/commands/create.ts
  packages/extensions-sdk/src/cli/run.ts
  packages/extensions-sdk/src/cli/types.ts
  packages/extensions-sdk/src/cli/utils/load-config.ts
  packages/extensions-sdk/src/cli/utils/logger.ts
  packages/extensions-sdk/src/cli/utils/to-object.ts
  packages/extensions-sdk/src/index.ts
  packages/extensions-sdk/templates/operation/javascript/src/api.js
  packages/extensions-sdk/templates/operation/javascript/src/app.js
  packages/extensions-sdk/templates/operation/typescript/src/api.ts
  packages/extensions-sdk/templates/operation/typescript/src/app.ts
  packages/extensions-sdk/templates/operation/typescript/src/shims.d.ts
  packages/shared/src/constants/extensions.ts
  packages/shared/src/types/endpoints.ts
  packages/shared/src/types/extensions.ts
  packages/shared/src/types/layouts.ts
  packages/shared/src/types/operations.ts
  packages/shared/src/types/panels.ts
  packages/shared/src/utils/array-helpers.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/is-extension.ts
  packages/shared/src/utils/node/generate-extensions-entry.ts
  packages/shared/src/utils/node/get-extensions.ts
  packages/shared/src/utils/validate-extension-manifest.ts
  packages/shared/tests/utils/array-helpers.test.ts
  packages/shared/tests/utils/define-extension.test.ts
  packages/shared/tests/utils/is-extension.test.ts
  packages/shared/tests/utils/node/ensure-extension-dirs.test.ts
  packages/shared/tests/utils/node/generate-extensions-entry.test.ts
  packages/shared/tests/utils/validate-extension-manifest.test.ts
Labels: Extensions, New Feature

#14625 Handle not unique errors during auto-registration
  api/src/auth/drivers/ldap.ts
  api/src/auth/drivers/oauth2.ts
  api/src/auth/drivers/openid.ts
Labels: API, Improvement

#14637 Fix list-group clickable; Fix navigation-item initial state
  app/src/components/v-list-group.vue
  app/src/modules/content/components/navigation-item.vue
Labels: App, Bug

#14644 Fix render template height in card subtitle
  app/src/layouts/cards/components/card.vue
Labels: App, Bug

#14581 Extend OpenAPI schemas for JSON-backed fields
  api/src/services/specifications.ts
  api/tests/services/specifications.test.ts
Labels: API, Bug

#14647 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
Labels: Automerge

#14659 Improve extension scaffolding log message
  packages/extensions-sdk/src/cli/commands/create.ts
Labels: Extensions, Improvement

#14658 Fix building the extensions-sdk in dev mode
  packages/extensions-sdk/package.json
Labels: Bug, Extensions

#14648 Do not override current admin language when updating project default language
  app/src/stores/server.ts
Labels: App, Bug

#14666 Fix Favicon when project color and logo are not set
  app/src/app.vue
Labels: App, Bug

#14662 Resolve a warning shown when opening the in-App docs in dev mode
  app/vite.config.js
Labels: App, Improvement

#14650 broken assets paths when serving Directus from a subfolder
  app/src/displays/file/file.vue
  app/src/displays/image/image.vue
  app/src/displays/user/user.vue
  app/src/interfaces/file-image/file-image.vue
  app/src/interfaces/file/file.vue
  app/src/layouts/cards/components/card.vue
  app/src/modules/users/routes/item.vue
  app/src/views/private/components/comment-input.vue
  app/src/views/private/components/comment-item-header.vue
  app/src/views/private/components/module-bar-avatar.vue
  app/src/views/private/components/module-bar-logo.vue
  app/src/views/private/components/user-popover.vue
  app/src/views/public/public-view.vue
Labels: App, Bug

#14646 Reload image view when src is updated
  app/src/components/v-image.vue
  app/src/views/private/components/image-editor.vue
Labels: App, Bug

#14654 Adding some tests
  app/src/utils/get-js-type.test.ts
Labels: Tests

#14685 Cast values to string when matching in v-select
  app/src/components/v-select/v-select.vue
Labels: App, Bug

#14695 Fix exported fields reactivity in export drawer
  app/src/views/private/components/export-sidebar-detail.vue
Labels: App, Bug

#14693 Fix fallback icon styling for interfaces
  app/src/modules/settings/routes/data-model/field-detail/field-detail-simple/field-detail-simple.vue
Labels: App, Bug, Missing Issue

#14705 Replace functions within arrays in GraphQL
  api/src/services/graphql/index.ts
Labels: API, Bug, GraphQL

#14688 Fix files interface's drawer download button
  app/src/interfaces/files/files.vue
Labels: App, Bug

#14728 Support running prod locally through ./api/cli.js
  api/src/app.ts
  api/src/extensions.ts
Labels: Optimization

#14709 Input and textarea fields are always getting trimmed
  app/src/interfaces/input-multiline/input-multiline.vue
  app/src/interfaces/input/input.vue
Labels: App, Bug

#14730 New Crowdin updates
  app/src/lang/translations/ru-RU.yaml
Labels: Automerge

#14743 New Crowdin updates
  app/src/lang/translations/nl-NL.yaml
Labels: Automerge

#14741 Fix Emit Events for item CRUD operations in Flows
  api/src/operations/item-create/index.ts
  api/src/operations/item-delete/index.ts
  api/src/operations/item-read/index.ts
  api/src/operations/item-update/index.ts
Labels: API, Bug

#14745 Add configuration for "Add New"/"Select Existing" buttons in M2O interface
  app/src/interfaces/select-dropdown-m2o/index.ts
  app/src/interfaces/select-dropdown-m2o/select-dropdown-m2o.vue
Labels: App, Improvement

#14746 New Crowdin updates
  app/src/lang/translations/hu-HU.yaml
Labels: Automerge

#14752 New Crowdin updates
  app/src/lang/translations/pt-BR.yaml
Labels: Automerge

#14753 New Crowdin updates
  app/src/lang/translations/pt-BR.yaml
Labels: Automerge

#14756 New Crowdin updates
  app/src/lang/translations/zh-TW.yaml
Labels: Automerge

#14757 New Crowdin updates
  app/src/lang/translations/zh-TW.yaml
Labels: Automerge

#14758 New Crowdin updates
  app/src/lang/translations/de-DE.yaml
Labels: Automerge
