Repository directus/directus, pull requests merged in 2022-04, with the labels that each got.

#12399 Use date (epoch) compare workflow instead of timer to refresh token in SDK
  docs/reference/sdk.md
  packages/cli/src/core/sdk/storage.ts
  packages/sdk/src/auth.ts
  packages/sdk/src/base/auth.ts
  packages/sdk/src/base/directus.ts
  packages/sdk/src/base/storage/base.ts
  packages/sdk/src/base/transport.ts
  packages/sdk/src/storage.ts
  packages/sdk/src/transport.ts
  packages/sdk/tests/base/auth.browser.test.ts
  packages/sdk/tests/base/auth.node.test.ts
Labels: Bug, Package: sdk

#12520 New Crowdin updates
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#12400 Improve cache reliability in DDL operations
  api/src/cache.ts
  api/src/services/collections.ts
  api/src/services/fields.ts
  api/src/services/relations.ts
  docs/configuration/config-options.md
Labels: API, Improvement

#12445 fix color interface showing black color when empty
  app/src/interfaces/select-color/select-color.vue
Labels: App, Bug

#12464 Fix v-form overwriting type of input-hash interface
  app/src/interfaces/input-hash/input-hash.vue
Labels: App, Bug

#12426 Fix filter permissions for relational fields
  api/src/services/authorization.ts
  api/tests/services/items.test.ts
Labels: API, Bug

#12465 Prevent password managers from triggering on input-hash fields
  app/src/interfaces/input-hash/input-hash.vue
  app/src/interfaces/input/input.vue
Labels: App, Improvement

#8196 Added default locale before login
  api/src/database/migrations/20220325B-add-default-language.ts
  api/src/database/system-data/fields/settings.yaml
  api/src/services/server.ts
  app/src/app.vue
  app/src/hydrate.ts
  app/src/interfaces/_system/system-language/system-language.vue
  app/src/lang/translations/en-US.yaml
  app/src/modules/users/routes/item.vue
  app/src/stores/server.ts
Labels: App, New Feature

#12533 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
Labels: Automerge

#12535 New Crowdin updates
  app/src/lang/translations/hi-IN.yaml
Labels: Automerge

#12537 New Crowdin updates
  app/src/lang/translations/ar-SA.yaml
  app/src/lang/translations/hi-IN.yaml
  app/src/lang/translations/pl-PL.yaml
Labels: Automerge

#12544 New Crowdin updates
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#12545 New Crowdin updates
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#12546 New Crowdin updates
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#12552 Fix app lint warnings
  app/src/app.vue
  app/src/components/v-field-list/v-field-list.vue
  app/src/components/v-form/validation-errors.vue
  app/src/interfaces/_system/system-filter/nodes.vue
Labels: App

#12532 Always try to rebind on healthcheck error
  api/src/auth/drivers/ldap.ts
Labels: API, Bug

#12281 Return 401 status code for expired tokens
  api/src/exceptions/index.ts
  api/src/exceptions/token-expired.ts
  api/src/utils/jwt.ts
  api/tests/utils/jwt.test.ts
  docs/reference/introduction.md
Labels: API, Improvement, Notice

#12569 New Crowdin updates
  app/src/lang/translations/de-DE.yaml
Labels: Automerge

#12570 New Crowdin updates
  app/src/lang/translations/de-DE.yaml
Labels: Automerge

#12571 New Crowdin updates
  app/src/lang/translations/fr-FR.yaml
Labels: Automerge

#12511 Safe Metadata Upload
  .gitignore
  api/example.env
  api/src/env.ts
  api/src/services/files.ts
  api/src/types/files.ts
  api/tests/services/files.test.ts
  docs/configuration/config-options.md
Labels: API, Improvement

#12576 Add `count` function in docs
  docs/reference/query.md
Labels: Documentation

#12582 Fix batch editing for fields in groups
  app/src/components/v-form/v-form.vue
Labels: App, Bug

#12457 Flatten oauth user profile so we can use sub-values
  api/src/auth/drivers/oauth2.ts
  api/src/auth/drivers/openid.ts
Labels: API, Improvement

#12558 Adds one click deploy with koyeb.
  docs/getting-started/installation.md
Labels: Documentation

#12592 Allow adding items to the repeater interface if the (default) value is no array
  app/src/interfaces/list/list.vue
  app/src/lang/translations/en-US.yaml
Labels: App, Bug

#12594 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/fr-CA.yaml
  app/src/lang/translations/fr-FR.yaml
  app/src/lang/translations/pl-PL.yaml
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#11620 :sparkles: adding possibility to update another field value from a custom interface
  app/src/components/v-form/form-field-interface.vue
  app/src/components/v-form/form-field.vue
  app/src/components/v-form/v-form.vue
Labels: App, New Feature

#12597 Prevent boolean as string for filter value when switching from null/empty operators
  app/src/interfaces/_system/system-filter/nodes.vue
Labels: App, Improvement

#12596 Add autofocus prop to input translated string
  app/src/interfaces/_system/system-input-translated-string/input-translated-string.vue
Labels: App, Improvement

#12608 Fix export sidebar without read permission for primary key
  app/src/views/private/components/export-sidebar-detail.vue
Labels: App, Bug

#12549 Add permissions check for relational field only if child has filter
  api/src/services/authorization.ts
  api/tests/__test-utils__/schemas.ts
  api/tests/services/items.test.ts
Labels: API, Bug

#12553 Fix field names in groups for validation errors
  app/src/components/v-form/v-form.vue
Labels: App, Bug

#12547 docker - disable npm update warnings
  docker/Dockerfile
Labels: Docker, Improvement

#12609 Upgrade sharp
  api/package.json
  package-lock.json
Labels: API, Dependencies

#10956 Remove UTC conversion from date, time and datetime fields
  api/src/database/helpers/date/dialects/mssql.ts
  api/src/database/helpers/date/dialects/mysql.ts
  api/src/database/helpers/date/dialects/oracle.ts
  api/src/database/helpers/date/dialects/sqlite.ts
  api/src/database/helpers/date/index.ts
  api/src/database/helpers/date/types.ts
  api/src/services/collections.ts
  api/src/services/fields.ts
  api/src/services/payload.ts
  api/src/utils/get-local-type.ts
  api/tests/services/payload.test.ts
  docs/app/data-sharing.md
  docs/getting-started/glossary.md
  packages/shared/src/utils/add-field-flag.test.ts
  packages/shared/src/utils/add-field-flag.ts
  packages/shared/src/utils/index.ts
  tests/api/collections.test.ts
  tests/api/schema/datetime-changed-node-tz-america.test.ts
  tests/api/schema/datetime-changed-node-tz-asia.test.ts
  tests/api/schema/datetime.test.ts
  tests/api/utils/validate-date-difference.ts
  tests/config.ts
  tests/jest.config.js
  tests/setup/customEnvironment.ts
  tests/setup/customSequencer.js
  tests/setup/migrations/20220112001234_create_tests_flow.js
  tests/setup/migrations/20220116004321_create_dates_tables.js
  tests/setup/seeds/01_directus_collections.js
  tests/setup/seeds/06_tests_flow.js
  tests/setup/seeds/07_schema_date_types.js
  tests/setup/sequentialTests.d.ts
  tests/setup/sequentialTests.js
  tests/setup/setup.ts
  tests/setup/utils/await-connection.ts
Labels: API, Bug, Notice

#12614 New Crowdin updates
  app/src/lang/translations/zh-CN.yaml
Labels: Automerge

#12611 Check create & update permissions for M2O field
  app/src/interfaces/select-dropdown-m2o/select-dropdown-m2o.vue
Labels: App, Bug

#12615 Merge permission's validation only when not empty
  api/src/services/authorization.ts
Labels: API, Bug

#12613 Add first day of the week option to calendar layout
  app/src/lang/translations/en-US.yaml
  app/src/layouts/calendar/index.ts
  app/src/layouts/calendar/options.vue
  app/src/layouts/calendar/types.ts
Labels: App, Improvement

#12621 New Crowdin updates
  app/src/lang/translations/pl-PL.yaml
Labels: Automerge

#12624 New Crowdin updates
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#12630 Fix M2A editing of new but unsaved items
  app/src/interfaces/list-m2a/list-m2a.vue
Labels: App, Bug

#12629 fix M2M and M2A drawer item validation
  app/src/views/private/components/drawer-item/drawer-item.vue
Labels: App, Bug

#12641 Align section label between layouts
  app/src/lang/translations/en-US.yaml
  app/src/layouts/cards/options.vue
Labels: App, Improvement

#12642 New Crowdin updates
  app/src/lang/translations/pl-PL.yaml
  app/src/lang/translations/uk-UA.yaml
Labels: Automerge

#12645 New Crowdin updates
  app/src/lang/translations/pl-PL.yaml
Labels: Automerge

#12632 add missing query parameters in SDK
  package-lock.json
  packages/sdk/package.json
  packages/sdk/src/items.ts
Labels: Bug, Package: sdk

#12667 New Crowdin updates
  app/src/lang/translations/hu-HU.yaml
Labels: Automerge

#12668 New Crowdin updates
  app/src/lang/translations/hu-HU.yaml
Labels: Automerge

#12666 Cast to number for joi between
  packages/shared/src/utils/generate-joi.test.ts
  packages/shared/src/utils/generate-joi.ts
Labels: API, Bug

#12681 New Crowdin updates
  app/src/lang/translations/it-IT.yaml
Labels: Automerge

#12682 Throw payload error when using file upload without providing a file
  api/package.json
  api/src/__mocks__/cache.ts
  api/src/controllers/files.ts
  api/tests/controllers/files.test.ts
  package-lock.json
Labels: API, Bug

#12684 Fix count support in GQL schema
  api/src/services/graphql.ts
Labels: API, Improvement

#12685 Only add update_me permissions for logged in users
  api/src/services/graphql.ts
Labels: API, Bug, GraphQL

#12687 Add support for translatable bookmark names
  app/src/composables/use-preset/use-preset.ts
  app/src/modules/content/components/navigation-bookmark.vue
  app/src/modules/settings/routes/presets/item.vue
  app/src/stores/presets.ts
  app/src/views/private/components/bookmark-add/bookmark-add.vue
Labels: App, New Feature

#12052 Fix expressions/functions as default values for datetime field
  app/src/components/v-date-picker/v-date-picker.vue
  app/src/interfaces/datetime/datetime.vue
Labels: App, Bug

#12688 Return BigIntegers as Strings in GraphQL
  api/src/services/graphql.ts
  api/src/utils/get-graphql-type.ts
Labels: API, Bug, GraphQL

#12689 Re-style file detail preview + replace interaction
  app/src/components/register.ts
  app/src/components/v-icon-file.vue
  app/src/layouts/cards/components/card.vue
  app/src/modules/files/components/replace-file.vue
  app/src/modules/files/routes/item.vue
  app/src/views/private/components/file-preview/file-preview.vue
Labels: App, Improvement

#12690 Fix inline overflow of formatted value display in cards layout
  app/src/displays/formatted-value/formatted-value.vue
Labels: App, Bug

#11437 Fix not being able to close groups
  app/src/components/v-checkbox-tree/use-visible-children.ts
  app/src/components/v-checkbox-tree/v-checkbox-tree-checkbox.vue
  app/src/components/v-checkbox-tree/v-checkbox-tree.vue
Labels: App, Bug

#12692 Don't crash on non-image files in image interface
  app/src/interfaces/file-image/file-image.vue
Labels: App, Bug

#12694 New Crowdin updates
  app/src/lang/translations/pt-BR.yaml
Labels: Automerge

#12695 New Crowdin updates
  app/src/lang/translations/pt-BR.yaml
Labels: Automerge

#12696 New Crowdin updates
  app/src/lang/translations/es-ES.yaml
Labels: Automerge

#12700 New Crowdin updates
  app/src/lang/translations/es-ES.yaml
Labels: Automerge

#12701 New Crowdin updates
  app/src/lang/translations/es-ES.yaml
Labels: Automerge

#12697 Reset existing image error after replacing it
  app/src/interfaces/file-image/file-image.vue
Labels: App, Bug

#12703 Fix primitive values for JSON code input
  app/src/interfaces/input-code/input-code.vue
Labels: App, Bug

#12649 Await when token is refreshing & reinstate `msRefreshBeforeExpires` flag
  docs/reference/sdk.md
  packages/sdk/src/auth.ts
  packages/sdk/src/base/auth.ts
  packages/sdk/tests/base/auth.node.test.ts
Labels: Improvement, Package: sdk

#12707 New Crowdin updates
  app/src/lang/translations/it-IT.yaml
Labels: Automerge

#12709 New Crowdin updates
  app/src/lang/translations/it-IT.yaml
Labels: Automerge

#12720 New Crowdin updates
  app/src/lang/translations/it-IT.yaml
Labels: Automerge

#12727 Added "json" to acceptedEnvTypes
  api/src/env.ts
Labels: API, Bug

#12715 Fix updating of exported fields for table layout
  app/src/views/private/components/export-sidebar-detail.vue
Labels: App, Bug

#12716 Fix schema apply for CURRENT_TIMESTAMP default value
  api/src/services/fields.ts
Labels: API, Bug

#11827 Docs: Add Cloud Section
  docs/.vuepress/config.js
  docs/.vuepress/theme/styles/index.styl
  docs/cloud/accounts.md
  docs/cloud/glossary.md
  docs/cloud/overview.md
  docs/cloud/projects.md
  docs/cloud/teams.md
  docs/getting-started/support.md
Labels: Documentation

#12741 Fix inline rendering of rating display
  app/src/displays/rating/rating.vue
Labels: App, Bug

#12739 Split filter key to get m2a nested collection name
  api/src/services/authorization.ts
Labels: API, Bug

#12742 Render full field path in system fields interface
  app/src/interfaces/_system/system-fields/system-fields.vue
Labels: App, Improvement

#12743 Hide DB only tables from default nav
  app/src/stores/collections.ts
Labels: App, Improvement

#12744 Fix icon alignment in db-only tables
  app/src/modules/settings/routes/data-model/collections/collections.vue
Labels: App, Bug

#12723 Fix schema apply of UUIDs from SQLite onto other databases
  api/src/utils/apply-snapshot.ts
Labels: API, Bug

#12231 add `Last-Modified` header to `/assets/*` responses
  api/src/controllers/assets.ts
  docs/configuration/config-options.md
Labels: API, Improvement

#12706 Add copy button to role ID in role permissions page's sidebar detail
  app/src/components/v-error/v-error.vue
  app/src/components/v-form/form-field-menu.vue
  app/src/components/v-form/form-field.vue
  app/src/composables/use-clipboard.ts
  app/src/modules/settings/routes/roles/item/components/role-info-sidebar-detail.vue
  app/src/views/private/components/shares-sidebar-detail/shares-sidebar-detail.vue
Labels: App, Improvement

#12746 New Crowdin updates
  app/src/lang/translations/zh-CN.yaml
Labels: Automerge

#12747 New Crowdin updates
  app/src/lang/translations/zh-CN.yaml
Labels: Automerge

#12755 New Crowdin updates
  app/src/lang/translations/zh-CN.yaml
Labels: Automerge

#12756 New Crowdin updates
  app/src/lang/translations/zh-CN.yaml
Labels: Automerge

#12757 New Crowdin updates
  app/src/lang/translations/zh-CN.yaml
Labels: Automerge

#12764 New Crowdin updates
  app/src/lang/translations/zh-CN.yaml
Labels: Automerge

#12732 Adds x-directus-cache response header with HIT value
  api/src/middleware/cache.ts
  docs/configuration/config-options.md
Labels: API, New Feature

#12082 Relational Interfaces Rework 🐰🕳️
  api/src/utils/apply-query.ts
  api/src/utils/validate-query.ts
  app/src/components/v-form/form-field.vue
  app/src/composables/use-relation/index.ts
  app/src/composables/use-relation/use-relation-m2a.ts
  app/src/composables/use-relation/use-relation-m2m.ts
  app/src/composables/use-relation/use-relation-m2o.ts
  app/src/composables/use-relation/use-relation-multiple.ts
  app/src/composables/use-relation/use-relation-o2m.ts
  app/src/composables/use-relation/use-relation-single.ts
  app/src/interfaces/file-image/file-image.vue
  app/src/interfaces/file/file.vue
  app/src/interfaces/files/files.vue
  app/src/interfaces/list-m2a/list-m2a.vue
  app/src/interfaces/list-m2m/list-m2m.vue
  app/src/interfaces/list-m2m/use-actions.ts
  app/src/interfaces/list-m2m/use-edit.ts
  app/src/interfaces/list-m2m/use-permissions.ts
  app/src/interfaces/list-m2m/use-preview.ts
  app/src/interfaces/list-m2m/use-selection.ts
  app/src/interfaces/list-m2m/use-sort.ts
  app/src/interfaces/list-o2m-tree-view/item-preview.vue
  app/src/interfaces/list-o2m-tree-view/list-o2m-tree-view.vue
  app/src/interfaces/list-o2m-tree-view/nested-draggable.vue
  app/src/interfaces/list-o2m/list-o2m.vue
  app/src/interfaces/select-dropdown-m2o/select-dropdown-m2o.vue
  app/src/interfaces/translations/translations.vue
  app/src/utils/get-js-type.ts
  docs/configuration/filter-rules.md
Labels: App, New Feature

#12773 New Crowdin updates
  app/src/lang/translations/no-NO.yaml
Labels: Automerge

#12775 New Crowdin updates
  app/src/lang/translations/zh-CN.yaml
Labels: Automerge

#12777 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
Labels: Automerge

#12780 Insights translations
  app/src/lang/translations/de-DE.yaml
  app/src/lang/translations/en-US.yaml
Labels: App, Improvement

#12712 Fix schema apply for changes in field meta options & display_options
  api/src/cli/commands/schema/apply.ts
  api/src/utils/apply-snapshot.ts
Labels: API, Bug

#12781 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/es-419.yaml
  app/src/lang/translations/es-CL.yaml
  app/src/lang/translations/es-ES.yaml
  app/src/lang/translations/it-IT.yaml
  app/src/lang/translations/pl-PL.yaml
  app/src/lang/translations/zh-CN.yaml
Labels: Automerge

#12785 Throw 400 on file upload with missing filename
  api/src/controllers/files.ts
  api/tests/controllers/files.test.ts
Labels: API, Bug

#12798 New Crowdin updates
  app/src/lang/translations/bg-BG.yaml
Labels: Automerge

#12806 New Crowdin updates
  app/src/lang/translations/pl-PL.yaml
Labels: Automerge

#12807 New Crowdin updates
  app/src/lang/translations/pl-PL.yaml
Labels: Automerge

#12811 New Crowdin updates
  app/src/lang/translations/pl-PL.yaml
Labels: Automerge

#12799 Fix itemId being null
  app/src/composables/use-relation/use-relation-multiple.ts
  app/src/composables/use-relation/use-relation-single.ts
Labels: App, Bug (Potential)

#12822 Tweak default sizing of roles, enable resize
  app/src/modules/settings/routes/roles/collection.vue
Labels: App, Improvement

#12821 Fix uploading new files not working
  app/src/interfaces/files/files.vue
Labels: App, Bug

#12800 Show pagination on readonly
  app/src/interfaces/files/files.vue
  app/src/interfaces/list-m2a/list-m2a.vue
  app/src/interfaces/list-m2m/list-m2m.vue
  app/src/interfaces/list-o2m/list-o2m.vue
Labels: App, Bug

#12797 Prevent stale filter value when switching between maps
  app/src/layouts/map/index.ts
Labels: App, Bug

#12824 Fix casting of duplication fields
  api/src/database/system-data/fields/collections.yaml
Labels: API, Bug

#12827 New Crowdin updates
  app/src/lang/translations/da-DK.yaml
Labels: Automerge

#12828 New Crowdin updates
  app/src/lang/translations/da-DK.yaml
Labels: Automerge

#12829 New Crowdin updates
  app/src/lang/translations/da-DK.yaml
Labels: Automerge

#12832 Fix update fetchedItems on every param change
  app/src/composables/use-relation/use-relation-multiple.ts
  app/src/composables/use-relation/use-relation-single.ts
Labels: App, Bug

#12833 Scope not null in subquery
  api/src/utils/apply-query.ts
Labels: API, Bug

#12834 Fix width detection when using mixed hidden fields
  app/src/composables/use-form-fields/use-form-fields.ts
Labels: App, Bug

#12835 Support jsonb in count()
  api/src/database/helpers/fn/dialects/postgres.ts
Labels: API, Improvement

#12839 Don't save directus_revisions row for empty delta
  api/src/services/items.ts
  api/src/services/payload.ts
Labels: API, Improvement

#12840 Fix related primary key lookup in list-m2m
  app/src/interfaces/list-m2a/list-m2a.vue
  app/src/interfaces/list-m2m/list-m2m.vue
Labels: App, Bug

#12826 Fix alias
  api/src/database/run-ast.ts
  api/src/services/graphql.ts
  api/src/utils/get-ast-from-query.ts
Labels: API, Bug, GraphQL

#12849 Fix directus_user mutation with role
  api/src/services/users.ts
Labels: API, Bug, GraphQL

#12852 Only set field default value when available for singleton collections
  api/src/services/items.ts
Labels: API, Bug

#12860 Ignore non-alias fields that only exist in directus_fields
  api/src/utils/get-schema.ts
Labels: API, Bug

#12864 Removed trailing comma from barchart name translations
  app/src/lang/translations/en-US.yaml
  app/src/lang/translations/pl-PL.yaml
Labels: App, Bug

#12866 New Crowdin updates
  app/src/lang/translations/da-DK.yaml
  app/src/lang/translations/de-DE.yaml
  app/src/lang/translations/pl-PL.yaml
Labels: Automerge

#12872 Refresh datetime display value every minute for relative format
  app/src/displays/datetime/datetime.vue
Labels: App, Bug

#12869 Input translated string improvements
  app/src/interfaces/_system/system-input-translated-string/input-translated-string.vue
Labels: App, Improvement

#12880 Fix unsetting fields in batch mode
  app/src/components/v-form/v-form.vue
Labels: App, Bug

#12894 New Crowdin updates
  app/src/lang/translations/ro-RO.yaml
Labels: Automerge

#12898 New Crowdin updates
  app/src/lang/translations/it-IT.yaml
Labels: Automerge

#12900 Give config file higher priority than existing env
  api/src/env.ts
Labels: API, Bug

#12902 New Crowdin updates
  app/src/lang/translations/it-IT.yaml
Labels: Automerge

#12904 Prevent passing empty string as json field default value when null
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-schema.vue
Labels: App, Bug

#12919 Add missing import for color package
  app/src/interfaces/select-color/select-color.vue
Labels: App, Bug

#12922 Fix readSingleItems response from array to object
  api/src/services/specifications.ts
Labels: API, Bug, Package: specs

#12916 Translate validation message in validation errors
  app/src/components/v-form/validation-errors.vue
Labels: App, Bug

#12917 Fix apply function not working properly when only passing collection prop
  app/src/components/v-form/v-form.vue
Labels: App, Bug

#12929 Show minutes by default in Calendar month layout
  app/src/layouts/calendar/index.ts
Labels: App, Improvement

#12905 Docs: Cloud - Lori's Edits
  docs/cloud/accounts.md
  docs/cloud/glossary.md
  docs/cloud/overview.md
  docs/cloud/projects.md
  docs/cloud/teams.md
Labels: Documentation

#12046 Docs: Content
  docs/.vuepress/config.js
  docs/.vuepress/theme/components/SidebarGroup.vue
  docs/.vuepress/theme/styles/index.styl
  docs/app/content-collections.md
  docs/app/content-items.md
  docs/app/content.md
  docs/app/content/collections.md
  docs/app/content/data-sharing.md
  docs/app/content/items.md
  docs/app/import-export.md
  docs/app/layouts.md
Labels: Documentation

#12933 Fix validation check on item update
  app/src/composables/use-item/use-item.ts
Labels: App, Bug

#12865 Improve app loading background
  app/index.html
  app/src/app.vue
  app/src/views/public/public-view.vue
Labels: App, Improvement

#12934 Deprecate use of faker
  package-lock.json
  package.json
  tests/api/items/filters.test.ts
  tests/api/items/offset.test.ts
  tests/api/items/one-to-many.test.ts
  tests/setup/utils/factories.ts
Labels: Optimization, Dependencies

#12936 Only watch for wysiwyg changes on first interaction
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
Labels: App, Improvement

#12950 Fix color-scheme for light theme
  app/src/styles/themes/_light.scss
Labels: App, Bug

#12947 Add extensions to fix mp4 file icons
  app/src/utils/readable-mime-type/extensions.json
Labels: App, Improvement

#12951 Prevent pasting non slug or db safe characters
  app/src/components/v-input/v-input.vue
Labels: App, Bug

#12955 Remove underscore prefix for deep aggregate operations
  packages/sdk/src/items.ts
Labels: Bug, Package: sdk

#12948 Add alwaysdata to one-click installs
  docs/getting-started/installation.md
Labels: Documentation

#12957 Check for valid date when parsing end date for Calendar layout
  app/src/layouts/calendar/index.ts
Labels: App, Bug
