Repository directus/directus, pull requests merged in 2023-01, with the labels that each got.

#16111 Allow env access in Flows Run Script operation
  api/src/env.ts
  api/src/flows.ts
  api/src/operations/exec/index.ts
  app/src/operations/exec/index.test.ts
  app/src/operations/exec/index.ts
Labels: API, App, Improvement

#16922 Fix inner query sort limit
  api/src/database/helpers/schema/dialects/mssql.ts
  api/src/database/helpers/schema/dialects/mysql.ts
  api/src/database/helpers/schema/types.ts
  api/src/database/run-ast.ts
  api/src/services/items.test.ts
  api/src/utils/apply-query.ts
  tests-blackbox/routes/items/m2a.test.ts
  tests-blackbox/routes/items/m2m.test.ts
  tests-blackbox/routes/items/m2o.test.ts
  tests-blackbox/routes/items/o2m.test.ts
Labels: API, Bug

#14314 Disable field selection for alias fields in the system-filter component when functions are used
  app/src/components/v-field-list/v-field-list.vue
Labels: App, Bug

#16822 Extension Improvements
  api/src/controllers/extensions.ts
  api/src/extensions.ts
  app/src/extensions.ts
  app/vite.config.js
  packages/extensions-sdk/src/cli/commands/add.ts
  packages/extensions-sdk/src/cli/commands/build.ts
  packages/extensions-sdk/src/cli/commands/create.ts
  packages/extensions-sdk/src/cli/commands/helpers/copy-template.ts
  packages/extensions-sdk/src/cli/commands/helpers/generate-bundle-entrypoint.ts
  packages/extensions-sdk/src/cli/commands/helpers/get-extension-dev-deps.ts
  packages/extensions-sdk/src/cli/commands/helpers/validate-cli-options.ts
  packages/extensions-sdk/src/cli/commands/link.ts
  packages/extensions-sdk/src/cli/run.ts
  packages/shared/package.json
  packages/shared/src/constants/extensions.ts
  packages/shared/src/types/extensions.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/node/ensure-extension-dirs.test.ts
  packages/shared/src/utils/node/ensure-extension-dirs.ts
  packages/shared/src/utils/node/generate-extensions-entrypoint.test.ts
  packages/shared/src/utils/node/generate-extensions-entrypoint.ts
  packages/shared/src/utils/node/get-extensions.ts
  packages/shared/src/utils/validate-extension-manifest.test.ts
  packages/shared/src/utils/validate-extension-manifest.ts
  pnpm-lock.yaml
Labels: API, Improvement, New Feature

#16581 Fix removal of keys in local storage
  app/src/composables/use-local-storage.test.ts
  app/src/composables/use-local-storage.ts
Labels: App, Bug

#16966 Remove auto-increment primary key when saving as copy
  app/src/components/v-form/v-form.vue
  app/src/composables/use-item.test.ts
  app/src/composables/use-item.ts
Labels: App, Bug

#17024 Add bottom margin to Slider interface to account for field note
  app/src/components/v-slider.vue
Labels: App, Bug

#17007 Add Khmer (Cambodia) language for i18n
  app/src/lang/available-languages.yaml
  app/src/lang/translations/km-KH.yaml
Labels: App, Improvement

#16942 Storage / S3: Only pass `key` and `secret` if defined
  packages/storage-driver-s3/src/index.test.ts
  packages/storage-driver-s3/src/index.ts
Labels: API

#16679 Remove TZ conversion for timestamps in MySQL
  api/src/database/helpers/fn/dialects/mysql.ts
Labels: API, Bug, DB: MySQL

#16657 Cast numeric filter values as number for _eq and _neq operators
  packages/shared/src/utils/generate-joi.test.ts
  packages/shared/src/utils/generate-joi.ts
Labels: API, Bug

#16595 Fix last admin check for alterations type inputs
  api/src/services/roles.test.ts
  api/src/services/roles.ts
Labels: API, Bug

#16555 Throttle idle event listeners
  app/src/idle.test.ts
  app/src/idle.ts
Labels: App, Improvement

#16545 Type fixes in app (part 1)
  app/src/composables/use-revisions.ts
  app/src/composables/use-time-from-now.ts
  app/src/modules/insights/routes/not-found.vue
  app/src/stores/insights.ts
  app/src/types/notifications.ts
  app/src/utils/hljs-graphql.ts
  app/src/utils/unexpected-error.ts
  app/src/views/private/components/comment-input.vue
  app/src/views/private/components/comment-item-header.vue
  app/src/views/private/components/comment-item.vue
  app/src/views/private/components/comments-sidebar-detail.vue
  app/src/views/private/components/notification-dialogs.vue
  app/src/views/private/components/revision-item.vue
  app/src/views/private/components/revisions-drawer-picker.vue
  app/src/views/private/components/revisions-drawer-preview.vue
  app/src/views/private/components/revisions-drawer-updates.vue
  app/src/views/private/components/revisions-drawer.vue
  app/vite.config.js
Labels: App, Optimization

#16579 Pass emitEvents to query methods in item-read & item-delete operations
  api/src/operations/item-delete/index.test.ts
  api/src/operations/item-delete/index.ts
  api/src/operations/item-read/index.test.ts
  api/src/operations/item-read/index.ts
Labels: API, Bug

#16617 Simplify calendar layout's first day options
  app/src/layouts/calendar/options.test.ts
  app/src/layouts/calendar/options.vue
Labels: App, Improvement

#16722 Collection export limit 0 leads to 500 error
  api/src/controllers/utils.ts
  api/src/services/import-export.ts
  api/src/utils/sanitize-query.test.ts
  api/src/utils/validate-query.ts
  app/src/views/private/components/export-sidebar-detail.vue
Labels: API, Bug

#16552 Fix page tracking debounced timeout
  app/src/router.test.ts
  app/src/router.ts
Labels: App, Improvement

#17081 Make forcePathStyle configurable
  packages/storage-driver-s3/src/index.test.ts
  packages/storage-driver-s3/src/index.ts
Labels: API, Bug

#17084 Wrap mime-type display in `span` node
  app/src/displays/mime-type/index.ts
Labels: App, Bug

#17098 Fix running npm init directus-extension
  packages/create-directus-extension/lib/index.js
Labels: Bug, Extensions

#16580 Add tests for Flows operations
  api/src/operations/item-create/index.test.ts
  api/src/operations/item-update/index.test.ts
  api/src/operations/log/index.test.ts
  api/src/operations/notification/index.test.ts
  api/src/operations/request/index.test.ts
  api/src/operations/sleep/index.test.ts
  api/src/operations/transform/index.test.ts
  api/src/operations/trigger/index.test.ts
  api/src/services/notifications.test.ts
Labels: Tests

#17113 Fix GraphQL server health output
  api/src/services/graphql/index.ts
  tests-blackbox/routes/server/health.test.ts
Labels: API, Bug

#17139 Catch logout error
  app/src/auth.ts
Labels: App, Bug

#17184 Use countDistinct for item and total counts
  app/src/views/private/components/export-sidebar-detail.vue
  packages/shared/src/composables/use-items.test.ts
  packages/shared/src/composables/use-items.ts
Labels: App, Bug

#17199 Update locale name for zh-TW
  app/src/lang/available-languages.yaml
Labels: App, Improvement

#17202 Re-added frontend sorting for flows
  app/src/modules/settings/routes/flows/overview.vue
Labels: App, Bug

#17210 Fix fetching from related collection in drawer item
  app/src/views/private/components/drawer-item.vue
Labels: App, Bug

#17181 Fix operations output being undefined
  api/src/flows.ts
  api/src/utils/map-values-deep.test.ts
  api/src/utils/map-values-deep.ts
Labels: API, Bug

#16773 Flows improvements
  api/src/operations/trigger/index.ts
  app/src/lang/translations/en-US.yaml
  app/src/operations/trigger/index.ts
Labels: API, App, Bug, Improvement

#17182 Revert "Disable field selection for alias fields in the system-filter component when functions are used"
  app/src/components/v-field-list/v-field-list.vue
Labels: App, Bug

#17240 Update knex version
  api/package.json
  package.json
  packages/schema/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Labels: API, Bug, Dependencies

#17268 GraphQL return original error (#17168)
  api/src/services/graphql/utils/process-error.ts
  tests-blackbox/routes/auth/login.test.ts
Labels: API, Bug

#17254 Fix field configuration view not updating when navigating between different fields in New Field drawer
  app/src/composables/use-extension.ts
  app/src/modules/settings/routes/data-model/field-detail/shared/extension-options.vue
Labels: App, Bug

#17066 Fix CreateMany action hooks
  api/src/services/import-export.test.ts
  api/src/services/import-export.ts
  api/src/services/items.ts
  tests-blackbox/extensions/hooks/action-verify-create/index.js
  tests-blackbox/routes/items/no-relations.test.ts
Labels: API, Bug

#17350 Update axios
  api/package.json
  pnpm-lock.yaml
Labels: API, Bug
