Repository directus/directus, pull requests merged in 2023-05, with the labels that each got.

#18376 Prevent nested ternary expressions
  .changeset/breezy-numbers-brake.md
  .eslintrc.js
  app/src/components/v-template-input.vue
  app/src/interfaces/input-rich-text-html/useMedia.ts
  app/src/interfaces/select-color/select-color.vue
  packages/extensions-sdk/src/cli/commands/helpers/generate-bundle-entrypoint.ts
  tests/blackbox/common/config.ts
  tests/blackbox/schema/timezone/timezone-changed-node-tz-america.test.ts
  tests/blackbox/schema/timezone/timezone-changed-node-tz-asia.test.ts
Labels: Improvement

#18282 Add docs on usage of different project names for TFA
  docs/dictionary.txt
  docs/use-cases/headless-cms/security.md
Labels: Documentation

#18321 Support multipart/form-data to apply schema diffs
  .changeset/sharp-suits-think.md
  api/src/controllers/schema.ts
  docs/reference/system/schema.md
  packages/specs/src/paths/schema/apply.yaml
  tests/blackbox/routes/schema/schema.test.ts
Labels: API, Improvement

#18382 Fixes _offset=0 in deep filters
  .changeset/wise-chefs-love.md
  api/src/utils/sanitize-query.test.ts
  api/src/utils/sanitize-query.ts
Labels: API, Bug

#18277 Add Cache option for Flows webhook trigger
  .changeset/modern-eels-judge.md
  api/src/controllers/flows.ts
  api/src/flows.ts
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/flows/triggers.ts
  docs/app/flows/triggers.md
  tests/blackbox/routes/flows/webhook.test.ts
  tests/blackbox/setup/sequentialTests.js
Labels: API, Improvement

#18351 Add support for building API extensions to ESM
  .changeset/light-laws-love.md
  docs/extensions/creating-extensions.md
  packages/constants/src/extensions.ts
  packages/extensions-sdk/create-build.test.ts
  packages/extensions-sdk/src/cli/commands/build.ts
  packages/extensions-sdk/src/cli/commands/create.ts
  packages/extensions-sdk/src/cli/types.ts
  packages/extensions-sdk/src/cli/utils/file.ts
  packages/extensions-sdk/src/cli/utils/languages.ts
Labels: Extensions, Improvement

#18385 Load cjs custom migrations
  .changeset/wicked-scissors-confess.md
  api/src/database/migrations/run.ts
  docs/extensions/migrations.md
Labels: API, Bug

#18362 Make folders hidden by default in system collection interface
  .changeset/green-stingrays-shake.md
  app/src/interfaces/_system/system-collection/system-collection.vue
Labels: App, Improvement

#18267 updated uses of useAliasFields
  .changeset/hip-cats-pump.md
  app/src/composables/use-alias-fields.test.ts
  app/src/composables/use-alias-fields.ts
  app/src/layouts/tabular/tabular.vue
  app/src/utils/render-string-template.ts
  app/src/utils/save-as-csv.ts
Labels: App, Bug

#18365 Mark shared packages as side effects free
  .changeset/loud-otters-destroy.md
  packages/composables/package.json
  packages/constants/package.json
  packages/exceptions/package.json
  packages/utils/package.json
Labels: Extensions, Improvement

#18421 Improved flows error class handling
  .changeset/gentle-cars-watch.md
  api/src/flows.ts
  api/src/utils/sanitize-error.test.ts
  api/src/utils/sanitize-error.ts
Labels: API, Improvement

#18474 Follow-up fixes after TS error fixes in stores
  app/src/stores/server.test.ts
  app/src/stores/server.ts
Labels: App, Bug, Optimization

#18473 Clean-up and fixes after script[setup] migration
  app/src/layouts/cards/cards.vue
  app/src/layouts/cards/components/card.vue
  app/src/layouts/cards/components/header.vue
  app/src/modules/files/routes/add-new.vue
  app/src/modules/files/routes/collection.vue
  app/src/modules/settings/routes/data-model/collections/components/collection-dialog.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-relationship-translations.vue
  app/src/modules/settings/routes/data-model/field-detail/shared/extension-options.vue
  app/src/modules/settings/routes/data-model/field-detail/shared/related-collection-select.vue
  app/src/modules/settings/routes/data-model/field-detail/shared/related-field-select.vue
  app/src/modules/settings/routes/data-model/fields/components/field-select-menu.vue
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
  app/src/modules/settings/routes/roles/item/components/permissions-overview-row.vue
  app/src/modules/settings/routes/roles/item/components/permissions-overview-toggle.vue
  app/src/modules/settings/routes/roles/item/components/permissions-overview.vue
  app/src/modules/settings/routes/roles/permissions-detail/components/presets.vue
  app/src/modules/users/components/user-info-sidebar-detail.vue
  app/src/views/private/components/archive-sidebar-detail.vue
  app/src/views/private/components/refresh-sidebar-detail.vue
  app/src/views/private/components/revisions-drawer-detail.vue
  app/src/views/private/components/revisions-drawer.vue
  app/src/views/private/components/shares-sidebar-detail.vue
  app/src/views/private/components/users-invite.vue
Labels: App, Bug, Optimization

#18465 Graceful database shutdown for bootstrap CLI
  .changeset/soft-ads-live.md
  api/src/cli/commands/bootstrap/index.ts
  contributors.yml
Labels: API, Bug

#18479 Follow-up fix after TS error fixes in routes
  app/src/routes/login/login.vue
Labels: App, Bug

#18480 Remove unused dependencies from utils package
  packages/utils/package.json
  pnpm-lock.yaml
Labels: Optimization

#18469 Fix TS errors in Views (part 1)
  app/src/displays/user/user.vue
  app/src/views/private/components/comment-input.vue
  app/src/views/private/components/comment-item-header.vue
  app/src/views/private/components/comment-item.vue
  app/src/views/private/components/comments-sidebar-detail.vue
  app/src/views/private/components/drawer-collection.vue
  app/src/views/private/components/drawer-item.vue
  app/src/views/private/components/export-sidebar-detail.vue
  app/src/views/private/components/file-preview.vue
  app/src/views/private/components/image-editor.vue
  app/src/views/private/components/layout-sidebar-detail.vue
  app/src/views/private/components/module-bar-avatar.vue
  app/src/views/private/components/notification-item.vue
  app/src/views/private/components/notifications-drawer.vue
  app/src/views/private/components/notifications-group.vue
  app/src/views/private/components/render-template.vue
Labels: App, Optimization

#18482 Convert collections store to setup function
  app/src/stores/collections.ts
Labels: Optimization

#18481 Convert app store to setup function
  app/src/stores/app.ts
Labels: Optimization

#18493 Fix app hydration for users with null language
  app/src/hydrate.test.ts
  app/src/hydrate.ts
  app/src/utils/geometry/basemap.ts
  packages/types/src/users.ts
Labels: App, Bug, Optimization

#18505 Convert latency store to setup function
  app/src/stores/latency.ts
Labels: Optimization

#18500 Only render form field if field is present
  app/src/components/v-form/v-form.vue
Labels: Optimization

#16560 Fix field presets for relational fields are not working
  .changeset/spicy-swans-hammer.md
  api/src/services/items.ts
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/roles/permissions-detail/components/presets.vue
  contributors.yml
Labels: API, Bug

#18502 Convert fields store to setup function
  app/src/stores/fields.test.ts
  app/src/stores/fields.ts
Labels: Optimization

#18512 Update next-13.md
  contributors.yml
  docs/guides/headless-cms/build-static-website/next-13.md
Labels: Documentation

#18532 Re-add default value for notification item type
  app/src/views/private/components/notification-item.vue
Labels: App, Bug

#18535 Fix interface options that use a code editor
  app/src/interfaces/input-code/input-code.vue
Labels: Bug

#18516 Move in kanban layout exclusive extension
  .changeset/nine-vans-develop.md
  app/src/layouts/kanban/actions.vue
  app/src/layouts/kanban/index.ts
  app/src/layouts/kanban/kanban.vue
  app/src/layouts/kanban/options.vue
  app/src/layouts/kanban/types.ts
  docs/app/layouts.md
Labels: App, New Feature

#18522 Move in panels exclusive extensions
  .changeset/small-ties-refuse.md
  app/package.json
  app/src/modules/insights/routes/dashboard.vue
  app/src/panels/bar-chart/index.ts
  app/src/panels/bar-chart/panel-bar-chart.vue
  app/src/panels/line-chart/index.ts
  app/src/panels/line-chart/panel-line-chart.vue
  app/src/panels/meter/index.ts
  app/src/panels/meter/panel-meter.vue
  app/src/panels/pie-chart/color-generator.ts
  app/src/panels/pie-chart/index.ts
  app/src/panels/pie-chart/panel-pie-chart.vue
  app/src/panels/time-series/panel-time-series.vue
  app/src/types/panels.ts
  docs/app/insights.md
  pnpm-lock.yaml
Labels: App, New Feature

#18320 Add folder navigation to files / image selector interfaces
  .changeset/stale-plants-jam.md
  app/src/components/register.ts
  app/src/components/v-drawer.vue
  app/src/components/v-nav.vue
  app/src/components/v-upload.vue
  app/src/composables/use-folders.ts
  app/src/interfaces/file/file.vue
  app/src/interfaces/files/files.vue
  app/src/lang/translations/en-US.yaml
  app/src/modules/files/routes/collection.vue
  app/src/modules/files/routes/item.vue
  app/src/modules/files/routes/not-found.vue
  app/src/types/folders.ts
  app/src/utils/get-folder-filter.ts
  app/src/views/private/components/drawer-collection.vue
  app/src/views/private/components/drawer-files.vue
  app/src/views/private/components/files-navigation-folder.vue
  app/src/views/private/components/files-navigation.vue
  app/src/views/private/components/header-bar-actions.vue
  app/src/views/private/components/header-bar.vue
  app/src/views/private/private-view.vue
Labels: App, Improvement

#18525 Move in block editor exclusive extension
  .changeset/ten-wasps-relate.md
  app/package.json
  app/src/interfaces/input-block-editor/editorjs-overrides.css
  app/src/interfaces/input-block-editor/index.ts
  app/src/interfaces/input-block-editor/input-block-editor.vue
  app/src/interfaces/input-block-editor/plugins.ts
  app/src/interfaces/input-block-editor/preview.svg
  app/src/interfaces/input-block-editor/tools.ts
  app/src/interfaces/input-block-editor/use-file-handler.ts
  app/src/lang/translations/en-US.yaml
  app/src/shims.d.ts
  pnpm-lock.yaml
Labels: App, New Feature

#17309 Adding a maximum for query limit
  .changeset/loud-flowers-yawn.md
  api/src/cli/utils/create-env/env-stub.liquid
  api/src/database/run-ast.ts
  api/src/env.ts
  api/src/services/graphql/index.ts
  api/src/services/server.ts
  api/src/utils/sanitize-query.test.ts
  api/src/utils/sanitize-query.ts
  api/src/utils/validate-query.test.ts
  api/src/utils/validate-query.ts
  app/src/composables/use-folders.ts
  app/src/composables/use-page-size.test.ts
  app/src/composables/use-page-size.ts
  app/src/composables/use-relation-multiple.ts
  app/src/composables/use-revisions.ts
  app/src/interfaces/translations/translations.vue
  app/src/layouts/calendar/index.ts
  app/src/layouts/cards/cards.vue
  app/src/layouts/kanban/index.ts
  app/src/layouts/map/map.vue
  app/src/layouts/tabular/tabular.vue
  app/src/modules/settings/routes/roles/collection.vue
  app/src/modules/settings/routes/roles/item/components/permissions-overview.vue
  app/src/stores/collections.ts
  app/src/stores/fields.ts
  app/src/stores/flows.ts
  app/src/stores/insights.ts
  app/src/stores/permissions.ts
  app/src/stores/presets.ts
  app/src/stores/relations.ts
  app/src/stores/server.ts
  app/src/utils/fetch-all.ts
  app/src/views/private/components/folder-picker.vue
  docs/reference/system/server.md
  docs/self-hosted/config-options.md
Labels: API, App, Improvement

#18581 Consolidate same condition in file item route to prevent render issue
  .changeset/forty-baboons-flash.md
  app/src/modules/files/routes/item.vue
Labels: App, Bug

#18583 Fix users-invite component's incorrect null check
  .changeset/orange-trainers-film.md
  app/src/modules/users/components/navigation.vue
  app/src/modules/users/routes/collection.vue
  app/src/views/private/components/users-invite.vue
Labels: App, Bug

#18591 Add missing translation in presentation-notice interface
  .changeset/gentle-kangaroos-appear.md
  app/src/interfaces/presentation-notice/presentation-notice.vue
  app/src/lang/translations/en-US.yaml
Labels: App, Improvement

#18579 Sanitize column only when applying snapshot diff
  .changeset/six-chairs-peel.md
  api/src/services/fields.ts
  tests/blackbox/routes/fields/change-fields.test.ts
Labels: API, Bug

#18601 Fix drag & drop upload to the root folder in the file library
  .changeset/happy-months-dream.md
  app/src/modules/files/routes/collection.vue
Labels: App, Bug

#18588 Update to Vue 3.3
  .changeset/fresh-hotels-mate.md
  app/package.json
  docs/package.json
  package.json
  packages/composables/package.json
  packages/extensions-sdk/package.json
  packages/extensions-sdk/src/cli/commands/build.ts
  packages/types/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: App, Optimization, Dependencies

#18600 Fix deselecting options for kanban layout
  .changeset/sixty-snakes-happen.md
  app/src/layouts/cards/index.ts
  app/src/layouts/kanban/index.ts
Labels: App, Bug

#18610 Default to null in forms if interface itself has no default value
  .changeset/nervous-humans-leave.md
  app/src/components/v-form/form-field-interface.vue
Labels: App, Bug

#18603 Show options for list & map interfaces again
  .changeset/short-boxes-rescue.md
  app/src/interfaces/_system/system-interface-options/system-interface-options.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-conditions.vue
  app/src/modules/settings/routes/data-model/field-detail/shared/extension-options.vue
  packages/utils/shared/index.ts
  packages/utils/shared/is-object.test.ts
  packages/utils/shared/is-object.ts
  packages/utils/shared/is-vue-component.test.ts
  packages/utils/shared/is-vue-component.ts
Labels: App, Bug

#18602 Fix invalid field types in grouping for kanban layout
  .changeset/curvy-dryers-shout.md
  app/src/layouts/kanban/index.ts
Labels: App, Bug

#18547 Add Expand/Collapse to collection items in data model
  .changeset/silent-comics-move.md
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/data-model/collections/components/collection-item.vue
  app/src/modules/settings/routes/data-model/collections/components/collection-options.vue
Labels: App, Improvement

#18630 Fix for unknown filter fields
  .changeset/lucky-falcons-collect.md
  api/src/utils/apply-query.ts
Labels: API, Bug

#18615 More sensible default formats for image auto conversion
  .changeset/red-swans-march.md
  api/src/controllers/assets.ts
  api/src/services/assets.ts
  api/src/types/assets.ts
  api/src/utils/transformations.test.ts
  api/src/utils/transformations.ts
  tests/blackbox/assets/directus.avif
  tests/blackbox/routes/assets/format.test.ts
Labels: API, Improvement

#18631 Fix api call for insights list panel
  .changeset/many-shoes-pull.md
  app/src/panels/list/panel-list.vue
Labels: App, Bug

#18639 Bump @sindresorhus/slugify to 2.2.1
  .changeset/stupid-pens-divide.md
  app/package.json
  pnpm-lock.yaml
Labels: App, Bug

#18061 Add initial testing docs
  .changeset/stupid-pumas-care.md
  docs/.vitepress/config.js
  docs/contributing/tests.md
  docs/dictionary.txt
Labels: Documentation

#18638 Fix `group-accordion` value initialization
  .changeset/hip-crabs-rhyme.md
  app/src/interfaces/group-accordion/group-accordion.vue
Labels: App, Bug

#18641 Add documentation for auth create and update hooks
  .changeset/pretty-lobsters-look.md
  docs/extensions/hooks.md
Labels: Documentation

#18648 Remove server info
  .changeset/giant-ligers-nail.md
  api/src/services/graphql/index.ts
  api/src/services/server.ts
  api/src/utils/get-os-info.ts
  app/package.json
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/composables/use-project-info.ts
  app/src/modules/settings/routes/project/components/project-info-sidebar-detail.vue
  app/src/stores/server.test.ts
  app/src/stores/server.ts
  docs/reference/system/server.md
  pnpm-lock.yaml
Labels: API, Bug

#18652 Properly paginate on flow logs
  .changeset/cool-jobs-smoke.md
  app/src/composables/use-revisions.ts
  app/src/modules/settings/routes/flows/components/logs-sidebar-detail.vue
  app/src/views/private/components/revisions-drawer-detail.vue
Labels: App, Bug

#18660 Align deps in SDK with other packages
  packages/sdk/package.json
  packages/sdk/src/base/directus.ts
  packages/sdk/src/base/transport.ts
  packages/sdk/src/directus.ts
  packages/sdk/src/handlers/relations.ts
  packages/sdk/src/handlers/settings.ts
  packages/sdk/src/handlers/singleton.ts
  packages/sdk/src/items.ts
  packages/sdk/tsconfig.json
  pnpm-lock.yaml
Labels: Optimization

#18661 fixed incorrectly mocked endpoint
  .changeset/olive-toys-fail.md
  packages/sdk/tests/base/auth.test.ts
  packages/sdk/tests/base/transport.test.ts
Labels: Optimization

#18628 Update Docs Card Component Styling
  .changeset/strange-ears-pull.md
  docs/.vitepress/components/Card.vue
  docs/public/icons/card_link.svg
Labels: Documentation

#18668 New functions for `@directus/random`
  .changeset/friendly-rocks-sell.md
  packages/pressure/src/monitor.test.ts
  packages/random/package.json
  packages/random/readme.md
  packages/random/src/alpha.test.ts
  packages/random/src/alpha.ts
  packages/random/src/array.test.ts
  packages/random/src/array.ts
  packages/random/src/constants.ts
  packages/random/src/index.ts
  packages/random/src/integer.test.ts
  packages/random/src/integer.ts
  packages/random/src/random-int-between.ts
  packages/random/src/sequence.test.ts
  packages/random/src/sequence.ts
  packages/random/src/uuid.test.ts
  packages/random/src/uuid.ts
  packages/random/tsconfig.prod.json
  pnpm-lock.yaml
Labels: Improvement

#18666 Remove readme in docs
  docs/readme.md
Labels: Optimization

#18665 Update CODEOWNERS
  .github/CODEOWNERS
Labels: Optimization

#18664 Remove `.nvmrc` config file
  .nvmrc
Labels: Optimization

#18663 Clean-up package.json files
  api/package.json
  app/package.json
  directus/package.json
  docs/package.json
  packages/composables/package.json
  packages/constants/package.json
  packages/create-directus-extension/package.json
  packages/data-driver-postgres/package.json
  packages/data/package.json
  packages/exceptions/package.json
  packages/extensions-sdk/package.json
  packages/pressure/package.json
  packages/random/package.json
  packages/release-notes-generator/package.json
  packages/schema/package.json
  packages/sdk/package.json
  packages/specs/package.json
  packages/storage-driver-azure/package.json
  packages/storage-driver-cloudinary/package.json
  packages/storage-driver-gcs/package.json
  packages/storage-driver-local/package.json
  packages/storage-driver-s3/package.json
  packages/storage/package.json
  packages/tsconfig/package.json
  packages/types/package.json
  packages/update-check/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  tests/blackbox/package.json
Labels: Optimization

#18685 Disable disable depreacted marked options
  api/src/utils/md.ts
  app/src/utils/md.ts
Labels: Dependencies

#18686 Enhance translations in export sidebar
  .changeset/warm-pumas-provide.md
  app/src/lang/translations/en-US.yaml
  app/src/views/private/components/export-sidebar-detail.vue
Labels: App, Improvement

#18699 Update gh-action-linear to fix workflow failure
  .github/workflows/linear-auto.yml
  .github/workflows/linear-dispatch.yaml
Labels: Dependencies

#18682 Fix bad auto-formatting on Nuxt 3 guide
  docs/guides/headless-cms/build-static-website/nuxt-3.md
Labels: Documentation

#18704 Fix code block editor popover styles
  .changeset/long-planets-move.md
  app/src/interfaces/input-block-editor/editorjs-overrides.css
Labels: Package: @directus/app, Bug

#18715 Prevent release of `@directus/sdk` until it's ready
  .changeset/config.json
  .changeset/tough-crews-shout.md
Labels: Optimization

#18254 WebSockets Documentation
  contributors.yml
  docs/.vitepress/components/Card.vue
  docs/.vitepress/components/Contributors.vue
  docs/.vitepress/config.js
  docs/.vitepress/theme/DocLayout.vue
  docs/.vitepress/theme/index.js
  docs/dictionary.txt
  docs/guides/real-time/authentication.md
  docs/guides/real-time/chat/index.md
  docs/guides/real-time/chat/javascript.md
  docs/guides/real-time/chat/react.md
  docs/guides/real-time/chat/vue.md
  docs/guides/real-time/getting-started/graphql.md
  docs/guides/real-time/getting-started/index.md
  docs/guides/real-time/getting-started/websockets.md
  docs/guides/real-time/live-poll.md
  docs/guides/real-time/operations.md
  docs/guides/real-time/subscriptions/graphql.md
  docs/guides/real-time/subscriptions/index.md
  docs/guides/real-time/subscriptions/websockets.md
  docs/package-lock.json
  docs/public/icons/js.svg
  docs/public/icons/react.svg
  docs/public/icons/vue.svg
  docs/self-hosted/config-options.md
Labels: Documentation

#18584 Add synchronization across horizontally scaled instances to schedule flows and hooks
  .changeset/bright-pens-give.md
  api/package.json
  api/src/env.ts
  api/src/extensions.ts
  api/src/flows.ts
  api/src/synchronization.ts
  api/src/types/events.ts
  api/src/utils/schedule.ts
  docs/app/flows/triggers.md
  docs/extensions/hooks.md
  docs/self-hosted/config-options.md
  pnpm-lock.yaml
  tests/blackbox/flows/schedule-hook.seed.ts
  tests/blackbox/flows/schedule-hook.test.ts
  tests/blackbox/setup/sequentialTests.js
Labels: Package: @directus/api, Bug

#18484 Enable caching for requests from data studio
  .changeset/curvy-bugs-fry.md
  api/src/cli/utils/create-env/env-stub.liquid
  api/src/controllers/users.ts
  api/src/env.ts
  api/src/services/collections.ts
  api/src/services/fields.ts
  api/src/services/files.ts
  api/src/services/items.ts
  api/src/services/revisions.ts
  api/src/utils/should-clear-cache.test.ts
  api/src/utils/should-clear-cache.ts
  api/src/utils/should-skip-cache.test.ts
  api/src/utils/should-skip-cache.ts
  docs/self-hosted/config-options.md
  tests/blackbox/app/cache.seed.ts
  tests/blackbox/app/cache.test.ts
  tests/blackbox/setup/sequentialTests.js
Labels: Package: @directus/api, Improvement

#18719 Fix schedule hook test
  tests/blackbox/flows/schedule-hook.test.ts
Labels: Optimization

#18720 Specify oracledb version for blackbox tests
  .github/workflows/blackbox-main.yml
Labels: DB: Oracle, Dependencies

#18728 Remove docs CDN from the base CSP config
  .changeset/tricky-pants-shake.md
  api/src/app.ts
Labels: Package: @directus/api, Optimization

#18722 Update `openapi3-ts` to v4
  .changeset/eighty-sloths-tickle.md
  api/package.json
  api/src/services/specifications.ts
  packages/specs/index.d.ts
  packages/specs/package.json
  pnpm-lock.yaml
Labels: Dependencies

#18724 Optimise export sidebar aggregation call
  .changeset/smart-files-protect.md
  app/src/views/private/components/export-sidebar-detail.vue
Labels: Package: @directus/app, Improvement

#18717 Optimise countDistinct aggregation on primary key field
  .changeset/green-boxes-hope.md
  api/src/utils/apply-query.ts
Labels: Package: @directus/api, Improvement

#18708 Translate field names in collection dialog
  .changeset/silver-baboons-give.md
  app/src/modules/settings/routes/data-model/collections/components/collection-dialog.vue
Labels: Package: @directus/app, Bug

#18735 Add env var for max file upload size
  .changeset/red-snails-tap.md
  api/src/controllers/files.ts
  api/src/env.ts
  api/src/exceptions/content-too-large.ts
  api/src/services/files.ts
  app/src/components/v-upload.vue
  app/src/lang/translations/en-US.yaml
  docs/self-hosted/config-options.md
Labels: Package: @directus/api, Improvement

#18736 Add support for `FILES_MIME_TYPE_ALLOW_LIST` env var
  .changeset/weak-bottles-travel.md
  api/package.json
  api/src/controllers/files.ts
  api/src/env.ts
  docs/self-hosted/config-options.md
  pnpm-lock.yaml
Labels: Package: @directus/api, Improvement

#18737 Patch following files max upload size
  .changeset/good-ligers-teach.md
  api/src/controllers/files.ts
  app/src/interfaces/files/files.vue
  app/src/utils/upload-files.ts
Labels: Package: @directus/api, Package: @directus/app, Bug

#18741 Update handler response format for manual flows
  .changeset/olive-ligers-tie.md
  api/src/flows.ts
Labels: Package: @directus/api, Bug

#18738 Implement update notifier in `directus` package
  .changeset/kind-shoes-jam.md
  api/package.json
  api/src/server.ts
  directus/cli.js
  directus/package.json
  packages/update-check/package.json
  packages/update-check/src/index.test.ts
  packages/update-check/src/index.ts
  pnpm-lock.yaml
Labels: Package: @directus/api, Bug

#18748 Enhance version comparison in the update notifier
  .changeset/twelve-ghosts-juggle.md
  packages/update-check/package.json
  packages/update-check/src/index.ts
  pnpm-lock.yaml
Labels: Improvement, Package: @directus/update-check

#18761 Fix empty image selection error for file-image interface
  .changeset/shaggy-mugs-kick.md
  app/src/interfaces/file-image/file-image.vue
Labels: Package: @directus/app, Bug

#18773 Add required and recommended minimum specs for self-hosting
  docs/dictionary.txt
  docs/self-hosted/docker-guide.md
  docs/self-hosted/quickstart.md
Labels: Documentation

#18667 Contributor Docs Improvements Round 2
  .changeset/hot-pillows-tan.md
  docs/contributing/codebase-overview.md
  docs/contributing/pull-request-process.md
  docs/contributing/running-locally.md
  docs/contributing/tests.md
  docs/dictionary.txt
  docs/reference/items.md
Labels: Documentation

#18726 Support adding additional notices to release notes via changesets
  packages/release-notes-generator/src/constants.ts
  packages/release-notes-generator/src/index.ts
  packages/release-notes-generator/src/types.ts
  packages/release-notes-generator/src/utils/generate-markdown.test.ts
  packages/release-notes-generator/src/utils/generate-markdown.ts
  packages/release-notes-generator/src/utils/get-info.ts
  packages/release-notes-generator/src/utils/process-release-lines.test.ts
  packages/release-notes-generator/src/utils/process-release-lines.ts
Labels: Optimization

#18777 Fix parsing of Error objects when redacting
  .changeset/perfect-ducks-add.md
  api/src/utils/redact.test.ts
  api/src/utils/redact.ts
Labels: Package: @directus/api, Bug
