Repository directus/directus, pull requests merged in 2023-04, with the labels that each got.

#18032 add missing `.toString()` for password reset accept URL object
  api/src/services/users.ts
Labels: API, Bug

#18029 Fix cache skipping when PUBLIC_URL is relative
  api/src/utils/should-skip-cache.test.ts
  api/src/utils/should-skip-cache.ts
Labels: API, Bug

#17922 Add missing fields to GraphQL server info
  api/src/services/graphql/index.ts
Labels: API, Bug, GraphQL

#17848 Don't set edits at start in List Panel
  app/src/panels/list/panel-list.vue
Labels: App, Bug

#17819 Fix rehydrating cache after flow save
  app/src/modules/settings/routes/flows/flow.vue
Labels: App, Bug

#18010 Fix status on shutdown
  api/src/env.ts
  api/src/server.ts
  api/src/services/server.ts
  docs/self-hosted/config-options.md
Labels: API, Bug, Improvement

#18066 Go back to `tsx` for `api` scripts for Windows compatibility
  api/package.json
  contributors.yml
  pnpm-lock.yaml
Labels: API, Bug

#18082 Windows compatibility for running migrations
  api/src/database/migrations/run.ts
  contributors.yml
Labels: Bug, Regression

#18086 Remove double bracket from CLA message
  .github/workflows/cla.yml
  contributors.yml
Labels: Optimization

#18009 Fix missing payload.iss when authorization_response_iss_parameter_supported OpenID metadata is true
  api/src/auth/drivers/openid.ts
  contributors.yml
Labels: API, Improvement

#18073 Security in Headless CMS Guide
  .gitignore
  contributors.yml
  docs/.vitepress/config.js
  docs/dictionary.txt
  docs/use-cases/headless-cms/security.md
Labels: Documentation

#18093 Clean-up configs
  .gitignore
  api/.editorconfig
  api/.gitignore
  app/.editorconfig
  app/.gitignore
  jest.config.js
  packages/specs/.gitignore
  tests-blackbox/.gitignore
Labels: Optimization

#17850 Make headers sticky again
  app/src/components/v-drawer.vue
  app/src/layouts/cards/index.ts
  app/src/layouts/tabular/index.ts
  app/src/modules/activity/routes/collection.vue
  app/src/modules/content/routes/collection.vue
  app/src/modules/files/routes/collection.vue
  app/src/modules/settings/routes/presets/collection/collection.vue
  app/src/modules/settings/routes/presets/item.vue
  app/src/modules/settings/routes/webhooks/collection.vue
  app/src/modules/users/routes/collection.vue
  app/src/views/private/components/drawer-collection.vue
  app/src/views/private/components/header-bar.vue
  app/src/views/private/private-view.vue
  contributors.yml
  packages/types/src/layouts.ts
Labels: App, Bug

#18099 Only create CLA message if there are actually missing contributors returned
  .github/workflows/cla.yml
Labels: Optimization

#18101 Fix falsy default values when reading singleton collection
  api/src/services/items.test.ts
  api/src/services/items.ts
  contributors.yml
Labels: API, Bug

#17535 Add max batch mutation
  api/src/cli/utils/create-env/env-stub.liquid
  api/src/env.ts
  api/src/services/collections.ts
  api/src/services/items.ts
  api/src/services/payload.ts
  api/src/services/roles.ts
  api/src/services/users.ts
  api/src/types/items.ts
  api/src/utils/apply-diff.ts
  api/src/utils/apply-snapshot.test.ts
  docs/self-hosted/config-options.md
  tests-blackbox/common/config.ts
  tests-blackbox/common/functions.ts
  tests-blackbox/common/transport.ts
  tests-blackbox/routes/items/m2a.test.ts
  tests-blackbox/routes/items/m2m.test.ts
  tests-blackbox/routes/items/m2o.test.ts
  tests-blackbox/routes/items/no-relation.test.ts
  tests-blackbox/routes/items/o2m.test.ts
  tests-blackbox/routes/items/seed-all-field-types.ts
Labels: API, Improvement

#18112 Security update vm2
  api/package.json
  pnpm-lock.yaml
Labels: Dependencies

#17984 Fix sort icons
  app/src/components/v-table/table-header.vue
  app/src/lang/translations/en-US.yaml
Labels: App, Bug

#18116 Remove wrong info that SAML metadata options can be URLs
  api/src/auth/drivers/saml.ts
  docs/self-hosted/config-options.md
Labels: Documentation

#18117 Fix warning block accessibility for dark theme
  docs/.vitepress/theme/vars.css
Labels: Documentation

#18048 Fix diff validation and apply
  api/src/services/fields.ts
  api/src/utils/apply-diff.ts
  api/src/utils/sanitize-schema.ts
  api/src/utils/validate-diff.test.ts
  api/src/utils/validate-diff.ts
  packages/schema/src/dialects/cockroachdb.ts
  tests-blackbox/routes/schema/schema.test.ts
Labels: API, Bug

#18035 throw an error on invalid file upload
  app/src/components/v-upload.vue
Labels: App, Improvement

#18084 serve rollup output chunks
  api/package.json
  api/src/controllers/extensions.ts
  api/src/extensions.ts
  contributors.yml
  pnpm-lock.yaml
Labels: API, Improvement

#17926 Fix dark theme color for emoji picker
  app/src/styles/lib/_emoji-picker.scss
Labels: App, Bug

#18127 Add missing typescript devDep to composables
  packages/composables/package.json
  pnpm-lock.yaml
Labels: Optimization

#18126 Move activity Action enum from types to constants package
  api/src/controllers/activity.ts
  api/src/flows.ts
  api/src/services/activity.ts
  api/src/services/authentication.ts
  api/src/services/graphql/index.ts
  api/src/services/items.ts
  app/src/modules/settings/routes/flows/components/logs-sidebar-detail.vue
  packages/constants/src/activity.ts
  packages/constants/src/index.ts
  packages/types/src/index.ts
Labels: Optimization

#15806 If undefined collection, use item as relative url
  app/src/views/private/components/notifications-drawer.vue
  contributors.yml
Labels: App, Improvement

#17799 Fix tabular headers
  app/src/composables/use-alias-fields.ts
  app/src/displays/formatted-value/formatted-value.vue
  app/src/layouts/tabular/index.ts
  app/src/layouts/tabular/tabular.vue
Labels: App, Bug

#18130 Improve error message on failed import
  app/src/views/private/components/export-sidebar-detail.vue
Labels: App, Improvement

#17790 Disallow selecting singletons
  app/src/interfaces/list-m2a/list-m2a.vue
  app/src/interfaces/list-m2m/list-m2m.vue
  app/src/interfaces/list-o2m-tree-view/list-o2m-tree-view.vue
  app/src/interfaces/list-o2m/list-o2m.vue
  app/src/interfaces/select-dropdown-m2o/select-dropdown-m2o.vue
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/data-model/field-detail/shared/related-collection-select.vue
Labels: App, Bug

#16711 Users: Verify JWT on accept invitation
  api/src/services/users.ts
  api/src/utils/jwt.test.ts
  api/src/utils/jwt.ts
  contributors.yml
Labels: API, Bug

#18080 Handle webhook request errors correctly
  api/src/operations/request/index.ts
Labels: API, Improvement

#17303 Add support for `AVIF` image format
  api/src/constants.ts
  api/src/database/system-data/fields/settings.yaml
  api/src/services/assets.ts
  api/src/services/files.ts
  api/src/types/assets.ts
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/ca-ES.yaml
  app/src/lang/translations/ckb-IR.yaml
  app/src/lang/translations/cs-CZ.yaml
  app/src/lang/translations/da-DK.yaml
  app/src/lang/translations/de-DE.yaml
  app/src/lang/translations/en-CA.yaml
  app/src/lang/translations/en-GB.yaml
  app/src/lang/translations/en-US.yaml
  app/src/lang/translations/es-419.yaml
  app/src/lang/translations/es-CL.yaml
  app/src/lang/translations/es-ES.yaml
  app/src/lang/translations/es-MX.yaml
  app/src/lang/translations/fi-FI.yaml
  app/src/lang/translations/fr-CA.yaml
  app/src/lang/translations/fr-FR.yaml
  app/src/lang/translations/hr-HR.yaml
  app/src/lang/translations/hu-HU.yaml
  app/src/lang/translations/id-ID.yaml
  app/src/lang/translations/it-IT.yaml
  app/src/lang/translations/nl-NL.yaml
  app/src/lang/translations/pl-PL.yaml
  app/src/lang/translations/pt-BR.yaml
  app/src/lang/translations/ro-RO.yaml
  app/src/lang/translations/ru-RU.yaml
  app/src/lang/translations/sk-SK.yaml
  app/src/lang/translations/sv-SE.yaml
  app/src/lang/translations/tr-TR.yaml
  app/src/lang/translations/uk-UA.yaml
  app/src/lang/translations/zh-CN.yaml
  app/src/lang/translations/zh-TW.yaml
  app/src/utils/readable-mime-type/extensions.json
  app/src/utils/readable-mime-type/types.json
  contributors.yml
  packages/specs/src/components/setting.yaml
  packages/types/src/settings.ts
Labels: API, New Feature

#17646 use DEFAULT_AUTH_DRIVER constant instead of hardcoded string
  app/src/routes/login/login.test.ts
  app/src/routes/login/login.vue
  app/src/stores/server.ts
Labels: App, Optimization

#18143 Use lodash `set` to format error
  api/src/services/graphql/index.ts
Labels: API, Bug

#18001 Fix too many SQL Variables
  api/src/services/collections.ts
Labels: API, Bug

#18140 Give the docs package a little bit ❤️
  docs/.vitepress/components/ArticleFeedback.vue
  docs/netlify.toml
  docs/package.json
  pnpm-lock.yaml
Labels: Documentation

#18152 Clarify SMTP configs (client / server)
  .github/workflows/check.yml
  docs/self-hosted/config-options.md
Labels: Documentation

#18153 [Take 2] Register <drawer-collection> in Vue app for relational interface extensions
  app/src/components/register.ts
  contributors.yml
Labels: App, Improvement

#18012 Autoconvert assets if browser supports it
  api/src/constants.ts
  api/src/controllers/assets.ts
  api/src/database/system-data/fields/settings.yaml
  api/src/services/assets.ts
  api/src/types/assets.ts
  api/src/utils/transformations.ts
  docs/configuration/project-settings.md
  docs/reference/files.md
Labels: API, Improvement

#18147 Resend user invites
  api/src/services/users.test.ts
  api/src/services/users.ts
  contributors.yml
Labels: API, Improvement

#17961 Add info about dependencies when deleting collection
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/data-model/collections/components/collection-options.vue
Labels: App, Improvement

#17959 Load relational data from api on button-links
  app/src/composables/use-item.ts
  app/src/interfaces/presentation-links/presentation-links.vue
  packages/constants/src/fields.ts
Labels: App, Bug

#18162 security update in the vm2 dependency
  api/package.json
  pnpm-lock.yaml
Labels: Dependencies

#18167 Only show message on just request/exec flow operations
  api/src/flows.ts
  contributors.yml
Labels: API, Improvement

#18159 Fix update deduplication in useRelationMultiple
  app/src/composables/use-relation-multiple.test.ts
  app/src/composables/use-relation-multiple.ts
Labels: App, Bug

#18166 fix: Use Cloudinary explicit endpoint
  contributors.yml
  packages/storage-driver-cloudinary/src/index.test.ts
  packages/storage-driver-cloudinary/src/index.ts
Labels: API, Improvement

#18180 Adjust paths in extensions-sdk & publish composables types
  packages/composables/package.json
  packages/extensions-sdk/cli.js
  packages/extensions-sdk/src/cli/run.ts
  packages/extensions-sdk/src/cli/utils/get-sdk-version.test.ts
  packages/extensions-sdk/src/cli/utils/get-sdk-version.ts
Labels: Bug, Extensions

#18160 Add select all option for export
  app/src/components/v-field-list/v-field-list-item.vue
  app/src/components/v-field-list/v-field-list.vue
  app/src/interfaces/_system/system-fields/system-fields.vue
  app/src/interfaces/_system/system-filter/nodes.vue
  app/src/interfaces/_system/system-filter/system-filter.vue
  app/src/layouts/tabular/tabular.vue
  app/src/views/private/components/export-sidebar-detail.vue
Labels: App, Improvement

#18202 Use import.meta.url instead of __dirname
  packages/extensions-sdk/src/cli/commands/helpers/load-config.ts
Labels: Bug, Extensions

#18200 Add loader to logs-siderbar-detail
  app/src/modules/settings/routes/flows/components/logs-sidebar-detail.vue
Labels: App, Improvement

#18164 Get Directus version directly via filesystem from `directus` package
  app/package.json
  app/src/main.ts
  app/src/modules/settings/components/navigation.vue
  app/src/vite-env.d.ts
  app/vite.config.js
  pnpm-lock.yaml
Labels: Optimization

#18213 Add test to verify creating & building extensions with extensions-sdk
  .gitignore
  packages/extensions-sdk/create-build.test.ts
  packages/extensions-sdk/src/cli/commands/helpers/load-config.ts
Labels: Tests

#18211 Publish all types from packages/*
  .editorconfig
  .prettierrc.js
  packages/composables/package.json
  packages/constants/package.json
  packages/exceptions/package.json
  packages/extensions-sdk/package.json
  packages/schema/package.json
  packages/storage/package.json
  packages/types/package.json
  packages/utils/package.json
Labels: Optimization

#18226 Add comment about sorting of available languages & add Spanish (Mexico)
  app/src/lang/available-languages.yaml
Labels: App, Improvement

#18240 Add blackbox test for assets with format=auto query parameter
  tests/blackbox/routes/assets/format.test.ts
Labels: Tests

#18242 Use filled star for required asterisks & rating display
  app/src/components/v-form/form-field-label.vue
  app/src/displays/rating/rating.vue
  app/src/interfaces/group-accordion/accordion-section.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-schema.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-simple/field-configuration.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-simple/relationship-configuration.vue
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
  app/src/modules/settings/routes/data-model/new-collection.vue
  app/src/modules/settings/routes/flows/flow-drawer.vue
Labels: App, Improvement

#18256 Fall back to "other" group if interface has none
  app/src/modules/settings/routes/data-model/field-detail/field-detail-simple/field-detail-simple.vue
  contributors.yml
  docs/extensions/interfaces.md
Labels: App, Improvement

#18238 Remove cache flushing on startup
  api/src/app.ts
  api/src/database/migrations/run.ts
  api/src/utils/get-cache-key.test.ts
  api/src/utils/get-cache-key.ts
Labels: API, Improvement

#18196 Fix m2a/m2a/o2m sorting
  app/src/composables/use-relation-multiple.test.ts
  app/src/composables/use-relation-multiple.ts
Labels: App, Bug

#18249 Fix a few dev mode warnings
  app/src/components/v-button.vue
  app/src/components/v-text-overflow.vue
  app/src/composables/use-item.ts
  app/src/interfaces/list-m2m/list-m2m.vue
  app/src/interfaces/list-o2m/list-o2m.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-simple/field-detail-simple.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail.vue
Labels: Optimization

#18257 Fix extension reloading
  api/package.json
  api/src/extensions.ts
  pnpm-lock.yaml
Labels: API, Bug

#18266 Fix wrong drawer opens when editing fields in data model
  app/src/modules/settings/routes/data-model/field-detail/field-detail.vue
Labels: App, Bug

#15733 Add possibility of sorting items in tabular view of o2m interface
  app/src/interfaces/list-m2m/list-m2m.vue
  app/src/interfaces/list-o2m/list-o2m.vue
  contributors.yml
Labels: App, Improvement

#18274 updated vm2
  api/package.json
  pnpm-lock.yaml
Labels: Dependencies

#18270 Edit docs about minimum app permissions for clarity
  app/src/lang/translations/en-US.yaml
  contributors.yml
Labels: Documentation

#18276 Update the docs on how to install additional packages in docker
  docs/self-hosted/docker-guide.md
Labels: Documentation

#18284 Only show tooltips when sidebar is not open
  app/src/views/private/components/notifications-preview.vue
  app/src/views/private/components/sidebar-detail.vue
Labels: App, Improvement

#18283 Fix refreshing on save
  app/src/interfaces/list-o2m-tree-view/nested-draggable.vue
Labels: App, Bug

#18275 Fix the ownership of the workdir in the docker image
  Dockerfile
Labels: Improvement

#18264 Remove misleading contents migration docs for now
  docs/extensions/migrations.md
Labels: Documentation

#18287 Fix extension reloading for local bundle extensions
  api/src/extensions.ts
Labels: API, Bug

#18186 Fix tabular not properly dealiasing items
  app/src/layouts/tabular/index.ts
  app/src/layouts/tabular/tabular.vue
Labels: App, Bug

#15829 [Feat] Flow: Add Mail Templates
  api/src/operations/mail/index.test.ts
  api/src/operations/mail/index.ts
  app/src/lang/translations/en-US.yaml
  app/src/operations/mail/index.ts
  contributors.yml
Labels: API, App, New Feature

#16373 Improve Permissions in relational Interfaces
  app/src/components/v-table/v-table.vue
  app/src/components/v-upload.vue
  app/src/composables/use-relation-multiple.ts
  app/src/composables/use-relation-permissions.test.ts
  app/src/composables/use-relation-permissions.ts
  app/src/composables/use-relation-single.ts
  app/src/interfaces/file-image/file-image.vue
  app/src/interfaces/file/file.vue
  app/src/interfaces/files/files.vue
  app/src/interfaces/list-m2a/list-m2a.vue
  app/src/interfaces/list-m2m/list-m2m.vue
  app/src/interfaces/list-o2m-tree-view/nested-draggable.vue
  app/src/interfaces/list-o2m/list-o2m.vue
  app/src/interfaces/select-dropdown-m2o/select-dropdown-m2o.vue
  app/src/interfaces/translations/translations.vue
Labels: App, Bug, Improvement

#18328 Add package initialization warning
  docs/self-hosted/cli.md
Labels: Documentation

#18316 Prevent thumbnail duplication
  api/src/utils/transformations.test.ts
  api/src/utils/transformations.ts
Labels: API, Bug

#18310 Correctly set user "auth_data" after auth.update hook
  api/src/auth/drivers/oauth2.ts
  api/src/auth/drivers/openid.ts
Labels: API, Bug

#18331 Install changesets
  .changeset/config.json
  contributing.md
  package.json
  pnpm-lock.yaml
Labels: Optimization

#18343 Translate module link name in project settings
  .changeset/stale-kiwis-greet.md
  app/src/interfaces/_system/system-modules/system-modules.vue
Labels: App, Bug

#18350 Add shared javascript file ext constant
  .changeset/calm-glasses-enjoy.md
  api/src/extensions.ts
  packages/constants/src/files.ts
  packages/constants/src/index.ts
  packages/extensions-sdk/create-build.test.ts
  packages/extensions-sdk/src/cli/commands/helpers/load-config.ts
Labels: Optimization

#18349 Remove extension config import workaround
  .changeset/quiet-eagles-reflect.md
  packages/extensions-sdk/src/cli/commands/helpers/load-config.ts
Labels: Extensions, Optimization

#18346 Add related collection link to data model settings
  .changeset/six-emus-joke.md
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
Labels: App, Improvement

#18357 Fix default values for boolean
  .changeset/tame-students-listen.md
  app/src/displays/boolean/boolean.vue
Labels: App, Bug

#18367 Make readme file name casing consistent
  app/readme.md
  packages/schema/readme.md
Labels: Optimization

#18366 Silence prefer builtins and circular dependency warnings when building extensions
  .changeset/chilly-pugs-pay.md
  packages/extensions-sdk/src/cli/commands/build.ts
Labels: Extensions, Improvement
