Repository directus/directus, pull requests merged in 2023-03, with the labels that each got.

#17665 Allow null for related_collection in applyJoiSchema
  api/src/utils/validate-diff.ts
  tests-blackbox/common/functions.ts
  tests-blackbox/routes/schema/schema.seed.ts
  tests-blackbox/routes/schema/schema.test.ts
Labels: API, Bug

#17296 Global rate limiter
  api/src/app.ts
  api/src/env.ts
  api/src/middleware/rate-limiter-global.ts
  api/src/middleware/rate-limiter-ip.ts
  api/src/rate-limiter.ts
  api/src/services/authentication.ts
  api/src/services/server.ts
Labels: API, Improvement

#17642 Add ability to limit requests from using the Cache-Control header to skip cache
  api/src/env.ts
  api/src/middleware/cache.ts
  api/src/utils/get-cache-headers.test.ts
  api/src/utils/get-cache-headers.ts
  api/src/utils/should-skip-cache.test.ts
  api/src/utils/should-skip-cache.ts
  app/src/api.ts
Labels: API, Improvement

#17693 Update gh-action-linear to v0.3.1
  .github/workflows/linear-auto.yml
  .github/workflows/linear-dispatch.yaml
Labels: Optimization

#17423 Show validation errors in drawer-item
  app/src/components/v-form/v-form.vue
  app/src/interfaces/group-accordion/accordion-section.vue
  app/src/interfaces/group-detail/group-detail.vue
  app/src/interfaces/group-raw/group-raw.vue
  app/src/views/private/components/drawer-item.vue
Labels: App, Bug

#17714 Add root path to module bar images
  app/src/views/private/components/module-bar-avatar.vue
  app/src/views/private/components/module-bar-logo.vue
Labels: App, Bug

#17712 Include schema components in OAS
  api/src/constants.ts
  api/src/services/specifications.test.ts
Labels: API, Bug

#17726 Fix margin on drawer item
  app/src/views/private/components/drawer-item.vue
Labels: App, Improvement

#17739 Fix delete and quit opening save changes drawer
  app/src/modules/files/routes/item.vue
  app/src/modules/settings/routes/data-model/fields/fields.vue
  app/src/modules/settings/routes/presets/item.vue
  app/src/modules/settings/routes/roles/item/item.vue
  app/src/modules/settings/routes/webhooks/item.vue
  app/src/modules/users/routes/item.vue
Labels: App, Bug

#17734 Improve assets performance
  api/package.json
  api/src/env.ts
  api/src/services/assets.ts
  api/src/utils/with-timeout.ts
  pnpm-lock.yaml
  tests-blackbox/common/config.ts
  tests-blackbox/routes/assets/limit.test.ts
Labels: API, Improvement, Notice

#17732 Require value for dropdown choices
  api/src/database/system-data/fields/collections.yaml
  app/src/displays/labels/index.ts
  app/src/interfaces/select-color/index.ts
  app/src/interfaces/select-dropdown/index.ts
  app/src/interfaces/select-multiple-checkbox/index.ts
  app/src/interfaces/select-multiple-dropdown/index.ts
  app/src/interfaces/select-radio/index.ts
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-field.vue
  app/src/modules/settings/routes/translation-strings/translation-strings-drawer.vue
  app/src/operations/request/index.ts
Labels: App, Improvement

#17729 Write full item to revisions
  api/src/services/items.ts
Labels: API, Bug

#17758 Fix assets limit test
  tests-blackbox/routes/assets/limit.test.ts
Labels: Optimization, Tests

#17756 Handle server hydration errors on first load
  app/src/router.ts
Labels: App, Bug

#17742 Fix using alias fields function for non alias field
  app/src/layouts/tabular/tabular.vue
Labels: App, Bug

#17678 Fix permission check for manual sort for full access
  app/src/layouts/tabular/tabular.vue
Labels: App, Bug

#17710 Only load defined fields in m2a
  api/src/utils/get-ast-from-query.ts
  tests-blackbox/routes/items/m2a.test.ts
Labels: API, Improvement

#17519 Fix Flow Error Handling
  api/src/flows.ts
  api/src/operations/request/index.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/is-valid-json.test.ts
  packages/shared/src/utils/is-valid-json.ts
Labels: API, Bug

#17649 Sanitize query in updateByQuery and deleteByQuery
  api/src/controllers/dashboards.ts
  api/src/controllers/files.ts
  api/src/controllers/flows.ts
  api/src/controllers/folders.ts
  api/src/controllers/items.ts
  api/src/controllers/notifications.ts
  api/src/controllers/operations.ts
  api/src/controllers/panels.ts
  api/src/controllers/permissions.ts
  api/src/controllers/presets.ts
  api/src/controllers/roles.ts
  api/src/controllers/shares.ts
  api/src/controllers/users.ts
  api/src/controllers/webhooks.ts
Labels: API, Bug

#17785 Load flow directly from api
  app/src/modules/settings/routes/flows/flow.vue
Labels: App, Bug

#17810 Clean-up scripts in package.json files
  api/package.json
  package.json
Labels: Optimization

#17771 Require value in project settings' fields
  api/src/database/system-data/fields/settings.yaml
  app/src/interfaces/_system/system-modules/system-modules.vue
Labels: App, Improvement

#17809 Switch back to latest pnpm version in workflows
  .github/actions/prepare/action.yml
Labels: Optimization

#17191 Improve error handling for app extensions
  app/src/components/__snapshots__/v-error-boundary.test.ts.snap
  app/src/components/register.ts
  app/src/components/v-error-boundary.test.ts
  app/src/components/v-error-boundary.vue
  app/src/components/v-form/form-field-interface.vue
  app/src/main.ts
  app/src/modules/insights/routes/dashboard.vue
  app/src/modules/settings/routes/data-model/field-detail/shared/extension-options.vue
  app/src/modules/settings/routes/flows/components/operation.vue
  app/src/modules/settings/routes/flows/components/options-overview.vue
  app/src/utils/get-vue-component-name.test.ts
  app/src/utils/get-vue-component-name.ts
  app/src/views/private/components/render-display.vue
  app/src/views/private/components/render-template.vue
Labels: App, Improvement

#17784 Allow blur events for m2o dropdown
  app/src/interfaces/select-dropdown-m2o/select-dropdown-m2o.vue
Labels: App, Bug

#17811 Patch Tuesday 🐸
  api/package.json
  api/src/database/migrations/run.test.ts
  api/src/services/fields.test.ts
  api/src/services/files.test.ts
  api/src/services/flows.test.ts
  api/src/services/import-export.test.ts
  api/src/services/items.test.ts
  api/src/services/operations.test.ts
  api/src/services/payload.test.ts
  api/src/services/permissions.test.ts
  api/src/services/roles.test.ts
  api/src/services/schema.test.ts
  api/src/services/specifications.test.ts
  api/src/services/users.test.ts
  api/src/services/webhooks.test.ts
  api/src/utils/apply-snapshot.test.ts
  app/package.json
  package.json
  packages/extensions-sdk/package.json
  packages/shared/package.json
  packages/specs/package.json
  packages/storage-driver-azure/package.json
  packages/storage-driver-cloudinary/package.json
  packages/storage-driver-gcs/package.json
  packages/storage-driver-local/package.json
  packages/storage-driver-s3/package.json
  packages/storage/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: Dependencies

#17778 Fix translations setting primary key and request spamming
  app/src/composables/use-relation-multiple.ts
  app/src/interfaces/translations/translations.vue
Labels: App, Bug

#17830 Fix AllowList checking only when defined
  app/src/modules/settings/routes/data-model/field-detail/shared/related-field-select.vue
Labels: App, Bug

#17833 Make default folder more clear
  app/src/lang/translations/en-US.yaml
Labels: App, Improvement

#17776 Tweak swatch button size & position in select-color interface
  app/src/interfaces/select-color/select-color.vue
Labels: App, Improvement

#17834 Show search results for mapbox
  app/src/styles/lib/_mapbox.scss
Labels: App, Bug

#17852 Make tags interface more clear
  app/src/lang/translations/en-US.yaml
  app/src/operations/notification/index.ts
Labels: App, Improvement

#17835 Improve S3 asset read performance
  .github/workflows/blackbox-main.yml
  .github/workflows/blackbox-pr.yml
  package.json
  packages/storage-driver-s3/src/index.test.ts
  packages/storage-driver-s3/src/index.ts
  pnpm-lock.yaml
  tests-blackbox/assets/layers.png
  tests-blackbox/common/config.ts
  tests-blackbox/docker-compose.yml
  tests-blackbox/routes/assets/concurrency.test.ts
  tests-blackbox/routes/assets/limit.test.ts
  tests-blackbox/routes/assets/read.test.ts
  tests-blackbox/setup/sequentialTests.js
Labels: API, Bug

#17744 Fix keep folder on reupload
  api/src/controllers/files.ts
  api/src/services/files.ts
Labels: API, Bug

#17866 Fix built-in modules for flows exec operation
  api/src/operations/exec/index.test.ts
  api/src/operations/exec/index.ts
Labels: API, Bug

#17862 Fix archive field reactivity for new collection
  app/src/modules/settings/routes/data-model/new-collection.vue
Labels: App, Bug

#17763 Rework schema caching to use memory
  .github/workflows/blackbox-main.yml
  .github/workflows/blackbox-pr.yml
  api/src/cache.ts
  api/src/services/collections.ts
  api/src/services/fields.ts
  api/src/services/permissions.ts
  api/src/services/relations.ts
  api/src/services/webhooks.test.ts
  api/src/utils/get-schema.ts
  tests-blackbox/common/config.ts
  tests-blackbox/common/functions.ts
  tests-blackbox/docker-compose.yml
  tests-blackbox/routes/collections/schema-cache.test.ts
  tests-blackbox/setup/sequentialTests.js
  tests-blackbox/utils/await-connection.ts
Labels: API, Improvement

#17858 Simplify / improve release flow
  .dockerignore
  .github/workflows/release.yml
  Dockerfile
  docker/.dockerignore
  docker/.editorconfig
  docker/Dockerfile
  docker/Makefile
  docker/pack.js
  package.json
  pnpm-lock.yaml
Labels: Optimization, Notice

#17903 Fixed _nempty operator
  api/src/utils/apply-query.ts
Labels: API, Bug

#17914 Fix cookie redaction in logs
  api/src/constants.ts
  api/src/logger.test.ts
  api/src/logger.ts
  api/src/utils/redact-header-cookies.test.ts
  api/src/utils/redact-header-cookies.ts
Labels: API, Bug

#17908 Fix auth expires value larger than 32-bit integer for GraphQL
  api/src/services/graphql/index.ts
  tests-blackbox/common/config.ts
  tests-blackbox/routes/auth/login.test.ts
Labels: API, Bug, GraphQL

#17958 Fix collection name on deselect in m2a relation
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-relationship-m2a.vue
Labels: App, Improvement

#17891 Fix Save and Stay to refresh revisions detail for roles and webhooks
  app/src/modules/settings/routes/roles/item/item.vue
  app/src/modules/settings/routes/webhooks/item.vue
Labels: App, Bug

#17957 Don't move files when folder can't be deleted
  app/src/modules/files/components/navigation-folder.vue
Labels: App, Bug

#17956 Properly apply query param to url
  app/src/views/private/components/archive-sidebar-detail.vue
Labels: App, Bug

#17954 Export types in shared
  packages/shared/src/composables/use-collection.ts
  packages/shared/src/composables/use-custom-selection.ts
  packages/shared/src/composables/use-groupable.ts
  packages/shared/src/composables/use-items.ts
Labels: Improvement, Package: shared

#17746 Fix sorting in m2m table
  app/src/composables/use-relation-multiple.ts
  app/src/interfaces/list-m2a/list-m2a.vue
  app/src/interfaces/list-m2m/list-m2m.vue
Labels: App, Bug

#17965 Dockerfile Improvements
  Dockerfile
Labels: Optimization

#17972 Do not override metadata
  api/src/services/files.ts
  tests-blackbox/routes/files/storage.test.ts
Labels: API, Bug

#17603 Add optional confirmation dialog with input fields to Manual Trigger in Flows
  app/src/interfaces/_system/system-inline-fields/index.ts
  app/src/interfaces/_system/system-inline-fields/system-inline-fields.vue
  app/src/interfaces/_system/system-interface-options/system-interface-options.vue
  app/src/interfaces/collection-item-dropdown/collection-item-dropdown.vue
  app/src/interfaces/collection-item-dropdown/index.ts
  app/src/interfaces/collection-item-dropdown/preview.svg
  app/src/interfaces/list/options.vue
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/flows/triggers.ts
  app/src/panels/relational-variable/index.ts
  app/src/panels/relational-variable/multiple-relation.vue
  app/src/panels/variable/index.ts
  app/src/views/private/components/flow-sidebar-detail.vue
Labels: App, New Feature
