Repository directus/directus, pull requests merged in 2023-09, with the labels that each got.

#19573 Clean-up of SSO Examples doc page
  docs/self-hosted/sso-examples.md
Labels: Documentation

#19561 Adds a target prop for external links on v-button
  .changeset/stupid-flowers-work.md
  app/src/components/v-button.vue
  contributors.yml
Labels: Package: @directus/app, Improvement

#19539 Improving SDK error/response handling
  .changeset/few-rules-talk.md
  sdk/src/auth/composable.ts
  sdk/src/rest/composable.ts
  sdk/src/types/request.ts
  sdk/src/utils/extract-data.ts
  sdk/src/utils/request.ts
Labels: Improvement, Package: @directus/sdk

#19451 Enhance search in Checkboxes (Tree) interface
  .changeset/dirty-shrimps-laugh.md
  app/src/components/__snapshots__/v-highlight.test.ts.snap
  app/src/components/v-checkbox-tree.stories.ts
  app/src/components/v-checkbox-tree/use-visible-children.ts
  app/src/components/v-checkbox-tree/v-checkbox-tree.vue
  app/src/components/v-highlight.vue
  app/src/interfaces/select-multiple-checkbox-tree/index.ts
  app/src/interfaces/select-multiple-checkbox-tree/select-multiple-checkbox-tree.vue
  pnpm-lock.yaml
Labels: Package: @directus/app, Bug

#19354 Authentication fixes for the SDK
  .changeset/rude-games-decide.md
  docs/guides/sdk/getting-started.md
  docs/reference/authentication.md
  docs/releases/breaking-changes.md
  sdk/src/auth/composable.ts
  sdk/src/auth/types.ts
  sdk/src/graphql/composable.ts
  sdk/src/graphql/types.ts
  sdk/src/rest/commands/auth/login.ts
  sdk/src/rest/commands/auth/refresh.ts
  sdk/src/rest/composable.ts
  sdk/src/rest/helpers/index.ts
  sdk/src/rest/helpers/with-options.ts
  sdk/src/rest/helpers/with-search.ts
  sdk/src/rest/helpers/with-token.ts
  sdk/src/rest/index.ts
  sdk/src/rest/types.ts
  sdk/src/rest/utils/index.ts
Labels: Bug, Package: @directus/sdk

#19575 Add hook filter events in flow interface
  .changeset/gentle-carrots-shop.md
  app/src/modules/settings/routes/flows/triggers.ts
Labels: Package: @directus/app, Improvement

#19582 Ensure scroll bar is shown again after toggling of Live Preview
  .changeset/dry-geckos-remain.md
  app/src/views/private/private-view.vue
Labels: Package: @directus/app, Bug

#19586 SDK Fix realtime infinite auth loop
  .changeset/tiny-penguins-roll.md
  sdk/src/realtime/composable.ts
  sdk/src/realtime/utils/message-callback.ts
Labels: Bug, Package: @directus/sdk

#19589 Ignore extra envs for mysql
  .changeset/six-insects-begin.md
  api/src/database/index.ts
  contributors.yml
Labels: Package: @directus/api, Improvement

#19601 Fix emit value for system-raw-editor component
  .changeset/spotty-items-shout.md
  app/src/interfaces/_system/system-raw-editor/system-raw-editor.vue
Labels: Package: @directus/app, Bug

#19604 Ensure routes to items are encoded correctly
  .changeset/tasty-zoos-repeat.md
  app/src/displays/related-values/related-values.vue
  app/src/interfaces/list-m2m/list-m2m.vue
  app/src/interfaces/list-o2m/list-o2m.vue
  app/src/layouts/calendar/index.ts
  app/src/layouts/cards/index.ts
  app/src/layouts/kanban/kanban.vue
  app/src/layouts/map/index.ts
  app/src/layouts/tabular/index.ts
  app/src/modules/activity/routes/item.vue
  app/src/modules/content/components/navigation-bookmark.vue
  app/src/modules/content/components/navigation-item.vue
  app/src/modules/content/index.ts
  app/src/modules/content/routes/collection.vue
  app/src/modules/content/routes/item.vue
  app/src/modules/settings/routes/data-model/collections/components/collection-options.vue
  app/src/routes/shared/shared.vue
  app/src/utils/get-item-route.test.ts
  app/src/utils/get-item-route.ts
  app/src/utils/get-route.test.ts
  app/src/utils/get-route.ts
  app/src/views/private/components/notifications-drawer.vue
  contributors.yml
Labels: Package: @directus/app, Bug

#19617 Switch to pnpm v8.7.4
  package.json
Labels: Chore

#19618 Rerender forms in translations interface when switching languages
  .changeset/smooth-falcons-dream.md
  app/src/interfaces/translations/translations.vue
Labels: Package: @directus/app, Bug

#19628 Add RTL support to markdown interface
  .changeset/gorgeous-eyes-sit.md
  app/src/interfaces/input-rich-text-md/input-rich-text-md.vue
Labels: Package: @directus/app, Improvement

#19608 Fix JSON values in raw editors and input-code
  .changeset/tame-socks-cross.md
  app/src/components/v-form/form-field-raw-editor.vue
  app/src/interfaces/_system/system-raw-editor/system-raw-editor.vue
  app/src/interfaces/input-code/input-code.vue
  app/src/utils/get-stringified-value.test.ts
  app/src/utils/get-stringified-value.ts
Labels: Package: @directus/app, Bug

#19328 Reset auto increment sequence
  .changeset/seven-books-share.md
  api/src/database/helpers/index.ts
  api/src/database/helpers/sequence/dialects/default.ts
  api/src/database/helpers/sequence/dialects/postgres.ts
  api/src/database/helpers/sequence/index.ts
  api/src/database/helpers/sequence/types.ts
  api/src/services/items.test.ts
  api/src/services/items.ts
  api/src/types/items.ts
  tests/blackbox/routes/items/m2a.test.ts
  tests/blackbox/routes/items/m2m.test.ts
  tests/blackbox/routes/items/m2o.test.ts
  tests/blackbox/routes/items/no-relation.test.ts
  tests/blackbox/routes/items/o2m.test.ts
Labels: Package: @directus/api, Improvement

#19606 SDK Make globals configurable
  .changeset/neat-pigs-decide.md
  docs/dictionary.txt
  docs/guides/sdk/getting-started.md
  sdk/src/auth/composable.ts
  sdk/src/client.ts
  sdk/src/graphql/composable.ts
  sdk/src/realtime/composable.ts
  sdk/src/rest/composable.ts
  sdk/src/types/client.ts
  sdk/src/utils/request.ts
Labels: Improvement, Package: @directus/sdk

#19638 Fix cropped v-icon
  .changeset/rude-cameras-sing.md
  app/src/components/v-icon/v-icon.vue
Labels: Package: @directus/app, Bug

#19640 Align the validation error message and icon
  .changeset/silent-days-end.md
  app/src/components/v-form/form-field.vue
  app/src/components/v-form/validation-errors.vue
Labels: Package: @directus/app, Improvement

#19645 Docs: Fix broken link
  .changeset/clever-guests-stare.md
  docs/extensions/themes.md
Labels: Documentation

#19651 Add example requests to "Upload a File"
  docs/reference/files.md
Labels: Documentation

#19652 Add hint about WebSocket timeout
  docs/self-hosted/config-options.md
Labels: Documentation

#19653 Update hint about WebSocket timeout
  docs/self-hosted/config-options.md
Labels: Documentation

#19655 Format code blocks in documentation guides
  docs/guides/extensions/displays-date-to-age.md
  docs/guides/extensions/displays-relational-summaries.md
  docs/guides/extensions/email-template.md
  docs/guides/extensions/endpoints-api-proxy-twilio.md
  docs/guides/extensions/endpoints-privileged-endpoint-stripe.md
  docs/guides/extensions/hooks-add-stripe-customer.md
  docs/guides/extensions/hooks-validate-number-twilio.md
  docs/guides/extensions/interfaces-radio-selector-icons.md
  docs/guides/extensions/interfaces-relational-dropdown.md
  docs/guides/extensions/layouts-getting-started.md
  docs/guides/extensions/operations-add-record-comments.md
  docs/guides/extensions/operations-bulk-email-sendgrid.md
  docs/guides/extensions/operations-npm-package.md
  docs/guides/extensions/operations-send-sms-twilio.md
  docs/guides/extensions/panels-send-sms-twilio.md
Labels: Documentation

#19636 Allow `update-check` to work in read-only envs & add timeout
  .changeset/violet-jokes-prove.md
  packages/update-check/package.json
  packages/update-check/readme.md
  packages/update-check/src/cache.ts
  packages/update-check/src/index.test.ts
  packages/update-check/src/index.ts
  pnpm-lock.yaml
Labels: Bug, Package: @directus/update-check

#19656 Update node version in docs
  docs/contributing/running-locally.md
Labels: Documentation

#19658 Updated sharp dependency
  .changeset/chilly-adults-rule.md
  api/package.json
  pnpm-lock.yaml
Labels: Chore

#19634 Clean-up code in block editor & fix value watcher
  .changeset/large-gorillas-decide.md
  app/src/interfaces/input-block-editor/input-block-editor.vue
Labels: Package: @directus/app, Bug

#19670 Tab-based snippet toggler
  docs/.vitepress/components/SnippetToggler.vue
  docs/.vitepress/theme/vars.css
Labels: Documentation

#19619 Attempt to make "require shares fields" migration safer/more reliable
  .changeset/soft-apples-rush.md
  api/src/database/migrations/20230721A-require-shares-fields.ts
Labels: Package: @directus/api, Bug, DB: MySQL

#19654 Import config.js file as ESM
  .changeset/loud-spiders-approve.md
  api/src/env.ts
  docs/self-hosted/config-options.md
Labels: Package: @directus/api, Bug

#19667 Fix typo
  .changeset/strange-crews-agree.md
  contributors.yml
  docs/guides/extensions/hooks-add-stripe-customer.md
Labels: Documentation

#19639 Use v-form for field conditions and validation settings
  .changeset/chilled-knives-collect.md
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-conditions.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-validation.vue
Labels: Package: @directus/app, Improvement

#19681 docs: update sdk imports
  docs/guides/sdk/getting-started.md
Labels: Documentation

#19684 Assets: Handle transformation timeout errors
  .changeset/modern-toys-check.md
  api/src/services/assets.ts
Labels: Package: @directus/api, Improvement

#19685 Fix initialization order to avoid page-not-found error
  .changeset/friendly-pumpkins-notice.md
  app/src/main.ts
  contributors.yml
Labels: Package: @directus/app, Bug

#19687 Updated SendGrid extension guide to import package
  docs/guides/extensions/displays-date-to-age.md
  docs/guides/extensions/operations-bulk-email-sendgrid.md
Labels: Documentation

#19711 Ensure all dependent packages are bumped on release
  .changeset/violet-shoes-play.md
  packages/release-notes-generator/package.json
  packages/release-notes-generator/src/index.ts
  packages/release-notes-generator/src/utils/process-packages.ts
  pnpm-lock.yaml
Labels: Bug, Package: @directus/release-notes-generator

#19725 Add clarity to ROOT_REDIRECT and SERVE_APP
  contributors.yml
  docs/self-hosted/config-options.md
Labels: Documentation

#19722 SDK Removed invalid login provider option
  .changeset/lazy-zebras-dress.md
  sdk/src/auth/composable.ts
  sdk/src/rest/commands/auth/login.ts
Labels: Bug, Package: @directus/sdk

#19715 Show divider in related item drawer only if necessary
  .changeset/fresh-plums-repeat.md
  app/src/views/private/components/drawer-item.vue
Labels: Package: @directus/app, Bug

#19732 Fix collection selection in field duplication
  .changeset/cyan-toys-fly.md
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
Labels: Package: @directus/app, Bug

#19728 Apply workaround for update permission check for rules with relational fields
  .changeset/sour-flies-report.md
  app/src/utils/is-allowed.test.ts
  app/src/utils/is-allowed.ts
  packages/utils/shared/parse-filter.test.ts
Labels: Package: @directus/app, Bug

#19737 Require less items to show search in `v-select` & `v-field-list`
  .changeset/shiny-years-crash.md
  app/src/components/v-field-list/v-field-list.vue
  app/src/components/v-select/v-select.vue
Labels: Package: @directus/app, Optimization

#19749 Sdk credentials
  .changeset/twelve-boxes-teach.md
  sdk/src/auth/composable.ts
  sdk/src/auth/types.ts
  sdk/src/graphql/composable.ts
  sdk/src/graphql/types.ts
  sdk/src/rest/composable.ts
  sdk/src/rest/types.ts
Labels: Improvement, Package: @directus/sdk

#19748 Make highlighted text more visible in dark mode
  .changeset/warm-beds-ring.md
  app/src/components/v-highlight.vue
  app/src/styles/themes/_dark.scss
  app/src/styles/themes/_light.scss
Labels: Package: @directus/app, Optimization

#19714 Bundle `@directus/utils`
  .changeset/silly-apples-sleep.md
  packages/utils/browser/tsconfig.json
  packages/utils/browser/tsconfig.prod.json
  packages/utils/node/tsconfig.json
  packages/utils/node/tsconfig.prod.json
  packages/utils/package.json
  packages/utils/shared/tsconfig.json
  packages/utils/shared/tsconfig.prod.json
  packages/utils/tsconfig.json
  pnpm-lock.yaml
Labels: Optimization, Package: @directus/utils

#19750 Add sitemap to docs
  docs/.vitepress/config.js
Labels: Documentation

#19751 Normalized search value in data model page
  .changeset/swift-dryers-juggle.md
  app/src/components/__snapshots__/v-highlight.test.ts.snap
  app/src/components/v-highlight.vue
  app/src/modules/settings/routes/data-model/collections/collections.vue
Labels: Package: @directus/app, Improvement

#19783 Docs/19781 broken link to project settings in glosarry
  contributors.yml
  docs/user-guide/overview/glossary.md
Labels: Documentation

#19771 Set payload filename on upload even if primaryKey exists.
  .changeset/lemon-walls-sort.md
  api/src/controllers/files.ts
Labels: Package: @directus/api, Bug

#19786 SDK Extra JSON Mime-Type
  .changeset/cold-terms-march.md
  sdk/src/utils/extract-data.ts
Labels: Bug, Package: @directus/sdk

#19789 SDK Fixes serverPing output type
  .changeset/smooth-games-hunt.md
  sdk/src/rest/types.ts
Labels: Bug, Package: @directus/sdk

#19787 Docs replaced old SDK SSO example
  docs/self-hosted/sso.md
Labels: Documentation

#19790 Enhance display of status & role in user popup
  .changeset/empty-crabs-hammer.md
  app/src/views/private/components/user-popover.vue
Labels: Package: @directus/app, Improvement

#19788 Pass file-id down so that FilesService can replace asset upon URL import
  .changeset/rare-tools-clap.md
  api/src/services/files.ts
  app/src/components/v-upload.vue
Labels: Package: @directus/api, Package: @directus/app, Bug

#19791 SDK Fixes websocket subscription output typing
  .changeset/polite-pears-exercise.md
  sdk/src/realtime/composable.ts
  sdk/src/realtime/types.ts
Labels: Bug, Package: @directus/sdk

#19766 SDK authentication mode
  .changeset/young-elephants-end.md
  sdk/src/auth/composable.ts
  sdk/src/rest/commands/auth/login.ts
  sdk/src/rest/commands/auth/logout.ts
Labels: Improvement, Package: @directus/sdk

#19703 Add display options for repeater
  .changeset/blue-meals-admire.md
  app/src/interfaces/_system/system-display-options/index.ts
  app/src/interfaces/_system/system-display-options/system-display-options.vue
  app/src/interfaces/_system/system-display/index.ts
  app/src/interfaces/_system/system-display/system-display.vue
  app/src/interfaces/list/options.vue
  app/src/lang/translations/en-US.yaml
  docs/app/data-model/fields/selection.md
Labels: Package: @directus/app, Improvement

#19794 Add email validation on user create/update
  .changeset/brave-forks-promise.md
  .changeset/twelve-turkeys-raise.md
  api/src/services/users.ts
  app/src/lang/translations/en-US.yaml
  packages/validation/src/errors/failed-validation.ts
Labels: Package: @directus/api, Bug

#19805 Add notice for Field Conditions bug
  .changeset/fast-ways-approve.md
Labels: Chore

#19808 Make the `transformation` argument of `AssetsService.getAsset()` optional
  .changeset/silent-radios-talk.md
  .gitignore
  api/src/services/assets.ts
  contributors.yml
Labels: Package: @directus/api, Improvement

#19814 Fix typo in operations-npm-package guide
  docs/guides/extensions/operations-npm-package.md
Labels: Documentation

#19759 SDK Authentication Guide
  docs/.vitepress/config.js
  docs/.vitepress/data/guides.data.js
  docs/dictionary.txt
  docs/guides/sdk/authentication.md
  docs/guides/sdk/getting-started.md
Labels: Documentation

#19518 Fix hiding navigation on root folder
  .changeset/kind-pumas-lay.md
  api/src/services/assets.ts
  api/src/services/files.ts
  api/src/services/import-export.ts
  api/src/types/index.ts
  api/src/utils/transformations.ts
  app/src/components/v-upload.vue
  app/src/composables/use-folders.test.ts
  app/src/composables/use-folders.ts
  app/src/interfaces/_system/system-folder/folder-list-item.vue
  app/src/interfaces/_system/system-folder/folder.vue
  app/src/interfaces/file-image/file-image.vue
  app/src/interfaces/file/file.vue
  app/src/interfaces/files/files.vue
  app/src/lang/translations/en-US.yaml
  app/src/modules/files/components/file-info-sidebar-detail.vue
  app/src/modules/files/components/replace-file.vue
  app/src/modules/files/routes/collection.vue
  app/src/modules/files/routes/item.vue
  app/src/views/private/components/drawer-files.vue
  app/src/views/private/components/file-preview.vue
  app/src/views/private/components/files-navigation-folder.vue
  app/src/views/private/components/files-navigation.vue
  app/src/views/private/components/folder-picker.vue
  packages/types/src/files.ts
  packages/types/src/index.ts
Labels: Package: @directus/app, Bug

#19712 Bundle packages
  .changeset/brown-hornets-hang.md
  api/src/utils/get-default-value.ts
  packages/composables/package.json
  packages/composables/tsconfig.json
  packages/composables/tsconfig.prod.json
  packages/constants/package.json
  packages/constants/tsconfig.json
  packages/constants/tsconfig.prod.json
  packages/data-driver-postgres/tsconfig.json
  packages/data-sql/tsconfig.json
  packages/data/tsconfig.json
  packages/pressure/package.json
  packages/pressure/tsconfig.json
  packages/pressure/tsconfig.prod.json
  packages/random/tsconfig.json
  packages/schema/package.json
  packages/schema/tsconfig.json
  packages/schema/tsconfig.prod.json
  packages/storage-driver-azure/package.json
  packages/storage-driver-azure/tsconfig.json
  packages/storage-driver-azure/tsconfig.prod.json
  packages/storage-driver-cloudinary/package.json
  packages/storage-driver-cloudinary/tsconfig.json
  packages/storage-driver-cloudinary/tsconfig.prod.json
  packages/storage-driver-gcs/package.json
  packages/storage-driver-gcs/tsconfig.json
  packages/storage-driver-gcs/tsconfig.prod.json
  packages/storage-driver-local/package.json
  packages/storage-driver-local/tsconfig.json
  packages/storage-driver-local/tsconfig.prod.json
  packages/storage-driver-s3/package.json
  packages/storage-driver-s3/tsconfig.json
  packages/storage-driver-s3/tsconfig.prod.json
  packages/storage-driver-supabase/package.json
  packages/storage-driver-supabase/tsconfig.json
  packages/storage-driver-supabase/tsconfig.prod.json
  packages/storage/package.json
  packages/storage/tsconfig.json
  packages/storage/tsconfig.prod.json
  packages/themes/tsconfig.json
  packages/update-check/package.json
  packages/update-check/tsconfig.json
  packages/update-check/tsconfig.prod.json
  pnpm-lock.yaml
Labels: Optimization, Package: @directus/data, Package: @directus/composables, Package: @directus/storage, Package: @directus/constants, Package: @directus/pressure, Package: @directus/schema, Package: @directus/update-check

#19736 Enable search in `v-select` for string items
  .changeset/chatty-cheetahs-begin.md
  app/src/components/v-select/__snapshots__/v-select.test.ts.snap
  app/src/components/v-select/v-select.test.ts
  app/src/components/v-select/v-select.vue
Labels: Package: @directus/app, Optimization

#19820 Export: Fix empty file when limit is `-1`
  .changeset/nasty-mirrors-kiss.md
  api/src/services/import-export.ts
Labels: Package: @directus/api, Bug

#19825 Enabled capitzalized table names for sequence reset
  .changeset/silver-cars-hear.md
  api/src/database/helpers/sequence/dialects/postgres.ts
Labels: Bug, DB: Postgres

#19830 Support replacing files in the SDK
  .changeset/tasty-foxes-peel.md
  sdk/src/rest/commands/update/files.ts
Labels: Improvement, Package: @directus/sdk

#19826 Continue termination when WebSocket is disabled
  .changeset/lucky-gorillas-cross.md
  api/src/server.ts
  api/src/services/websocket.test.ts
  api/src/services/websocket.ts
  api/src/websocket/controllers/index.ts
  api/src/websocket/handlers/heartbeat.ts
Labels: Package: @directus/api, Bug

#19731 Add 'Replace File' button to item details drawer for files
  .changeset/empty-berries-fly.md
  app/src/components/v-dialog.vue
  app/src/composables/use-relation-single.ts
  app/src/interfaces/file-image/file-image.vue
  app/src/lang/translations/en-US.yaml
  app/src/modules/files/components/replace-file.vue
  app/src/modules/files/routes/item.vue
  app/src/views/private/components/drawer-item.vue
  app/src/views/private/components/file-lightbox.vue
  app/src/views/private/components/file-preview-replace.vue
  app/src/views/private/components/file-preview.vue
  contributors.yml
Labels: Package: @directus/app, Improvement

#19792 SDK Support for literal field types
  .changeset/funny-hornets-compete.md
  sdk/src/schema/activity.ts
  sdk/src/schema/dashboard.ts
  sdk/src/schema/file.ts
  sdk/src/schema/flow.ts
  sdk/src/schema/notification.ts
  sdk/src/schema/operation.ts
  sdk/src/schema/panel.ts
  sdk/src/schema/settings.ts
  sdk/src/schema/share.ts
  sdk/src/schema/user.ts
  sdk/src/types/aggregate.ts
  sdk/src/types/fields.ts
  sdk/src/types/filters.ts
  sdk/src/types/functions.ts
  sdk/src/types/output.ts
  sdk/src/types/utils.ts
Labels: Bug, Package: @directus/sdk

#19508 Add util to send notifications to admins
  api/src/utils/notify-admins.ts
Labels: Package: @directus/api, Feature

#19836 Enhance loading of languages for FullCalendar
  .changeset/spicy-kids-poke.md
  app/src/layouts/calendar/index.ts
  app/src/utils/get-fullcalendar-locale.ts
Labels: Package: @directus/app, Bug

#19793 Add new panel-building guides in docs
  docs/.vitepress/data/guides.data.js
  docs/dictionary.txt
  docs/extensions/creating-extensions.md
  docs/guides/extensions/displays-date-to-age.md
  docs/guides/extensions/displays-relational-summaries.md
  docs/guides/extensions/endpoints-api-proxy-twilio.md
  docs/guides/extensions/endpoints-api-proxy.md
  docs/guides/extensions/endpoints-privileged-endpoint-stripe.md
  docs/guides/extensions/hooks-add-stripe-customer.md
  docs/guides/extensions/hooks-validate-number-twilio.md
  docs/guides/extensions/interfaces-radio-selector-icons.md
  docs/guides/extensions/interfaces-relational-dropdown.md
  docs/guides/extensions/layouts-getting-started.md
  docs/guides/extensions/operations-add-record-comments.md
  docs/guides/extensions/operations-bulk-email-sendgrid.md
  docs/guides/extensions/operations-npm-package.md
  docs/guides/extensions/operations-send-sms-twilio.md
  docs/guides/extensions/panels-create-items.md
  docs/guides/extensions/panels-display-data-vonage.md
  docs/guides/extensions/panels-send-sms-twilio.md
Labels: Documentation

#19834 Fix redaction of objects with circular structure
  .changeset/smooth-wasps-smash.md
  api/src/utils/redact-object.test.ts
  api/src/utils/redact-object.ts
Labels: Package: @directus/api, Bug

#19859 Fix auth check in Twilio endpoint guide
  docs/guides/extensions/endpoints-api-proxy-twilio.md
Labels: Documentation

#19860 Use comments for embed insertion
  .changeset/shaggy-vans-fry.md
  api/src/app.ts
  app/index.html
Labels: Package: @directus/api, Optimization

#19866 Update TS related dependencies and configurations
  .changeset/cuddly-keys-wait.md
  .eslintrc.js
  api/package.json
  app/package.json
  app/src/composables/use-event-listener.test.ts
  docs/package.json
  package.json
  packages/components/package.json
  packages/composables/package.json
  packages/constants/package.json
  packages/data-driver-postgres/package.json
  packages/data-sql/package.json
  packages/data/package.json
  packages/data/src/types/driver.ts
  packages/errors/package.json
  packages/extensions-sdk/create-build.test.ts
  packages/extensions-sdk/package.json
  packages/pressure/package.json
  packages/random/package.json
  packages/release-notes-generator/package.json
  packages/schema/package.json
  packages/storage-driver-azure/package.json
  packages/storage-driver-cloudinary/package.json
  packages/storage-driver-gcs/package.json
  packages/storage-driver-local/package.json
  packages/storage-driver-s3/package.json
  packages/storage-driver-supabase/package.json
  packages/storage/package.json
  packages/stores/package.json
  packages/themes/package.json
  packages/tsconfig/node18-cjs/tsconfig.json
  packages/tsconfig/node18-esm/tsconfig.json
  packages/types/package.json
  packages/update-check/package.json
  packages/utils/package.json
  packages/validation/package.json
  pnpm-lock.yaml
  sdk/package.json
  tests/blackbox/common/seed-database.test.ts
  tests/blackbox/package.json
  tests/blackbox/tsconfig.json
Labels: Chore, Package: @directus/tsconfig

#19868 Adjust the Packages and Dev Env doc links/names
  docs/.vitepress/config.js
  docs/contributing/running-locally.md
Labels: Documentation
