Repository directus/directus, pull requests merged in 2023-10, with the labels that each got.

#19883 SDK Embed WebSocket constants
  .changeset/funny-fishes-serve.md
  sdk/src/realtime/composable.ts
Labels: Bug, Package: @directus/sdk

#19691 Import: Do task in a separate worker
  .changeset/nice-flies-fry.md
  api/package.json
  api/src/controllers/utils.ts
  api/src/middleware/respond.ts
  api/src/services/import-export/import-worker.ts
  api/src/services/import-export/index.ts
  api/src/services/index.ts
  api/src/worker-pool.ts
  packages/utils/node/index.ts
  packages/utils/node/tmp.ts
  pnpm-lock.yaml
Labels: Package: @directus/api, Improvement

#19897 add folder prop to v-upload so that import can use it
  .changeset/clever-bobcats-collect.md
  app/src/components/v-upload.vue
  app/src/modules/files/routes/add-new.vue
Labels: Package: @directus/app, Bug

#19884 Fix snippet toggler active state, sync selected value across page
  docs/.vitepress/components/SnippetToggler.vue
  docs/index.md
  docs/package.json
  pnpm-lock.yaml
Labels: Bug, Documentation

#19904 Check for non-success status in LDAP
  .changeset/happy-horses-bow.md
  api/src/auth/drivers/ldap.ts
Labels: Package: @directus/api, Bug

#19869 Docs update: Dynamic variables are not available in flows
  docs/reference/filter-rules.md
Labels: Documentation

#19568 Add Sorting by Aggregated Queries
  .changeset/shy-months-cough.md
  api/src/database/run-ast.ts
  api/src/utils/apply-query.ts
  tests/blackbox/routes/items/no-relation.test.ts
Labels: Package: @directus/api, Feature

#19923 Update panels-create-items.md
  contributors.yml
  docs/guides/extensions/panels-create-items.md
Labels: Documentation

#19911 Update API References for Content Versioning
  docs/app/data-model/collections.md
  docs/reference/query.md
  docs/reference/system/collections.md
  docs/reference/system/revisions.md
Labels: Documentation

#19926 Small cleanup for #19922
  .changeset/orange-horses-attack.md
  packages/extensions/license
  packages/extensions/package.json
  packages/extensions/readme.md
  packages/extensions/shared/types/extension-types.ts
Labels: Package: @directus/extensions

#19898 SDK Improve global type compatibility
  .changeset/two-meals-begin.md
  pnpm-lock.yaml
  sdk/package.json
  sdk/src/client.ts
  sdk/src/realtime/composable.ts
  sdk/src/realtime/types.ts
  sdk/src/realtime/utils/message-callback.ts
  sdk/src/types/client.ts
  sdk/src/types/globals.ts
  sdk/src/types/index.ts
  sdk/src/utils/extract-data.ts
  sdk/src/utils/is-response.ts
  sdk/src/utils/request.ts
Labels: Improvement, Package: @directus/sdk

#19950 Fixed issues: nuxt-3.md
  contributors.yml
  docs/guides/headless-cms/build-static-website/nuxt-3.md
Labels: Documentation

#19955 Fix __dirname being undefined
  api/src/extensions/get-shared-deps-mapping.ts
Labels: Chore

#19952 Re-add description for relational table headers
  .changeset/quick-toes-remember.md
  app/src/layouts/tabular/index.ts
Labels: Package: @directus/app, Bug

#19956 Fixed `ItemService` Typo
  docs/guides/extensions/hooks-add-stripe-customer.md
Labels: Documentation

#19959 Fix not opening group with conditions
  app/src/interfaces/group-detail/group-detail.vue
Labels: Package: @directus/app, Bug

#19910 Add version argument in GraphQL
  api/src/controllers/versions.ts
  api/src/middleware/respond.ts
  api/src/services/graphql/index.ts
  api/src/services/versions.ts
Labels: Package: @directus/api

#19963 Add a small border to the description dot for easier mouse-over
  .changeset/cyan-rockets-build.md
  app/src/components/v-table/table-header.vue
Labels: Package: @directus/app, Improvement

#19966 Cleanup imports
  .changeset/curvy-islands-smash.md
  api/src/database/helpers/schema/dialects/mysql.ts
  api/src/database/run-ast.ts
  api/src/middleware/extract-token.test.ts
  api/src/middleware/validate-batch.test.ts
  api/src/services/collections.ts
  api/src/services/fields.ts
  api/src/services/items.test.ts
  api/src/services/payload.test.ts
  api/src/services/permissions.ts
  api/src/services/specifications.test.ts
  api/src/utils/async-handler.test.ts
  api/src/utils/calculate-field-depth.test.ts
  api/src/utils/filter-items.test.ts
  api/src/utils/get-ast-from-query.ts
  api/src/utils/get-auth-providers.test.ts
  api/src/utils/get-column-path.test.ts
  api/src/utils/get-config-from-env.test.ts
  api/src/utils/get-permissions.ts
  api/src/utils/get-relation-info.test.ts
  api/src/utils/get-relation-type.test.ts
  api/src/utils/get-string-byte-size.test.ts
  api/src/utils/is-directus-jwt.test.ts
  api/src/utils/jwt.test.ts
  api/src/utils/validate-keys.test.ts
Labels: Optimization

#19972 Upgrade pnpm to 8.9.0
  package.json
Labels: Chore

#19973 Consider OS release for pnpm cache in GH workflows
  .github/actions/prepare/action.yml
Labels: Chore

#19977 Recommend installation of pnpm via Corepack
  docs/contributing/running-locally.md
Labels: Documentation

#19978 Add `Corepack` to docs dictionary
  docs/dictionary.txt
Labels: Documentation

#19979 Optimize MSSQL test setup
  .github/workflows/blackbox-main.yml
Labels: Chore

#19964 Show installed extensions in settings pane
  .changeset/odd-tables-grow.md
  api/src/controllers/extensions.ts
  api/src/extensions/get-extensions.ts
  api/src/extensions/manager.ts
  api/src/extensions/types.ts
  api/src/services/graphql/index.ts
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/components/navigation.vue
  app/src/modules/settings/index.ts
  app/src/modules/settings/routes/extensions/components/extension-group-divider.vue
  app/src/modules/settings/routes/extensions/components/extension-item.vue
  app/src/modules/settings/routes/extensions/components/extensions-info-sidebar-detail.vue
  app/src/modules/settings/routes/extensions/constants/icons.ts
  app/src/modules/settings/routes/extensions/extensions.vue
Labels: Package: @directus/app, Feature

#19981 Limit amount of characters you can enter
  .changeset/grumpy-pigs-guess.md
  app/src/components/v-input.vue
  app/src/interfaces/input/input.vue
Labels: Package: @directus/app, Improvement

#19965 SDK Fix aggregation on multiple fields
  .changeset/dry-ravens-check.md
  docs/reference/query.md
  sdk/src/types/aggregate.ts
Labels: Bug, Package: @directus/sdk

#19993 Update vue-i18n to 9.5.0
  app/package.json
  pnpm-lock.yaml
Labels: Package: @directus/app, Optimization

#20005 Fixed handling of multiple WebSocket subscriptions on same target
  .changeset/olive-sheep-beam.md
  api/src/websocket/handlers/subscribe.ts
  contributors.yml
Labels: Package: @directus/api, Bug

#19990 Add a cache clear method to the UtilsService
  .changeset/ten-icons-kiss.md
  api/src/controllers/utils.ts
  api/src/services/utils.ts
  contributors.yml
Labels: Package: @directus/api, Improvement

#19953 Change csv db type to text
  .changeset/gold-colts-trade.md
  api/src/database/migrations/20231009A-update-csv-fields-to-text.ts
  api/src/database/seeds/run.ts
  api/src/services/fields.ts
Labels: Package: @directus/api, Bug

#20004 Update placeholder text in file-image interface
  .changeset/tidy-pants-clean.md
  app/src/interfaces/file-image/file-image.vue
  app/src/lang/translations/en-US.yaml
Labels: Package: @directus/app, Improvement

#20008 Use current Directus version in docs
  docs/.vitepress/data/blog.data.ts
  docs/.vitepress/data/directus.data.ts
  docs/.vitepress/data/guides.data.ts
  docs/.vitepress/env.d.ts
  docs/.vitepress/theme/index.ts
  docs/extensions/installing-extensions.md
  docs/guides/[slug].paths.ts
  docs/self-hosted/docker-guide.md
  docs/self-hosted/quickstart.md
Labels: Documentation

#20011 Amend deleteFolder function's JSDocs description
  .changeset/poor-eels-glow.md
  sdk/src/rest/commands/delete/folders.ts
Labels: Improvement, Package: @directus/sdk

#20010 Calendar view one day added (end date) when an event is moved
  .changeset/nine-bikes-wonder.md
  app/src/layouts/calendar/index.ts
Labels: Package: @directus/app, Bug

#19739 Replace csv-parser with papaparse
  .changeset/rich-kids-hang.md
  api/package.json
  api/src/services/import-export/index.ts
  pnpm-lock.yaml
Labels: Package: @directus/api, Improvement

#20017 Update GraphQL endpoints for extensions enable/disable
  .changeset/hot-cars-perform.md
  api/src/services/graphql/index.ts
Labels: Package: @directus/api, Feature, Breaking Change

#20019 Update docs for updates in 19988
  docs/reference/system/extensions.md
Labels: Documentation

#20000 SDK support for Content Versioning
  docs/.vitepress/config.js
  docs/reference/items.md
  docs/reference/query.md
  docs/reference/system/users.md
  docs/reference/system/versions.md
  sdk/src/rest/commands/create/index.ts
  sdk/src/rest/commands/create/versions.ts
  sdk/src/rest/commands/delete/index.ts
  sdk/src/rest/commands/delete/versions.ts
  sdk/src/rest/commands/read/index.ts
  sdk/src/rest/commands/read/items.ts
  sdk/src/rest/commands/read/singleton.ts
  sdk/src/rest/commands/read/versions.ts
  sdk/src/rest/commands/update/index.ts
  sdk/src/rest/commands/update/versions.ts
  sdk/src/rest/commands/utils/index.ts
  sdk/src/rest/commands/utils/versions.ts
  sdk/src/schema/collection.ts
  sdk/src/schema/core.ts
  sdk/src/schema/index.ts
  sdk/src/schema/revision.ts
  sdk/src/schema/version.ts
  sdk/src/types/query.ts
Labels: Package: @directus/sdk

#20040 Fixed incorrect extension path
  .changeset/polite-chefs-run.md
  api/src/extensions/manager.ts
Labels: Package: @directus/api, Bug

#20041 Add asset getter methods to SDK
  .changeset/four-countries-fetch.md
  docs/reference/files.md
  sdk/src/rest/commands/read/assets.ts
  sdk/src/rest/commands/read/index.ts
  sdk/src/rest/utils/query-to-params.ts
  sdk/src/types/assets.ts
  sdk/src/types/index.ts
  sdk/src/types/request.ts
  sdk/src/utils/extract-data.ts
Labels: Improvement, Package: @directus/sdk

#19957 Durus: test for o2m
  packages/data-driver-postgres/src/index.test.ts
Labels: Package: @directus/data

#20020 Content Versioning: Small tweaks & fixes
  api/src/database/migrations/20230823A-add-content-versioning.ts
  api/src/database/system-data/collections/collections.yaml
  api/src/database/system-data/fields/revisions.yaml
  api/src/database/system-data/fields/versions.yaml
  api/src/database/system-data/relations/relations.yaml
  api/src/services/index.ts
  api/src/services/users.ts
  api/src/services/versions.ts
  api/src/utils/get-service.ts
  app/src/components/v-button.vue
  app/src/components/v-field-template/field-list-item.vue
  app/src/components/v-list-item.vue
  app/src/composables/use-versions.ts
  app/src/interfaces/_system/system-display-template/system-display-template.vue
  app/src/lang/translations/en-US.yaml
  app/src/modules/content/components/version-menu.vue
  app/src/modules/content/components/version-promote-drawer.vue
  app/src/modules/content/routes/item.vue
  app/src/stores/presets.ts
  docs/reference/introduction.md
  packages/types/src/versions.ts
Labels: Package: @directus/api, Package: @directus/app, Documentation, Package: @directus/types

#20049 Fix WYSIWYG interface text color in dark mode
  app/src/interfaces/input-rich-text-html/get-editor-styles.ts
Labels: Package: @directus/app, Bug

#20068 Fix format of contributors.yml
  contributors.yml
Labels: Chore

#20060 Fix http range request when transformation in use
  api/src/controllers/assets.ts
Labels: Package: @directus/api, Bug

#20075 Fixed SDK docblock for docs build
  sdk/src/rest/commands/read/assets.ts
Labels: Bug, Package: @directus/sdk

#20079 Enforce Vue shorthand form for `true` attributes
  .eslintrc.js
  app/src/components/v-table/table-header.vue
  app/src/components/v-table/v-table.vue
  app/src/interfaces/_system/system-fields/system-fields.vue
  app/src/interfaces/_system/system-filter/input-component.vue
  app/src/interfaces/_system/system-filter/nodes.vue
  app/src/interfaces/_system/system-filter/system-filter.vue
  app/src/interfaces/_system/system-folder/folder.vue
  app/src/interfaces/_system/system-modules/system-modules.vue
  app/src/interfaces/files/files.vue
  app/src/interfaces/input-block-editor/input-block-editor.vue
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
  app/src/interfaces/list-m2a/list-m2a.vue
  app/src/interfaces/list-m2m/list-m2m.vue
  app/src/interfaces/list-o2m-tree-view/nested-draggable.vue
  app/src/interfaces/list-o2m/list-o2m.vue
  app/src/interfaces/list/list.vue
  app/src/interfaces/map/options.vue
  app/src/interfaces/select-color/select-color.vue
  app/src/modules/settings/routes/data-model/collections/collections.vue
  app/src/modules/settings/routes/data-model/collections/components/collection-item.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-relationship-m2a.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-relationship-m2m.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-relationship-o2m.vue
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
  app/src/modules/settings/routes/data-model/fields/components/fields-management.vue
  app/src/views/private/components/drawer-item.vue
  app/src/views/private/components/notification-dialogs.vue
Labels: Chore

#20083 Add homepage to root package.json for quick ref
  package.json
Labels: Chore

#20092 Apply min-width for attached menus only
  .changeset/metal-readers-sneeze.md
  app/src/components/v-menu.vue
  app/src/components/v-select/__snapshots__/v-select.test.ts.snap
  app/src/components/v-select/v-select.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-relationship-m2a.vue
Labels: Package: @directus/app, Bug

#20070 Content Versioning Documentation
  docs/.vitepress/data/guides.data.ts
  docs/guides/headless-cms/content-versioning.md
  docs/use-cases/headless-cms/introduction.md
  docs/user-guide/content-module/content/items.md
Labels: Documentation

#20095 added save options and hide archive button for Content Versioning
  app/src/lang/translations/en-US.yaml
  app/src/modules/content/routes/item.vue
Labels: Package: @directus/app, Improvement

#20097 Add max length to `key` & `name` for Content Versioning
  api/src/database/migrations/20230823A-add-content-versioning.ts
  app/src/modules/content/components/version-menu.vue
Labels: Package: @directus/api, Package: @directus/app, Improvement

#20109 Fix small typo in Content Versioning ref doc
  docs/reference/items.md
Labels: Documentation

#20093 Use double quotes for docker-compose.yml snippets in docs
  contributors.yml
  docs/self-hosted/quickstart.md
Labels: Documentation

#20031 Secure Extensions
  .changeset/polite-icons-cough.md
  api/globalSetup.js
  api/src/env.ts
  api/src/extensions/lib/get-extensions-settings.ts
  api/src/extensions/lib/get-extensions.ts
  api/src/extensions/lib/get-shared-deps-mapping.ts
  api/src/extensions/lib/sandbox/generate-api-extensions-sandbox-entrypoint.ts
  api/src/extensions/lib/sandbox/generate-host-function-reference.ts
  api/src/extensions/lib/sandbox/register/action.ts
  api/src/extensions/lib/sandbox/register/call-reference.ts
  api/src/extensions/lib/sandbox/register/filter.ts
  api/src/extensions/lib/sandbox/register/index.ts
  api/src/extensions/lib/sandbox/register/operation.ts
  api/src/extensions/lib/sandbox/register/route.ts
  api/src/extensions/lib/sandbox/sdk/generators/index.ts
  api/src/extensions/lib/sandbox/sdk/generators/log.ts
  api/src/extensions/lib/sandbox/sdk/generators/request.ts
  api/src/extensions/lib/sandbox/sdk/generators/sleep.ts
  api/src/extensions/lib/sandbox/sdk/index.ts
  api/src/extensions/lib/sandbox/sdk/instantiate.ts
  api/src/extensions/lib/sandbox/sdk/sdk.ts
  api/src/extensions/lib/sandbox/sdk/utils/index.ts
  api/src/extensions/lib/sandbox/sdk/utils/wrap.ts
  api/src/extensions/lib/wrap-embeds.ts
  api/src/extensions/manager.ts
  api/src/flows.ts
  api/src/utils/delete-from-require-cache.ts
  api/src/utils/job-queue.ts
  packages/extensions/src/node/utils/get-extensions.ts
  packages/extensions/src/shared/schemas/options.ts
  packages/extensions/src/shared/types/extension-types.ts
  packages/types/src/events.ts
  packages/types/src/misc.ts
  packages/utils/shared/index.ts
  packages/utils/shared/number-generator.test.ts
  packages/utils/shared/number-generator.ts
Labels: Feature

#20115 Require scope for log / sleep
  api/src/extensions/lib/sandbox/sdk/generators/log.ts
  api/src/extensions/lib/sandbox/sdk/generators/sleep.ts
  packages/extensions/src/shared/schemas/options.ts
Labels: Extensions, Improvement

#20114 Fix example code in Realtime Guide
  contributors.yml
  docs/guides/real-time/getting-started/websockets.md
Labels: Documentation

#20120 Fix create-directus-extension utility
  .changeset/olive-icons-obey.md
  packages/create-directus-extension/lib/index.js
  packages/create-directus-extension/package.json
  pnpm-lock.yaml
Labels: Bug, Package: @directus/extensions-sdk

#20121 Patch a few dependencies
  .changeset/strange-timers-brake.md
  api/package.json
  app/package.json
  packages/constants/package.json
  packages/extensions/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/blackbox/package.json
Labels: Dependencies

#20123 Fix missing hasNestedCollections prop
  app/src/modules/settings/routes/data-model/collections/collections.vue
  app/src/modules/settings/routes/data-model/collections/components/collection-dialog.vue
Labels: Package: @directus/app, Chore

#20124 Fixes secure extension register function types
  .changeset/beige-weeks-occur.md
  packages/extensions/api.d.ts
Labels: Extensions, Improvement

#20127 Fix options pass down when fields are nested in accordion
  .changeset/proud-impalas-swim.md
  app/src/utils/push-group-options-down.test.ts
  app/src/utils/push-group-options-down.ts
Labels: Package: @directus/app, Bug

#19998 Secure Extensions Documentation
  docs/.vitepress/config.js
  docs/dictionary.txt
  docs/extensions/sandbox/introduction.md
  docs/extensions/sandbox/register.md
  docs/extensions/sandbox/sandbox-sdk.md
Labels: Documentation

#20128 Propagate error when saving version
  app/src/composables/use-versions.ts
Labels: Package: @directus/app, Bug

#20136 Add theming fields to app required permissions
  .changeset/many-beds-beam.md
  api/src/database/system-data/app-access-permissions/app-access-permissions.yaml
Labels: Package: @directus/api, Bug

#20151 Fix 20143 show feedback on empty login
  .changeset/pretty-mangos-build.md
  app/src/routes/login/components/login-form/login-form.vue
Labels: Package: @directus/app, Improvement

#20162 Add create-directus-project to monorepo
  packages/create-directus-project/lib/check-requirements.js
  packages/create-directus-project/lib/index.js
  packages/create-directus-project/license
  packages/create-directus-project/package.json
  packages/create-directus-project/readme.md
  pnpm-lock.yaml
Labels: Package: create-directus-project

#20154 Update docs for Theming
  docs/.vitepress/config.js
  docs/dictionary.txt
  docs/reference/system/settings.md
  docs/reference/system/users.md
  docs/user-guide/settings/project-settings.md
  docs/user-guide/settings/theming.md
  docs/user-guide/user-management/user-directory.md
Labels: Documentation

#20171 Don't load CLI extensions if database is missing or out of date
  .changeset/metal-shrimps-enjoy.md
  api/src/cli/index.ts
  api/src/cli/load-extensions.ts
Labels: Package: @directus/api, Bug

#20180 Use fixed tag for prereleases
  .github/workflows/release.yml
Labels: Chore

#20185 Fix rendering of closed field groups once openend
  .changeset/tall-lobsters-punch.md
  app/src/utils/push-group-options-down.test.ts
  app/src/utils/push-group-options-down.ts
Labels: Package: @directus/app, Bug

#20182 Enable npm provenance
  .github/workflows/release.yml
Labels: Chore

#18998 Run Directus in PM2 Cluster mode in Docker Image
  .changeset/real-games-switch.md
  Dockerfile
  api/src/server.ts
  docs/dictionary.txt
  docs/self-hosted/config-options.md
  ecosystem.config.cjs
Labels: Improvement

#20191 Properly handle circular structures in redaction
  .changeset/eighty-teachers-crash.md
  api/src/utils/redact-object.test.ts
  api/src/utils/redact-object.ts
Labels: Package: @directus/api, Bug

#20194 Add "Project Default" option to user appearance setting
  .changeset/quick-parrots-study.md
  api/src/database/system-data/fields/users.yaml
  app/src/lang/translations/en-US.yaml
Labels: Package: @directus/app, Improvement

#20199 Workaround for worker pool on ARM machines
  .changeset/modern-moose-kiss.md
  api/src/worker-pool.ts
Labels: Package: @directus/api, Bug

#20153 Fix caching for Content Versioning
  .changeset/tiny-spoons-pay.md
  api/src/middleware/respond.ts
  api/src/services/versions.ts
  docs/self-hosted/config-options.md
Labels: Package: @directus/api, Bug

#20200 SDK Fix all filters required
  .changeset/giant-mayflies-destroy.md
  sdk/src/types/filters.ts
  sdk/src/types/utils.ts
Labels: Package: @directus/sdk, Regression

#20204 Add theme font family overrides per scope
  .changeset/shiny-planes-knock.md
  app/src/components/v-form/form-field-label.vue
  app/src/components/v-list-item-content.vue
  app/src/views/private/components/header-bar.vue
  app/src/views/private/components/project-info.vue
  app/src/views/private/components/sidebar-detail.vue
  app/src/views/private/private-view.vue
  packages/themes/src/schema.ts
  packages/themes/src/themes/dark-directus.ts
  packages/themes/src/themes/light-directus.ts
Labels: Package: @directus/app, Improvement

#20208 Temporarily remove the on-PR blackbox tests
  .github/workflows/blackbox-pr.yml
  .github/workflows/blackbox.yml
Labels: Optimization

#20209 Handle extension names in npm org scopes
  .changeset/thick-wolves-train.md
  api/src/services/extensions.ts
Labels: Package: @directus/api, Bug

#20219 Extensions fixed hook filter generic type
  .changeset/angry-crabs-cover.md
  api/src/emitter.ts
  api/src/extensions/manager.ts
  packages/extensions/src/shared/types/hooks.ts
Labels: Bug, Package: @directus/extensions

#20221 Fix duplicate local extension name collision
  .changeset/young-wasps-cheer.md
  packages/extensions/src/node/utils/get-extensions.ts
Labels: Package: @directus/api, Bug, Package: @directus/extensions

#20037 Durus o2m field selects for PostgreSQL
  packages/data-driver-postgres/src/index.test.ts
  packages/data-driver-postgres/src/index.ts
  packages/data-sql/src/orm/expand.test.ts
  packages/data-sql/src/orm/expand.ts
  packages/data-sql/src/query-converter/converter.ts
  packages/data-sql/src/query-converter/fields/create-join.test.ts
  packages/data-sql/src/query-converter/fields/create-join.ts
  packages/data-sql/src/query-converter/fields/create-nested-manys.test.ts
  packages/data-sql/src/query-converter/fields/create-nested-manys.ts
  packages/data-sql/src/query-converter/fields/fields.test.ts
  packages/data-sql/src/query-converter/fields/fields.ts
  packages/data-sql/src/types/clauses/where/logical.ts
  packages/data-sql/src/types/index.ts
  packages/data-sql/src/utils/index.ts
  packages/data-sql/src/utils/nested-many.test.ts
  packages/data-sql/src/utils/nested-many.ts
  packages/data-sql/src/utils/stream-consumer.ts
  packages/data/src/engine.ts
  packages/data/src/index.ts
  packages/data/src/types/abstract-query/fields/nested.ts
  packages/data/src/types/abstract-query/fields/nested/relational.ts
  packages/data/src/types/abstract-query/modifiers/filters/logical.ts
  packages/data/src/types/index.ts
  packages/data/src/types/misc.ts
Labels: Package: @directus/data

#20244 docs: add changeset generate command and version bump type explanations
  contributors.yml
  docs/contributing/pull-request-process.md
  docs/dictionary.txt
Labels: Documentation

#20246 Added extensions volume of self-hosted quickstart
  docs/self-hosted/quickstart.md
Labels: Documentation

#20241 Add the ability to submit plain code challenge method
  api/src/auth/drivers/oauth2.ts
  api/src/auth/drivers/openid.ts
Labels: Package: @directus/api, Optimization

#20231 Fix legacy endpoint route name
  .changeset/late-eels-check.md
  api/src/extensions/manager.ts
Labels: Bug, Extensions

#20237 Fix errors in Realtime Chat Vue guide
  contributors.yml
  docs/guides/real-time/chat/vue.md
Labels: Documentation

#20254 Trimmed sort array
  .changeset/nervous-guests-pretend.md
  api/src/utils/sanitize-query.test.ts
  api/src/utils/sanitize-query.ts
Labels: Package: @directus/api, Improvement

#20263 Fixed incorrect input pattern in the app
  .changeset/strange-vans-watch.md
  app/src/interfaces/_system/system-filter/input-component.vue
Labels: Package: @directus/app, Bug

#20275 Match activity log button to sidebar toggle
  .changeset/weak-forks-cross.md
  app/src/views/private/components/notifications-preview.vue
Labels: Package: @directus/app, Bug

#20277 Make navigation borders configurable
  .changeset/curly-sloths-drum.md
  app/src/components/v-divider.vue
  app/src/views/private/private-view.vue
  packages/themes/src/schema.ts
  packages/themes/src/themes/dark-directus.ts
  packages/themes/src/themes/light-directus.ts
Labels: Package: @directus/app, Improvement, Package: @directus/themes

#20280 Render global rules under `globals` rule in theme overrides interface
  .changeset/quick-news-wash.md
  app/src/interfaces/_system/system-theme-overrides/system-theme-overrides-group.vue
  app/src/interfaces/_system/system-theme-overrides/system-theme-overrides.vue
Labels: Package: @directus/app, Improvement
