Repository directus/directus, pull requests merged in 2023-06, with the labels that each got.

#18800 Update version of pnpm & apply stricter engine requirement
  package.json
  pnpm-lock.yaml
Labels: Chore

#18810 Improvement: Add albanian language translation
  .changeset/fair-clouds-exercise.md
  app/src/lang/available-languages.yaml
  contributors.yml
Labels: Package: @directus/app, Improvement

#18783 Add extra type check in apply-diff
  .changeset/nine-masks-explode.md
  api/src/utils/apply-diff.ts
Labels: Package: @directus/api, Bug

#18821 Fix content filter between
  .changeset/popular-toes-tap.md
  app/src/interfaces/_system/system-filter/input-group.vue
Labels: Package: @directus/app, Bug

#18820 Created new contribution pages for non-code contributions
  docs/.vitepress/config.js
  docs/contributing/community.md
  docs/contributing/introduction.md
  docs/contributing/sponsor.md
  docs/contributing/translations.md
  docs/getting-started/backing-directus.md
  docs/getting-started/support.md
  docs/netlify.toml
Labels: Documentation

#18804 GraphQL Subscriptions update
  api/src/services/graphql/index.ts
  api/src/services/graphql/subscription.ts
  api/src/websocket/handlers/subscribe.ts
  api/src/websocket/messages.ts
  api/src/websocket/types.ts
  docs/guides/real-time/chat/javascript.md
  docs/guides/real-time/chat/react.md
  docs/guides/real-time/chat/vue.md
  docs/guides/real-time/getting-started/graphql.md
  docs/guides/real-time/live-poll.md
  docs/guides/real-time/operations.md
  docs/guides/real-time/subscriptions/graphql.md
  docs/guides/real-time/subscriptions/websockets.md
Labels: Package: @directus/api, Improvement

#18827 Automatically assign next release milestone
  .github/workflows/assign-next-release-milestone.yml
Labels: Optimization

#18828 Fix existing milestone error
  .github/workflows/assign-next-release-milestone.yml
Labels: Optimization

#18829 Break ground on @directus/stores
  .changeset/clean-wasps-build.md
  app/package.json
  app/src/app.vue
  app/src/auth.ts
  app/src/composables/use-system.ts
  app/src/hydrate.test.ts
  app/src/hydrate.ts
  app/src/interfaces/map/map.vue
  app/src/interfaces/map/options.vue
  app/src/layouts/calendar/index.ts
  app/src/layouts/map/components/map.vue
  app/src/layouts/map/options.vue
  app/src/modules/insights/routes/dashboard.vue
  app/src/router.test.ts
  app/src/router.ts
  app/src/routes/login/login.test.ts
  app/src/routes/login/login.vue
  app/src/routes/shared/shared.vue
  app/src/routes/tfa-setup.vue
  app/src/stores/app.ts
  app/src/views/private/components/module-bar-avatar.vue
  app/src/views/private/components/notifications-drawer.vue
  app/src/views/private/components/sidebar-button.vue
  app/src/views/private/components/sidebar-detail.vue
  app/src/views/private/private-view.vue
  app/vite.config.js
  packages/stores/package.json
  packages/stores/readme.md
  packages/stores/src/app.ts
  packages/stores/src/index.ts
  packages/stores/tsconfig.json
  pnpm-lock.yaml
Labels: Package: @directus/app, Optimization, Chore

#18834 Content Translations + a few fixes for old CMS packet
  docs/.vitepress/config.js
  docs/guides/headless-cms/content-translations.md
  docs/guides/headless-cms/schedule-content/dynamic-sites.md
  docs/guides/headless-cms/schedule-content/static-sites.md
Labels: Documentation

#18851 Fix Websocket GraphQL public auth
  api/src/websocket/controllers/graphql.ts
Labels: Package: @directus/api, Bug

#18853 Render calendar and map layouts correctly
  .changeset/blue-impalas-smell.md
  app/src/views/private/private-view.vue
Labels: Package: @directus/app, Bug

#18871 Recursively check permissions in isAllowed utility function
  .changeset/heavy-kiwis-return.md
  app/src/utils/is-allowed.ts
Labels: Package: @directus/app, Improvement

#18882 Clean-up changesets
  .changeset/chilled-wolves-double.md
  .changeset/clean-wasps-build.md
  .changeset/eleven-cougars-sparkle.md
  .changeset/lazy-cows-happen.md
  .changeset/warm-spiders-double.md
Labels: Chore

#18781 New Crowdin updates
  app/src/lang/translations/af-ZA.yaml
  app/src/lang/translations/ar-SA.yaml
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/bn-IN.yaml
  app/src/lang/translations/br-FR.yaml
  app/src/lang/translations/bs-BA.yaml
  app/src/lang/translations/ca-ES.yaml
  app/src/lang/translations/ckb-IR.yaml
  app/src/lang/translations/cs-CZ.yaml
  app/src/lang/translations/da-DK.yaml
  app/src/lang/translations/de-DE.yaml
  app/src/lang/translations/el-GR.yaml
  app/src/lang/translations/en-CA.yaml
  app/src/lang/translations/en-GB.yaml
  app/src/lang/translations/eo-UY.yaml
  app/src/lang/translations/es-419.yaml
  app/src/lang/translations/es-CL.yaml
  app/src/lang/translations/es-ES.yaml
  app/src/lang/translations/es-MX.yaml
  app/src/lang/translations/et-EE.yaml
  app/src/lang/translations/fa-IR.yaml
  app/src/lang/translations/fi-FI.yaml
  app/src/lang/translations/fo-FO.yaml
  app/src/lang/translations/fr-CA.yaml
  app/src/lang/translations/fr-FR.yaml
  app/src/lang/translations/he-IL.yaml
  app/src/lang/translations/hi-IN.yaml
  app/src/lang/translations/hr-HR.yaml
  app/src/lang/translations/hu-HU.yaml
  app/src/lang/translations/id-ID.yaml
  app/src/lang/translations/is-IS.yaml
  app/src/lang/translations/it-IT.yaml
  app/src/lang/translations/ja-JP.yaml
  app/src/lang/translations/km-KH.yaml
  app/src/lang/translations/ko-KR.yaml
  app/src/lang/translations/lt-LT.yaml
  app/src/lang/translations/mn-MN.yaml
  app/src/lang/translations/ms-MY.yaml
  app/src/lang/translations/ne-NP.yaml
  app/src/lang/translations/nl-NL.yaml
  app/src/lang/translations/no-NO.yaml
  app/src/lang/translations/pl-PL.yaml
  app/src/lang/translations/pt-BR.yaml
  app/src/lang/translations/pt-PT.yaml
  app/src/lang/translations/ro-RO.yaml
  app/src/lang/translations/ru-RU.yaml
  app/src/lang/translations/sk-SK.yaml
  app/src/lang/translations/sl-SI.yaml
  app/src/lang/translations/sq-AL.yaml
  app/src/lang/translations/sr-CS.yaml
  app/src/lang/translations/sr-SP.yaml
  app/src/lang/translations/sv-SE.yaml
  app/src/lang/translations/th-TH.yaml
  app/src/lang/translations/tr-TR.yaml
  app/src/lang/translations/uk-UA.yaml
  app/src/lang/translations/vi-VN.yaml
  app/src/lang/translations/zh-CN.yaml
  app/src/lang/translations/zh-TW.yaml
Labels: Package: @directus/app, Improvement

#18894 Limit and offset modifiers for Postgres driver
  .changeset/nice-worms-know.md
  packages/data-driver-postgres/src/index.ts
  packages/data-driver-postgres/src/query/from.test.ts
  packages/data-driver-postgres/src/query/index.test.ts
  packages/data-driver-postgres/src/query/index.ts
  packages/data-driver-postgres/src/query/limit.test.ts
  packages/data-driver-postgres/src/query/limit.ts
  packages/data-driver-postgres/src/query/offset.test.ts
  packages/data-driver-postgres/src/query/offset.ts
  packages/data-driver-postgres/src/query/select.test.ts
  packages/data-sql/src/converter/index.test.ts
  packages/data-sql/src/converter/index.ts
  packages/data-sql/src/types.ts
  packages/data-sql/src/utils/param-index-generator.test.ts
  packages/data-sql/src/utils/param-index-generator.ts
  packages/data/src/types/abstract-query.ts
Labels: DB: Postgres

#18888 Allow plain query flags for boolean & geo filter operators
  .changeset/blue-wolves-tell.md
  api/src/utils/apply-query.test.ts
  api/src/utils/validate-query.test.ts
  api/src/utils/validate-query.ts
Labels: Package: @directus/api, Optimization

#18971 Fix custom migrations running not validating against documented file path requirement
  .changeset/yellow-spoons-prove.md
  api/src/database/migrations/run.ts
  docs/extensions/migrations.md
Labels: Package: @directus/api, Bug

#18962 Fixes infinite fetch all loop
  app/src/modules/settings/routes/roles/item/components/permissions-overview.vue
  contributors.yml
Labels: Package: @directus/app, Bug

#18976 Parse GeoJSON raw value to object if string is passed
  .changeset/empty-camels-worry.md
  packages/utils/shared/parse-filter.ts
Labels: Package: @directus/api, Bug

#18978 Remove unused isBatch check
  .changeset/nasty-nails-grab.md
  app/src/composables/use-item.ts
Labels: Package: @directus/app, Bug

#18956 Revising Docker Guides
  .changeset/kind-needles-itch.md
  docs/.vitepress/config.js
  docs/dictionary.txt
  docs/self-hosted/docker-guide.md
  docs/self-hosted/quickstart.md
  packages/schema/readme.md
  tests/blackbox/readme.md
Labels: Documentation

#18980 Drop support for Memcached
  .changeset/spicy-radios-boil.md
  api/package.json
  api/src/cache.ts
  api/src/cli/utils/create-env/env-stub.liquid
  api/src/env.ts
  api/src/middleware/rate-limiter-global.ts
  api/src/middleware/rate-limiter-ip.ts
  api/src/rate-limiter.ts
  docker-compose.yml
  docs/self-hosted/config-options.md
  pnpm-lock.yaml
Labels: Package: @directus/api, Chore

#18954 Sort in pg driver
  .changeset/little-rivers-report.md
  packages/data-driver-postgres/src/query/from.test.ts
  packages/data-driver-postgres/src/query/from.ts
  packages/data-driver-postgres/src/query/index.test.ts
  packages/data-driver-postgres/src/query/index.ts
  packages/data-driver-postgres/src/query/limit.test.ts
  packages/data-driver-postgres/src/query/limit.ts
  packages/data-driver-postgres/src/query/offset.test.ts
  packages/data-driver-postgres/src/query/offset.ts
  packages/data-driver-postgres/src/query/orderBy.test.ts
  packages/data-driver-postgres/src/query/orderBy.ts
  packages/data-driver-postgres/src/query/select.test.ts
  packages/data-driver-postgres/src/query/select.ts
Labels: Package: @directus/data

#18988 Fix Docs Broken Links and add License to @directus/stores
  .changeset/heavy-papayas-buy.md
  docs/.typedocs/options.json
  docs/contributing/codebase-overview.md
  docs/contributing/community.md
  docs/package.json
  packages/stores/license
  pnpm-lock.yaml
Labels: Documentation, Package: @directus/stores

#18950 Add Snippet Toggler to Docs
  docs/.vitepress/components/SnippetToggler.vue
  docs/index.md
Labels: Documentation

#18986 Flush cache when applying diff
  .changeset/strange-peaches-heal.md
  api/src/cache.ts
  api/src/utils/apply-diff.ts
Labels: Package: @directus/api, Bug

#19009 Fix "Assign Next Release Milestone" workflow for PR's from forks
  .github/workflows/assign-next-release-milestone.yml
Labels: Chore

#19004 Replace template with p element
  .changeset/modern-bananas-count.md
  app/src/views/private/components/export-sidebar-detail.vue
Labels: Package: @directus/app

#19017 Update old docker-compose example url
  contributors.yml
  docker-compose.yml
Labels: Chore

#19007 Added a condition to filter tables/collections only
  .changeset/shaggy-dodos-glow.md
  app/src/interfaces/_system/system-collections/system-collections.vue
Labels: Package: @directus/app, Bug

#19011 Fix: Display template doesn't work in calendar layout
  .changeset/shiny-olives-sin.md
  app/src/utils/render-string-template.ts
Labels: Package: @directus/app, Bug

#19027 Remove VS Code autoformat / autofix for now
  .vscode/settings.json
Labels: Chore

#19030 Fixed docker example to work out of the box
  .changeset/four-lions-hammer.md
  docs/self-hosted/docker-guide.md
Labels: Documentation

#19034 Update .prettierignore
  .prettierignore
Labels: Chore

#19042 Remove VS Code settings to prevent conflicts
  .gitignore
  .vscode/settings.json
Labels: Chore

#19051 Add comments to ESLint Vue rules & require padding between tags
  .eslintrc.js
Labels: Chore
