Repository directus/directus, pull requests merged in 2023-11, with the labels that each got.

#20321 Updated SDK examples from "@directus/sdk/rest" to "@directus/sdk"
  docs/guides/headless-cms/build-static-website/next-13.md
  docs/guides/headless-cms/build-static-website/nuxt-3.md
  docs/guides/headless-cms/content-translations.md
  docs/guides/headless-cms/live-preview/nextjs.md
  docs/guides/headless-cms/reusable-components.md
  docs/guides/headless-cms/schedule-content/dynamic-sites.md
  docs/reference/system/activity.md
  docs/reference/system/dashboards.md
  docs/reference/system/flows.md
Labels: Documentation

#20309 Updated Public Page Artwork
  .changeset/new-pugs-speak.md
  app/src/views/public/public-view.vue
  packages/themes/src/schema.ts
  packages/themes/src/themes/dark-directus.ts
  packages/themes/src/themes/light-directus.ts
Labels: Package: @directus/app, Improvement

#20340 Fix disabled input's border color
  .changeset/gold-items-beam.md
  app/src/components/v-input.vue
Labels: Package: @directus/app, Bug

#20344 SDK translation schema update
  .changeset/four-pans-work.md
  sdk/src/schema/translation.ts
Labels: Bug, Package: @directus/sdk

#20359 Rename to `articles` to match other examples
  docs/index.md
Labels: Documentation

#20347 Preserve minimal app permissions/validations when merging
  .changeset/twenty-maps-cough.md
  api/src/utils/merge-permissions.test.ts
  api/src/utils/merge-permissions.ts
Labels: Package: @directus/api, Bug

#20329 Refactor variables
  .changeset/large-cows-scream.md
  app/src/components/v-avatar.vue
  app/src/components/v-badge.vue
  app/src/components/v-breadcrumb.vue
  app/src/components/v-button.vue
  app/src/components/v-card-actions.vue
  app/src/components/v-card-text.vue
  app/src/components/v-card-title.vue
  app/src/components/v-card.vue
  app/src/components/v-checkbox.vue
  app/src/components/v-chip.vue
  app/src/components/v-divider.vue
  app/src/components/v-drawer.vue
  app/src/components/v-icon-file.vue
  app/src/components/v-icon/v-icon.vue
  app/src/components/v-list-item-content.vue
  app/src/components/v-list-item-icon.vue
  app/src/components/v-list-item.vue
  app/src/components/v-list.vue
  app/src/components/v-menu.vue
  app/src/components/v-notice.vue
  app/src/components/v-overlay.vue
  app/src/components/v-pagination.vue
  app/src/components/v-progress-circular.vue
  app/src/components/v-progress-linear.vue
  app/src/components/v-radio.vue
  app/src/components/v-select/v-select.vue
  app/src/components/v-sheet.vue
  app/src/components/v-skeleton-loader.vue
  app/src/components/v-slider.vue
  app/src/components/v-tab.vue
  app/src/components/v-table/table-header.vue
  app/src/components/v-table/table-row.vue
  app/src/components/v-table/v-table.vue
  app/src/components/v-tabs.vue
  app/src/components/v-textarea.vue
  app/src/displays/rating/rating.vue
  app/src/displays/related-values/related-values.vue
  app/src/interfaces/_system/system-fields/system-fields.vue
  app/src/interfaces/input-block-editor/editorjs-overrides.css
  app/src/interfaces/input-rich-text-html/tinymce-overrides.css
  app/src/interfaces/list-m2m/list-m2m.vue
  app/src/interfaces/list-o2m/list-o2m.vue
  app/src/interfaces/select-multiple-checkbox/select-multiple-checkbox.vue
  app/src/interfaces/select-radio/select-radio.vue
  app/src/interfaces/tags/tags.vue
  app/src/panels/relational-variable/multiple-relation.vue
  app/src/styles/lib/_mapbox.scss
  app/src/views/private/components/comments-sidebar-detail.vue
  app/src/views/private/components/flow-sidebar-detail.vue
  app/src/views/private/components/folder-picker.vue
  app/src/views/private/components/shares-sidebar-detail.vue
Labels: Package: @directus/app, Optimization

#20303 Show package version if available
  .changeset/nice-bottles-flow.md
  api/src/services/extensions.ts
  app/src/modules/settings/routes/extensions/components/extension-item.vue
  packages/extensions/src/shared/types/api.ts
Labels: Package: @directus/app, Improvement

#20106 Only trigger changes for tables, cards and calendars if necessary (otherwise triggers auto-save)
  .changeset/curvy-snails-grin.md
  app/src/layouts/calendar/index.ts
  app/src/layouts/cards/cards.vue
  app/src/layouts/tabular/tabular.vue
  contributors.yml
Labels: Package: @directus/app, Improvement

#20384 Refactor env mocking
  api/src/__mocks__/cache.mts
  api/src/__utils__/mock-env.ts
  api/src/app.test.ts
  api/src/cli/load-extensions.ts
  api/src/env.test.ts
  api/src/env.ts
  api/src/logger.test.ts
  api/src/messenger.test.ts
  api/src/messenger.ts
  api/src/middleware/authenticate.test.ts
  api/src/request/validate-ip.test.ts
  api/src/request/validate-ip.ts
  api/src/services/items.test.ts
  api/src/services/websocket.test.ts
  api/src/storage/get-storage-driver.test.ts
  api/src/storage/register-drivers.test.ts
  api/src/storage/register-drivers.ts
  api/src/storage/register-locations.test.ts
  api/src/storage/register-locations.ts
  api/src/utils/get-accountability-for-token.test.ts
  api/src/utils/get-auth-providers.test.ts
  api/src/utils/get-cache-headers.test.ts
  api/src/utils/get-config-from-env.test.ts
  api/src/utils/get-config-from-env.ts
  api/src/utils/sanitize-query.test.ts
  api/src/utils/sanitize-query.ts
  api/src/utils/should-clear-cache.test.ts
  api/src/utils/should-clear-cache.ts
  api/src/utils/should-skip-cache.test.ts
  api/src/utils/should-skip-cache.ts
  api/src/utils/validate-env.test.ts
  api/src/utils/validate-env.ts
  api/src/utils/validate-query.test.ts
  api/src/websocket/handlers/heartbeat.test.ts
Labels: Package: @directus/api, Optimization, Chore

#20383 Fix awaiting of token refresh request before making any further API requests
  .changeset/strange-days-drive.md
  app/src/api.ts
  app/src/auth.ts
Labels: Package: @directus/app, Bug

#20222 Durus: Filtering on m2o relations
  packages/data-driver-postgres/src/query/index.test.ts
  packages/data-driver-postgres/src/utils/conditions/string-condition.test.ts
  packages/data-driver-postgres/src/utils/conditions/string-condition.ts
  packages/data-sql/src/query-converter/converter-integration.test.ts
  packages/data-sql/src/query-converter/converter.test.ts
  packages/data-sql/src/query-converter/converter.ts
  packages/data-sql/src/query-converter/fields/create-nested-manys.test.ts
  packages/data-sql/src/query-converter/fields/create-nested-manys.ts
  packages/data-sql/src/query-converter/fields/fields.test.ts
  packages/data-sql/src/query-converter/fields/fields.ts
  packages/data-sql/src/query-converter/modifiers/filter/conditions/conditions.ts
  packages/data-sql/src/query-converter/modifiers/filter/conditions/field.test.ts
  packages/data-sql/src/query-converter/modifiers/filter/conditions/field.ts
  packages/data-sql/src/query-converter/modifiers/filter/conditions/geo.test.ts
  packages/data-sql/src/query-converter/modifiers/filter/conditions/geo.ts
  packages/data-sql/src/query-converter/modifiers/filter/conditions/number.test.ts
  packages/data-sql/src/query-converter/modifiers/filter/conditions/number.ts
  packages/data-sql/src/query-converter/modifiers/filter/conditions/set.test.ts
  packages/data-sql/src/query-converter/modifiers/filter/conditions/set.ts
  packages/data-sql/src/query-converter/modifiers/filter/conditions/string.test.ts
  packages/data-sql/src/query-converter/modifiers/filter/conditions/string.ts
  packages/data-sql/src/query-converter/modifiers/filter/conditions/utils.test.ts
  packages/data-sql/src/query-converter/modifiers/filter/conditions/utils.ts
  packages/data-sql/src/query-converter/modifiers/filter/filter.test.ts
  packages/data-sql/src/query-converter/modifiers/filter/filter.ts
  packages/data-sql/src/query-converter/modifiers/filter/logical.test.ts
  packages/data-sql/src/query-converter/modifiers/filter/logical.ts
  packages/data-sql/src/query-converter/modifiers/modifiers.test.ts
  packages/data-sql/src/query-converter/modifiers/modifiers.ts
  packages/data-sql/src/query-converter/modifiers/sort.ts
  packages/data-sql/src/types/clauses/index.ts
  packages/data-sql/src/types/clauses/order.ts
  packages/data-sql/src/types/clauses/where/conditions/field-condition.ts
  packages/data-sql/src/types/clauses/where/conditions/geo-condition.ts
  packages/data-sql/src/types/clauses/where/conditions/set-condition.ts
  packages/data-sql/src/types/clauses/where/conditions/string-condition.ts
  packages/data/src/types/abstract-query/fields.ts
  packages/data/src/types/abstract-query/fields/nested.ts
  packages/data/src/types/abstract-query/modifiers/filters/conditions/field-condition.ts
  packages/data/src/types/abstract-query/modifiers/filters/conditions/geo-condition-bbox.ts
  packages/data/src/types/abstract-query/modifiers/filters/conditions/geo-condition.ts
  packages/data/src/types/abstract-query/modifiers/filters/conditions/number-condition.ts
  packages/data/src/types/abstract-query/modifiers/filters/conditions/set-condition.ts
  packages/data/src/types/abstract-query/modifiers/filters/conditions/string-condition.ts
  packages/data/src/types/abstract-query/modifiers/sort.ts
Labels: Package: @directus/data

#20374 Updated extension endpoints OAS definitions
  .changeset/tender-owls-think.md
  packages/specs/src/components/extension.yaml
  packages/specs/src/openapi.yaml
  packages/specs/src/paths/extensions/displays.yaml
  packages/specs/src/paths/extensions/layouts.yaml
  packages/specs/src/paths/extensions/list.yaml
  packages/specs/src/paths/extensions/modules.yaml
  packages/specs/src/paths/extensions/update-bundle.yaml
  packages/specs/src/paths/extensions/update.yaml
Labels: Bug, Package: @directus/specs

#20388 Fix SnippetToggler group definitions
  .eslintignore
  docs/reference/items.md
  docs/reference/system/extensions.md
  docs/reference/system/versions.md
Labels: Documentation

#20357 Durus sorting on an m2o field
  packages/data-driver-postgres/src/query/index.test.ts
  packages/data-driver-postgres/src/query/orderBy.test.ts
  packages/data-driver-postgres/src/query/orderBy.ts
  packages/data-driver-postgres/src/utils/functions.ts
  packages/data-sql/src/query-converter/converter-integration.test.ts
  packages/data-sql/src/query-converter/modifiers/modifiers.test.ts
  packages/data-sql/src/query-converter/modifiers/modifiers.ts
  packages/data-sql/src/query-converter/modifiers/sort.test.ts
  packages/data-sql/src/query-converter/modifiers/sort.ts
  packages/data-sql/src/types/clauses/order.ts
Labels: Package: @directus/data

#20356 Fix filter parsing for _in/_nin operators with large arrays
  .changeset/silly-balloons-fly.md
  packages/utils/shared/parse-filter.ts
  tests/blackbox/routes/items/no-relation.test.ts
Labels: Package: @directus/api, Bug

#20395 Use double quotes for compose in docker guide
  docs/self-hosted/docker-guide.md
Labels: Documentation

#20397 Move remaining blackbox readme to docs
  docs/contributing/tests.md
  tests/blackbox/readme.md
Labels: Documentation

#20400 Revert/Pin MinIO version for blackbox tests
  tests/blackbox/docker-compose.yml
Labels: Chore

#20403 Simplify sequential list in blackbox tests
  tests/blackbox/common/seed-database.test.ts
  tests/blackbox/routes/items/no-relation.test.ts
  tests/blackbox/setup/sequencer.ts
  tests/blackbox/setup/sequential-tests.ts
Labels: Chore

#20406 Ignore json files for eslint
  .eslintignore
Labels: Chore

#20410 Typecast pm2 env vars
  .changeset/five-pigs-sin.md
  ecosystem.config.cjs
Labels: Bug, Package: directus

#20435 Docs/newsletter fix
  docs/.vitepress/components/Newsletter.vue
  docs/.vitepress/config.js
Labels: Documentation

#20411 Durus: Modifiers on o2m
  packages/data-sql/src/query-converter/fields/create-nested-manys.test.ts
  packages/data-sql/src/query-converter/fields/create-nested-manys.ts
  packages/data-sql/src/query-converter/fields/fields.test.ts
  packages/data-sql/src/query-converter/fields/fields.ts
  packages/data-sql/src/query-converter/modifiers/modifiers.test.ts
  packages/data-sql/src/query-converter/modifiers/modifiers.ts
  packages/data-sql/src/types/index.ts
Labels: Package: @directus/data

#20438 Remove feedback widget from package pages
  docs/.vitepress/theme/Layout.vue
Labels: Documentation

#20207 Add support for `EXTENSIONS_LOCATION` setting
  .changeset/few-mice-know.md
  .eslintignore
  Dockerfile
  api/package.json
  api/src/database/index.ts
  api/src/database/migrations/run.ts
  api/src/env.ts
  api/src/extensions/lib/get-extensions-path.ts
  api/src/extensions/lib/get-extensions.ts
  api/src/extensions/lib/sync-extensions.ts
  api/src/extensions/lib/sync-status.ts
  api/src/extensions/manager.ts
  api/src/services/mail/index.ts
  api/src/utils/validate-storage.ts
  docs/self-hosted/config-options.md
  packages/storage-driver-s3/src/index.ts
  pnpm-lock.yaml
Labels: Package: @directus/api, Extensions, Improvement

#20390 Update Email Templates to new White Label Style
  .changeset/nasty-beans-sniff.md
  .eslintignore
  api/src/services/mail/index.ts
  api/src/services/mail/templates/base.liquid
  api/src/services/mail/templates/password-reset.liquid
  api/src/services/mail/templates/user-invitation.liquid
  contributors.yml
Labels: Package: @directus/api, Improvement

#20450 Fail instance on error during extensions syncing
  api/src/extensions/manager.ts
Labels: Package: @directus/api, Bug

#20368 Add ability to ignore specific paths from the HTTP logger
  .changeset/sixty-toys-nail.md
  api/src/env.ts
  api/src/logger.test.ts
  api/src/logger.ts
  docs/self-hosted/config-options.md
Labels: Package: @directus/api, Improvement

#20386 OAS based on permissions
  .changeset/chatty-jars-cough.md
  api/src/services/specifications.test.ts
  api/src/services/specifications.ts
  api/src/types/services.ts
Labels: Package: @directus/api, Bug

#20455 Theme fixes
  .changeset/nice-rice-eat.md
  app/src/interfaces/_system/system-theme/system-theme.vue
  app/src/interfaces/_system/system-theme/theme-preview.vue
  packages/themes/src/themes/dark/default.ts
  packages/themes/src/themes/light/default.ts
  packages/themes/src/themes/light/minimal.ts
Labels: Package: @directus/app, Bug, Package: @directus/themes

#20460 Fallback to hostname for OAS URL if no PUBLIC_URL specified
  .changeset/good-apricots-shake.md
  api/src/controllers/server.ts
  api/src/services/specifications.ts
Labels: Package: @directus/api, Improvement

#20462 More accurate OAS based on authenticated user
  .changeset/late-shrimps-destroy.md
  api/src/constants.ts
  api/src/services/specifications.ts
  packages/specs/src/components/activity.yaml
  packages/specs/src/components/collection.yaml
  packages/specs/src/components/extension.yaml
  packages/specs/src/components/field.yaml
  packages/specs/src/components/file.yaml
  packages/specs/src/components/flow.yaml
  packages/specs/src/components/folder.yaml
  packages/specs/src/components/operation.yaml
  packages/specs/src/components/permissions.yaml
  packages/specs/src/components/preset.yaml
  packages/specs/src/components/relation.yaml
  packages/specs/src/components/revision.yaml
  packages/specs/src/components/role.yaml
  packages/specs/src/components/setting.yaml
  packages/specs/src/components/user.yaml
  packages/specs/src/components/version.yaml
  packages/specs/src/components/webhook.yaml
  packages/specs/src/openapi.yaml
Labels: Package: @directus/api, Bug, Package: @directus/specs

#20465 Fix typo for user `last_access` field in OAS
  .changeset/empty-parents-burn.md
  packages/specs/src/components/user.yaml
Labels: Bug, Package: @directus/specs

#20433 Refactor the file structure in data-sql
  packages/data-sql/src/query-converter/converter.ts
  packages/data-sql/src/query-converter/fields/create-join.test.ts
  packages/data-sql/src/query-converter/fields/create-nested-manys.ts
  packages/data-sql/src/query-converter/functions.test.ts
  packages/data-sql/src/query-converter/modifiers/filter/conditions/conditions.ts
  packages/data-sql/src/query-converter/modifiers/filter/conditions/field.test.ts
  packages/data-sql/src/query-converter/modifiers/filter/conditions/field.ts
  packages/data-sql/src/query-converter/modifiers/filter/conditions/geo.test.ts
  packages/data-sql/src/query-converter/modifiers/filter/conditions/geo.ts
  packages/data-sql/src/query-converter/modifiers/filter/conditions/number.test.ts
  packages/data-sql/src/query-converter/modifiers/filter/conditions/number.ts
  packages/data-sql/src/query-converter/modifiers/filter/conditions/set.test.ts
  packages/data-sql/src/query-converter/modifiers/filter/conditions/set.ts
  packages/data-sql/src/query-converter/modifiers/filter/conditions/string.test.ts
  packages/data-sql/src/query-converter/modifiers/filter/conditions/string.ts
  packages/data-sql/src/query-converter/modifiers/filter/filter.ts
  packages/data-sql/src/query-converter/modifiers/filter/index.ts
  packages/data-sql/src/query-converter/modifiers/filter/logical.ts
  packages/data-sql/src/query-converter/modifiers/filter/utils.ts
  packages/data-sql/src/query-converter/modifiers/index.ts
  packages/data-sql/src/query-converter/modifiers/sort.test.ts
  packages/data-sql/src/query-converter/modifiers/sort.ts
  packages/data-sql/src/query-converter/modifiers/target.test.ts
  packages/data-sql/src/query-converter/modifiers/target.ts
  packages/data-sql/src/types/abstract-sql.ts
  packages/data-sql/src/types/clauses.ts
  packages/data-sql/src/types/clauses/index.ts
  packages/data-sql/src/types/clauses/join.ts
  packages/data-sql/src/types/clauses/order.ts
  packages/data-sql/src/types/clauses/select/column.ts
  packages/data-sql/src/types/clauses/select/fn.ts
  packages/data-sql/src/types/clauses/select/index.ts
  packages/data-sql/src/types/clauses/select/json.ts
  packages/data-sql/src/types/clauses/select/primitive.ts
  packages/data-sql/src/types/clauses/where.ts
  packages/data-sql/src/types/clauses/where/condition.ts
  packages/data-sql/src/types/clauses/where/conditions/field-condition.ts
  packages/data-sql/src/types/clauses/where/conditions/geo-condition.ts
  packages/data-sql/src/types/clauses/where/conditions/index.ts
  packages/data-sql/src/types/clauses/where/conditions/number-condition.ts
  packages/data-sql/src/types/clauses/where/conditions/set-condition.ts
  packages/data-sql/src/types/clauses/where/conditions/string-condition.ts
  packages/data-sql/src/types/clauses/where/index.ts
  packages/data-sql/src/types/clauses/where/logical.ts
  packages/data-sql/src/types/index.ts
Labels: Package: @directus/data, Chore

#20464 fix default values for system-theme-overrides
  .changeset/moody-pants-smile.md
  api/src/database/system-data/fields/settings.yaml
  api/src/database/system-data/fields/users.yaml
  app/src/interfaces/_system/system-theme-overrides/system-theme-overrides.vue
Labels: Package: @directus/app, Bug

#20470 Update root deps
  app/src/layouts/cards/cards.vue
  package.json
  pnpm-lock.yaml
Labels: Dependencies, Chore

#20477 Update Vitest to v0.34.6
  api/package.json
  app/package.json
  app/vite.config.js
  packages/components/package.json
  packages/composables/package.json
  packages/data-driver-postgres/package.json
  packages/data-sql/package.json
  packages/data/package.json
  packages/errors/package.json
  packages/extensions-sdk/package.json
  packages/extensions/package.json
  packages/pressure/package.json
  packages/random/package.json
  packages/release-notes-generator/package.json
  packages/storage-driver-azure/package.json
  packages/storage-driver-cloudinary/package.json
  packages/storage-driver-cloudinary/src/index.test.ts
  packages/storage-driver-gcs/package.json
  packages/storage-driver-local/package.json
  packages/storage-driver-s3/package.json
  packages/storage-driver-supabase/package.json
  packages/storage/package.json
  packages/update-check/package.json
  packages/utils/package.json
  packages/validation/package.json
  pnpm-lock.yaml
  sdk/package.json
Labels: Dependencies, Chore

#20381 Fix error handling in Twilio extension building guide
  contributors.yml
  docs/guides/extensions/hooks-validate-number-twilio.md
Labels: Documentation

#20483 Update translations test to check date-fns formats
  app/src/lang/translations.test.ts
  app/src/lang/translations/vi-VN.yaml
Labels: Package: @directus/app, Bug

#20479 Update tsx to v4.1.4
  api/package.json
  pnpm-lock.yaml
Labels: Package: @directus/app, Dependencies

#20489 Fix blackbox assets tests
  tests/blackbox/common/config.ts
  tests/blackbox/routes/assets/format.test.ts
  tests/blackbox/routes/assets/read.test.ts
  tests/blackbox/routes/fields/crud.test.ts
Labels: Chore

#20494 Remove unused translation strings
  .changeset/honest-scissors-end.md
  app/src/lang/translations/en-US.yaml
Labels: Package: @directus/app, Optimization

#20498 Increased blackbox tests timeouts
  tests/blackbox/routes/assets/format.test.ts
  tests/blackbox/routes/auth/login.test.ts
Labels: Chore

#20506 Update `docs` dependencies
  docs/package.json
  pnpm-lock.yaml
Labels: Dependencies, Documentation

#20495 Allow configuration to prevent server startup when an extension fails to load
  .changeset/green-snakes-smash.md
  api/src/env.ts
  api/src/extensions/manager.ts
  docs/self-hosted/config-options.md
Labels: Package: @directus/api, Improvement

#20376 Document Services for Extensions
  .changeset/silly-phones-act.md
  docs/.vitepress/config.js
  docs/dictionary.txt
  docs/extensions/services/accessing-files.md
  docs/extensions/services/accessing-items.md
  docs/extensions/services/configuring-collections.md
  docs/extensions/services/introduction.md
  docs/extensions/services/working-with-users.md
Labels: Documentation

#20516 Clarifies that metadata is only autoextracted for images
  docs/reference/files.md
Labels: Documentation

#20520 Fix SnippetToggler sync
  docs/.vitepress/components/SnippetToggler.vue
  docs/.vitepress/composables/useLocalStorage.ts
  docs/package.json
  pnpm-lock.yaml
Labels: Documentation

#20519 Update Services for Extensions examples
  docs/extensions/services/accessing-files.md
  docs/extensions/services/accessing-items.md
  docs/extensions/services/configuring-collections.md
  docs/extensions/services/introduction.md
  docs/extensions/services/working-with-users.md
Labels: Documentation

#20532 Docs: Config / Data improvements
  docs/.vitepress/components/Badge.vue
  docs/.vitepress/components/guides/GuidesIndex.vue
  docs/.vitepress/components/guides/GuidesListExtensions.vue
  docs/.vitepress/components/guides/GuidesSection.vue
  docs/.vitepress/config.ts
  docs/.vitepress/data/blog.data.ts
  docs/.vitepress/data/directus.data.ts
  docs/.vitepress/data/guides.data.ts
  docs/.vitepress/data/guides.ts
  docs/.vitepress/data/packages.data.ts
  docs/.vitepress/data/sidebar.ts
  docs/.vitepress/theme/components/VPSidebarItem.vue
  docs/.vitepress/tsconfig.app.json
  docs/blog/[slug].md
  docs/blog/tags/[slug].md
  docs/extensions/installing-extensions.md
  docs/guides/[slug].md
  docs/guides/[slug].paths.ts
  docs/package.json
  docs/self-hosted/docker-guide.md
  docs/self-hosted/quickstart.md
  docs/tsconfig.node.json
  pnpm-lock.yaml
Labels: Documentation

#20530 Added note about generating static tokens
  .changeset/tired-papers-speak.md
  docs/reference/authentication.md
Labels: Documentation

#20534 Improve the file upload example via SDK in docs
  .changeset/mighty-years-occur.md
  docs/reference/files.md
Labels: Documentation

#20543 Fix 20195 ux improvement for uuid values in search-input filters
  .changeset/silly-onions-beam.md
  app/src/interfaces/_system/system-filter/input-component.vue
Labels: Package: @directus/app, Improvement

#20563 Fix alignment of half-width fields inside groups
  .changeset/swift-crabs-notice.md
  app/src/composables/use-form-fields.test.ts
  app/src/composables/use-form-fields.ts
Labels: Package: @directus/app, Bug

#20564 Default to exact version when adding packages
  .npmrc
Labels: Chore

#20565 Adjust heading levels for services docs pages
  docs/extensions/services/accessing-files.md
  docs/extensions/services/accessing-items.md
  docs/extensions/services/configuring-collections.md
  docs/extensions/services/introduction.md
  docs/extensions/services/working-with-users.md
Labels: Documentation

#20566 Clean-up obsolete tags in extensions docs pages
  docs/extensions/displays.md
  docs/extensions/email-templates.md
  docs/extensions/endpoints.md
  docs/extensions/hooks.md
  docs/extensions/interfaces.md
  docs/extensions/layouts.md
  docs/extensions/modules.md
  docs/extensions/operations.md
  docs/extensions/panels.md
Labels: Documentation

#20569 Fix SSO SAML examples in docs
  .changeset/shy-seahorses-sparkle.md
  docs/self-hosted/sso-examples.md
Labels: Documentation

#20570 Add hint for containers when running blackbox tests only against specific DBs
  docs/contributing/tests.md
Labels: Documentation

#20572 Switch to pnpm v8.11.0
  package.json
Labels: Dependencies, Chore

#20580 Export defineTheme from extensions-sdk package
  .changeset/tame-rabbits-impress.md
  packages/extensions-sdk/package.json
  packages/extensions-sdk/src/index.ts
  pnpm-lock.yaml
Labels: Bug, Package: @directus/extensions-sdk

#20581 Clean-up deps
  .changeset/tame-students-sip.md
  api/package.json
  app/package.json
  packages/components/package.json
  packages/constants/package.json
  packages/data-sql/package.json
  packages/errors/package.json
  packages/extensions/package.json
  packages/release-notes-generator/package.json
  packages/specs/package.json
  packages/storage-driver-local/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validation/package.json
  pnpm-lock.yaml
Labels: Dependencies

#20586 Docs update nodejs version 18
  docs/contributing/running-locally.md
  docs/self-hosted/cli.md
Labels: Documentation
