Repository directus/directus, pull requests merged in 2023-07, with the labels that each got.

#19005 Basic filters for PostgreSQL driver
  .changeset/beige-peas-fry.md
  packages/data-driver-postgres/src/query/index.test.ts
  packages/data-driver-postgres/src/query/index.ts
  packages/data-driver-postgres/src/query/where.test.ts
  packages/data-driver-postgres/src/query/where.ts
  packages/data-driver-postgres/src/utils/wrap-column.test.ts
  packages/data-driver-postgres/src/utils/wrap-column.ts
  packages/data-sql/src/converter/convert-filter.test.ts
  packages/data-sql/src/converter/convert-filter.ts
  packages/data-sql/src/converter/convert-primitive.ts
  packages/data-sql/src/converter/convert-sort.ts
  packages/data-sql/src/converter/index.test.ts
  packages/data-sql/src/converter/index.ts
  packages/data-sql/src/types.ts
  packages/data-sql/src/utils/param-index-generator.ts
  packages/data/src/types/abstract-query.ts
Labels: Package: @directus/data

#19066 Fixed the option color of the snippet toggler
  docs/.vitepress/components/SnippetToggler.vue
Labels: Documentation

#19021 Fix errors thrown for starts_with and ends_with variations
  .changeset/nasty-turtles-impress.md
  app/src/lang/translations/en-US.yaml
  packages/utils/shared/generate-joi.test.ts
  packages/utils/shared/generate-joi.ts
  packages/validation/src/errors/failed-validation.ts
  packages/validation/src/utils/joi-to-error-extensions.ts
Labels: Package: @directus/app, Bug, Package: @directus/utils, Package: @directus/validation

#19081 Add example for `_null`
  .changeset/rare-seas-tap.md
  docs/reference/filter-rules.md
Labels: Documentation

#19082 Docs: Update Quickstart guide
  docs/getting-started/quickstart.md
  docs/user-guide/overview/quickstart.md
Labels: Documentation

#19092 Fix Flow Status not being included in Staged Changes
  .changeset/lovely-spies-yawn.md
  app/src/modules/settings/routes/flows/flow.vue
Labels: Bug

#19093 Enable User Display for m2o and string
  .changeset/friendly-moose-press.md
  app/src/displays/user/index.ts
Labels: Package: @directus/app, Bug

#19075 Fix Vite hot reloading for local app extension development
  .changeset/loud-goats-poke.md
  app/vite.config.js
  contributors.yml
Labels: Package: @directus/api, Bug

#18731 Respect query limit in export sidebar
  .changeset/tough-ears-thank.md
  app/src/lang/translations/en-US.yaml
  app/src/views/private/components/export-sidebar-detail.vue
Labels: Package: @directus/app, Bug

#19108 Prevent saving flow when in operation edit drawer
  .changeset/odd-bottles-eat.md
  app/src/modules/settings/routes/flows/flow.vue
Labels: Package: @directus/app, Bug

#19111 Docs: Add self hosting path to quickstart guide
  docs/getting-started/quickstart.md
Labels: Documentation

#19118 Fix EditorJS Styling
  .changeset/hip-beans-wink.md
  app/src/interfaces/input-block-editor/editorjs-overrides.css
Labels: Package: @directus/app, Bug

#19117 Fix Extension Example
  docs/extensions/hooks.md
Labels: Documentation

#19119 Fix: Long flow logs break out of bounding box
  .changeset/kind-bugs-judge.md
  app/src/modules/settings/routes/flows/components/logs-sidebar-detail.vue
Labels: Package: @directus/app, Bug

#19115 Add Auto Cache Purging to Sorting Utility
  .changeset/nervous-onions-relate.md
  api/src/services/utils.ts
  api/src/utils/should-clear-cache.ts
Labels: Package: @directus/api, Bug

#19122 Tweak last quirks in hooks error example
  docs/contributing/codebase-overview.md
  docs/extensions/hooks.md
Labels: Documentation

#19114 Fix cleanup of unused `isBatch`
  .changeset/twelve-shoes-serve.md
  app/src/composables/use-item.ts
  app/src/modules/files/routes/item.vue
  app/src/modules/settings/routes/data-model/fields/fields.vue
  app/src/modules/settings/routes/roles/item/item.vue
  app/src/modules/settings/routes/webhooks/item.vue
  app/src/modules/users/routes/item.vue
Labels: Package: @directus/app, Bug

#19124 Fix inconsistency in field validation rules editor
  .changeset/neat-masks-bow.md
  app/src/interfaces/_system/system-filter/nodes.vue
  app/src/interfaces/_system/system-filter/system-filter.vue
Labels: Package: @directus/app, Bug

#19125 Document notice feature for changesets
  .changeset/proud-brooms-flash.md
  packages/release-notes-generator/readme.md
Labels: Improvement, Package: @directus/release-notes-generator

#19141 Fix meta tags inconsistencies
  .changeset/gentle-planets-trade.md
  app/index.html
  app/package.json
  app/public/browserconfig.xml
  app/public/img/icons/mstile-150x150.png
  app/public/img/icons/safari-pinned-tab.svg
  app/public/manifest.webmanifest
  app/src/app.vue
  app/src/composables/use-title.ts
  app/src/main.ts
  app/src/modules/content/routes/item.vue
  app/src/views/private/private-view.vue
  app/vite.config.js
  pnpm-lock.yaml
Labels: Package: @directus/app, Bug

#19143 Include PK as secondary sort in batch exports
  .changeset/clever-grapes-float.md
  api/src/services/import-export.ts
Labels: Package: @directus/api, Bug

#19144 Remove obsolete `webmanifest` extension from editorconfig
  .editorconfig
Labels: Chore

#19112 Fix formatted Kanban card text including HTML tags
  .changeset/plenty-dragons-drop.md
  app/src/layouts/kanban/kanban.vue
  contributors.yml
Labels: Package: @directus/app, Improvement

#19162 Don't track preview window as user's last page
  .changeset/shaggy-moose-stare.md
  app/src/router.ts
  app/src/stores/user.test.ts
  app/src/stores/user.ts
Labels: Package: @directus/app, Bug

#19164 Fix preview mode remaining open on create page
  .changeset/slimy-fishes-love.md
  app/src/modules/content/routes/item.vue
Labels: Package: @directus/app, Bug

#19168 Fix datetime string handler not matching default value for format option
  .changeset/selfish-berries-whisper.md
  app/src/displays/datetime/index.ts
Labels: Package: @directus/app, Bug

#19169 Add flows status to default app permissions
  .changeset/tidy-pumas-bow.md
  app/src/modules/settings/routes/roles/app-permissions.ts
Labels: Package: @directus/app, Bug

#19170 Add notice for missing field key on validation config
  .changeset/long-impalas-accept.md
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-validation.vue
Labels: Package: @directus/app, Bug

#19184 Don't check related perms for m2a deselect
  .changeset/eleven-bananas-hide.md
  app/src/composables/use-relation-permissions.ts
Labels: Package: @directus/app, Bug

#19197 Add tsconfig for Vue & CJS
  .changeset/forty-carrots-cover.md
  api/tsconfig.json
  docs/.vitepress/tsconfig.json
  docs/package.json
  packages/components/tsconfig.json
  packages/composables/tsconfig.json
  packages/constants/tsconfig.json
  packages/data-driver-postgres/tsconfig.json
  packages/data-sql/tsconfig.json
  packages/data/tsconfig.json
  packages/errors/tsconfig.json
  packages/extensions-sdk/tsconfig.json
  packages/pressure/tsconfig.json
  packages/random/tsconfig.json
  packages/release-notes-generator/src/index.ts
  packages/release-notes-generator/src/types.ts
  packages/release-notes-generator/src/utils/generate-markdown.test.ts
  packages/release-notes-generator/src/utils/generate-markdown.ts
  packages/release-notes-generator/src/utils/get-info.ts
  packages/release-notes-generator/src/utils/process-packages.ts
  packages/release-notes-generator/src/utils/process-release-lines.test.ts
  packages/release-notes-generator/src/utils/process-release-lines.ts
  packages/release-notes-generator/tsconfig.json
  packages/schema/tsconfig.json
  packages/storage-driver-azure/tsconfig.json
  packages/storage-driver-cloudinary/tsconfig.json
  packages/storage-driver-gcs/tsconfig.json
  packages/storage-driver-local/tsconfig.json
  packages/storage-driver-s3/tsconfig.json
  packages/storage/tsconfig.json
  packages/stores/tsconfig.json
  packages/themes/tsconfig.json
  packages/tsconfig/base/tsconfig.json
  packages/tsconfig/node18-cjs/tsconfig.json
  packages/tsconfig/node18-esm/tsconfig.json
  packages/tsconfig/package.json
  packages/tsconfig/vue/tsconfig.json
  packages/types/tsconfig.json
  packages/update-check/tsconfig.json
  packages/utils/tsconfig.json
  packages/validation/tsconfig.json
  pnpm-lock.yaml
Labels: Breaking Change, Package: @directus/tsconfig

#19200 Top Docs link should go to docs, not landing page
  docs/.vitepress/config.js
Labels: Documentation

#19201 Follow-up on new Vue / CJS tsconfigs
  docs/.vitepress/tsconfig.json
  packages/composables/tsconfig.json
  packages/stores/tsconfig.json
  packages/tsconfig/node18-cjs/tsconfig.json
  packages/tsconfig/node18-esm/tsconfig.json
  packages/tsconfig/package.json
  packages/tsconfig/readme.md
  packages/tsconfig/vue3/tsconfig.json
Labels: Package: @directus/tsconfig

#19198 Modernize TS setup for `app`
  .vscode/extensions.json
  app/env.d.ts
  app/package.json
  app/src/shims.d.ts
  app/stub/empty.d.ts
  app/tsconfig.json
  pnpm-lock.yaml
Labels: Package: @directus/app, Chore

#19155 Using the same data fetching logic for rest and graphql
  .changeset/fresh-snails-knock.md
  api/src/services/graphql/subscription.ts
  api/src/websocket/handlers/subscribe.ts
  api/src/websocket/utils/items.ts
Labels: Package: @directus/api, Bug

#19210 [Bug Fix] utils/url.js removing trailing slashes
  .changeset/amazing-flying-monkey.md
  api/src/utils/url.test.ts
  api/src/utils/url.ts
  contributors.yml
Labels: Package: @directus/api, Bug

#19221 feat: Disabling editing disables zoom
  .changeset/hot-colts-type.md
  app/src/interfaces/file-image/file-image.vue
Labels: Package: @directus/app, Improvement

#19220 Require 'collection' & 'item' fields for shares
  .changeset/smooth-paws-jog.md
  api/src/database/migrations/20230721A-require-shares-fields.ts
  api/src/database/system-data/fields/shares.yaml
  app/src/lang/translations/en-US.yaml
Labels: Package: @directus/api, Improvement

#19208 API: Do count distinct since `left join` duplicates results
  .changeset/angry-suits-compete.md
  api/src/services/meta.ts
  tests/blackbox/routes/items/m2a.test.ts
  tests/blackbox/routes/items/m2m.test.ts
  tests/blackbox/routes/items/m2o.test.ts
  tests/blackbox/routes/items/no-relation.test.ts
  tests/blackbox/routes/items/o2m.test.ts
Labels: Package: @directus/api

#19190 Add/Edit Link dialog: link text/url don't display in dialog after copy/paste, and cursor doesn't change focus.
  .changeset/new-frogs-destroy.md
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
  app/src/interfaces/input-rich-text-html/useLink.ts
Labels: Package: @directus/app, Bug

#18713 Add support for deep in useItems
  .changeset/smart-plants-cry.md
  packages/composables/src/use-items.ts
Labels: Package: @directus/app, Bug

#19073 Fix permissions using dynamic user or role fields
  .changeset/tiny-carpets-remain.md
  app/src/stores/permissions.test.ts
  app/src/stores/permissions.ts
  app/src/utils/parse-filter.test.ts
  app/src/utils/parse-filter.ts
  app/src/utils/parse-preset.test.ts
  docs/reference/filter-rules.md
Labels: Package: @directus/api, Bug

#19237 Make "Schedule Hook" test more stable
  tests/blackbox/flows/schedule-hook.seed.ts
  tests/blackbox/flows/schedule-hook.test.ts
  tests/blackbox/utils/sleep.ts
Labels: Chore

#19135 Supabase - Storage driver
  .changeset/gorgeous-owls-learn.md
  api/package.json
  api/src/storage/get-storage-driver.ts
  contributors.yml
  docs/dictionary.txt
  docs/self-hosted/config-options.md
  packages/storage-driver-supabase/license
  packages/storage-driver-supabase/package.json
  packages/storage-driver-supabase/readme.md
  packages/storage-driver-supabase/src/index.test.ts
  packages/storage-driver-supabase/src/index.ts
  packages/storage-driver-supabase/tsconfig.json
  packages/storage-driver-supabase/tsconfig.prod.json
  pnpm-lock.yaml
Labels: Feature, Package: @directus/storage

#19131 Update documentation guides to use new SDK
  docs/.vitepress/config.js
  docs/getting-started/quickstart.md
  docs/guides/headless-cms/build-static-website/next-13.md
  docs/guides/headless-cms/build-static-website/nuxt-3.md
  docs/guides/headless-cms/content-translations.md
  docs/guides/headless-cms/live-preview/nextjs.md
  docs/guides/headless-cms/live-preview/nuxt-3.md
  docs/guides/headless-cms/reusable-components.md
  docs/guides/headless-cms/schedule-content/dynamic-sites.md
  docs/guides/headless-cms/schedule-content/static-sites.md
  docs/guides/real-time/chat/vue.md
  docs/guides/sdk/getting-started.md
  docs/index.md
  docs/netlify.toml
  docs/reference/old-sdk.md
Labels: Documentation

#19239 Simplify `delayedSleep` in blackbox tests
  tests/blackbox/flows/schedule-hook.test.ts
  tests/blackbox/utils/sleep.ts
Labels: Chore

#19252 Fix URL seralizing of trailing slashes after adding paths
  .changeset/rare-shrimps-rescue.md
  api/src/utils/url.test.ts
  api/src/utils/url.ts
  pnpm-lock.yaml
Labels: Package: @directus/api, Bug

#19253 Update docs
  docs/.vitepress/config.js
  docs/app/data-model/fields/text-numbers.md
Labels: Documentation

#19254 Proper active link match for "Developer Reference" in docs
  docs/.vitepress/config.js
Labels: Documentation

#19256 Align example SDK URL in docs
  docs/reference/query.md
Labels: Documentation

#19267 Add details of websocket auth modes to config options
  .changeset/wicked-camels-protect.md
  docs/self-hosted/config-options.md
Labels: Documentation

#19270 Initial SDK release fixes
  .changeset/itchy-impalas-dream.md
  pnpm-lock.yaml
  sdk/package.json
  sdk/src/auth/composable.ts
  sdk/src/auth/types.ts
  sdk/src/rest/commands/auth/login.ts
  sdk/src/rest/commands/create/collections.ts
  sdk/src/rest/commands/create/relations.ts
  sdk/src/rest/commands/update/collections.ts
  sdk/src/rest/commands/update/relations.ts
  sdk/src/rest/composable.ts
  sdk/src/utils/request.ts
  sdk/tsup.config.js
Labels: Bug, Package: @directus/sdk

#19271 Delay retrieving context for conditions
  .changeset/spotty-pans-kick.md
  app/src/interfaces/_system/system-interface-options/system-interface-options.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-conditions.vue
Labels: Package: @directus/app, Bug

#19257 Enhance user fetching on user detail page
  .changeset/young-months-drive.md
  app/src/modules/users/routes/item.vue
Labels: Package: @directus/app, Bug

#19273 Enable usage of `Home` and `End` keys in input fields
  .changeset/friendly-mails-lick.md
  app/src/composables/use-shortcut.ts
Labels: Package: @directus/app, Bug

#19277 Fix "Invite user" SDK example in docs
  contributors.yml
  docs/reference/system/users.md
Labels: Documentation

#19281 Remove accidentially added npm lockfile in docs
  docs/package-lock.json
Labels: Chore

#19284 Correct docs for corresponding field for M2M relationship
  docs/app/data-model/relationships.md
Labels: Documentation

#19293 :scroll: fix typo : missing tag closing sign
  contributors.yml
  docs/app/flows/operations.md
Labels: Documentation

#19299 Fix full code sample in React Real-Time guide
  docs/guides/real-time/chat/react.md
Labels: Documentation

#19296 Fix deps definition of `@directus/types`
  .changeset/plenty-peas-drive.md
  packages/types/package.json
  pnpm-lock.yaml
Labels: Bug, Package: @directus/sdk, Package: @directus/types
