Repository directus/directus, pull requests merged in 2023-08, with the labels that each got.

#19305 Add max size to markdown interface
  .changeset/young-cooks-begin.md
  app/src/interfaces/input-rich-text-md/input-rich-text-md.vue
Labels: Package: @directus/app, Improvement

#19308 Allow to pass type to `useItem` & fix `User` type
  .changeset/wild-flowers-occur.md
  app/src/composables/use-item.ts
  app/src/modules/users/components/user-info-sidebar-detail.vue
  app/src/modules/users/routes/item.vue
  packages/types/src/users.ts
Labels: Package: @directus/app, Bug, Package: @directus/types

#19318 Update Project Settings
  docs/.vitepress/config.js
  docs/netlify.toml
  docs/user-guide/settings/project-settings.md
  docs/user-guide/settings/settings.md
Labels: Documentation

#19321 fix unexpected error when showing only selected checkbox values w/o defaults
  .changeset/tiny-guests-yawn.md
  app/src/interfaces/select-multiple-checkbox-tree/select-multiple-checkbox-tree.vue
  contributors.yml
Labels: Package: @directus/app, Bug

#19319 Refer to endoflife.date rather than manually listing database support
  docs/self-hosted/docker-guide.md
Labels: Documentation

#19325 SSO Examples URL Update
  docs/.vitepress/config.js
Labels: Documentation

#19049 Add Developer Blog to /docs
  docs/.vitepress/components/Article.vue
  docs/.vitepress/components/Avatar.vue
  docs/.vitepress/components/Badge.vue
  docs/.vitepress/components/blog/BlogHero.vue
  docs/.vitepress/components/blog/BlogIndex.vue
  docs/.vitepress/components/blog/PostMeta.vue
  docs/.vitepress/components/blog/Tag.vue
  docs/.vitepress/components/blog/TagsIndex.vue
  docs/.vitepress/config.js
  docs/.vitepress/data/blog.data.js
  docs/.vitepress/theme/overrides.css
  docs/.vitepress/theme/vars.css
  docs/.vitepress/utils/time.js
  docs/blog/[slug].md
  docs/blog/[slug].paths.js
  docs/blog/guest-author.md
  docs/blog/index.md
  docs/blog/tags/[slug].md
  docs/blog/tags/[slug].paths.js
  docs/home.css
  docs/index.md
Labels: Documentation

#19353 Add option for lazy loading image
  .changeset/clever-goats-relate.md
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
  app/src/interfaces/input-rich-text-html/useImage.ts
  app/src/lang/translations/en-US.yaml
Labels: Package: @directus/app, Improvement

#19367 Updated main quickstart to make self-hosted more prominent
  docs/.vitepress/config.js
  docs/.vitepress/theme/index.js
  docs/.vitepress/theme/overrides.css
  docs/getting-started/quickstart.md
  docs/package.json
  pnpm-lock.yaml
Labels: Documentation

#19365 fix detailed and improve simple variants of showing rating-display on card layout
  .changeset/calm-lions-fold.md
  app/src/displays/rating/rating.vue
  app/src/layouts/cards/components/card.vue
Labels: Package: @directus/app, Bug

#19374 Add file preview to m2o-fields if the relation is directus_files
  .changeset/dry-lies-juggle.md
  app/src/views/private/components/drawer-item.vue
Labels: Package: @directus/app, Bug

#19383 Fixed hiding of modals after failing to delete item
  .changeset/nervous-dolls-roll.md
  app/src/modules/content/routes/collection.vue
  app/src/modules/content/routes/item.vue
Labels: Package: @directus/app, Bug

#19381 Docs: Slightly more details regarding relations on the item object
  docs/reference/introduction.md
  docs/reference/items.md
Labels: Documentation

#19388 Docu: Fix 'Storage Asset Preset' link in 'Requesting a Thumbnail'
  docs/reference/files.md
Labels: Documentation

#19352 Filter out any non existent fields
  .changeset/short-hairs-beg.md
  app/src/layouts/tabular/index.ts
Labels: Package: @directus/app, Improvement

#19389 Fix not ignoring $thumbnail
  .changeset/rich-singers-dress.md
  app/src/composables/use-alias-fields.ts
Labels: Package: @directus/app, Bug

#19395 Fix displaying of thumbnail in O2M/M2O/M2A interfaces
  .changeset/chilly-fishes-own.md
  app/src/views/private/components/render-template.vue
Labels: Package: @directus/app, Bug

#19406 fix item-dropdown interface text overflowing
  .changeset/dull-elephants-carry.md
  app/src/interfaces/collection-item-dropdown/collection-item-dropdown.vue
Labels: Package: @directus/app, Bug

#19407 Fix "require shares fields" migration for strict MySQL
  .changeset/sixty-taxis-fix.md
  api/src/database/migrations/20230721A-require-shares-fields.ts
Labels: Package: @directus/api, Bug, DB: MySQL

#19402 Fix editor.js alignment not updating content
  .changeset/cuddly-ligers-tell.md
  app/package.json
  app/src/interfaces/input-block-editor/alignment.ts
  app/src/interfaces/input-block-editor/editorjs-overrides.css
  app/src/interfaces/input-block-editor/tools.ts
  pnpm-lock.yaml
Labels: Package: @directus/app, Bug

#19403 Fix not submitting meta keys
  .changeset/selfish-tables-dress.md
  app/src/components/v-form/v-form.vue
Labels: Package: @directus/app, Bug

#19408 Only show latest 4 blog posts on docs landing page
  docs/index.md
Labels: Documentation

#19412 Fix missing check for sort field
  .changeset/modern-turkeys-hang.md
  app/src/layouts/kanban/index.ts
Labels: Package: @directus/app, Bug

#19425 Add Breaking Changes page to self-hosted docs
  docs/.vitepress/config.js
  docs/dictionary.txt
  docs/self-hosted/breaking-changes.md
Labels: Documentation

#19409 Hide accordion section if field is hidden
  .changeset/blue-spiders-admire.md
  app/src/components/v-form/v-form.vue
  app/src/interfaces/group-accordion/accordion-section.vue
Labels: Package: @directus/app, Bug

#19437 Docs: 'hidden' blog posts
  docs/.vitepress/data/blog.data.js
  docs/blog/tags/[slug].paths.js
Labels: Documentation

#19430 Docs: Marked meta prameter as depecated in REST API
  docs/reference/query.md
Labels: Documentation

#19439 Fix using wrong type for default values
  .changeset/silent-poets-cover.md
  api/src/services/fields.ts
  api/src/utils/get-default-value.ts
Labels: Package: @directus/api, Bug, DB: MariaDB

#19434 Add JSON Web Token (JWT) operation
  .changeset/cold-pens-develop.md
  api/package.json
  api/src/operations/json-web-token/index.test.ts
  api/src/operations/json-web-token/index.ts
  app/src/lang/translations/en-US.yaml
  app/src/operations/json-web-token/index.ts
  docs/app/flows/operations.md
  pnpm-lock.yaml
Labels: Package: @directus/api, Package: @directus/app, Improvement

#19452 Consistent link to documentation of jsonwebtoken
  app/src/lang/translations/en-US.yaml
  docs/app/flows/operations.md
Labels: Documentation

#19453 Add new "Releases" section to place "Breaking Changes" page
  docs/.vitepress/config.js
  docs/getting-started/quickstart.md
  docs/releases/breaking-changes.md
Labels: Documentation

#19405 Add search in data-model collections overview
  .changeset/hungry-buckets-punch.md
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/data-model/collections/collections.vue
  app/src/modules/settings/routes/data-model/collections/components/collection-item.vue
Labels: Package: @directus/app, Improvement

#19441 Add prefix option to list-m2a
  .changeset/eighty-ants-attack.md
  app/src/interfaces/list-m2a/index.ts
  app/src/interfaces/list-m2a/list-m2a.vue
  app/src/lang/translations/en-US.yaml
Labels: Package: @directus/app, Improvement

#19444 Use technical collection/field names in settings
  .changeset/tame-dolphins-begin.md
  app/src/components/v-field-list/v-field-list-item.vue
  app/src/components/v-field-list/v-field-list.vue
  app/src/components/v-select/select-list-item-group.vue
  app/src/components/v-select/select-list-item.vue
  app/src/components/v-select/v-select.vue
  app/src/interfaces/_system/system-filter/nodes.vue
  app/src/interfaces/_system/system-filter/system-filter.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-relationship-m2a.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-simple/relationship-configuration.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail.vue
  app/src/modules/settings/routes/data-model/fields/fields.vue
  app/src/modules/settings/routes/presets/item.vue
  app/src/modules/settings/routes/roles/item/components/permissions-overview-row.vue
  app/src/modules/settings/routes/roles/permissions-detail/components/fields.vue
  app/src/modules/settings/routes/roles/permissions-detail/components/permissions.vue
  app/src/modules/settings/routes/roles/permissions-detail/components/validation.vue
  app/src/modules/settings/routes/roles/permissions-detail/permissions-detail.vue
Labels: Package: @directus/app, Improvement

#19481 SDK Fixed limit=-1 support
  .changeset/serious-tigers-clap.md
  sdk/src/rest/utils/query-to-params.ts
Labels: Bug, Package: @directus/sdk

#19479 Reuse already calculated values
  .changeset/few-chairs-cough.md
  app/src/composables/use-permissions.ts
Labels: Package: @directus/app, Optimization

#19446 Correct error message if unsupported file has been selected for image field
  .changeset/tame-pears-look.md
  app/src/interfaces/file-image/file-image.vue
Labels: Package: @directus/app, Bug

#19482 SDK Fixed relational object merging
  .changeset/thick-ducks-learn.md
  sdk/src/types/fields.ts
Labels: Improvement, Package: @directus/sdk

#19398 Enhance usage of dynamic user/role variables
  .changeset/nine-wombats-breathe.md
  packages/utils/shared/get-with-arrays.test.ts
  packages/utils/shared/get-with-arrays.ts
Labels: Improvement, Package: @directus/utils

#19483 Fix display of thumbnail with tabular layout in File Library
  .changeset/serious-pants-melt.md
  app/src/composables/use-alias-fields.ts
Labels: Package: @directus/app, Bug

#19468 Docs: Update dependencies & clean-up
  docs/.vitepress/components/Article.vue
  docs/.vitepress/components/Avatar.vue
  docs/.vitepress/components/Badge.vue
  docs/.vitepress/components/Contributors.vue
  docs/.vitepress/components/Feedback.vue
  docs/.vitepress/components/GuideMeta.vue
  docs/.vitepress/components/Meta.vue
  docs/.vitepress/components/blog/BlogIndex.vue
  docs/.vitepress/components/blog/PostMeta.vue
  docs/.vitepress/components/blog/TagsIndex.vue
  docs/.vitepress/config.js
  docs/.vitepress/data/blog.data.js
  docs/.vitepress/data/blog.data.ts
  docs/.vitepress/lib/date.ts
  docs/.vitepress/lib/directus.ts
  docs/.vitepress/theme/Layout.vue
  docs/.vitepress/theme/components/VPSidebarItem.vue
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/overrides.css
  docs/.vitepress/theme/vars.css
  docs/.vitepress/tsconfig.app.json
  docs/.vitepress/types/schema.ts
  docs/.vitepress/utils/time.js
  docs/blog/[slug].md
  docs/blog/[slug].paths.ts
  docs/blog/guest-author.md
  docs/blog/tags/[slug].md
  docs/blog/tags/[slug].paths.ts
  docs/guides/flows/flows-for-loop.md
  docs/guides/flows/generate-work-reports.md
  docs/guides/flows/slugify-text-with-run-script.md
  docs/guides/headless-cms/approval-workflows.md
  docs/guides/headless-cms/build-static-website/index.md
  docs/guides/headless-cms/build-static-website/next-13.md
  docs/guides/headless-cms/build-static-website/nuxt-3.md
  docs/guides/headless-cms/content-translations.md
  docs/guides/headless-cms/live-preview/index.md
  docs/guides/headless-cms/live-preview/nextjs.md
  docs/guides/headless-cms/live-preview/nuxt-3.md
  docs/guides/headless-cms/reusable-components.md
  docs/guides/headless-cms/schedule-content/dynamic-sites.md
  docs/guides/headless-cms/schedule-content/static-sites.md
  docs/guides/headless-cms/trigger-static-builds/netlify.md
  docs/guides/headless-cms/trigger-static-builds/vercel.md
  docs/guides/migration/hoppscotch.md
  docs/guides/migration/node.md
  docs/guides/template_shell.md
  docs/index.md
  docs/package.json
  docs/public/icons/nuxt.svg
  docs/tsconfig.json
  docs/tsconfig.node.json
  docs/use-cases/headless-cms/concepts.md
  docs/use-cases/headless-cms/introduction.md
  docs/use-cases/headless-cms/security.md
  docs/user-guide/index.md
  pnpm-lock.yaml
Labels: Documentation

#18952 Building Extensions Guides
  docs/.vitepress/components/guides/GuidesIndex.vue
  docs/.vitepress/components/guides/GuidesListExtensions.vue
  docs/.vitepress/components/guides/GuidesSection.vue
  docs/.vitepress/config.js
  docs/.vitepress/data/guides.data.js
  docs/dictionary.txt
  docs/extensions/creating-extensions.md
  docs/extensions/displays.md
  docs/extensions/email-templates.md
  docs/extensions/endpoints.md
  docs/extensions/hooks.md
  docs/extensions/interfaces.md
  docs/extensions/layouts.md
  docs/extensions/modules.md
  docs/extensions/operations.md
  docs/extensions/panels.md
  docs/guides/[slug].md
  docs/guides/[slug].paths.js
  docs/guides/extensions/displays-date-to-age.md
  docs/guides/extensions/displays-relational-summaries.md
  docs/guides/extensions/email-template.md
  docs/guides/extensions/endpoints-api-proxy-twilio.md
  docs/guides/extensions/endpoints-privileged-endpoint-stripe.md
  docs/guides/extensions/hooks-add-stripe-customer.md
  docs/guides/extensions/hooks-validate-number-twilio.md
  docs/guides/extensions/interfaces-radio-selector-icons.md
  docs/guides/extensions/interfaces-relational-dropdown.md
  docs/guides/extensions/layouts-getting-started.md
  docs/guides/extensions/operations-add-record-comments.md
  docs/guides/extensions/operations-bulk-email-sendgrid.md
  docs/guides/extensions/operations-npm-package.md
  docs/guides/extensions/operations-send-sms-twilio.md
  docs/guides/extensions/panels-send-sms-twilio.md
  docs/guides/index.md
  docs/index.md
  packages/create-directus-extension/readme.md
Labels: Documentation

#19487 Added less-technical language in Docker Quickstart
  docs/dictionary.txt
  docs/self-hosted/quickstart.md
Labels: Documentation

#19511 Enable checks for `next` branch
  .github/workflows/blackbox-pr.yml
  .github/workflows/check.yml
  .github/workflows/docs.yml
Labels: Chore

#19514 Enable more checks for `next` branch
  .github/workflows/blackbox-main.yml
  .github/workflows/check.yml
Labels: Chore

#19436 Fix deep sanitizeQuery
  .changeset/eleven-timers-cross.md
  api/src/utils/sanitize-query.test.ts
  api/src/utils/sanitize-query.ts
Labels: Package: @directus/api, Bug

#19522 Add missing system collection redirects
  .changeset/rude-ducks-brake.md
  app/src/modules/content/index.ts
Labels: Package: @directus/app, Improvement

#19521 Fix condition for collection & item data in notification operation
  .changeset/quick-otters-march.md
  api/src/operations/notification/index.ts
Labels: Package: @directus/api, Bug

#19513 Redact env values in logs for Flows
  .changeset/cold-maps-teach.md
  api/src/flows.ts
  api/src/logger.test.ts
  api/src/logger.ts
  api/src/utils/redact-object.test.ts
  api/src/utils/redact-object.ts
  api/src/utils/redact.ts
  packages/constants/src/index.ts
  packages/constants/src/log.ts
  packages/utils/shared/get-redacted-string.test.ts
  packages/utils/shared/get-redacted-string.ts
  packages/utils/shared/index.ts
Labels: Package: @directus/api, Improvement

#19527 Fix sync of table header fields when editing presets
  .changeset/nine-knives-live.md
  app/src/layouts/tabular/index.ts
Labels: Package: @directus/app, Bug

#19332 Replace vm2 with isolated-vm
  .changeset/cold-bugs-try.md
  api/package.json
  api/src/env.ts
  api/src/operations/exec/index.test.ts
  api/src/operations/exec/index.ts
  api/src/services/graphql/index.ts
  api/src/services/server.ts
  app/src/operations/exec/index.test.ts
  app/src/operations/exec/index.ts
  app/src/stores/server.ts
  docs/app/flows/operations.md
  docs/releases/breaking-changes.md
  docs/self-hosted/config-options.md
  docs/self-hosted/docker-guide.md
  pnpm-lock.yaml
  sdk/src/rest/commands/server/info.ts
Labels: Package: @directus/api, Package: @directus/app, Breaking Change, Documentation

#19463 Content Versioning
  .changeset/clean-berries-do.md
  api/src/__utils__/snapshots.ts
  api/src/app.ts
  api/src/controllers/branches.ts
  api/src/database/migrations/20230823A-add-content-versioning.ts
  api/src/database/system-data/fields/branches.yaml
  api/src/database/system-data/fields/collections.yaml
  api/src/middleware/respond.ts
  api/src/services/branches.ts
  api/src/types/collection.ts
  api/src/utils/apply-snapshot.test.ts
  api/src/utils/sanitize-query.ts
  api/src/utils/validate-query.ts
  app/src/composables/use-branches.ts
  app/src/composables/use-revisions.ts
  app/src/interfaces/_system/system-display-template/system-display-template.vue
  app/src/lang/translations/en-US.yaml
  app/src/modules/content/components/branch-menu.vue
  app/src/modules/content/components/branch-merge-drawer.vue
  app/src/modules/content/components/branch-merge-field.vue
  app/src/modules/content/routes/item.vue
  app/src/modules/settings/routes/flows/components/logs-sidebar-detail.vue
  app/src/modules/settings/routes/flows/triggers.ts
  app/src/views/private/components/revision-item.vue
  app/src/views/private/components/revisions-drawer-detail.vue
  docs/.vitepress/config.js
  docs/extensions/hooks.md
  docs/reference/query.md
  docs/reference/system/branches.md
  packages/constants/src/activity.ts
  packages/types/src/branches.ts
  packages/types/src/collection.ts
  packages/types/src/index.ts
  packages/types/src/query.ts
Labels: Package: @directus/api, Package: @directus/app, Feature

#19510 Support for prereleases in release workflow
  .changeset/metal-dodos-return.md
  .github/workflows/release.yml
  docs/package.json
  packages/release-notes-generator/package.json
  packages/release-notes-generator/readme.md
  packages/release-notes-generator/src/config.ts
  packages/release-notes-generator/src/constants.ts
  packages/release-notes-generator/src/index.ts
  packages/release-notes-generator/src/types.ts
  packages/release-notes-generator/src/utils/generate-markdown.test.ts
  packages/release-notes-generator/src/utils/generate-markdown.ts
  packages/release-notes-generator/src/utils/get-info.test.ts
  packages/release-notes-generator/src/utils/get-info.ts
  packages/release-notes-generator/src/utils/process-packages.test.ts
  packages/release-notes-generator/src/utils/process-packages.ts
  pnpm-lock.yaml
  tests/blackbox/package.json
Labels: Feature, Package: @directus/release-notes-generator, Chore

#19541 Guest Author Application Form -> GitHub Issue
  docs/blog/guest-author.md
  docs/getting-started/introduction.md
Labels: Documentation

#19524 Fix decompression in file import endpoint
  .changeset/rich-badgers-cough.md
  api/src/services/files.ts
Labels: Package: @directus/api, Bug

#19528 Fix layout previews in presets view
  .changeset/smart-parrots-suffer.md
  app/src/layouts/calendar/index.ts
  app/src/modules/settings/routes/presets/item.vue
  packages/composables/src/use-layout.ts
  packages/types/src/layouts.ts
Labels: Package: @directus/app, Bug

#19551 Improve stale github action
  .github/workflows/stale.yml
Labels: Improvement

#19557 Add Warning to TypeDoc Pages
  docs/.vitepress/theme/Layout.vue
Labels: Documentation

#19562 Remove leftover docs page
  docs/user-guide/index.md
Labels: Documentation

#19563 Fix syntax of AWS SSO example in docs
  docs/self-hosted/sso-examples.md
Labels: Documentation

#19548 Google SAML example
  .changeset/sharp-carrots-wink.md
  contributors.yml
  docs/self-hosted/sso-examples.md
Labels: Documentation

#19550 Add email body for completed exports to file library
  .changeset/young-eels-clean.md
  api/src/services/activity.ts
  api/src/services/import-export.ts
Labels: Package: @directus/api, Improvement
