Repository directus/directus, pull requests merged in 2023-12, with the labels that each got.

#20602 Update tsx to 4.6.1
  api/package.json
  pnpm-lock.yaml
Labels: Dependencies, Chore

#20587 Pasting list into 'Is One Of' filter not working
  .changeset/rich-yaks-taste.md
  app/src/interfaces/_system/system-filter/input-group.vue
Labels: Package: @directus/app, Bug

#20578 Calendar Layout: Fix #20576 by falling back to the calendar filter even if no user filter is provided
  .changeset/plenty-seahorses-taste.md
  app/src/layouts/calendar/index.ts
Labels: Package: @directus/app, Bug

#20627 Add support for MIGRATIONS_PATH
  .changeset/twenty-socks-brush.md
  api/src/database/migrations/run.ts
  api/src/env.ts
  docs/self-hosted/config-options.md
Labels: Package: @directus/api, Improvement, Breaking Change

#20612 Change default sort column when a sort field is present
  .changeset/plenty-vans-admire.md
  app/src/layouts/tabular/index.ts
  contributors.yml
Labels: Package: @directus/app, Bug

#20629 Default sort by sort field in tabular layout
  .changeset/metal-spiders-boil.md
  app/src/layouts/tabular/index.ts
Labels: Package: @directus/app, Bug

#20525 Fix `app/` typescript errors
  app/src/components/transition/expand.vue
  app/src/components/transition/transition-bounce.stories.ts
  app/src/components/transition/transition-dialog.stories.ts
  app/src/components/transition/transition-expand.stories.ts
  app/src/components/v-avatar.stories.ts
  app/src/components/v-checkbox-tree/v-checkbox-tree.test.ts
  app/src/components/v-field-list/v-field-list.vue
  app/src/components/v-field-template/field-list-item.vue
  app/src/components/v-field-template/v-field-template.vue
  app/src/components/v-form/form-field-label.vue
  app/src/components/v-form/form-field-raw-editor.test.ts
  app/src/components/v-form/form-field-raw-editor.vue
  app/src/components/v-form/form-field.vue
  app/src/components/v-form/v-form.vue
  app/src/components/v-form/validation-errors.vue
  app/src/components/v-icon/social-icon.vue
  app/src/components/v-icon/v-icon.vue
  app/src/components/v-select/select-list-item-group.vue
  app/src/components/v-select/select-list-item.vue
  app/src/components/v-select/v-select.vue
  app/src/components/v-table/table-header.vue
  app/src/components/v-table/table-row.vue
  app/src/components/v-table/v-table.vue
  contributors.yml
Labels: Package: @directus/app, Optimization

#20638 Split up abstract sql in root and sub query
  packages/data-driver-postgres/src/index.test.ts
  packages/data-driver-postgres/src/index.ts
  packages/data-sql/src/index.ts
  packages/data-sql/src/orm/expand.test.ts
  packages/data-sql/src/orm/expand.ts
  packages/data-sql/src/orm/index.ts
  packages/data-sql/src/query-converter/converter-integration.test.ts
  packages/data-sql/src/query-converter/converter.test.ts
  packages/data-sql/src/query-converter/converter.ts
  packages/data-sql/src/query-converter/fields/create-nested-manys.test.ts
  packages/data-sql/src/query-converter/fields/create-nested-manys.ts
  packages/data-sql/src/query-converter/fields/create-primitive-select.test.ts
  packages/data-sql/src/query-converter/fields/create-primitive-select.ts
  packages/data-sql/src/query-converter/fields/fields.test.ts
  packages/data-sql/src/query-converter/fields/fields.ts
  packages/data-sql/src/query-converter/modifiers/target.test.ts
  packages/data-sql/src/query-converter/modifiers/target.ts
  packages/data-sql/src/types/abstract-sql.ts
  packages/data-sql/src/utils/create-unique-alias.ts
  packages/data-sql/src/utils/get-mapped-queries-stream.test.ts
  packages/data-sql/src/utils/get-mapped-queries-stream.ts
  packages/data-sql/src/utils/index.ts
  packages/data-sql/src/utils/map-result.test.ts
  packages/data-sql/src/utils/map-result.ts
  packages/data-sql/src/utils/nested-many.ts
Labels: Package: @directus/data

#20654 Add select node to abstract SQL that combines primitive and fn
  packages/data-driver-postgres/src/utils/functions.test.ts
  packages/data-driver-postgres/src/utils/functions.ts
  packages/data-sql/src/query-converter/fields/create-nested-manys.ts
  packages/data-sql/src/query-converter/fields/create-primitive-select.ts
  packages/data-sql/src/query-converter/functions.test.ts
  packages/data-sql/src/query-converter/functions.ts
  packages/data-sql/src/query-converter/modifiers/sort.test.ts
  packages/data-sql/src/query-converter/modifiers/target.ts
  packages/data-sql/src/types/clauses.ts
  packages/data-sql/src/types/clauses/index.ts
  packages/data-sql/src/types/clauses/order.ts
  packages/data-sql/src/types/clauses/select.ts
  packages/data-sql/src/types/clauses/select/fn.ts
  packages/data-sql/src/types/clauses/select/primitive.ts
  packages/data-sql/src/types/clauses/where/conditions/field-condition.ts
  packages/data-sql/src/types/clauses/where/conditions/geo-condition.ts
  packages/data-sql/src/types/clauses/where/conditions/number-condition.ts
  packages/data-sql/src/types/clauses/where/conditions/set-condition.ts
  packages/data-sql/src/types/clauses/where/conditions/string-condition.ts
Labels: Optimization, Package: @directus/data

#20644 Add missing translation strings, type & icon for theme extensions
  .changeset/green-dolls-clean.md
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/extensions/constants/icons.ts
  packages/extensions/package.json
  packages/extensions/src/shared/types/app-extension-config.ts
  pnpm-lock.yaml
Labels: Package: @directus/app, Bug, Package: @directus/extensions

#20669 Override Vite config for Histoire
  app/histoire.config.ts
  app/vite.config.js
Labels: Package: @directus/app, Chore

#20693 Replace `got` in update-check to prevent CLI crash
  .changeset/brave-suns-hang.md
  packages/update-check/package.json
  packages/update-check/src/cache.ts
  packages/update-check/src/index.test.ts
  packages/update-check/src/index.ts
  pnpm-lock.yaml
Labels: Bug, Package: @directus/update-check, External

#20691 Fix typos in documentation pages and SDK readme
  .changeset/lucky-dolls-double.md
  contributors.yml
  docs/app/flows.md
  docs/getting-started/introduction.md
  docs/guides/flows/flows-for-loop.md
  docs/guides/template_shell.md
  sdk/readme.md
Labels: Documentation, Package: @directus/sdk

#20695 Fix check for bootstrap success in blackbox test
  tests/blackbox/setup/setup.ts
Labels: Chore

#20701 Remove flaky api storage test
  api/src/storage/register-locations.test.ts
Labels: Package: @directus/api, Chore

#20702 Switch to pnpm v8.12.0
  package.json
Labels: Chore

#20703 Update root deps
  package.json
  pnpm-lock.yaml
Labels: Dependencies, Chore

#20705 Update GitHub actions in workflows
  .github/actions/prepare/action.yml
  .github/workflows/blackbox.yml
  .github/workflows/check.yml
  .github/workflows/cla.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/sync-dockerhub-readme.yml
Labels: Chore

#20706 Update blackbox test deps
  pnpm-lock.yaml
  tests/blackbox/package.json
Labels: Dependencies, Chore

#20708 Align versions in dev / test docker compose files
  docker-compose.yml
  tests/blackbox/docker-compose.yml
Labels: Chore

#20709 Fix new postgis image versions
  docker-compose.yml
  tests/blackbox/docker-compose.yml
Labels: Chore

#20710 Update TypeScript to 5.3.3
  api/package.json
  app/package.json
  docs/package.json
  package.json
  packages/components/package.json
  packages/composables/package.json
  packages/constants/package.json
  packages/data-driver-postgres/package.json
  packages/data-sql/package.json
  packages/data/package.json
  packages/errors/package.json
  packages/extensions-sdk/package.json
  packages/extensions/package.json
  packages/pressure/package.json
  packages/random/package.json
  packages/release-notes-generator/package.json
  packages/schema/package.json
  packages/storage-driver-azure/package.json
  packages/storage-driver-cloudinary/package.json
  packages/storage-driver-gcs/package.json
  packages/storage-driver-local/package.json
  packages/storage-driver-s3/package.json
  packages/storage-driver-supabase/package.json
  packages/storage/package.json
  packages/stores/package.json
  packages/themes/package.json
  packages/types/package.json
  packages/update-check/package.json
  packages/utils/package.json
  packages/validation/package.json
  pnpm-lock.yaml
  sdk/package.json
Labels: Dependencies, Chore

#20711 Update Vue to 3.3.11
  .changeset/spicy-dolphins-grow.md
  app/package.json
  packages/components/package.json
  packages/composables/package.json
  packages/extensions-sdk/package.json
  packages/extensions/package.json
  packages/stores/package.json
  packages/themes/package.json
  packages/types/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: Package: @directus/app, Dependencies, Package: @directus/types, Package: @directus/utils, Package: @directus/composables, Package: @directus/extensions-sdk, Package: @directus/stores, Package: @directus/themes, Package: @directus/extensions

#20714 Patch Tuesday 🐸
  .changeset/brown-maps-float.md
  api/package.json
  api/src/middleware/rate-limiter-ip.ts
  api/src/utils/get-ip-from-req.ts
  api/src/websocket/controllers/base.ts
  api/src/websocket/handlers/heartbeat.ts
  api/src/websocket/types.ts
  app/package.json
  docs/package.json
  packages/components/package.json
  packages/composables/package.json
  packages/create-directus-extension/package.json
  packages/create-directus-project/package.json
  packages/data-driver-postgres/package.json
  packages/data-sql/package.json
  packages/data/package.json
  packages/errors/package.json
  packages/extensions-sdk/package.json
  packages/extensions-sdk/src/cli/commands/build.ts
  packages/extensions/package.json
  packages/random/package.json
  packages/release-notes-generator/package.json
  packages/schema/package.json
  packages/storage-driver-azure/package.json
  packages/storage-driver-cloudinary/package.json
  packages/storage-driver-gcs/package.json
  packages/storage-driver-gcs/src/index.ts
  packages/storage-driver-local/package.json
  packages/storage-driver-s3/package.json
  packages/storage-driver-s3/src/index.test.ts
  packages/storage-driver-s3/src/index.ts
  packages/storage-driver-supabase/package.json
  packages/storage/package.json
  packages/stores/package.json
  packages/themes/package.json
  packages/types/package.json
  packages/types/src/accountability.ts
  packages/update-check/package.json
  packages/utils/package.json
  packages/validation/package.json
  pnpm-lock.yaml
  sdk/package.json
  sdk/src/auth/composable.ts
Labels: Dependencies

#20641 Add translatable label to themes and field translations
  .changeset/pink-deers-repair.md
  app/src/interfaces/_system/system-theme/system-theme.vue
  app/src/lang/translations/en-US.yaml
  docs/extensions/themes.md
  packages/extensions-sdk/templates/theme/javascript/source/index.js
  packages/extensions-sdk/templates/theme/typescript/source/index.ts
  packages/themes/src/composables/use-theme.ts
  packages/themes/src/schemas/theme.ts
  packages/themes/src/themes/dark/default.ts
  packages/themes/src/themes/light/color-match.ts
  packages/themes/src/themes/light/default.ts
  packages/themes/src/themes/light/minimal.ts
Labels: Package: @directus/app, Improvement

#20724 `public_favicon` should be a system relation
  .changeset/stale-jobs-shop.md
  api/src/database/system-data/relations/relations.yaml
Labels: Package: @directus/api, Bug

#20733 Fix various styling issues in block editor interface
  .changeset/lazy-impalas-attack.md
  app/src/interfaces/input-block-editor/editorjs-overrides.css
  app/src/interfaces/input-block-editor/input-block-editor.vue
Labels: Package: @directus/app, Bug

#20725 Add `.env` info to docker-compose guide
  contributors.yml
  docs/self-hosted/docker-guide.md
Labels: Documentation

#20736 filter with implicit logical operator for a field results in infinite loop
  .changeset/unlucky-suits-cough.md
  packages/utils/shared/parse-filter.test.ts
  packages/utils/shared/parse-filter.ts
Labels: Package: @directus/api, Bug

#20735 Allow editing content versions without edit permission on the main version item
  .changeset/big-walls-knock.md
  app/src/modules/content/components/version-menu.vue
  app/src/modules/content/components/version-promote-drawer.vue
  app/src/modules/content/routes/item.vue
Labels: Package: @directus/app, Improvement

#20744 Fix BigInt primary key routing
  .changeset/chatty-eagles-fix.md
  api/src/utils/apply-query.test.ts
  api/src/utils/apply-query.ts
Labels: Package: @directus/api, Bug

#20750 do not remove custom devDependencies on bundle add
  .changeset/old-mails-explain.md
  packages/extensions-sdk/src/cli/commands/add.ts
  packages/extensions/src/shared/schemas/manifest.ts
Labels: Bug, Package: @directus/extensions-sdk

#20752 add a `--no-install` option to the extensions-sdk cli to skip dep install
  .changeset/young-items-brush.md
  packages/create-directus-extension/lib/index.js
  packages/extensions-sdk/src/cli/commands/add.ts
  packages/extensions-sdk/src/cli/commands/create.ts
  packages/extensions-sdk/src/cli/run.ts
Labels: Improvement, Package: @directus/extensions-sdk

#20677 Fixes enabling/disabling extensions
  api/src/extensions/manager.ts
  app/src/composables/use-edits-guard.ts
  app/src/composables/use-navigation-guard.ts
  app/src/composables/use-reload-guard.ts
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/extensions/components/extension-group-divider.vue
  app/src/modules/settings/routes/extensions/components/extension-item.vue
  app/src/modules/settings/routes/extensions/extensions.vue
  app/vite.config.js
  packages/extensions/src/node/utils/generate-extensions-entrypoint.test.ts
  packages/extensions/src/node/utils/generate-extensions-entrypoint.ts
Labels: Package: @directus/api, Package: @directus/app, Bug, Enterprise

#20760 Fix boolean attributes for draggable component
  .changeset/hot-clouds-protect.md
  app/src/components/v-table/table-header.vue
  app/src/components/v-table/v-table.vue
  app/src/interfaces/_system/system-fields/system-fields.vue
  app/src/interfaces/_system/system-filter/nodes.vue
  app/src/interfaces/_system/system-modules/system-modules.vue
  app/src/interfaces/files/files.vue
  app/src/interfaces/list-m2a/list-m2a.vue
  app/src/interfaces/list-m2m/list-m2m.vue
  app/src/interfaces/list-o2m-tree-view/nested-draggable.vue
  app/src/interfaces/list-o2m/list-o2m.vue
  app/src/interfaces/list/list.vue
  app/src/modules/settings/routes/data-model/collections/collections.vue
  app/src/modules/settings/routes/data-model/collections/components/collection-item.vue
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
  app/src/modules/settings/routes/data-model/fields/components/fields-management.vue
Labels: Package: @directus/app, Bug

#20761 Switch to pnpm 8.12.1
  package.json
Labels: Chore

#20764 Update Vite to v5
  app/package.json
  packages/components/package.json
  packages/themes/package.json
  pnpm-lock.yaml
Labels: Package: @directus/app, Dependencies

#20763 Small enhancement to extensions UI
  app/src/modules/settings/routes/extensions/components/extension-item.vue
Labels: Package: @directus/app, Optimization

#20766 Update Knex to v3
  .changeset/wicked-plants-peel.md
  api/package.json
  packages/extensions/package.json
  packages/schema/package.json
  packages/types/package.json
  pnpm-lock.yaml
Labels: Package: @directus/api, Dependencies, Package: @directus/types, Package: @directus/schema, Package: @directus/extensions

#20770 Split up server startup in schema cache test
  pnpm-lock.yaml
  tests/blackbox/package.json
  tests/blackbox/routes/collections/schema-cache.test.ts
Labels: Chore

#20771 Fix example output for array environment syntax prefix
  .changeset/ninety-cats-greet.md
  docs/self-hosted/config-options.md
Labels: Documentation

#20773 Split up server startup in cache purge blackbox test
  tests/blackbox/routes/collections/schema-cache.test.ts
  tests/blackbox/routes/permissions/cache-purge.test.ts
  tests/blackbox/setup/setup.ts
  tests/blackbox/websocket/general.test.ts
Labels: Chore

#20772 Fix one-to-many table design
  .changeset/forty-impalas-poke.md
  app/src/interfaces/list-o2m/list-o2m.vue
Labels: Package: @directus/app, Optimization

#19067 Add the latest version of oracledb to api/package.json
  .changeset/itchy-roses-itch.md
  .github/workflows/blackbox.yml
  api/package.json
  contributors.yml
  pnpm-lock.yaml
Labels: Package: @directus/api, Improvement

#20765 Add missing pong reply in docs
  .changeset/yellow-bulldogs-impress.md
  contributors.yml
  docs/guides/real-time/getting-started/websockets.md
Labels: Documentation

#20780 Publicly load custom translations
  .changeset/happy-timers-think.md
  app/src/lang/set-language.ts
  app/src/stores/translations.ts
Labels: Package: @directus/app, Improvement, Enterprise

#20518 do not show subdued color on delete collection/field option hover
  .changeset/large-boats-boil.md
  app/src/components/v-list-item.vue
Labels: Package: @directus/app, Bug

#20616 Document DB_SSL__CA Environment Variable
  .changeset/angry-geckos-smile.md
  contributors.yml
  docs/self-hosted/config-options.md
Labels: Documentation

#20675 Add documentation for Directus UI Components
  .changeset/sharp-tomatoes-share.md
  docs/.vitepress/data/sidebar.ts
  docs/extensions/using-ui-components.md
Labels: Documentation

#20779 Adding blog posts to guides lists
  docs/.vitepress/data/guides.ts
Labels: Documentation

#20774 fix(sdk): changed keys to keysOrQuery to accept both keys and query in updateItems
  .changeset/heavy-meals-poke.md
  contributors.yml
  sdk/src/rest/commands/update/items.ts
Labels: Improvement, Package: @directus/sdk

#20630 Add docs guides for building modules
  .changeset/funny-starfish-smile.md
  docs/.vitepress/data/guides.ts
  docs/blog/guest-author.md
  docs/blog/index.md
  docs/dictionary.txt
  docs/extensions/displays.md
  docs/extensions/email-templates.md
  docs/extensions/endpoints.md
  docs/extensions/hooks.md
  docs/extensions/interfaces.md
  docs/extensions/layouts.md
  docs/extensions/modules.md
  docs/extensions/operations.md
  docs/extensions/panels.md
  docs/guides/extensions/modules-build-landing-page.md
  docs/guides/extensions/modules-native-layout-features.md
  docs/guides/index.md
  docs/index.md
Labels: Documentation

#20790 UI Components Nav Item Rename
  docs/.vitepress/data/sidebar.ts
Labels: Documentation

#20794 Fix dead links in documentation
  .changeset/fresh-rocks-breathe.md
  docs/app/data-model/collections.md
  docs/extensions/services/working-with-users.md
  docs/guides/extensions/modules-native-layout-features.md
  docs/guides/headless-cms/build-static-website/next-13.md
  docs/guides/headless-cms/build-static-website/nuxt-3.md
  docs/self-hosted/quickstart.md
  docs/use-cases/headless-cms/security.md
  docs/user-guide/content-module/translation-strings.md
  docs/user-guide/overview/data-studio-app.md
  docs/user-guide/overview/glossary.md
Labels: Documentation

#20796 Selective Patch Tuesday 🐸
  .changeset/selfish-radios-hug.md
  .github/workflows/codeql-analysis.yml
  api/package.json
  api/src/auth/drivers/oauth2.ts
  api/src/auth/drivers/openid.ts
  api/src/extensions/lib/get-shared-deps-mapping.ts
  api/src/services/payload.ts
  api/src/utils/md.test.ts
  api/src/utils/md.ts
  app/package.json
  app/src/utils/md.test.ts
  app/src/utils/md.ts
  package.json
  packages/components/package.json
  packages/composables/package.json
  packages/data-driver-postgres/package.json
  packages/data-sql/package.json
  packages/data/package.json
  packages/errors/package.json
  packages/extensions-sdk/package.json
  packages/extensions/package.json
  packages/memory/package.json
  packages/memory/src/kv/lib/redis.test.ts
  packages/pressure/package.json
  packages/random/package.json
  packages/release-notes-generator/package.json
  packages/storage-driver-azure/package.json
  packages/storage-driver-cloudinary/package.json
  packages/storage-driver-gcs/package.json
  packages/storage-driver-local/package.json
  packages/storage-driver-s3/package.json
  packages/storage-driver-supabase/package.json
  packages/storage/package.json
  packages/stores/package.json
  packages/themes/package.json
  packages/types/package.json
  packages/update-check/package.json
  packages/utils/package.json
  packages/validation/package.json
  pnpm-lock.yaml
  sdk/package.json
  tests/blackbox/package.json
Labels: Dependencies

#20800 Update date-fns to 3.0.1
  .changeset/mighty-files-run.md
  api/package.json
  app/package.json
  app/src/interfaces/datetime/datetime.vue
  app/src/utils/get-date-fns-locale.ts
  app/src/utils/localized-format-distance-strict.ts
  app/src/utils/localized-format-distance.ts
  app/src/utils/localized-format.ts
  app/src/views/private/components/comment-item-header.vue
  packages/utils/package.json
  pnpm-lock.yaml
Labels: Dependencies

#20793 Categorize the `directus_extensions` endpoint as a system collection in the sdk
  .changeset/tasty-trees-hunt.md
  docs/reference/system/extensions.md
  docs/releases/breaking-changes.md
  sdk/src/rest/commands/read/extensions.ts
  sdk/src/rest/commands/update/extensions.ts
  sdk/src/rest/commands/update/index.ts
  sdk/src/schema/core.ts
  sdk/src/schema/extension.ts
  sdk/src/schema/index.ts
  sdk/src/types/extensions.ts
  sdk/src/types/index.ts
Labels: Breaking Change, Package: @directus/sdk

#20806 Fixing broken links, linking to solutions pages
  docs/getting-started/introduction.md
  docs/guides/headless-cms/approval-workflows.md
  docs/guides/headless-cms/build-static-website/next-13.md
  docs/guides/headless-cms/build-static-website/nuxt-3.md
  docs/guides/headless-cms/live-preview/nextjs.md
  docs/guides/headless-cms/live-preview/nuxt-3.md
  docs/guides/headless-cms/schedule-content/dynamic-sites.md
  docs/guides/headless-cms/trigger-static-builds/netlify.md
  docs/guides/headless-cms/trigger-static-builds/vercel.md
  docs/use-cases/headless-cms/introduction.md
  docs/use-cases/headless-cms/security.md
Labels: Documentation

#20812 Enable `no-constant-binary-expression` eslint rule
  .changeset/famous-apes-know.md
  .eslintrc.js
  api/src/services/extensions.ts
  app/src/lang/index.ts
  app/src/panels/line-chart/panel-line-chart.vue
Labels: Package: @directus/api, Package: @directus/app, Chore

#20792 fix(#19386): fix cli schema apply display colors
  .changeset/modern-llamas-act.md
  api/src/cli/commands/schema/apply.ts
  contributors.yml
Labels: Package: @directus/api, Improvement

#20814 Update GraphQL validation's error key in translations
  .changeset/many-taxis-sing.md
  app/src/lang/translations/en-US.yaml
Labels: Package: @directus/app, Bug

#20822 Update json2csv in app
  .changeset/dry-ducks-play.md
  .changeset/spicy-pillows-sleep.md
  app/package.json
  app/src/utils/save-as-csv.ts
  app/vite.config.js
  pnpm-lock.yaml
Labels: Package: @directus/app, Dependencies

#20831 Updated breaking changes
  docs/releases/breaking-changes.md
Labels: Documentation

#20684 Add Documentation for Extension SDK Composables
  docs/.vitepress/data/sidebar.ts
  docs/dictionary.txt
  docs/extensions/app-composables.md
Labels: Documentation

#20834 Guide fix: specified need to add a sort field on the M2A field
  docs/guides/headless-cms/reusable-components.md
Labels: Documentation

#20835 Make extension directory prefix requirement clear
  docs/extensions/installing-extensions.md
Labels: Documentation

#20840 Deprecate utils/package.js in favor of directus/version
  .changeset/three-poems-agree.md
  api/package.json
  api/src/cli/index.ts
  api/src/services/schema.test.ts
  api/src/services/server.ts
  api/src/services/specifications.ts
  api/src/utils/get-cache-key.test.ts
  api/src/utils/get-cache-key.ts
  api/src/utils/get-snapshot.ts
  api/src/utils/get-versioned-hash.test.ts
  api/src/utils/get-versioned-hash.ts
  api/src/utils/package.ts
  api/src/utils/telemetry.ts
  api/src/utils/validate-snapshot.test.ts
  api/src/utils/validate-snapshot.ts
  app/src/main.ts
  app/src/modules/settings/components/navigation.vue
  directus/cli.js
  directus/package.json
  directus/version.d.ts
  directus/version.js
  pnpm-lock.yaml
Labels: Bug

#20825 Update telemetry
  .changeset/honest-masks-happen.md
  .changeset/slow-pugs-cheat.md
  .changeset/tricky-wombats-do.md
  api/package.json
  api/src/app.test.ts
  api/src/app.ts
  api/src/database/index.ts
  api/src/emitter.ts
  api/src/env.ts
  api/src/logger.ts
  api/src/redis/create-redis.test.ts
  api/src/redis/create-redis.ts
  api/src/redis/index.ts
  api/src/redis/use-redis.test.ts
  api/src/redis/use-redis.ts
  api/src/telemetry/index.ts
  api/src/telemetry/lib/get-report.test.ts
  api/src/telemetry/lib/get-report.ts
  api/src/telemetry/lib/init-telemetry.test.ts
  api/src/telemetry/lib/init-telemetry.ts
  api/src/telemetry/lib/send-report.test.ts
  api/src/telemetry/lib/send-report.ts
  api/src/telemetry/lib/track.test.ts
  api/src/telemetry/lib/track.ts
  api/src/telemetry/types/report.ts
  api/src/telemetry/utils/get-item-count.test.ts
  api/src/telemetry/utils/get-item-count.ts
  api/src/telemetry/utils/get-random-wait-time.test.ts
  api/src/telemetry/utils/get-random-wait-time.ts
  api/src/telemetry/utils/get-user-count.test.ts
  api/src/telemetry/utils/get-user-count.ts
  api/src/telemetry/utils/get-user-item-count.test.ts
  api/src/telemetry/utils/get-user-item-count.ts
  api/src/utils/telemetry.ts
  docs/self-hosted/config-options.md
  packages/memory/readme.md
  packages/memory/src/index.ts
  pnpm-lock.yaml
Labels: Package: @directus/api, Improvement

#20635 SDK WebSocket auth race condition
  docs/guides/sdk/getting-started.md
  sdk/src/client.ts
  sdk/src/realtime/composable.ts
  sdk/src/realtime/types.ts
  sdk/src/types/client.ts
  sdk/src/types/globals.ts
Labels: Bug, Package: @directus/sdk

#20839 Validate custom primary key field on create
  .changeset/funny-snails-teach.md
  api/src/services/items.ts
Labels: Package: @directus/api, Bug

#20785 Fix unique name check for extension locations and extensions within bundles
  .changeset/red-ravens-breathe.md
  api/src/extensions/lib/get-extensions.ts
  packages/extensions-sdk/src/cli/commands/add.ts
  packages/extensions-sdk/src/cli/commands/build.ts
Labels: Package: @directus/api, Bug, Package: @directus/extensions-sdk, Package: @directus/extensions

#20782 Add an icon and icon color option for choices of the select dropdown interface
  .changeset/witty-hats-refuse.md
  app/src/components/v-chip.vue
  app/src/components/v-select/select-list-item.vue
  app/src/components/v-select/types.ts
  app/src/components/v-select/v-select.vue
  app/src/displays/color/color.vue
  app/src/displays/labels/index.ts
  app/src/displays/labels/labels.vue
  app/src/interfaces/select-dropdown/index.ts
  app/src/interfaces/select-dropdown/select-dropdown.vue
  app/src/modules/settings/routes/data-model/new-collection.vue
Labels: Package: @directus/app, Improvement

#20704 Change Schema Snapshot Sort Ordering of Fields/Relations
  .changeset/witty-carpets-add.md
  api/src/utils/get-snapshot.ts
  contributors.yml
Labels: Package: @directus/api, Optimization

#20836 Add npm installation to quickstart guide
  .changeset/red-zebras-rhyme.md
  docs/getting-started/quickstart.md
Labels: Documentation

#20861 Do not show object instead of text for `v-select` preview
  app/src/components/v-select/v-select.vue
Labels: Package: @directus/app, Bug

#20879 Restrict v-menu content height to viewport
  .changeset/pretty-flies-shave.md
  app/src/components/v-menu.vue
Labels: Package: @directus/app, Bug

#20881 Always place arrow for field details menu on left side
  .changeset/tough-carpets-help.md
  app/src/components/v-form/form-field.vue
  app/src/components/v-menu.vue
Labels: Package: @directus/app, Optimization

#20874 fix(api): dont allow setting nullable for primary key while updating a field
  .changeset/metal-walls-accept.md
  api/src/services/fields.ts
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-schema.vue
Labels: Package: @directus/api, Bug

#20873 fix(graphql):handle nested originalError inside the GraphQLError.originalError in processError method
  .changeset/sixty-plums-wash.md
  api/src/services/graphql/utils/process-error.test.ts
  api/src/services/graphql/utils/process-error.ts
Labels: Package: @directus/api, Improvement

#20867 fix(api): bigInt auto increment not being reset in postgres
  .changeset/silver-cameras-end.md
  api/src/services/items.ts
  tests/blackbox/common/types.ts
Labels: Package: @directus/api, DB: Postgres, Improvement

#20865 feat(ws): register hooks for versioning
  .changeset/nine-coats-guess.md
  api/src/services/versions.ts
  api/src/websocket/controllers/hooks.ts
  contributors.yml
Labels: Package: @directus/api, Improvement

#20891 Fix invite email error
  .changeset/long-mayflies-try.md
  api/src/services/users.ts
Labels: Package: @directus/api, Bug

#20884 Fix messageBufferHandler in Bus
  .changeset/great-guests-allow.md
  packages/memory/src/bus/lib/redis.test.ts
  packages/memory/src/bus/lib/redis.ts
  packages/memory/src/utils/index.ts
  packages/memory/src/utils/serialize.ts
  packages/memory/src/utils/string-to-uint8array.test.ts
  packages/memory/src/utils/string-to-uint8array.ts
  packages/memory/src/utils/uint8array-to-string.test.ts
  packages/memory/src/utils/uint8array-to-string.ts
Labels: Bug, Package: @directus/memory

#20859 Fix SDK fields formatting in withSearch
  .changeset/wicked-brooms-pull.md
  sdk/src/rest/helpers/with-search.ts
  sdk/src/rest/utils/query-to-params.ts
Labels: Bug, Package: @directus/sdk

#20883 Add hash display
  .changeset/quiet-beers-tickle.md
  app/src/displays/hash/hash.vue
  app/src/displays/hash/index.ts
  app/src/interfaces/input-hash/index.ts
  app/src/lang/translations/en-US.yaml
Labels: Package: @directus/app, Improvement

#20901 Disable field permissions for fields marked as minimally required
  .changeset/famous-planes-run.md
  app/src/interfaces/select-multiple-checkbox/select-multiple-checkbox.vue
  app/src/modules/settings/routes/roles/permissions-detail/components/fields.vue
Labels: Package: @directus/app, Bug

#20914 Remove admin only restriction for extension read operations
  .changeset/healthy-eggs-help.md
  api/src/services/extensions.ts
Labels: Package: @directus/api, Improvement

#20918 Update breaking changes note about extension endpoint
  docs/releases/breaking-changes.md
Labels: Documentation

#20920 Remove obsolete temporary theme field permission
  api/src/database/system-data/app-access-permissions/app-access-permissions.yaml
Labels: Package: @directus/app, Optimization

#20848 Do not load sidebar details until they are opened
  .changeset/thick-spiders-share.md
  app/src/composables/use-revisions.ts
  app/src/modules/content/routes/item.vue
  app/src/modules/settings/routes/flows/components/logs-sidebar-detail.vue
  app/src/views/private/components/comments-sidebar-detail.vue
  app/src/views/private/components/revisions-drawer-detail.vue
  app/src/views/private/components/shares-sidebar-detail.vue
  app/src/views/private/components/sidebar-detail.vue
Labels: Package: @directus/app, Improvement

#20921 Add field note & template for wysiwyg-html interface
  .changeset/old-pears-pull.md
  app/src/interfaces/input-rich-text-html/index.ts
  app/src/lang/translations/en-US.yaml
Labels: Package: @directus/app, Improvement, Documentation

#20922 Add target blank to form field notes
  .changeset/old-steaks-notice.md
  app/src/components/v-form/form-field.vue
Labels: Package: @directus/app, Improvement

#20912 Fix collection meta fields not showing and saving properly
  .changeset/angry-pugs-bow.md
  app/src/modules/settings/routes/data-model/fields/fields.vue
Labels: Package: @directus/app, Bug

#20910 Fix custom field presentation in system collections
  .changeset/old-llamas-check.md
  app/src/components/v-form/utils/get-form-fields.test.ts
  app/src/components/v-form/utils/get-form-fields.ts
  app/src/components/v-form/utils/update-field-widths.ts
  app/src/components/v-form/utils/update-system-divider.test.ts
  app/src/components/v-form/utils/update-system-divider.ts
  app/src/components/v-form/v-form.vue
  app/src/modules/users/routes/item.vue
Labels: Package: @directus/app, Bug

#20913 Fix adding a new role on user update
  .changeset/tame-dragons-march.md
  api/src/services/users.test.ts
  api/src/services/users.ts
Labels: Package: @directus/api, Bug

#20927 Optimize shipped files in `@directus/sdk`
  .changeset/strange-eggs-admire.md
  sdk/package.json
  sdk/readme.md
  sdk/tsup.config.js
Labels: Optimization, Package: @directus/sdk
