Repository directus/directus, pull requests merged in 2023-02, with the labels that each got.

#17353 Patch Tuesday 🐸
  api/package.json
  api/vitest.config.js
  app/package.json
  package.json
  packages/extensions-sdk/package.json
  packages/schema/package.json
  packages/shared/package.json
  packages/shared/vitest.config.js
  packages/storage-driver-azure/package.json
  packages/storage-driver-cloudinary/package.json
  packages/storage-driver-gcs/package.json
  packages/storage-driver-local/package.json
  packages/storage-driver-s3/package.json
  packages/storage/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: Dependencies

#17381 Fix incorrect skipping of m2m tests
  tests-blackbox/routes/items/m2m.test.ts
  tests-blackbox/routes/schema/schema.test.ts
Labels: Bug, Tests

#17392 Fix applying corresponding changes
  app/src/modules/settings/routes/data-model/field-detail/store/alterations/files.ts
Labels: App, Bug

#17411 Fix checkbox flickering
  app/src/components/v-table/v-table.vue
Labels: App, Bug

#17325 Fix issue with expand transition not working on initial collapse
  app/src/components/transition/expand-methods.ts
  app/src/components/transition/expand.vue
Labels: App, Bug

#17432 Fix span with space in it
  app/src/components/v-field-template/v-field-template.vue
Labels: App, Bug

#17236 Use img tag for images on module bar
  app/src/views/private/components/module-bar-avatar.vue
  app/src/views/private/components/module-bar-logo.vue
Labels: App, Bug

#17439 Display proper pages for selected items
  app/src/composables/use-relation-multiple.ts
Labels: App, Bug

#17415 Fix loading of relational fields in group
  app/src/composables/use-field-tree.ts
Labels: App, Bug

#17412 Allow for rendering lists in template string
  app/src/utils/render-string-template.ts
Labels: App, Bug

#17394 Support selecting multiple files in v-upload
  app/src/components/v-upload.vue
Labels: App, Bug

#15549 Fix display fields on selected items
  app/src/composables/use-relation-multiple.ts
Labels: App, Bug

#17446 Fix problems with manual sort
  app/src/layouts/tabular/index.ts
  app/src/layouts/tabular/tabular.vue
Labels: App, Bug

#17448 Allow for custom robots.txt
  api/src/app.test.ts
  api/src/app.ts
  api/src/constants.ts
  api/src/env.ts
Labels: API, Improvement

#17441 Fix using strings for flow trigger collections
  api/src/flows.ts
  app/src/modules/settings/routes/flows/triggers.ts
Labels: API, App, Bug

#17443 Always show error in tabular layout
  app/src/layouts/tabular/tabular.vue
Labels: App, Bug

#17481 Allow offset and page args for GraphQL aggregated queries
  api/src/services/graphql/index.ts
Labels: API, GraphQL, Improvement

#17343 Fix sort added by offset not removed for MSSQL
  api/src/database/run-ast.ts
  api/src/utils/apply-query.ts
  tests-blackbox/routes/items/no-relation.test.ts
  tests-blackbox/routes/items/o2m.test.ts
Labels: API, Bug, DB: MS SQL Server

#17565 Add directory check when getting extensions real paths
  app/vite.config.js
Labels: Bug, Extensions

#17609 Fix infinite recursion
  app/src/composables/use-field-tree.ts
Labels: App, Bug

#17562 Consolidate redis environment
  api/src/cli/utils/create-env/env-stub.liquid
  api/src/env.ts
  api/src/messenger.ts
  api/src/rate-limiter.ts
Labels: API, Improvement

#15269 Improve preview of relational columns in tabular layout
  app/src/layouts/tabular/index.ts
  app/src/stores/relations.ts
  packages/shared/src/utils/get-with-arrays.test.ts
  packages/shared/src/utils/get-with-arrays.ts
Labels: App, Bug, Improvement

#16832 Hide related fields without read permissions
  app/src/composables/use-permissions.test.ts
  app/src/composables/use-permissions.ts
Labels: App, Bug

#17622 Catch ICC parse errors to avoid server crash
  api/src/services/files.ts
Labels: API, Bug

#17633 Catch IPTC and XMP extraction errors
  api/src/services/files.ts
Labels: API, Improvement

#17615 Additionally check for varchar when casting UUID in apply diff
  api/src/utils/apply-diff.ts
  api/src/utils/apply-snapshot.test.ts
Labels: API, Improvement

#17588 Fix Local Auth Provider Form being Hidden
  app/src/routes/login/login.vue
Labels: App, Bug

#17637 Add required option to repeater fields
  app/src/interfaces/list/list.vue
  app/src/interfaces/list/options.vue
Labels: App, Improvement
