Repository directus/directus, pull requests merged in 2024-02, with the labels that each got.

#21270 Configure inactive days for PRs and Discussions in Lock Thread workflow
  .github/workflows/lock-threads.yml
Labels: Chore

#21240 Update 'Roles and Permissions' settings to 'Access Control'
  docs/guides/headless-cms/build-static-website/next-13.md
  docs/guides/headless-cms/build-static-website/nuxt-3.md
  docs/use-cases/headless-cms/security.md
  docs/user-guide/content-module/content/shares.md
  docs/user-guide/user-management/permissions.md
  docs/user-guide/user-management/roles.md
  docs/user-guide/user-management/users-roles-permissions.md
  docs/user-guide/user-management/users.md
Labels: Documentation

#21261 [SDK] Update Readonly Properties on Query Type
  .changeset/slimy-garlics-fetch.md
  docs/.vitepress/data/guides.ts
  docs/guides/sdk/types.md
  sdk/src/types/query.ts
Labels: Improvement, Documentation, Package: @directus/sdk

#21033 Setup browse endpoint for browsing Directus extensions
  .changeset/heavy-countries-rule.md
  api/package.json
  api/src/controllers/extensions.ts
  packages/env/src/constants/directus-variables.ts
  packages/errors/src/codes.ts
  packages/errors/src/errors/index.ts
  packages/errors/src/errors/out-of-date.ts
  packages/extensions-registry/license
  packages/extensions-registry/package.json
  packages/extensions-registry/readme.md
  packages/extensions-registry/src/constants.ts
  packages/extensions-registry/src/index.ts
  packages/extensions-registry/src/modules/describe/describe.test.ts
  packages/extensions-registry/src/modules/describe/describe.ts
  packages/extensions-registry/src/modules/describe/lib/construct-url.test.ts
  packages/extensions-registry/src/modules/describe/lib/construct-url.ts
  packages/extensions-registry/src/modules/describe/schemas/registry-describe-response.ts
  packages/extensions-registry/src/modules/describe/types/describe-options.ts
  packages/extensions-registry/src/modules/index.ts
  packages/extensions-registry/src/modules/list/lib/construct-url.test.ts
  packages/extensions-registry/src/modules/list/lib/construct-url.ts
  packages/extensions-registry/src/modules/list/list.test.ts
  packages/extensions-registry/src/modules/list/list.ts
  packages/extensions-registry/src/modules/list/schemas/registry-list-response.ts
  packages/extensions-registry/src/modules/list/types/list-options.ts
  packages/extensions-registry/src/modules/list/types/list-query.ts
  packages/extensions-registry/src/schemas/registry-version-response.ts
  packages/extensions-registry/src/utils/assert-version-compatibility.test.ts
  packages/extensions-registry/src/utils/assert-version-compatibility.ts
  packages/extensions-registry/src/utils/get-api-version.test.ts
  packages/extensions-registry/src/utils/get-api-version.ts
  packages/extensions-registry/tsconfig.json
  packages/extensions-sdk/src/cli/commands/add.ts
  packages/extensions-sdk/src/cli/commands/create.ts
  pnpm-lock.yaml
Labels: Feature

#21275 Make sure IP extraction in server `response` hook is consistent
  .changeset/chilly-buckets-design.md
  api/src/server.ts
Labels: Package: @directus/api, Bug

#21290 Style forum detail banner
  app/src/components/v-banner.vue
  app/src/modules/settings/routes/marketplace/extension/components/extension-banner.vue
  app/src/styles/mixins/type-styles.scss
  packages/themes/src/schemas/theme.ts
  packages/themes/src/themes/dark/default.ts
  packages/themes/src/themes/light/default.ts
Labels: Feature

#21070 install extensions from registry
  api/package.json
  api/src/controllers/extensions.ts
  api/src/extensions/lib/installation/index.ts
  api/src/extensions/lib/installation/manager.ts
  api/src/extensions/manager.ts
  packages/extensions-registry/src/modules/download/download.ts
  packages/extensions-registry/src/modules/download/lib/construct-url.ts
  packages/extensions-registry/src/modules/download/types/download-options.ts
  packages/extensions-registry/src/modules/index.ts
  pnpm-lock.yaml
Labels: Feature

#21336 Fix boolean error in docker-compose quickstart template
  contributors.yml
  docs/self-hosted/quickstart.md
Labels: Documentation

#21354 Added new framework guides
  docs/.vitepress/data/guides.ts
  docs/index.md
  docs/public/assets/frameworks/11ty.png
  docs/public/assets/frameworks/astro.png
  docs/public/assets/frameworks/gatsby.png
  docs/public/assets/frameworks/next.png
  docs/public/assets/frameworks/nuxt.png
  docs/public/assets/frameworks/remix.png
  docs/public/assets/frameworks/solidstart.png
  docs/public/assets/frameworks/sveltekit.png
Labels: Documentation

#21358 Added breaking changes docs for 10.9
  docs/releases/breaking-changes.md
Labels: Documentation

#21353 add meta object to createCollection SDK example.
  docs/reference/system/collections.md
Labels: Documentation

#21360 Fix public assets
  .changeset/shy-poems-retire.md
  api/src/services/assets.ts
Labels: Package: @directus/api, Bug

#21350 D+ Docs
  docs/.vitepress/data/sidebar.ts
  docs/.vitepress/types/schema.ts
  docs/plus/[slug].md
  docs/plus/[slug].paths.ts
  docs/plus/index.md
Labels: Documentation

#21361 Fix manual flow dialog showing above select item drawer
  .changeset/breezy-moose-think.md
  app/src/components/v-dialog.vue
  app/src/views/private/components/flow-sidebar-detail.vue
Labels: Package: @directus/app, Bug

#21371 Correct treatment of empty string envs
  .changeset/swift-squids-invite.md
  packages/env/src/lib/cast.test.ts
  packages/env/src/lib/cast.ts
  packages/env/src/utils/guess-type.test.ts
  packages/env/src/utils/guess-type.ts
Labels: Bug, Optimization, Package: @directus/env

#21376 Added styling to recaptcha on docs newsletter signup
  docs/.vitepress/components/Newsletter.vue
Labels: Documentation

#21384 Ignore processValue if event key is undefined for input field
  .changeset/sharp-cameras-knock.md
  app/src/components/v-input.vue
Labels: Package: @directus/app, Bug

#21291 Support video files in public background
  .changeset/khaki-cats-double.md
  api/src/services/server.ts
  app/src/stores/server.ts
  app/src/views/public/public-view.vue
  packages/specs/src/components/setting.yaml
  packages/types/src/settings.ts
  sdk/src/schema/settings.ts
Labels: Package: @directus/app, Feature

#21400 Fixed document title
  .changeset/real-panthers-heal.md
  app/src/app.vue
Labels: Package: @directus/app, Regression

#21405 Fix Next.js Starter Guide
  .eslintignore
  docs/guides/headless-cms/build-static-website/next.md
  docs/netlify.toml
Labels: Documentation

#21408 Small follow-up on "Fix Next.js Starter Guide" #21405
  docs/.vitepress/data/guides.ts
  docs/guides/headless-cms/build-static-website/next.md
Labels: Documentation

#21343 Fix role update admin check
  .changeset/nine-garlics-begin.md
  api/src/services/roles.test.ts
  api/src/services/roles.ts
  api/src/types/items.ts
Labels: Package: @directus/api, Bug, Enterprise

#21406 Move import task back to main thread
  .changeset/dry-kids-fail.md
  api/package.json
  api/src/controllers/utils.ts
  api/src/middleware/respond.ts
  api/src/services/import-export.ts
  api/src/services/import-export/import-worker.ts
  api/src/services/index.ts
  api/src/worker-pool.ts
  pnpm-lock.yaml
Labels: Package: @directus/api, Bug

#21428 Update dependencies
  .changeset/dry-weeks-carry.md
  .github/actions/prepare/action.yml
  api/package.json
  app/package.json
  app/src/components/v-table/v-table.vue
  docs/package.json
  package.json
  packages/components/package.json
  packages/composables/package.json
  packages/create-directus-project/lib/check-requirements.js
  packages/create-directus-project/package.json
  packages/data-driver-postgres/package.json
  packages/data-sql/package.json
  packages/data/package.json
  packages/env/package.json
  packages/extensions-sdk/package.json
  packages/extensions/package.json
  packages/memory/package.json
  packages/random/package.json
  packages/release-notes-generator/package.json
  packages/storage-driver-local/package.json
  packages/storage-driver-s3/package.json
  packages/storage/package.json
  packages/stores/package.json
  packages/themes/package.json
  packages/types/package.json
  packages/update-check/package.json
  packages/utils/package.json
  packages/validation/package.json
  pnpm-lock.yaml
  tests/blackbox/package.json
Labels: Dependencies

#21429 Clarify Cloud project destruction also cancels subscription
  docs/user-guide/cloud/projects.md
Labels: Documentation

#21370 Clean-up request IP validation
  .changeset/chatty-jobs-scream.md
  api/src/operations/request/index.ts
  api/src/request/agent-with-ip-validation.test.ts
  api/src/request/agent-with-ip-validation.ts
  api/src/request/index.test.ts
  api/src/request/index.ts
  api/src/request/is-denied-ip.test.ts
  api/src/request/is-denied-ip.ts
  api/src/request/request-interceptor.test.ts
  api/src/request/request-interceptor.ts
  api/src/request/response-interceptor.test.ts
  api/src/request/response-interceptor.ts
  api/src/services/files.ts
  docs/self-hosted/config-options.md
Labels: Package: @directus/api, Bug

#21338 Various improvements for the presentation-links component
  .changeset/spotty-taxis-shop.md
  app/src/interfaces/presentation-links/presentation-links.vue
Labels: Package: @directus/app

#21158 Durus: Selection of properties from a object stored in a JSON field
  packages/data-driver-postgres/src/index.test.ts
  packages/data-driver-postgres/src/query/select.test.ts
  packages/data-driver-postgres/src/query/select.ts
  packages/data-sql/src/query-converter/fields/fields.test.ts
  packages/data-sql/src/query-converter/fields/fields.ts
  packages/data-sql/src/query-converter/fields/nodes/json-select.test.ts
  packages/data-sql/src/query-converter/fields/nodes/json-select.ts
  packages/data-sql/src/types/clauses/common/function.ts
  packages/data-sql/src/types/clauses/select.ts
  packages/data-sql/src/types/clauses/select/json.ts
  packages/data/src/types/abstract-query/common/nested/index.ts
  packages/data/src/types/abstract-query/common/nested/object.ts
  packages/data/src/types/abstract-query/fields/nested.ts
Labels: Package: @directus/data

#21443 Allow Flow Update data operation to update item bulk (unique values per item)
  .changeset/tricky-lies-suffer.md
  api/src/operations/item-update/index.ts
  contributors.yml
  docs/app/flows/operations.md
Labels: Package: @directus/api, Improvement

#21452 Clean-up leftover MESSENGER_* config options
  docs/self-hosted/config-options.md
  packages/env/src/constants/directus-variables.ts
  tests/blackbox/tests/common/flows/schedule-hook.test.ts
  tests/blackbox/tests/db/routes/collections/schema-cache.test.ts
  tests/blackbox/tests/db/websocket/general.test.ts
Labels: Documentation, Chore

#21433 Fix last admin check in role modify
  .changeset/smart-plants-trade.md
  api/src/services/roles.test.ts
  api/src/services/roles.ts
  contributors.yml
Labels: Package: @directus/api, Bug

#21473 Fixed incorrect deep filter docs example
  .changeset/two-geese-fry.md
  docs/reference/query.md
Labels: Documentation

#21479 Adjust subscription async order to prevent handlers from being overwritten
  .changeset/rotten-meals-hear.md
  api/src/websocket/controllers/hooks.ts
  packages/memory/src/bus/lib/redis.ts
Labels: Bug, Package: @directus/memory

#21444 Add validation for IP Access in Role settings
  .changeset/dull-comics-camp.md
  api/src/services/roles.test.ts
  api/src/services/roles.ts
Labels: Package: @directus/api, Improvement, Enterprise

#21385 Fix app sending full field data when only some field properties have changed
  .changeset/wise-peas-pull.md
  api/src/controllers/fields.ts
  api/src/services/fields.ts
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-display.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-interface.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-simple/field-configuration.vue
  app/src/modules/settings/routes/data-model/field-detail/store/index.ts
Labels: Package: @directus/app, Bug

#21454 Support international emails in login
  .changeset/poor-cameras-march.md
  app/src/routes/login/components/login-form/login-form.vue
Labels: Package: @directus/app, Improvement

#21498 Fix field state of conditions in field settings
  .changeset/khaki-ants-invite.md
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-conditions.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-tabs.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-validation.vue
Labels: Package: @directus/app, Bug

#21499 Hide search if there are no dashboards & fix no results text
  .changeset/ten-baboons-promise.md
  app/src/modules/insights/routes/overview.vue
Labels: Package: @directus/app, Optimization

#21520 Fix image select dialog showing above file drawer for markdown interface
  .changeset/new-humans-worry.md
  app/src/interfaces/input-rich-text-md/input-rich-text-md.vue
Labels: Package: @directus/app, Bug

#21522 Ensure overlapping popovers from block editor are rendered above other interfaces' elements
  .changeset/mean-plants-cross.md
  app/src/interfaces/input-block-editor/editorjs-overrides.css
Labels: Package: @directus/app, Bug

#21536 Add changeset for updated dependencies
  .changeset/tasty-tables-wash.md
Labels: Dependencies

#21537 Run type check when a package of project Durus is built
  packages/data-driver-postgres/package.json
  packages/data-sql/package.json
  packages/data/package.json
  packages/data/src/engine.test.ts
Labels: Optimization, Package: @directus/data, Chore

#21542 Fix permission merge
  .changeset/plenty-rabbits-act.md
  api/src/controllers/permissions.ts
  api/src/services/index.ts
  api/src/services/permissions/index.test.ts
  api/src/services/permissions/index.ts
  api/src/services/permissions/lib/with-app-minimal-permissions.test.ts
  api/src/services/permissions/lib/with-app-minimal-permissions.ts
  api/src/services/relations.ts
  api/src/services/roles.ts
  api/src/utils/filter-items.ts
Labels: Package: @directus/api, Bug

#21549 Fix links to Next.js guide
  docs/guides/headless-cms/live-preview/nextjs.md
  docs/use-cases/headless-cms/introduction.md
Labels: Documentation

#21562 Bump pnpm to 8.15.4
  package.json
Labels: Chore

#21565 Fix 21563 include files in package json
  .changeset/real-masks-double.md
  packages/extensions-sdk/src/cli/commands/create.ts
Labels: Improvement, Package: @directus/extensions-sdk

#21543 Fix issues in & enhance Access Control settings
  .changeset/hungry-carrots-jam.md
  app/src/modules/settings/routes/roles/app-permissions.ts
  app/src/modules/settings/routes/roles/item/components/permissions-overview-row.vue
  app/src/modules/settings/routes/roles/item/components/permissions-overview-toggle.vue
  app/src/modules/settings/routes/roles/item/components/permissions-overview.vue
  app/src/modules/settings/routes/roles/item/components/role-info-sidebar-detail.vue
  app/src/modules/settings/routes/roles/item/composables/use-update-permissions.ts
  app/src/modules/settings/routes/roles/item/item.vue
  app/src/modules/settings/routes/roles/permissions-detail/components/app-minimal.vue
  app/src/modules/settings/routes/roles/permissions-detail/components/fields.vue
  app/src/modules/settings/routes/roles/permissions-detail/components/permissions.vue
  app/src/modules/settings/routes/roles/permissions-detail/components/validation.vue
  app/src/modules/settings/routes/roles/permissions-detail/permissions-detail.vue
  packages/types/src/users.ts
Labels: Package: @directus/app, Bug, Optimization

#21571 Fix typo on extensions doc
  docs/reference/system/extensions.md
Labels: Documentation

#21587 Fix loading of avatars in comment mentions
  .changeset/wise-wolves-push.md
  app/src/views/private/components/comment-input.vue
Labels: Package: @directus/app, Bug

#21588 Add disabled state to MFA setup interface
  .changeset/blue-colts-thank.md
  app/src/interfaces/_system/system-mfa-setup/system-mfa-setup.vue
Labels: Package: @directus/app, Bug

#21590 Fix storage initialization
  .changeset/tidy-bulldogs-argue.md
  api/src/storage/index.ts
Labels: Package: @directus/api, Bug, Enterprise

#21591 Fix position of empty form message with translations interface
  .changeset/slow-knives-clean.md
  app/src/components/v-form/v-form.vue
Labels: Package: @directus/app, Bug

#21593 Align menu for toggling invisible collections
  .changeset/three-crabs-end.md
  app/src/modules/content/components/navigation.vue
Labels: Package: @directus/app, Optimization

#21594 Enhance language selection in translations interface
  .changeset/brave-jobs-suffer.md
  app/src/interfaces/translations/language-select.vue
  app/src/interfaces/translations/translations.vue
Labels: Package: @directus/app, Optimization

#21596 Account for revisions data/delta to be null
  app/src/types/revisions.ts
  app/src/views/private/components/revision-item.vue
Labels: Package: @directus/app, Optimization

#21607 Fix builder button layout
  .changeset/red-hornets-invent.md
  app/src/interfaces/list-m2a/list-m2a.vue
  contributors.yml
Labels: Package: @directus/app, Optimization

#21609 Fix v-notice scope & render "No items" notice for relational list interfaces inside list
  .changeset/rare-bananas-clean.md
  app/src/interfaces/files/files.vue
  app/src/interfaces/list-m2m/list-m2m.vue
  app/src/interfaces/list-o2m/list-o2m.vue
  app/src/modules/settings/routes/roles/permissions-detail/components/permissions.vue
Labels: Package: @directus/app, Bug, Optimization

#21478 Resolve npm extensions by package manifest
  packages/extensions/src/node/utils/get-extensions.ts
Labels: Package: @directus/api, Optimization

#21624 Reflect Content Version in URL / history
  .changeset/stupid-oranges-listen.md
  app/package.json
  app/src/composables/use-edits-guard.ts
  app/src/composables/use-versions.ts
  app/src/modules/content/routes/item.vue
  pnpm-lock.yaml
Labels: Package: @directus/app, Improvement

#21614 Add CJS exports for system-data package
  .changeset/thick-phones-drop.md
  packages/system-data/package.json
  packages/system-data/tsup.config.js
  sdk/package.json
Labels: Bug, Package: @directus/sdk, Enterprise

#21613 (#21573) Be more relaxed with UUID validation
  .changeset/rotten-sloths-dress.md
  api/package.json
  api/src/services/activity.ts
  api/src/services/assets.ts
  api/src/utils/apply-query.ts
  api/src/utils/is-valid-uuid.test.ts
  api/src/utils/is-valid-uuid.ts
  api/src/utils/validate-keys.ts
  pnpm-lock.yaml
Labels: Package: @directus/api, Improvement

#21625 Drop `uuid` dependency in favor of Node.js built-in
  .changeset/tame-oranges-own.md
  api/package.json
  api/src/cli/commands/init/index.ts
  api/src/cli/commands/security/key.ts
  api/src/cli/utils/create-env/index.ts
  api/src/database/migrations/20220429A-add-flows.ts
  api/src/database/migrations/20230526A-migrate-translation-strings.ts
  api/src/services/payload.ts
  api/src/utils/validate-keys.test.ts
  api/src/websocket/controllers/base.ts
  pnpm-lock.yaml
  tests/blackbox/tests/db/app/cache.seed.ts
  tests/blackbox/tests/db/app/cache.test.ts
  tests/blackbox/tests/db/routes/items/conceal-filter.seed.ts
  tests/blackbox/tests/db/routes/items/hash-filter.seed.ts
  tests/blackbox/tests/db/routes/items/m2a.test.ts
  tests/blackbox/tests/db/routes/items/m2m.test.ts
  tests/blackbox/tests/db/routes/items/m2o.test.ts
  tests/blackbox/tests/db/routes/items/no-relation.test.ts
  tests/blackbox/tests/db/routes/items/o2m.test.ts
  tests/blackbox/tests/db/routes/schema/schema.test.ts
  tests/blackbox/tests/db/websocket/general.test.ts
Labels: Package: @directus/api, Optimization

#21632 insert new translation key to system-input-translated-string
  .changeset/khaki-phones-perform.md
  app/src/interfaces/_system/system-input-translated-string/input-translated-string.vue
Labels: Package: @directus/app, Optimization
