Repository directus/directus, pull requests merged in 2024-01, with the labels that each got.

#20951 Fix the system theme overrides interface color rules to refresh on external changes
  .changeset/breezy-candles-wonder.md
  app/src/interfaces/_system/system-theme-overrides/system-theme-overrides-rule.vue
Labels: Package: @directus/app, Bug

#20952 Fix confirmation dialog not always showing top level
  .changeset/shy-tomatoes-sing.md
  app/src/components/v-dialog.vue
Labels: Package: @directus/app, Bug

#20888 fix(api) treat bigInt as string all across the system
  .changeset/small-poems-deny.md
  api/src/services/graphql/index.ts
  api/src/services/graphql/types/bigint.ts
  api/src/utils/apply-query.test.ts
  api/src/utils/apply-query.ts
Labels: Package: @directus/api, Bug

#20961 Add SQLITE_CANTOPEN and Default Admin Creds to Quickstarts
  docs/getting-started/quickstart.md
  docs/self-hosted/quickstart.md
Labels: Documentation

#20958 Api: Do not suspend user if rate limiter store is unreachable
  .changeset/tender-windows-destroy.md
  api/src/rate-limiter.ts
  api/src/services/authentication.ts
Labels: Package: @directus/api, Bug

#20970 Rename legacy role's `ip_whitelist` to `ip_access`
  .changeset/many-camels-impress.md
  packages/specs/src/paths/roles/role.yaml
  packages/specs/src/paths/roles/roles.yaml
  packages/types/src/users.ts
Labels: Bug, Package: @directus/types, Package: @directus/specs

#20969 Fix user invite dialog role select dropdown not displayed
  app/src/components/v-menu.vue
Labels: Package: @directus/app, Bug

#20940 Add enable/disable support for bundle type extensions
  .changeset/serious-flowers-behave.md
  api/src/services/extensions.ts
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/extensions/components/extension-item-options.vue
  app/src/modules/settings/routes/extensions/components/extension-item.vue
  app/src/modules/settings/routes/extensions/extensions.vue
  app/src/modules/settings/routes/extensions/types.ts
  docs/extensions/bundles.md
  docs/reference/system/extensions.md
  packages/extensions/src/node/utils/get-extensions.ts
  packages/extensions/src/shared/schemas/options.ts
  packages/extensions/src/shared/types/extension-types.ts
Labels: Package: @directus/api, Package: @directus/app, Improvement

#20949 Fix issues with the form state when navigating between collection settings pages
  .changeset/wild-needles-beg.md
  app/src/composables/use-edits-guard.ts
  app/src/composables/use-item.ts
  app/src/interfaces/_system/system-field/system-field.vue
  app/src/modules/settings/routes/data-model/fields/fields.vue
  app/src/modules/settings/routes/flows/flow.vue
Labels: Package: @directus/app, Bug, Optimization

#20977 Various small codebase clean-ups
  .eslintignore
  .eslintrc.js
  .gitignore
  .prettierignore
  api/src/__setup__/global.js
  api/tsconfig.prod.json
  api/vitest.config.ts
  app/histoire.config.ts
  app/src/__histoire__/register.ts
  app/src/__histoire__/setup.ts
  app/src/__histoire__/wrapper.vue
  app/src/__setup__/mock-globals.ts
  app/src/__utils__/router.ts
  app/src/components/v-button.test.ts
  app/src/components/v-checkbox-tree/v-checkbox-tree.test.ts
  app/src/components/v-error-boundary.test.ts
  app/src/components/v-form/__snapshots__/form-field-raw-editor.test.ts.snap
  app/src/components/v-form/form-field-raw-editor.test.ts
  app/src/components/v-select/v-select.test.ts
  app/src/composables/use-local-storage.test.ts
  app/src/composables/use-local-storage.ts
  app/src/composables/use-relation-multiple.test.ts
  app/src/composables/use-relation-permissions.test.ts
  app/src/constants.ts
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-schema.vue
  app/src/utils/get-asset-url.test.ts
  app/src/utils/get-vue-component-name.test.ts
  app/vite.config.js
  docs/contributing/codebase-overview.md
  docs/extensions/creating-extensions.md
  packages/extensions-sdk/tsconfig.json
  packages/types/package.json
  packages/types/tsconfig.prod.json
Labels: Chore

#20982 Allow updating custom fields for `directus_extensions`
  .changeset/lazy-tables-lie.md
  api/src/services/extensions.ts
Labels: Package: @directus/api, Bug

#20986 Align extensions update endpoint
  .changeset/eighty-numbers-eat.md
  api/src/controllers/extensions.ts
  api/src/services/extensions.ts
Labels: Package: @directus/api, Optimization

#20987 Prevent flashing on Access Control page
  app/src/modules/settings/routes/roles/item/item.vue
Labels: Package: @directus/app, Optimization

#20988 Disable non-editable permissions on Access Control page
  .changeset/new-badgers-look.md
  app/src/modules/settings/routes/roles/app-permissions.ts
  app/src/modules/settings/routes/roles/item/components/permissions-overview-row.vue
  app/src/modules/settings/routes/roles/item/components/permissions-overview.vue
Labels: Package: @directus/app, Optimization

#20862 Deprecate Messenger in favor of shared Bus
  .changeset/angry-walls-wash.md
  api/package.json
  api/src/app.test.ts
  api/src/bus/index.ts
  api/src/bus/lib/use-bus.test.ts
  api/src/bus/lib/use-bus.ts
  api/src/cache.ts
  api/src/env.ts
  api/src/extensions/lib/sync-extensions.ts
  api/src/flows.ts
  api/src/messenger.test.ts
  api/src/messenger.ts
  api/src/redis/index.ts
  api/src/redis/lib/create-redis.test.ts
  api/src/redis/lib/create-redis.ts
  api/src/redis/lib/use-redis.test.ts
  api/src/redis/lib/use-redis.ts
  api/src/redis/utils/redis-config-available.test.ts
  api/src/redis/utils/redis-config-available.ts
  api/src/services/graphql/subscription.ts
  api/src/services/webhooks.test.ts
  api/src/services/webhooks.ts
  api/src/webhooks.ts
  api/src/websocket/controllers/hooks.ts
  api/src/websocket/handlers/subscribe.ts
  docs/self-hosted/config-options.md
  pnpm-lock.yaml
  tests/blackbox/flows/schedule-hook.test.ts
  tests/blackbox/routes/collections/schema-cache.test.ts
  tests/blackbox/websocket/general.test.ts
Labels: Package: @directus/api, Optimization

#20971 Add support for IP ranges and CIDR notations
  .changeset/six-impalas-complain.md
  api/package.json
  api/src/middleware/check-ip.ts
  api/src/request/request-interceptor.test.ts
  api/src/request/request-interceptor.ts
  api/src/request/response-interceptor.test.ts
  api/src/request/response-interceptor.ts
  api/src/request/validate-ip.test.ts
  api/src/request/validate-ip.ts
  api/src/utils/ip-in-networks.test.ts
  api/src/utils/ip-in-networks.ts
  app/src/lang/translations/en-US.yaml
  docs/dictionary.txt
  docs/self-hosted/config-options.md
  docs/user-guide/user-management/roles.md
  pnpm-lock.yaml
Labels: Package: @directus/api, Package: @directus/app, Improvement, Enterprise

#20811 Add useSdk composable for use in the App
  .changeset/beige-toes-visit.md
  app/package.json
  app/src/composables/use-system.ts
  app/src/sdk.ts
  packages/composables/package.json
  packages/composables/src/use-system.ts
  packages/constants/src/injection.ts
  packages/extensions-sdk/src/index.ts
  pnpm-lock.yaml
Labels: Package: @directus/app, Improvement, Package: @directus/sdk

#20624 Deprecate "local" extension types
  .changeset/moody-melons-eat.md
  api/src/extensions/lib/get-extensions.ts
  api/src/extensions/lib/sync-extensions.ts
  api/src/extensions/manager.ts
  app/vite.config.js
  packages/extensions-sdk/src/cli/commands/add.ts
  packages/extensions-sdk/src/cli/commands/create.ts
  packages/extensions/src/node/utils/ensure-extension-dirs.test.ts
  packages/extensions/src/node/utils/ensure-extension-dirs.ts
  packages/extensions/src/node/utils/get-extensions.ts
  packages/extensions/src/node/utils/index.ts
  packages/extensions/src/shared/constants/index.ts
  packages/extensions/src/shared/constants/name-regex.ts
  pnpm-lock.yaml
Labels: Extensions, Improvement, Breaking Change

#21023 Fix 20195 add invalid input visuals
  .changeset/curly-donkeys-count.md
  app/src/directives/input-auto-width.ts
  app/src/directives/register.ts
  app/src/interfaces/_system/system-filter/input-component.vue
Labels: Package: @directus/app, Improvement

#21028 Fix translation of "Geometry (All)" type
  app/src/modules/settings/routes/data-model/field-detail/field-detail-simple/field-configuration.vue
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
Labels: Package: @directus/app, Bug

#21030 Use official abbreviation of Exif
  .changeset/thin-bottles-visit.md
  api/src/services/files.ts
  docs/dictionary.txt
  docs/reference/files.md
  docs/self-hosted/config-options.md
  docs/user-guide/file-library/files.md
  packages/specs/src/components/file.yaml
  packages/specs/src/paths/files/file.yaml
Labels: Chore

#20756 Filter related collections if meta is not set
  .changeset/green-teachers-swim.md
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-relationship-m2a.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-simple/relationship-configuration.vue
  app/src/modules/settings/routes/data-model/field-detail/shared/related-collection-select.vue
  app/src/modules/settings/routes/roles/item/components/permissions-overview.vue
  app/src/stores/collections.ts
  contributors.yml
Labels: Package: @directus/app, Improvement

#20747 `app` type fixes
  app/src/api.ts
  app/src/auth.ts
  app/src/components/v-button.test.ts
  app/src/components/v-chip.test.ts
  app/src/components/v-chip.vue
  app/src/components/v-date-picker.vue
  app/src/components/v-error-boundary.vue
  app/src/components/v-fancy-select.test.ts
  app/src/components/v-fancy-select.vue
  app/src/components/v-info.test.ts
  app/src/components/v-input.test.ts
  app/src/components/v-input.vue
  app/src/components/v-notice.test.ts
  app/src/components/v-radio.test.ts
  app/src/components/v-skeleton-loader.test.ts
  app/src/components/v-slider.test.ts
  app/src/components/v-table/v-table.vue
  app/src/components/v-template-input.vue
  app/src/components/v-textarea.test.ts
  app/src/composables/use-alias-fields.ts
  app/src/composables/use-field-tree.ts
  app/src/composables/use-relation-m2o.ts
  app/src/composables/use-relation-multiple.ts
  app/src/composables/use-relation-o2m.ts
  app/src/displays/formatted-value/formatted-value.vue
  app/src/hydrate.test.ts
  app/src/interfaces/_system/system-fields/system-fields.vue
  app/src/interfaces/_system/system-filter/system-filter.vue
  app/src/interfaces/_system/system-folder/folder.vue
  app/src/interfaces/_system/system-scope/system-scope.vue
  app/src/interfaces/group-accordion/group-accordion.vue
  app/src/interfaces/input-rich-text-md/input-rich-text-md.vue
  app/src/interfaces/list-m2m/list-m2m.vue
  app/src/interfaces/list-o2m-tree-view/list-o2m-tree-view.vue
  app/src/interfaces/list-o2m/list-o2m.vue
  app/src/interfaces/select-color/select-color.vue
  app/src/interfaces/select-dropdown-m2o/select-dropdown-m2o.vue
  app/src/interfaces/translations/translations.vue
  app/src/layouts/calendar/options.test.ts
  app/src/layouts/cards/components/card.vue
  app/src/layouts/kanban/index.ts
  app/src/layouts/map/components/map.vue
  app/src/layouts/map/index.ts
  app/src/modules/content/composables/use-navigation.ts
  app/src/modules/content/index.ts
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-display.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-interface.vue
  app/src/modules/settings/routes/flows/components/operation-detail.vue
  app/src/modules/settings/routes/roles/item/components/role-info-sidebar-detail.vue
  app/src/utils/geometry/basemap.ts
  tests/blackbox/websocket/general.test.ts
Labels: Package: @directus/app, Chore

#21032 Two small type fixes in `app`
  app/src/components/v-form/v-form.vue
  app/src/components/v-select/v-select.vue
Labels: Package: @directus/app, Chore

#20457 Fix field filter not hiding search results in groups
  .changeset/little-plums-own.md
  app/src/components/v-field-list/v-field-list.vue
  contributors.yml
Labels: Package: @directus/app, Bug

#21065 Default to current user language in field translation language selector
  .changeset/chilly-meals-ring.md
  app/src/modules/settings/routes/data-model/field-detail/field-detail-advanced/field-detail-advanced-field.vue
  contributors.yml
Labels: Package: @directus/app, Improvement

#21071 Drop `supertest` in `api`
  api/package.json
  api/src/app.test.ts
  pnpm-lock.yaml
Labels: Chore

#21076 Maintain snapshot order
  api/src/utils/get-snapshot-diff.ts
  api/src/utils/get-snapshot.ts
Labels: Package: @directus/api, Bug

#21077 Drop EOL DB versions from blackbox tests
  .github/workflows/blackbox.yml
Labels: Chore

#21079 Add blackbox test timeout
  .github/workflows/blackbox.yml
Labels: Chore

#21085 SDK Core Field type checking fails
  .changeset/few-horses-join.md
  sdk/src/schema/core.ts
  sdk/src/types/fields.ts
  sdk/src/types/schema.ts
Labels: Bug, Package: @directus/sdk

#20959 Add docs for focal points
  docs/reference/files.md
  docs/user-guide/file-library/files.md
Labels: Documentation

#21087 Add Upload File to FilesService Docs
  docs/extensions/services/accessing-files.md
Labels: Documentation

#20849 Do not queue any extension reloads if a reload job is pending
  .changeset/orange-penguins-kneel.md
  api/src/extensions/manager.ts
  api/src/utils/job-queue.ts
Labels: Extensions, Improvement

#21117 Updated guest author timing FAQ
  docs/blog/guest-author.md
Labels: Documentation

#21120 Prevent overflow with long collection names on Access Control page
  .changeset/little-poems-cross.md
  app/src/modules/settings/routes/roles/item/components/permissions-overview-row.vue
Labels: Package: @directus/app, Bug

#21116 Updated Docs Landing Page
  .changeset/sick-elephants-speak.md
  .eslintignore
  docs/.vitepress/components/Article.vue
  docs/.vitepress/components/SnippetToggler.vue
  docs/.vitepress/components/Tabs.vue
  docs/.vitepress/components/home/Footer.vue
  docs/.vitepress/components/home/icons/Logo.vue
  docs/.vitepress/data/guides.ts
  docs/.vitepress/theme/vars.css
  docs/home.css
  docs/index.md
  docs/public/assets/frameworks/astro.png
  docs/public/assets/frameworks/next.png
  docs/public/assets/frameworks/nuxt.png
  docs/public/assets/frameworks/sveltekit.png
  docs/public/assets/next-guide.png
  docs/public/assets/nuxt-guide.png
  docs/public/assets/react-guide.png
Labels: Documentation

#21131 Added missing link in config, typo fix in flows reference
  docs/getting-started/quickstart.md
  docs/reference/system/flows.md
  docs/self-hosted/config-options.md
Labels: Documentation

#21129 Fix logo positioning in home footer
  docs/.vitepress/components/home/Footer.vue
Labels: Documentation

#21134 App / Translations: Use `sort` field if is defined in language select
  .changeset/tame-hornets-deliver.md
  app/src/interfaces/translations/translations.vue
Labels: Package: @directus/app, Optimization

#21111 Optimize extension auto-reloading
  .changeset/witty-cobras-add.md
  api/src/extensions/manager.ts
Labels: Package: @directus/api, Bug, Extensions, Optimization

#20768 Add focal point support for images
  .changeset/cold-cobras-carry.md
  .changeset/loud-crews-fix.md
  api/src/constants.ts
  api/src/database/migrations/20231215A-add-focalpoints.ts
  api/src/database/system-data/fields/files.yaml
  api/src/services/assets.ts
  api/src/types/assets.ts
  api/src/utils/transformations.test.ts
  api/src/utils/transformations.ts
  app/src/lang/translations/en-US.yaml
  app/src/views/private/components/image-editor.vue
  docs/reference/files.md
  docs/user-guide/file-library/files.md
  packages/types/src/files.ts
  sdk/src/schema/file.ts
  sdk/src/types/assets.ts
Labels: Package: @directus/api, Package: @directus/app, Feature, Documentation, Package: @directus/types

#21168 Durus refactoring: New directory for node conversions
  packages/data-sql/src/query-converter/fields/fields.ts
  packages/data-sql/src/query-converter/fields/nodes/function.ts
  packages/data-sql/src/query-converter/fields/nodes/join.test.ts
  packages/data-sql/src/query-converter/fields/nodes/join.ts
  packages/data-sql/src/query-converter/fields/nodes/nested-manys.test.ts
  packages/data-sql/src/query-converter/fields/nodes/nested-manys.ts
  packages/data-sql/src/query-converter/fields/nodes/primitive-select.test.ts
  packages/data-sql/src/query-converter/fields/nodes/primitive-select.ts
  packages/data-sql/src/query-converter/modifiers/target.ts
  packages/data-sql/src/types/abstract-sql.ts
Labels: Package: @directus/data

#21155 Add memory package in the list of package names
  contributors.yml
  docs/.typedocs/options.json
  docs/contributing/codebase-overview.md
Labels: Documentation

#21176 Adding area toggle to top of docs nav
  docs/.vitepress/components/Tabs.vue
  docs/.vitepress/config.ts
  docs/.vitepress/theme/Layout.vue
  docs/index.md
Labels: Documentation

#21193 Account for empty response in update check
  .changeset/clean-flies-tickle.md
  packages/update-check/package.json
  packages/update-check/src/index.test.ts
  packages/update-check/src/index.ts
  pnpm-lock.yaml
Labels: Bug, Package: @directus/update-check

#21194 Update useItems composable with the required parameters
  .changeset/heavy-sloths-serve.md
  docs/extensions/app-composables.md
Labels: Documentation

#21198 Align versions of TypeDoc dependencies
  docs/package.json
  pnpm-lock.yaml
Labels: Documentation

#21199 [DOCS] Default to json SDK authentication in the example
  docs/reference/authentication.md
Labels: Documentation

#21206 Remove scoped entrypoints
  .changeset/rare-spiders-fold.md
  sdk/package.json
  sdk/tsup.config.js
Labels: Optimization, Breaking Change, Package: @directus/sdk

#21102 Updated URLs in Framework Guides
  docs/guides/headless-cms/build-static-website/next-13.md
  docs/guides/headless-cms/build-static-website/nuxt-3.md
Labels: Documentation

#21195 Update NPM Quickstart with a note on Dependencies
  .changeset/fast-bags-joke.md
  docs/dictionary.txt
  docs/getting-started/quickstart.md
Labels: Documentation

#19660 docs: update realtime websockets guide
  docs/guides/real-time/chat/javascript.md
  docs/guides/real-time/chat/react.md
  docs/guides/real-time/chat/vue.md
  docs/guides/real-time/getting-started/websockets-js.md
  docs/guides/real-time/getting-started/websockets.md
  docs/guides/real-time/live-poll.md
Labels: Documentation

#21215 Remove two unused imports, resolving lint warnings
  app/src/composables/use-relation-multiple.ts
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
Labels: Package: @directus/app, Chore

#21216 Update vitest to v1.2.2
  api/package.json
  app/package.json
  packages/components/package.json
  packages/composables/package.json
  packages/data-driver-postgres/package.json
  packages/data-sql/package.json
  packages/data/package.json
  packages/env/package.json
  packages/errors/package.json
  packages/extensions-sdk/package.json
  packages/extensions/package.json
  packages/memory/package.json
  packages/pressure/package.json
  packages/random/package.json
  packages/release-notes-generator/package.json
  packages/storage-driver-azure/package.json
  packages/storage-driver-cloudinary/package.json
  packages/storage-driver-gcs/package.json
  packages/storage-driver-local/package.json
  packages/storage-driver-s3/package.json
  packages/storage-driver-supabase/package.json
  packages/storage/package.json
  packages/update-check/package.json
  packages/utils/package.json
  packages/validation/package.json
  pnpm-lock.yaml
  sdk/package.json
  tests/blackbox/package.json
Labels: Dependencies, Chore

#21217 Update Vue to v3.4.15
  .changeset/wise-coats-suffer.md
  app/package.json
  package.json
  packages/components/package.json
  packages/composables/package.json
  packages/extensions-sdk/package.json
  packages/extensions/package.json
  packages/stores/package.json
  packages/themes/package.json
  packages/types/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: Dependencies

#21222 Use forks for blackbox tests
  tests/blackbox/vitest.config.ts
Labels: Chore

#21221 Patch Tuesday 🐸
  .changeset/mighty-coats-bow.md
  .github/actions/prepare/action.yml
  .github/workflows/check.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
  .github/workflows/sync-dockerhub-readme.yml
  api/package.json
  app/package.json
  app/src/components/v-slider.test.ts
  docs/package.json
  package.json
  packages/components/package.json
  packages/composables/package.json
  packages/create-directus-extension/package.json
  packages/create-directus-project/package.json
  packages/data-driver-postgres/package.json
  packages/data-sql/package.json
  packages/data/package.json
  packages/env/package.json
  packages/extensions-sdk/package.json
  packages/extensions/package.json
  packages/memory/package.json
  packages/random/package.json
  packages/release-notes-generator/package.json
  packages/storage-driver-cloudinary/package.json
  packages/storage-driver-local/package.json
  packages/storage-driver-s3/package.json
  packages/storage-driver-supabase/package.json
  packages/storage/package.json
  packages/stores/package.json
  packages/themes/package.json
  packages/update-check/package.json
  packages/utils/package.json
  packages/validation/package.json
  pnpm-lock.yaml
  tests/blackbox/package.json
Labels: Dependencies

#21223 Format / Clean-up GitHub workflows
  .github/workflows/cla.yml
  .github/workflows/docs.yml
  .github/workflows/stale-issues.yml
  .github/workflows/sync-dockerhub-readme.yml
Labels: Chore

#21231 Update cache action in release workflow
  .github/workflows/release.yml
Labels: Chore

#21233 Loosen peer dependencies
  .changeset/small-poems-relate.md
  packages/components/package.json
  packages/composables/package.json
  packages/extensions/package.json
  packages/stores/package.json
  packages/themes/package.json
  packages/types/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: Optimization, Package: @directus/types, Package: @directus/utils, Package: @directus/composables, Package: @directus/stores, Package: @directus/themes, Package: @directus/extensions

#21213 Make relational node names less confusing
  packages/data-driver-postgres/src/index.test.ts
  packages/data-sql/src/query-converter/converter.test.ts
  packages/data-sql/src/query-converter/fields/fields.test.ts
  packages/data-sql/src/query-converter/fields/fields.ts
  packages/data-sql/src/query-converter/fields/nodes/join.test.ts
  packages/data-sql/src/query-converter/fields/nodes/join.ts
  packages/data-sql/src/query-converter/fields/nodes/nested-manys.test.ts
  packages/data-sql/src/query-converter/fields/nodes/nested-manys.ts
  packages/data-sql/src/query-converter/modifiers/modifiers.test.ts
  packages/data-sql/src/query-converter/modifiers/sort.test.ts
  packages/data-sql/src/query-converter/modifiers/target.test.ts
  packages/data/src/types/abstract-query/common/nested/relational.ts
  packages/data/src/types/abstract-query/fields/nested.ts
  packages/data/src/types/abstract-query/modifiers/target/nested.ts
Labels: Package: @directus/data

#21013 Fix inconsistencies for the tree view interface
  .changeset/rotten-goats-clap.md
  app/src/interfaces/list-o2m-tree-view/item-preview.vue
  app/src/interfaces/list-o2m-tree-view/nested-draggable.vue
Labels: Package: @directus/app, Bug, Improvement

#21136 Fix `@keyv/redis` cache losing keys in high latency environments
  .changeset/lemon-ghosts-own.md
  api/src/cache.ts
Labels: Package: @directus/api, Bug

#21224 Add workflow to lock threads after cooling time
  .github/workflows/lock-threads.yml
Labels: Chore

#20820 Update exif-reader to v2
  .changeset/metal-coins-buy.md
  api/package.json
  api/src/cli/utils/create-env/env-stub.liquid
  api/src/services/files.ts
  app/src/modules/files/components/file-info-sidebar-detail.vue
  docs/self-hosted/config-options.md
  packages/env/src/constants/defaults.ts
  pnpm-lock.yaml
Labels: Package: @directus/api, Package: @directus/app, Breaking Change

#20419 fix/mysql alter nullable issue
  .changeset/cuddly-seas-heal.md
  api/src/services/relations.ts
Labels: Package: @directus/api, Bug

#20844 Notes & Breaking Changes for Next Release
  docs/releases/breaking-changes.md
Labels: Documentation

#21083 Updated SDK filter types
  .changeset/hot-humans-battle.md
  sdk/src/types/filters.ts
  sdk/src/types/utils.ts
Labels: Improvement, Package: @directus/sdk

#21218 fix(env): trim environment syntax prefix before casting
  .changeset/khaki-moose-sing.md
  packages/env/src/lib/cast.test.ts
  packages/env/src/lib/cast.ts
  packages/env/src/lib/create-env.test.ts
  packages/env/src/lib/create-env.ts
  packages/env/src/utils/get-type-from-map.test.ts
  packages/env/src/utils/get-type-from-map.ts
Labels: Package: @directus/api, Bug

#21265 Updates to Next and Nuxt Guides
  .changeset/fast-cats-remember.md
  docs/guides/headless-cms/build-static-website/next-13.md
  docs/guides/headless-cms/build-static-website/nuxt-3.md
Labels: Documentation
