Repository directus/directus, pull requests merged in 2025-04, with the labels that each got.

#25031 Add batch update for websockets
  .changeset/upset-dryers-march.md
  api/src/websocket/handlers/items.test.ts
  api/src/websocket/handlers/items.ts
Labels: Improvement, CRUD

#24819 Fix date processing for aliases
  .changeset/weak-rules-end.md
  api/src/services/payload.test.ts
  api/src/services/payload.ts
Labels: Bug, Run Blackbox, Engine

#24850 DeprecationWarning: Calling promisify on a function that returns a Promise is likely a mistake
  .changeset/green-places-throw.md
  .changeset/silent-feet-burn.md
  api/src/cli/utils/create-db-connection.ts
  api/src/database/helpers/schema/dialects/mysql.ts
  api/src/database/helpers/schema/types.ts
  api/src/database/index.ts
  api/src/database/run-ast/lib/get-db-query.ts
  tests/blackbox/common/config.ts
Labels: Improvement, Run Blackbox

#24963 Fix passing defaults to operations
  .changeset/open-crabs-punch.md
  app/src/modules/settings/routes/flows/components/operation-detail.vue
Labels: Bug, Studio

#25004 Refactor `applyQuery`
  .changeset/petite-deer-bow.md
  api/src/database/helpers/fn/types.ts
  api/src/database/run-ast/lib/apply-query/add-join.ts
  api/src/database/run-ast/lib/apply-query/aggregate.ts
  api/src/database/run-ast/lib/apply-query/filter.test.ts
  api/src/database/run-ast/lib/apply-query/filter.ts
  api/src/database/run-ast/lib/apply-query/get-filter-path.ts
  api/src/database/run-ast/lib/apply-query/get-operation.ts
  api/src/database/run-ast/lib/apply-query/index.ts
  api/src/database/run-ast/lib/apply-query/join-filter-with-cases.ts
  api/src/database/run-ast/lib/apply-query/pagination.ts
  api/src/database/run-ast/lib/apply-query/search.test.ts
  api/src/database/run-ast/lib/apply-query/search.ts
  api/src/database/run-ast/lib/apply-query/sort.ts
  api/src/database/run-ast/lib/get-db-query.ts
  api/src/database/run-ast/utils/apply-case-when.ts
  api/src/database/run-ast/utils/get-column-pre-processor.ts
  api/src/utils/apply-query.test.ts
  api/src/utils/apply-query.ts
Labels: Improvement, Run Blackbox

#24970 Fix uncaught error in the health check process during storage cleanup
  .changeset/slimy-paths-peel.md
  api/src/metrics/lib/create-metrics.ts
  api/src/services/server.ts
  tests/blackbox/tests/db/routes/server/health.test.ts
Labels: Bug, Run Blackbox, Engine

#24965 Add `Error on Reject` option to manually triggered flows
  .changeset/great-chicken-fold.md
  api/src/flows.ts
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/flows/triggers.ts
  app/src/views/private/components/flow-sidebar-detail.vue
Labels: Bug, Run Blackbox, Engine, Flows

#24984 Fix empty string not checked against `_regex` validation
  .changeset/stale-rings-write.md
  packages/utils/shared/generate-joi.test.ts
  packages/utils/shared/generate-joi.ts
  packages/utils/shared/validate-payload.test.ts
Labels: Bug, Validation

#25025 Fix `applyOptionsData` errors not appearing in the flow log
  .changeset/all-olives-bake.md
  api/src/flows.ts
Labels: Bug, Flows

#25049 Fix redirection race condition after SSO login
  .changeset/gentle-forks-study.md
  app/src/routes/login/components/continue-as.vue
Labels: Bug, Studio, Auth

#25011 Add Directus SchemaOverview Builder
  .changeset/cool-kings-tap.md
  packages/schema-builder/license
  packages/schema-builder/package.json
  packages/schema-builder/readme.md
  packages/schema-builder/src/builder.test.ts
  packages/schema-builder/src/builder.ts
  packages/schema-builder/src/collection.ts
  packages/schema-builder/src/defaults.ts
  packages/schema-builder/src/field.ts
  packages/schema-builder/src/index.ts
  packages/schema-builder/src/relation.ts
  packages/schema-builder/tsconfig.json
  packages/types/src/schema.ts
  pnpm-lock.yaml
Labels: Improvement, Run Blackbox, Engine

#25008 Updated samlify to v2.9.1
  .changeset/hungry-sloths-act.md
  api/package.json
  pnpm-lock.yaml
Labels: :robot: Dependency, Chore, Run Blackbox

#24959 Add alternate string value for numeric compare values
  .changeset/upset-bars-mate.md
  packages/utils/shared/generate-joi.test.ts
  packages/utils/shared/generate-joi.ts
Labels: Bug, Permissions, Validation, Run Blackbox

#25015 Fix `condition` operation filters not properly parsed
  .changeset/icy-monkeys-leave.md
  api/src/operations/condition/index.test.ts
  api/src/operations/condition/index.ts
Labels: Bug, Flows

#25062 Fix `filename_download` not respected on upload
  .changeset/rare-flies-nail.md
  api/src/controllers/files.ts
Labels: Bug, Engine, Assets / Files

#25065 Update blackbox tests to MSSQL 2022
  .changeset/polite-chairs-wash.md
  .github/workflows/blackbox.yml
  tests/blackbox/docker-compose.yml
Labels: Chore, Run Blackbox

#25046 Update tests to use SchemaBuilder
  .changeset/calm-worlds-lie.md
  api/package.json
  api/src/database/get-ast-from-query/utils/get-allowed-sort.test.ts
  api/src/database/run-ast/utils/merge-with-parent-items.test.ts
  api/src/permissions/modules/fetch-accountability-collection-access/fetch-accountability-collection-access.test.ts
  api/src/permissions/modules/fetch-allowed-collections/fetch-allowed-collections.test.ts
  api/src/permissions/modules/fetch-allowed-field-map/fetch-allowed-field-map.test.ts
  api/src/permissions/modules/fetch-allowed-fields/fetch-allowed-fields.test.ts
  api/src/permissions/modules/fetch-inconsistent-field-map/fetch-inconsistent-field-map.test.ts
  api/src/permissions/modules/process-ast/lib/extract-fields-from-children.test.ts
  api/src/permissions/modules/process-ast/process-ast.test.ts
  api/src/permissions/modules/process-ast/utils/validate-path/validate-path-existence.test.ts
  api/src/permissions/modules/process-payload/process-payload.test.ts
  api/src/permissions/modules/validate-access/lib/validate-item-access.test.ts
  api/src/permissions/utils/get-permissions-for-share.test.ts
  api/src/services/graphql/utils/sanitize-gql-schema.test.ts
  api/src/services/items.test.ts
  api/src/services/payload.test.ts
  api/src/services/roles.test.ts
  api/src/services/specifications.test.ts
  api/src/services/users.test.ts
  api/src/services/webhooks.test.ts
  api/src/telemetry/utils/get-user-item-count.test.ts
  api/src/utils/merge-version-data.test.ts
  api/src/utils/validate-keys.test.ts
  packages/schema-builder/src/builder.test.ts
  packages/schema-builder/src/builder.ts
  packages/schema-builder/src/collection.ts
  packages/schema-builder/src/field.ts
  pnpm-lock.yaml
Labels: Improvement, Run Blackbox, Engine

#25080 Added an `Error on Reject` option to webhook flows
  .changeset/evil-suns-talk.md
  api/src/flows.ts
  app/src/lang/translations/en-US.yaml
  app/src/modules/settings/routes/flows/triggers.ts
Labels: Improvement, Run Blackbox, Flows

#25084 Fix auto PK injection not accounting for `has_auto_increment` being creating a PK
  api/src/services/collections.ts
  tests/blackbox/tests/db/routes/collections/crud.test.ts
Labels: Bug, Data Modeling, Run Blackbox

#25022 Improved testing for applyQuery
  .changeset/lemon-tips-drive.md
  api/package.json
  api/src/database/get-ast-from-query/utils/get-deep-query.test.ts
  api/src/database/get-ast-from-query/utils/get-related-collection.test.ts
  api/src/database/get-ast-from-query/utils/get-relation.test.ts
  api/src/database/helpers/fn/types.ts
  api/src/database/run-ast/lib/apply-query/add-join.test.ts
  api/src/database/run-ast/lib/apply-query/add-join.ts
  api/src/database/run-ast/lib/apply-query/aggregate.test.ts
  api/src/database/run-ast/lib/apply-query/aggregate.ts
  api/src/database/run-ast/lib/apply-query/filter.test.ts
  api/src/database/run-ast/lib/apply-query/filter.ts
  api/src/database/run-ast/lib/apply-query/filter/get-filter-type.test.ts
  api/src/database/run-ast/lib/apply-query/filter/get-filter-type.ts
  api/src/database/run-ast/lib/apply-query/filter/index.test.ts
  api/src/database/run-ast/lib/apply-query/filter/index.ts
  api/src/database/run-ast/lib/apply-query/filter/operator.test.ts
  api/src/database/run-ast/lib/apply-query/filter/operator.ts
  api/src/database/run-ast/lib/apply-query/filter/validate-operator.test.ts
  api/src/database/run-ast/lib/apply-query/filter/validate-operator.ts
  api/src/database/run-ast/lib/apply-query/get-filter-path.test.ts
  api/src/database/run-ast/lib/apply-query/get-filter-path.ts
  api/src/database/run-ast/lib/apply-query/get-operation.test.ts
  api/src/database/run-ast/lib/apply-query/get-operation.ts
  api/src/database/run-ast/lib/apply-query/index.ts
  api/src/database/run-ast/lib/apply-query/join-filter-with-cases.test.ts
  api/src/database/run-ast/lib/apply-query/mock.ts
  api/src/database/run-ast/lib/apply-query/pagination.test.ts
  api/src/database/run-ast/lib/apply-query/search.test.ts
  api/src/database/run-ast/lib/apply-query/search.ts
  api/src/database/run-ast/lib/apply-query/sort.test.ts
  api/src/database/run-ast/lib/apply-query/sort.ts
  api/src/database/run-ast/lib/get-db-query.ts
  api/src/database/run-ast/utils/apply-case-when.ts
  api/src/database/run-ast/utils/apply-function-to-column-name.test.ts
  api/src/database/run-ast/utils/apply-function-to-column-name.ts
  api/src/database/run-ast/utils/get-column-pre-processor.ts
  api/src/database/run-ast/utils/get-column.test.ts
  api/src/database/run-ast/utils/get-column.ts
  api/src/database/run-ast/utils/get-field-alias.ts
  api/src/database/run-ast/utils/remove-temporary-fields.ts
  api/src/permissions/utils/default-permission.ts
  api/src/utils/get-relation-info.test.ts
  api/src/utils/get-relation-info.ts
  packages/types/src/query.ts
  pnpm-lock.yaml
Labels: Improvement, Run Blackbox, Engine

#25041 Update `rollup-plugin-esbuild` to 6.2.1
  .changeset/mighty-lands-think.md
  packages/extensions-sdk/package.json
  packages/extensions-sdk/src/cli/commands/build.ts
  pnpm-lock.yaml
Labels: :robot: Dependency, Chore

#25053 Unify `getRelation`/`getRelations` usage across packages
  .changeset/dry-donuts-guess.md
  api/src/database/get-ast-from-query/lib/convert-wildcards.ts
  api/src/database/get-ast-from-query/lib/parse-fields.ts
  api/src/database/get-ast-from-query/utils/get-related-collection.ts
  api/src/database/get-ast-from-query/utils/get-relation.test.ts
  api/src/database/get-ast-from-query/utils/get-relation.ts
  api/src/database/run-ast/lib/apply-query/search.test.ts
  api/src/services/fields.ts
  api/src/services/specifications.ts
  api/src/utils/get-relation-info.ts
  app/src/stores/relations.ts
  app/src/utils/get-local-type.ts
  packages/schema-builder/src/builder.ts
  packages/schema-builder/src/collection.ts
  packages/schema-builder/src/field.ts
  packages/utils/package.json
  packages/utils/shared/get-relation.test.ts
  packages/utils/shared/get-relation.ts
  packages/utils/shared/index.ts
  pnpm-lock.yaml
Labels: Improvement, Run Blackbox, Engine

#24983 Set system field lengths based on database max limits for columns and tables
  .changeset/gentle-horses-add.md
  api/src/database/helpers/schema/dialects/mssql.ts
  api/src/database/helpers/schema/dialects/oracle.ts
  api/src/database/helpers/schema/types.ts
  api/src/database/migrations/20210225A-add-relations-sort-field.ts
  api/src/database/migrations/20210510A-restructure-relations.ts
  api/src/database/migrations/20210924A-add-collection-organization.ts
  api/src/database/migrations/20210927A-replace-fields-group.ts
  api/src/database/migrations/20211118A-add-notifications.ts
  api/src/database/migrations/20211211A-add-shares.ts
  api/src/database/migrations/20230823A-add-content-versioning.ts
  api/src/database/migrations/20240909A-separate-comments.ts
  api/src/database/seeds/01-collections.yaml
  api/src/database/seeds/04-fields.yaml
  api/src/database/seeds/05-activity.yaml
  api/src/database/seeds/08-permissions.yaml
  api/src/database/seeds/09-presets.yaml
  api/src/database/seeds/10-relations.yaml
  api/src/database/seeds/11-revisions.yaml
  api/src/database/seeds/run.ts
Labels: Improvement, Run Blackbox, Engine

#25145 Publish the `@directus/schema-builder` package for mocking db schema
  .changeset/open-sloths-bake.md
  packages/schema-builder/package.json
  packages/schema-builder/readme.md
Labels: Patch

#25147 Bump @directus/utils
  packages/utils/package.json
Labels: Patch
